form(name="posEditForm" ng-submit="save(currentPos.$save(), posEditForm);currentPos.staffingRemark=null" ng-controller="EditableResourceCtrl" ng-init="params = {}; oldBudgetedStaffing=currentPos.budgetedStaffing")
    .form-btn-group(ng-hide="editing" has-permission="positions_update" style="top: -36px;")
        md-button.md-primary.md-raised(ng-click="edit($event);currentPos.staffingRemark=null;") 编辑
    .form-btn-group.alive(ng-show="editing" style="top: -36px;")
        md-button.md-raised.white(ng-click="cancel(currentPos,$event, posEditForm);") 取消
        md-button.md-primary.md-raised(
            type="submit"
            ng-disabled="(currentPos.budgetedStaffing != oldBudgetedStaffing && !currentPos.staffingRemark)"
            ng-click="oldBudgetedStaffing=currentPos.budgetedStaffing;"
            ) 保存
    fieldset(ng-disabled="!editing")
        div(layout)
            md-input-container(flex)
                label OA文件编号
                input(ng-model="currentPos.oaFileNo" required)
            md-input-container(flex)
                label 创建时间
                input(disabled bs-datepicker ng-model="currentPos.createdAt")
        div(layout)
            md-input-container(flex)
                label 岗位名称
                input(ng-model="currentPos.name" required)
            md-input-container(flex)
                label 所属部门
                input(disabled ng-model="currentPos.department.name")
        div(layout)
            md-input-container.row-has-value(flex)
                label 分类
                md-select(ng-model="currentPos.categoryId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('categories')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 通道
                md-select(ng-model="currentPos.channelId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('channels')") {{item.label}}
        div(layout)
            md-input-container(flex)
                label 编制
                input(ng-model="currentPos.budgetedStaffing" ng-change="currentPos.staffingRemark=null" required)
            md-input-container(flex)
                label 在岗人数
                input(ng-model="currentPos.staffing" disabled)
        duv(layout ng-if="currentPos.budgetedStaffing != oldBudgetedStaffing")
            md-input-container(flex)
                label 修改编制备注
                input(ng-model="currentPos.staffingRemark" ng-required="currentPos.budgetedStaffing != oldBudgetedStaffing")
        div(layout)
            md-input-container.row-has-value(flex)
                label 工时制度
                //- input(ng-model="currentPos.schedule.displayName")
                md-select(ng-model="currentPos.scheduleId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('position_schedules')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 岗位性质
                //- input(ng-model="currentPos.positionNature.displayName")
                md-select(ng-model="currentPos.positionNatureId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('position_natures')") {{item.label}}

