section.personnel-section-wrap(ng-controller="EditableResource")
    section.personnel-info-control.clearfix
            .personnel-info-left
                    .personnel-item-icon.personnel-item1
                    .personnel-item-desc.bg-success 基本信息
            .personnel-info-right.form-split
                div.showing(ng-hide="editing")
                    .form-btn-group
                            button.btn.btn-default(ng-click="edit()") 编辑
                    .form-group
                        label.control-label OA文件编号：
                        .form-content(ng-bind="currentPos.oaFileNo")
                    .form-group
                        label.control-label 创建时间：
                        .form-content(ng-bind="currentPos.createdAt | date:'yyyy-MM-dd'")
                    .form-group
                        label.control-label 岗位名称：
                        .form-content(ng-bind="currentPos.name")
                    .form-group
                        label.control-label 所属部门：
                        .form-content(ng-bind="currentPos.department.name")
                    .form-group
                        label.control-label 分类：
                        .form-content(ng-bind="currentPos.category.displayName || '无'")
                    .form-group
                        label.control-label 通道：
                        .form-content(ng-bind="currentPos.channel.displayName || '无'")
                    .form-group
                        label.control-label 类别：
                        .form-content(ng-bind="currentPos.postType")
                    .form-group
                        label.control-label 编制：
                        .form-content(ng-bind="currentPos.budgetedStaffing")
                    .form-group
                        label.control-label 在岗人数：
                        .form-content(ng-bind="currentPos.staffing")
                    .form-group
                        label.control-label 超编：
                        .form-content {{currentPos.staffing - currentPos.budgetedStaffing < 0 ? '0' : currentPos.staffing - currentPos.budgetedStaffing}}
                    //- .form-group
                    //-     label.control-label 职务职级：
                    //-     .form-content 一正
                    .form-group
                        label.control-label 工时制度：
                        .form-content(ng-bind="currentPos.schedule.displayName || '无'")
                    .form-group
                        label.control-label 岗位性质：
                        .form-content(ng-bind="currentPos.positionNature.displayName || '无'")

                div.editing(ng-if="editing")
                    include position_edit_basic
section.personnel-section-wrap(ng-controller="EditableResource")
    section.personnel-info-control.clearfix
            .personnel-info-right.form-split
                div.showing(ng-hide="editing")
                    .form-btn-group
                        button.btn.btn-default(ng-click="edit()") 编辑
                    section.position-desc-area
                        h3 工作职责
                        div(ng-bind-html="currentSpe.duty")
                    section.position-desc-area
                        h3 工作权限
                        .form-group.block
                            label.control-label 人事权限：
                            .form-content {{currentSpe.personnelPermission}}
                        .form-group.block
                            label.control-label 财务权限：
                            .form-content {{currentSpe.financialPermission}}
                        .form-group.block
                            label.control-label 业务权限：
                            .form-content {{currentSpe.businessPermission}}
                    section.position-desc-area
                        h3 工作关系
                        .form-group.block
                            label.control-label 直属上级：
                            .form-content {{currentSpe.superior}}
                        .form-group.block
                            label.control-label 直属下级：
                            .form-content {{currentSpe.underling}}
                        .form-group.block
                            label.control-label 内部联系：
                            .form-content {{currentSpe.internalRelation}}
                        .form-group.block
                            label.control-label 外部联系：
                            .form-content {{currentSpe.externalRelation}}
                    section.position-desc-area
                        h3 任职条件
                        div(ng-bind-html="currentSpe.qualification")
                div.editing(ng-if="editing")
                    include position_edit_desc
