form(name="posEditForm" ng-submit="save(currentPos.$save(), posEditForm)" ng-controller="EditableResource" ng-init="params = {}")
    .form-btn-group(ng-hide="editing" has-permission="positions_update")
        md-button.skyblue.md-raised(ng-click="edit($event)") 编辑
    .form-btn-group.alive(ng-show="editing")
        md-button.md-raised.white(ng-click="cancel(currentPos,$event, posEditForm)") 取消
        md-button.skyblue.md-raised(type="submit") 保存
    fieldset(ng-disabled="!editing")
        div(layout)
            md-input-container(flex)
                label OA文件编号
                input(ng-model="currentPos.oaFileNo")
            md-input-container(flex)
                label 创建时间
                input(disabled type="date" ng-model="currentPos.createdAt")
        div(layout)
            md-input-container(flex)
                label 岗位名称
                input(ng-model="currentPos.name")
            md-input-container(flex)
                label 所属部门
                input(disabled ng-model="currentPos.department.name")
        div(layout)
            md-input-container.row-has-value(flex)
                label 分类
                md-select(ng-model="currentPos.category" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(currentPos.category, "categories")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('categories')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 通道
                md-select(ng-model="currentPos.channel" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(currentPos.channel, "channels")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('channels')") {{item.label}}
        div(layout)
            md-input-container(flex)
                label 类别
                input(ng-model="currentPos.postType")
            md-input-container(flex)
                label 编制
                input(ng-model="currentPos.budgetedStaffing")
        div(layout)
            md-input-container(flex)
                label 在岗人数
                input(ng-model="currentPos.staffing" disabled)
            md-input-container(flex)
                label 超编
                input(ng-model="currentPos.overstaffedNum" disabled)
        div(layout)
            //- md-input-container(flex)
            //-     label 职务职级
            //-     input(ng-model="")
            md-input-container(flex)
                label 工时制度
                input(ng-model="currentPos.schedule.displayName")
            md-input-container(flex)
                label 岗位性质
                input(ng-model="currentPos.positionNature.displayName")

      