tabset
    tab(heading="在岗人员信息")
        .position-manage
            div(nb-table='currentEmps' nb-safe-src="currentEmps")
                input(type="hidden" nb-pipe="currentEmps.search(tableState)")
                .table-container
                    h4 人员明细
                    table.table.table-striped.custom-table
                        thead
                            tr
                                th 员工编码
                                th 姓名
                                th 到岗时间
                        tbody
                            tr(ng-repeat="emp in currentEmps track by emp.id")
                                td(ng-bind="::emp.employeeNo")
                                td()
                                    a(ng-bind="::emp.employee.name"
                                    nb-dialog="partials/personnel/info_basic.html"
                                    nb-dialog-class="ngdialog-theme-panel"
                                    nb-dialog-data="emp"
                                    nb-dialog-scope="this"
                                    )
                                td(ng-bind="::emp.startDate")
                    .custom-pages(nb-pagination="currentEmps.$metadata" per-page="15")
    tab(heading="历任领导信息")
        .position-manage
            div(nb-table='hisLeaders' nb-safe-src="hisLeaders")
                input(type="hidden" nb-pipe="hisLeaders.search(tableState)")
                .table-container
                    h4 人员明细
                    table.table.table-striped.custom-table
                        thead
                            tr
                                th 工号
                                th 姓名
                                th 到岗时间
                                th 离岗时间
                        tbody
                            tr(ng-repeat="emp in hisLeaders track by emp.id")
                                td(ng-bind="::emp.employee.employeeNo")
                                td(ng-bind="::emp.employee.name")
                                td(ng-bind="::emp.startDate")
                                td(ng-bind="::emp.endDate")
