form(name="positionEditForm" ng-submit="save(current.$save())" ng-controller="EditableResource" ng-init="params = {}")
    .form-btn-group(ng-hide="editing")
        md-button.md-primary.md-raised(ng-click="edit($event)") 编辑
    .form-btn-group.alive(ng-show="editing")
        md-button.md-primary(ng-click="cancel(current, $event)") 取消
        md-button.md-primary.md-raised(type="submit" ng-disabled="positionEditForm.$invalid") 保存
    fieldset(ng-disabled="!editing")
        md-input-container
            label 直属上级
            input()
        md-input-container
            label 直属下级
            input()
        md-input-container
            label 内部联系
            input()
        md-input-container
            label 外部联系
            input()

