div(nb-table='ctrl.records' nb-safe-src="ctrl.changes" ng-init="ctrl.changes = ctrl.PositionChange.$collection().$refresh()")
        .search-container(nb-search)
            div(nb-predicate="岗位名称" predicate-attr="name")
                input(name="name" placeholder="岗位名称" ng-model="name")
            div(nb-predicate="机构" predicate-attr="department_ids")
                ui-select(multiple ng-model="$parent.department_ids" theme="select2" style="width:600px" reset-search-input="true")
                    ui-select-match(placeholder="请输入机构名称") {{ $item.name }}
                    ui-select-choices(repeat="org.id as org in allOrgs | filter:$select.search | limitTo: 5") {{ org.name }}
            
            div(nb-predicate="创建时间" predicate-attr="created_at")
                input(ng-model="created_at.from" bs-datepicker)
                span.gap 至
                input(ng-model="created_at.to" bs-datepicker)
        .search-btn-group
            button.btn.btn-primary(nb-pipe="ctrl.searchChanges(tableState)") 开始搜索

        .table-container
            h4 岗位变更记录列表
            table.table.table-striped.custom-table
                thead
                    tr
                        th 编号
                        th 岗位名称
                        th 所属部门
                        th 操作
                        th 信息变更模块
                        th 变更时间
                tbody
                    tr(ng-repeat="change in ctrl.changes track by $index")
                        td(ng-bind="$index + 1")
                        td(ng-bind="change.name")
                        td(ng-bind="change.department.name")
                        td(ng-bind="change.action")

                        td()
                            span(nb-popup-plus, position="left-bottom", offset="0.5") {{change.auditableType}}
                                popup-template.nb-popup.panel.panel-default(style="width:400px;")
                                    .panel-heading.popup-title “{{change.name}}”岗位的变更记录
                                    .panel-body.popup-body(ng-if="change.action == '修改'")
                                        table.table.table-striped.custom-table
                                            tr
                                                th(colspan="2") 修改前
                                                th(colspan="2") 修改后
                                            tr(ng-repeat="(field, val) in change.auditedChanges")
                                                td(ng-bind="field")
                                                td(ng-bind="val[0] || '无'")
                                                td(ng-bind="field")
                                                td(ng-bind="val[1] || '无'")

                                    .panel-body.popup-body(ng-if="change.action == '新增' || change.action == '删除'")
                                        table.table.table-striped.custom-table
                                            tr
                                                th(colspan="2") {{change.action}}
                                            tr(ng-repeat="(field, val) in change.auditedChanges")
                                                td(ng-bind="field")
                                                td(ng-bind="val || '无'")
                        td(ng-bind="change.createdAt | date:'yyyy-MM-dd'")
                        
        .custom-pages(nb-pagination="ctrl.records.$metadata" per-page="15")
