form(name="positionEditForm" ng-submit="save(currentSpe.$save())" ng-controller="EditableResource" ng-init="params = {}")
    .form-btn-group(ng-hide="editing")
        md-button.md-primary.md-raised(ng-click="edit($event)") 编辑
    .form-btn-group.alive(ng-show="editing")
        md-button.md-primary(ng-click="cancel(currentSpe, $event)") 取消
        md-button.md-primary.md-raised(type="submit" ng-disabled="positionEditForm.$invalid") 保存
    fieldset(ng-disabled="!editing")
        md-input-container(flex)
            label 内部联系
            input(type='text', placeholder='请输入内部联系', ng-model="currentSpe.internalRelation")
        md-input-container(flex)
            label 外部联系
            input(type='text', placeholder='请输入外部联系', ng-model="currentSpe.externalRelation")
        md-input-container
            label 任职条件
            textarea(ng-model="currentSpe.qualification" placeholder="任职条件")

