form(name="speEditForm" ng-submit="save(currentSpe.$save(), speEditForm)" ng-controller="EditableResourceCtrl" ng-init="params = {}")
    .form-btn-group(ng-hide="editing" has-permission="positions_update" style="top: -36px;")
        md-button.md-primary.md-raised(ng-click="edit($event)") 编辑
    .form-btn-group.alive(ng-show="editing" style="top: -36px;")
        md-button.md-raised.white(ng-click="cancel(currentSpe, $event, speEditForm)") 取消
        md-button.md-raised.md-primary(type="submit" ng-disabled="speEditForm.$invalid") 保存
    fieldset(ng-disabled="!editing")
        .textarea-row.mt30
            label 工作职责
            //- textarea(flex nb-simditor, toolbar="['bold', 'italic', 'underline', 'ol', 'ul']", placeholder="这里输入内容", ng-model="currentSpe.duty", editing)
            p(ng-hide="editing" ng-bind-html="currentSpe.duty | breakit")
            p(layout)
                textarea(flex ng-model="currentSpe.duty" ng-show="editing")
        md-input-container
            label 人事权限
            input(type='text', placeholder='请输入人事权限', ng-model="currentSpe.personnelPermission")
        md-input-container
            label 财务权限
            input(type='text', placeholder='请输入财务权限', ng-model="currentSpe.financialPermission")
        md-input-container
            label 业务权限
            input(type='text', placeholder='请输入业务权限', ng-model="currentSpe.businessPermission")
        md-input-container()
            label 直属上级
            input(type='text', placeholder='请输入直属上级', ng-model="currentSpe.superior")
        md-input-container()
            label 直属下级
            input(type='text', placeholder='请输入直属下级', ng-model="currentSpe.underling")
        md-input-container
            label 内部联系
            input(type='text', placeholder='请输入内部联系', ng-model="currentSpe.internalRelation")
        md-input-container
            label 外部联系
            input(type='text', placeholder='请输入外部联系', ng-model="currentSpe.externalRelation")
        .textarea-row(style="margin-top: 25px;")
            label 任职条件
            //- textarea(flex nb-simditor, toolbar="['bold', 'italic', 'underline', 'ol', 'ul']", placeholder="这里输入内容", ng-model="currentSpe.qualification", editing)
            p(ng-hide="editing" ng-bind-html="currentSpe.qualification | breakit")
            p(layout)
                textarea(flex ng-model="currentSpe.qualification" ng-show="editing")
