form(name="positionEditForm" ng-submit="save(currentSpe.$save())" ng-controller="EditableResource" ng-init="params = {}")
    .form-btn-group(ng-hide="editing")
        md-button.md-primary.md-raised(ng-click="edit($event)") 编辑
    .form-btn-group.alive(ng-show="editing")
        md-button.md-primary(ng-click="cancel(currentSpe, $event)") 取消
        md-button.md-primary.md-raised(type="submit" ng-disabled="positionEditForm.$invalid") 保存
    fieldset(ng-disabled="!editing")
        md-input-container
            label 工作职责
            textarea(ng-model="currentSpe.duty" columns="1" md-maxlength="250")
        md-input-container
            label 人事权限
            input(type='text', placeholder='请输入人事权限', ng-model="currentSpe.personnelPermission")
        md-input-container
            label 财务权限
            input(type='text', placeholder='请输入财务权限', ng-model="currentSpe.financialPermission")
        md-input-container
            label 业务权限
            input(type='text', placeholder='请输入业务权限', ng-model="currentSpe.businessPermission")
        md-input-container
            label 内部联系
            input(type='text', placeholder='请输入内部联系', ng-model="currentSpe.internalRelation")
        md-input-container
            label 外部联系
            input(type='text', placeholder='请输入外部联系', ng-model="currentSpe.externalRelation")
        md-input-container
            label 任职条件
            textarea(ng-model="currentSpe.qualification" placeholder="任职条件")
