.app-content-wrapper
  .org-pos-detail-menu
    .org-menu-wrapper
      .org-icon-window
        .org-detail-item1.org-detail-item(ng-class="{'active': ctrl.state.is('org.position.detail')}")
        .org-detail-item2.org-detail-item
        .org-detail-item3.org-detail-item
        .org-detail-item4.org-detail-item
        .org-detail-item5.org-detail-item
        .org-detail-item6.org-detail-item
        .org-detail-item7.org-detail-item
  .org-pos-detail-window.bg-white
    .org-pos-detail-content
      section.position-info
        button.btn.btn-default.pull-right(ui-sref=".editing({template: 'basic'})") 编辑
        h3 岗位信息
        .editor-style
          table
            tbody
              tr
                th 岗位名称：
                td {{currentPos.name}}
                th 编制：
                td {{currentPos.budgetedStaffing}}
              tr
                th 所属部门：
                td 岗位还有所属部门吗？？？？
                th 工作制度：
                td {{currentPos.schedule.displayName || '无'}}
              tr
                th 通道：
                td {{currentPos.channel.displayName || '无'}}
                th 分类：
                td {{currentPos.category.displayName || '无'}}
              tr
                th OA文件编号：
                td {{currentPos.oaFileNo}}
                th 岗位性质：
                td {{currentPos.nature.displayName || '无'}}
      section.position-duty
        button.btn.btn-default.pull-right(ui-sref=".editing({template: 'desc'})") 编辑
        br
        h3 工作职责
        div(ng-bind-html="currentSpe.duty")
      section.position-purview
        h3 工作权限
        ol
          li 人事权限：
            span {{currentSpe.personnelPermission}}
          li 财务权限：
            span {{currentSpe.financialPermission}}
          li 业务权限：
            span {{currentSpe.businessPermission}}
      section.position-relative
        h3 工作关系
        ol
          li 直属上级：
            span {{currentSpe.superior}}
          li 直属下级：
            span {{currentSpe.underling}}
          li 内部联系：
            span {{currentSpe.internalRelation}}
          li 外部联系：
            span {{currentSpe.externalRelation}}
      section.position-qualification
        h3 任职条件
        div(ng-bind-html="currentSpe.qualification")
      section.work-time
        h3 工作时间
        p {{currentPos.schedule.displayName || '无'}}
=======
.org-pos-detail-menu
  .org-menu-wrapper
    .org-icon-window
      .org-detail-item1.org-detail-item(ng-class="{'active': ctrl.state.is('org.position.detail')}")
      .org-detail-item2.org-detail-item
      .org-detail-item3.org-detail-item
      .org-detail-item4.org-detail-item
      .org-detail-item5.org-detail-item
      .org-detail-item6.org-detail-item
      .org-detail-item7.org-detail-item
.org-pos-detail-window.bg-white
  .org-pos-detail-content
    section.position-info
      button.btn.btn-default.pull-right(ui-sref=".editing({template: 'basic'})") 编辑
      h3 岗位信息
      .editor-style
        .current-editor
          .show-edit-status
            .show-status-row.clear-fix
              .show-status-item
                label 岗位名称：
                span {{currentPos.name}}
              .show-status-item
                label 编制：
                span {{currentPos.budgetedStaffing}}
            .edit-status-row.clear-fix
              .edit-status-item
                label 岗位名称：
                span
                  input(type="text")
              .edit-status-item
                label 编制：
                span
                  input(type="text")


        //- table
        //-   tbody
        //-     tr
        //-       th 岗位名称：
        //-       td {{currentPos.name}}
        //-       th 编制：
        //-       td {{currentPos.budgetedStaffing}}
        //-     tr
        //-       th 所属部门：
        //-       td 岗位还有所属部门吗？？？？
        //-       th 工作制度：
        //-       td {{currentPos.schedule.displayName || '无'}}
        //-     tr
        //-       th 通道：
        //-       td {{currentPos.channel.displayName || '无'}}
        //-       th 分类：
        //-       td {{currentPos.category.displayName || '无'}}
        //-     tr
        //-       th OA文件编号：
        //-       td {{currentPos.oaFileNo}}
        //-       th 岗位性质：
        //-       td {{currentPos.nature.displayName || '无'}}
    section.position-duty
      button.btn.btn-default.pull-right(ui-sref=".editing({template: 'desc'})") 编辑
      br
      h3 工作职责
      div(ng-bind-html="currentSpe.duty")
    section.position-purview
      h3 工作权限
      ol
        li 人事权限：
          span {{currentSpe.personnelPermission}}
        li 财务权限：
          span {{currentSpe.financialPermission}}
        li 业务权限：
          span {{currentSpe.businessPermission}}
    section.position-relative
      h3 工作关系
      ol
        li 直属上级：
          span {{currentSpe.superior}}
        li 直属下级：
          span {{currentSpe.underling}}
        li 内部联系：
          span {{currentSpe.internalRelation}}
        li 外部联系：
          span {{currentSpe.externalRelation}}
    section.position-qualification
      h3 任职条件
      div(ng-bind-html="currentSpe.qualification")
    section.work-time
      h3 工作时间
      p {{currentPos.schedule.displayName || '无'}}
