md-dialog.punishment_new(
    style="min-width: 900px;"
    ng-init="current = dialog.adjust;\
        ctrl=dialog.ctrl;\
        classificationArr = ['安全管理','安全质量管理','保安','保管','保洁','财务','采购','产权管理','出纳','飞行机械','飞行技术','服务员','供应','管理保障','行政辅助','行政管理','航材','航务','航站保障','合同管理','后勤保障','后勤维修','护士','货运市场','机务','基建管理','技术保障','驾驶','客运服务','客运业务','空保','空乘','空警','秘书','培训管理','配载','票务','汽车维修','人力资源管理','数据录入','调度','外事管理','信息技术','信息维护','业务管理','医生','运行管理','运输业务保障','战略规划','质量管理','助理','装卸','资料','无'];\
    "
    )
    md-toolbar.md-accent(md-theme="hrms")
        .md-toolbar-tools
            span 员工调岗
    md-content
        fieldset(disabled)
            div(layout)
                md-input-container(flex)
                    label 姓名
                    input(ng-model="::current.employeeName" readonly)
                md-input-container(flex)
                    label 员工编号
                    input(ng-model="::current.employeeNo" readonly)

            div(layout ng-repeat="position in current.positions")
                md-input-container(flex)
                    label 部门
                    input(ng-model="::position.departmentName" readonly)
                md-input-container(flex)
                    label 岗位
                    input(ng-model="::position.positionName" readonly)
                md-input-container(flex)
                    label 岗位性质
                    input(ng-model="::position.category" readonly)

            div(layout)
                md-input-container.row-has-value(flex)
                    label 分类
                    md-select(ng-model="current.categoryId" disabled readonly)
                        md-option(ng-value="item.id" ng-repeat="item in $enum.get('categories')") {{item.label}}
                md-input-container.row-has-value(flex)
                    label 通道
                    md-select(ng-model="current.channelId" disabled readonly)
                        md-option(ng-value="item.id" ng-repeat="item in $enum.get('channels')") {{item.label}}
                md-input-container.row-has-value(flex)
                    label 类别
                    md-select(ng-model="current.classification" disabled readonly)
                        md-option(ng-value="item" ng-repeat="item in classificationArr") {{item}}
            div(layout)
                md-input-container.row-has-value(flex)
                    label 职务职级
                    md-select(ng-model="current.dutyRankId" disabled readonly)
                        md-option(ng-value="item.id" ng-repeat="item in $enum.get('duty_ranks')") {{item.label}}
                md-input-container(flex)
                    label 调岗日期
                    input(ng-model="current.positionChangeDate" bs-datepicker disabled readonly)
            div(layout)
                md-input-container.row-has-value(flex)
                    label 试岗期
                    md-select(ng-model="current.probationDuration" placeholder="请选择" disabled readonly)
                        md-option(value="0") 无
                        md-option(ng-value="item" ng-repeat="item in [1,2,3,4,5,6]") {{item}}月
                md-input-container(flex)
                    label 调岗文件
                    input(ng-model="current.oaFileNo" readonly)

            div(layout)
                md-input-container(flex)
                    label 岗位备注
                    input(ng-model="current.positionRemark" readonly)

    .md-actions
        md-button.md-warn.md-raised(ng-click="current.repeal(); dialog.close()") 撤 销
        md-button(type="button" ng-click="current.$restore();dialog.close()") 取 消

