md-dialog.punishment_new(
    style="min-width: 900px;"
    ng-init="current = dialog.employee.$refresh();"
    )
    form(flex ng-controller="NewResourceCtrl" ng-submit="create(current, newPositionForm); dialog.close();" name="newPositionForm")
        md-toolbar.md-accent(md-theme="hrms")
            .md-toolbar-tools
                span 员工调岗
        md-content
            .dialog-content(layout layout-align="center")
                fieldset(flex)
                    div(layout)
                        md-input-container(flex)
                            label 姓名
                            input(ng-model="::current.name" readonly)
                        md-input-container(flex)
                            label 员工编号
                            input(ng-model="::current.employeeNo" readonly)

                    div(org-muti-pos ng-model="current.positions" editing="true")

                    div(layout)
                        md-input-container(flex)
                            label 通道
                            md-select(ng-model="current.channelId")
                                md-option(ng-value="item.id" ng-repeat="item in $enum.get('channels')") {{item.label}}
                        md-input-container(flex)
                            label 分类
                            md-select(ng-model="current.categoryId")
                                md-option(ng-value="item.id" ng-repeat="item in $enum.get('categories')") {{item.label}}
                    div(layout)
                        md-input-container(flex)
                            label 职务职级
                            md-select(ng-model="current.dutyRankId")
                                md-option(ng-value="item.id" ng-repeat="item in $enum.get('duty_ranks')") {{item.label}}
                        md-input-container(flex)
                            label 调岗日期
                            input(ng-model="current.adjustPositionDate" bs-datepicker)
                    div(layout)
                        md-input-container.row-has-value(flex)
                            label 试岗期
                            md-select(ng-model="current.tryMonths")
                                md-option(value="0") 无
                                md-option(ng-value="item" ng-repeat="item in [1,2,3,4,5,6]") {{item}}月
                        md-input-container(flex)
                            label 调岗文件
                            input(ng-model="current.file")

                    div(layout)
                        md-input-container(flex)
                            label 调岗备注
                            input(ng-model="current.note")

        .md-actions
            md-button(type="button" ng-click="dialog.close()") 取 消
            md-button.md-primary.md-raised(type="submit") 确 定