
tabset
    tab(heading="待审核")
        .position-manage.app-content-wrapper(ng-init="ctrl.changes = ctrl.Change.$collection().$refresh()")
            div(nb-table='ctrl.changes' nb-safe-src="ctrl.changes")
                input(type="hidden" nb-pipe="ctrl.search(tableState)")
                .table-container
                    h4 待审核列表
                    button.pull-right(ng-click="ctrl.checkChanges()") 审核
                    table.table.table-striped.custom-table
                        thead
                            tr
                                //- th(select-row="" mode='all')
                                th 员工编号
                                th 姓名
                                th 所属部门
                                th 信息变更模块
                                th 变更时间
                                th 操作
                                th 理由
                                
                        tbody
                            tr(ng-repeat="change in ctrl.changes track by $index")
                                //- td(select-row="emp" mode="multiple")
                                td(ng-bind="change.employeeNo")
                                td(ng-bind="change.name")
                                td(ng-bind="change.department.name")
                                td()
                                    a(href="javascript:;", nb-popup-plus, position="left-bottom", offset="0.5") 基本信息
                                        popup-template.nb-popup.panel.panel-default()
                                            .panel-heading.popup-title {{change.name}}的基本变更
                                            .panel-body.popup-body
                                                .row 
                                                    .col-md-6 修改前
                                                    .col-md-6 修改后
                                                .row(ng-repeat="(field, val) in change.auditedChanges")
                                                    .col-md-2() {{::field}}：
                                                    .col-md-4(ng-bind="val[0]")
                                                    .col-md-2() {{::field}}：
                                                    .col-md-4(ng-bind="val[1]")


                                td(ng-bind="change.createdAt")
                                td()
                                    .radio-group(radio-box, ng-model="change.statusCd")
                                        
                                td() 
                                    a(href="javascript:;", nb-popup-plus, position="left-bottom", offset="0.5") {{change.reason || '请输入'}}
                                        popup-template.nb-popup.org-default-popup-template.panel.panel-default()
                                            .panel-heading.popup-title 请输入理由
                                            .panel-body.popup-body
                                                textarea(ng-model="change.reason")
    tab(heading="变更记录")
        include personnel_changes_record
