tabset(flex)
    tab(heading="待审核")
        .app-content-wrapper(ng-init="ctrl.changes = ctrl.Change.$collection().$refresh()")
            //- div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
            div.ui-grid-container
                md-toolbar
                    .md-toolbar-tools
                        h2 待审核列表
                        div(flex)
                        md-button.md-primary.md-raised(ng-click="ctrl.checkChanges()" ng-disabled="!ctrl.enable_check") 审核

                div(nb-grid column-defs="ctrl.changeColumnDef"
                    on-register-api="ctrl.exportGridApi(gridApi)"
                    grid-selection
                    safe-src="ctrl.changes")

    tab(heading="变更记录")
        include personnel_changes_record

    tab(heading="学历变更记录")
        include personnel_education_changes_record
