div(ng-init= "current = panel.employee; current.$refresh();")
    md-toolbar(md-theme="none")
        .md-toolbar-tools
            span 人事信息
    .personnel-base-info(layout)
        .big-avator-area
            img(ng-src="{{current.favicon.big}}" ng-if="current.favicon")
            img(src="http://www.placehold.it/110x110/EFEFEF/AAAAAA&text=no+image" ng-if="!current.favicon")
            //- img(src="http://192.168.6.99:9001/uploads/employees/favicons/11556/791d7d2bbee699f891b164d3e86ad9ce.png")
        .employee-info
            .employee-name() {{::current.name}}
                span.resume-button
            .employee-others-info
                div(ng-bind="current.employeeNo")
                div(ng-bind="current.department.name")
    .personnel-content.personnel-control
        section.personnel-info-section
            tabset(type="pills")
                tab(heading="基本信息")
                    md-content.nb-card-container(md-theme="none" layout="column")
                        md-card.form-material-section.nb-card
                            md-subheader.md-primary 
                                md-icon.form-icon(md-svg-src="/images/svg/personnel.svg" alt="基本信息")
                                |基本信息
                            include info_basic/info_basic_edit
                        md-card.form-material-section.nb-card
                            md-subheader.md-warn 岗位信息
                            include info_basic/info_position_edit
                tab(heading="培训记录")

                tab(heading="奖惩记录")

                tab(heading="考勤信息")

                tab(heading="绩效考核")

                tab(heading="档案信息")

                //- tab(heading="个人履历" has-permission="employees_resume")
                //-     include personnel_resume
            //- md-tabs(md-selected="data.selectedIndex")
            //-     md-tab(id="tab1" label="基本人事信息" md-active)
            //-         //- div(role="tabpanel" layout="column" aria-labelledby="tab1")
            //-         //-     section.form-material-section
            //-         //-         md-subheader.md-primary 基本信息
            //-         //-         include info_basic/info_basic_edit
            //-         //-     section.form-material-section
            //-         //-         md-subheader.md-warn 岗位信息
            //-         //-         include info_basic/info_position_edit
            //-     md-tab(id="tab2" label="培训记录")
            //-     md-tab(label="奖惩记录")
            //-     md-tab(label="考勤信息")
            //-     md-tab(label="档案信息")
            //-     md-tab(label="个人履历")
