//- h1 人事信息

//- .row(ng-controller="StaffController")
//-     finder(finder-event="personnel")
//-         number-range(name="age" display-name="年龄")

//- //- div(nb-table)


//- //-     div(nb-search-bar="search")
//- //-         .row
//- //-             input(name="name" nb-condition="年龄" ng-model="name" )
//- //-         .row
//- //-             datepicker(name="start" nb-condition="时间" ng-model="start")

//- div(nb-search)
//-     input(name="" nb-condition ng-model="name")
//-     input(name="" nb-condition ng-model="name")
//-     input(name="" nb-condition ng-model="name")
//-     input(name="" nb-condition ng-model="name")
.app-content-wrapper.personnel-info
    .personnel-menu.app-aside
        .avator
            .avator-area
            h3 姜文峰
            p 008863
        .personnel-info-list
            ul
                li
                    span.switch-circle
                    | 基本人事信息
                li
                    span.switch-circle
                    | 个人详情信息
                li
                    span.switch-circle
                    | 教育经历
                li
                    span.switch-circle
                    | 工作经历
                li
                    span.switch-circle
                    | 任职记录
                li
                    span.switch-circle
                    | 培训记录
                li
                    span.switch-circle
                    | 奖惩记录
                li
                    span.switch-circle
                    | 考勤记录
                li
                    span.switch-circle
                    | 绩效考核
                li
                    span.switch-circle
                    | 档案信息
                li
                    span.switch-circle(ui-sref="^.resume")
                    | 个人履历
    .personnel-content.pull-left
        .personnel-top-header
            h4.pull-left 基本人事信息
            .btn-group.pull-right
                button.btn.btn-default 编辑
        .personnel-content-body
            section.personnel-info-control.clearfix
                .personnel-info-left.pull-left
                    .personnel-item-icon.personnel-item1
                    .personnel-item-desc.bg-success 基本信息
                .personnel-info-right.editor-style.pull-left
                    table
                        tbody
                            tr
                                th 员工编号：
                                td 008863
                                th 性别：
                                td 男
                            tr
                                th 姓名：
                                td 姜文峰
                                th 学历：
                                td 本科
                            tr
                                th 身份证号：
                                td 56678898909876
                                th 联系方式：
                                td 13987890987
                            tr
                                th 政治面貌：
                                td 中共党员
            section.personnel-info-control.clearfix
                .personnel-info-left.pull-left
                    .personnel-item-icon.personnel-item2
                    .personnel-item-desc.bg-primary 岗位信息
                .personnel-info-right.editor-style.pull-left
                    table
                        tbody
                            tr
                                th 所属部门：
                                td 人力资源部-人事调配室
                                th 岗位：
                                td 人事调配室副主任
                            tr
                                th 分类：
                                td 干部
                                th 通道：
                                td 管理
                            tr
                                th 类别：
                                td 行政管理
                                th 用工性质：
                                td 合同工
                            tr
                                th 属地化地点：
                                td 成都
                                th 用工关系状态：
                                td 正式员工
            section.personnel-info-control.clearfix
                .personnel-info-left.pull-left
                    .personnel-item-icon.personnel-item3
                    .personnel-item-desc.bg-info 职称信息
                .personnel-info-right.editor-style.pull-left
                    table
                        tbody
                            tr
                                th 职称：
                                td 高级工程师
                                th 技术职务：
                                td 高级工程师
                            tr
                                th 分类：
                                td 二正
                                th 职称级别：
                                td 高级

