md-toolbar
    .md-toolbar-tools
        span 人事信息
.personnel-content.personnel-control
    section.personnel-info-section(ng-init= "current = panel.employee; current.$refresh();")
        tabset(type="pills")
            tab(heading="基本人事信息")
                div(layout="column")
                    section.form-material-section
                        md-subheader.md-primary 基本信息
                        include info_basic/info_basic_edit
                    section.form-material-section
                        md-subheader.md-warn 岗位信息
                        include info_basic/info_position_edit
            tab(heading="培训记录")

            tab(heading="奖惩记录")

            tab(heading="考勤信息")

            tab(heading="绩效考核")

            tab(heading="档案信息")

            tab(heading="个人履历")
                include personnel_resume