div.panel-bg-gray(ng-init = "current = panel.employee; current.$refresh();" ng-controller="PersonnelDataCtrl as pdCtrl")
    md-toolbar.md-warn(md-theme="hrms")
        .md-toolbar-tools
            span 人事信息

    .personnel-base-info(layout)
        .big-avator-area
            img(ng-src="{{current.favicon.middle}}" ng-if="current.favicon")
            img(src="http://www.placehold.it/110x110/EFEFEF/AAAAAA&text=no+image" ng-if="!current.favicon")
            //- img(src="http://192.168.6.99:9001/uploads/employees/favicons/11556/791d7d2bbee699f891b164d3e86ad9ce.png")
        .employee-info
            .employee-name() {{::current.name}}
                md-button.md-fab.resume-button.md-warn(
                    nb-dialog
                    template-url="partials/self/self_resume.html"
                    locals="{currentUser: current}"
                )
                    md-icon(md-svg-src="/images/svg/resume_24px.svg" aria-label="简历")
            .employee-others-info
                div(ng-bind="current.employeeNo")
                div(ng-bind="current.department.name")

    .personnel-content.personnel-control
        section.personnel-info-section
            tabset.personnel-tabs(type="pills")
                tab(heading="基本信息")
                    md-content.nb-card-container(layout="column" md-theme="hrms")
                        md-card.form-material-section.nb-card
                            md-subheader.md-background.md-hue-1
                                md-icon.form-icon(md-svg-src="/images/svg/personnel_24.svg" alt="基本信息")
                                |基本信息
                            include info_basic/info_basic_edit

                        md-card.form-material-section.nb-card
                            md-subheader.md-background.md-hue-1
                                md-icon.form-icon(md-svg-src="/images/svg/positions_info_24.svg" alt="岗位信息")
                                |岗位信息
                            include info_basic/info_position_edit

                        md-card.form-material-section.nb-card
                            md-subheader.md-background.md-hue-1
                                md-icon.form-icon(md-svg-src="/images/svg/ic_star_24px.svg" alt="职称信息")
                                |职称信息
                            include info_basic/info_position_title

                tab(heading="培训记录")

                tab(heading="奖惩记录")
                    md-content.nb-card-container(flex layout="column" md-theme="hrms")
                        include reward/index
                tab(heading="考勤信息")

                tab(heading="绩效考核")
                    md-content.nb-card-container(flex layout="column" md-theme="hrms")
                        include performance/index

                tab(heading="档案信息")

                tab(heading="薪酬信息" ng-if="pdCtrl.isHrPaymentMember()")
                    md-content.nb-card-container(flex layout="column" md-theme="hrms")
                        include salary/index
