section.personnel-info-section
    .personnel-top-header
        h4.pull-left 个人详情信息
        .btn-group.pull-right
            button.btn.btn-default 编辑
    .personnel-content-body
        section.personnel-info-control.clearfix
            .personnel-info-left.pull-left
                .personnel-item-icon.personnel-item1
                .personnel-item-desc.bg-success 基本情况
            .personnel-info-right.editor-style.pull-left
                table
                    tbody
                        tr
                            th 姓名：
                            td 姜文峰
                            th 性别：
                            td 男
                        tr
                            th 籍贯：
                            td 四川成都
                            th 民族：
                            td 汉族
                        tr
                            th 出生地：
                            td 成都市武侯区燃灯寺东街
                            th 出生年月：
                            td 1986年12月
                        tr
                            th 身份证：
                            td 52899090909878987
                            th 婚姻状况：
                            td 未婚
                        tr
                            th 学历：
                            td 本科
                            th 学位：
                            td 学士学位
                        tr
                            th 毕业院校：
                            td 四川大学
                            th 专业：
                            td 工商管理
                        tr
                            th 英语等级：
                            td 大学英语四级
        section.personnel-info-control.clearfix
            .personnel-info-left.pull-left
                .personnel-item-icon.personnel-item2
                .personnel-item-desc.bg-primary 履历信息
            .personnel-info-right.editor-style.pull-left
                table
                    tbody
                        tr
                            th 所属部门：
                            td 人力资源部-人事调配室
                            th 岗位：
                            td 人事调配室副主任
                        tr
                            th 分类：
                            td 干部
                            th 通道：
                            td 管理
                        tr
                            th 类别：
                            td 行政管理
                            th 用工性质：
                            td 合同工
                        tr
                            th 属地化地点：
                            td 成都
                            th 用工关系状态：
                            td 正式员工
        section.personnel-info-control.clearfix
            .personnel-info-left.pull-left
                .personnel-item-icon.personnel-item3
                .personnel-item-desc.bg-info 联系方式
            .personnel-info-right.editor-style.pull-left
                table
                    tbody
                        tr
                            th 固定电话：
                            td 22222222
                            th 移动电话：
                            td 13989098987
                        tr
                            th 家庭住址：
                            td 四川省双流县东升街芳草巷33号4栋2单元209室
                            th 职称级别：
                            td 高级
                        tr
                            th 邮政编码：
                            td 610000
                            th 电子邮箱：
                            td jiangwenfeng@gmail.com

section.personnel-info-section
    .personnel-top-header
        h4.pull-left 家庭主要成员情况
        .btn-group.pull-right
            button.btn.btn-default 编辑
    .personnel-content-body
        section.personnel-info-control.clearfix
            .personnel-info-left.pull-left
                .personnel-item-icon.personnel-item1
                .personnel-item-desc.bg-info 配偶
            .personnel-info-right.editor-style.pull-left
                table
                    tbody
                        tr
                            th 姓名：
                            td 冯丽
                            th 性别：
                            td 女
                        tr
                            th 籍贯：
                            td 四川成都
                            th 民族：
                            td 汉族
                        tr
                            th 出生年月：
                            td 1986年12月
                            th 文化程度：
                            td 本科
                        tr
                            th 政治面貌：
                            td 群众
                            th 工作单位：
                            td 成都市双流县双流中学
                        tr
                            th 职业：
                            td 教师
                            th 联系方式：
                            td 13989098765
        section.personnel-table-wrapper
            table.table.table-striped.custom-table.personnel-info-table
                thead
                    th 关系
                    th 姓名
                    th 性别
                    th 出生年月
                    th 常住户口所在地
                    th 学校或工作单位
                tbody
                    tr
                        td 女儿
                        td 姜小红
                        td 女
                        td 2010年8月
                        td 四川省双流县
                        td 成都市金苹果幼儿园
                    tr
                        td 女儿
                        td 姜小红
                        td 女
                        td 2010年8月
                        td 四川省双流县
                        td 成都市金苹果幼儿园
                    tr
                        td 女儿
                        td 姜小红
                        td 女
                        td 2010年8月
                        td 四川省双流县
                        td 成都市金苹果幼儿园
                    tr
                        td 女儿
                        td 姜小红
                        td 女
                        td 2010年8月
                        td 四川省双流县
                        td 成都市金苹果幼儿园