//- h1 人事信息

//- .row(ng-controller="StaffController")
//-     finder(finder-event="personnel")
//-         number-range(name="age" display-name="年龄")

//- //- div(nb-table)


//- //-     div(nb-search-bar="search")
//- //-         .row
//- //-             input(name="name" nb-condition="年龄" ng-model="name" )
//- //-         .row
//- //-             datepicker(name="start" nb-condition="时间" ng-model="start")

//- div(nb-search)
//-     input(name="" nb-condition ng-model="name")
//-     input(name="" nb-condition ng-model="name")
//-     input(name="" nb-condition ng-model="name")
//-     input(name="" nb-condition ng-model="name")
h1 test