section.personnel-info-section
    .personnel-top-header
        h4.pull-left 基本人事信息
        .btn-group.pull-right
            button.btn.btn-default 编辑
    .personnel-content-body
        section.personnel-info-control.clearfix
            .personnel-info-left.pull-left
                .personnel-item-icon.personnel-item1
                .personnel-item-desc.bg-success 基本信息
            .personnel-info-right.editor-style.pull-left
                table
                    tbody
                        tr
                            th 员工编号：
                            td
                                input(type="text")
                            th 性别：
                            td
                                input(type="text")
                        tr
                            th 姓名：
                            td
                                input(type="text")
                            th 学历：
                            td 本科
                        tr
                            th 身份证号：
                            td
                                input(type="text")
                            th 联系方式：
                            td
                                input(type="text")
                        tr
                            th 政治面貌：
                            td 中共党员
        section.personnel-info-control.clearfix
            .personnel-info-left.pull-left
                .personnel-item-icon.personnel-item2
                .personnel-item-desc.bg-primary 岗位信息
            .personnel-info-right.editor-style.pull-left
                table
                    tbody
                        tr
                            th 所属部门：
                            td 人力资源部-人事调配室
                            th 岗位：
                            td 人事调配室副主任
                        tr
                            th 分类：
                            td 干部
                            th 通道：
                            td 管理
                        tr
                            th 类别：
                            td 行政管理
                            th 用工性质：
                            td 合同工
                        tr
                            th 属地化地点：
                            td
                                input(type="text")
                            th 用工关系状态：
                            td 正式员工
        section.personnel-info-control.clearfix
            .personnel-info-left.pull-left
                .personnel-item-icon.personnel-item3
                .personnel-item-desc.bg-info 职称信息
            .personnel-info-right.editor-style.pull-left
                table
                    tbody
                        tr
                            th 职称：
                            td 高级工程师
                            th 技术职务：
                            td 高级工程师
                        tr
                            th 分类：
                            td 二正
                            th 职称级别：
                            td 高级