md-toolbar
    .md-toolbar-tools
        span 人事信息
.personnel-content.personnel-control
    section.personnel-info-section(ng-init= "current = ngDialogData")
        md-tabs
            md-tab(label="Tab #1")
                div(layout="column")
                    section.form-material-section
                        md-subheader.md-primary 基本信息
                        include info_basic/info_basic_edit
                    section.form-material-section
                        md-subheader.md-warn 岗位信息
                        include info_basic/info_position_edit
            md-tab(label="Tab #2")
                div(layout="column")
                    section.form-material-section
                        md-subheader.md-primary 基本信息
                        include info_basic/info_basic_edit
                    section.form-material-section
                        md-subheader.md-warn 岗位信息
                        include info_basic/info_position_edit
