//- h1 人事信息

//- .row(ng-controller="StaffController")
//-     finder(finder-event="personnel")
//-         number-range(name="age" display-name="年龄")

//- //- div(nb-table)


//- //-     div(nb-search-bar="search")
//- //-         .row
//- //-             input(name="name" nb-condition="年龄" ng-model="name" )
//- //-         .row
//- //-             datepicker(name="start" nb-condition="时间" ng-model="start")

//- div(nb-search)
//-     input(name="" nb-condition ng-model="name")
//-     input(name="" nb-condition ng-model="name")
//-     input(name="" nb-condition ng-model="name")
//-     input(name="" nb-condition ng-model="name")
.app-content-wrapper.personnel-info
    .personnel-menu
        .avator
            .avator-area
            h3 姜文峰
            p 008863
        .personnel-info-list
            ul
                li
                    span.switch-circle
                    | 基本人事信息
                li
                    span.switch-circle
                    | 个人详情信息
                li
                    span.switch-circle
                    | 教育经历
                li
                    span.switch-circle
                    | 工作经历
                li
                    span.switch-circle
                    | 任职记录
                li
                    span.switch-circle
                    | 培训记录
                li
                    span.switch-circle
                    | 奖惩记录
                li
                    span.switch-circle
                    | 考勤记录
                li
                    span.switch-circle
                    | 绩效考核
                li
                    span.switch-circle
                    | 档案信息
    .personnel-content
        .personnel-top-header
            h4 基本人事信息
            .btn-group
                button.btn.btn-default 编辑
        .personnel-content-body
            section.personnel-info-control
                .personnel-info-left
                    .personnel-item-icon
                    .personnel-item-desc
                .personnel-info-right.editor-style
                    table
                        tbody
                            tr
                                th 员工编号：
                                td 008863
                                th 性别：
                                td 男
                            tr
                                th 姓名：
                                td 姜文峰
                                th 学历：
                                td 本科
                            tr
                                th 身份证号：
                                td 56678898909876
                                th 联系方式：
                                td 13987890987
                            tr
                                th 政治面貌：
                                td 中共党员

