.position-items()
    .position-item(layout ng-repeat="posItem in positions"
        ng-init="itemParams={};\
            itemParams.orgPos = ctrl.Position.$collection({department_id:posItem.department.id}).$refresh();"
        )
        div(layout="row" flex)
            div(flex)
                //- label 所属部门
                org-search(
                    ng-model="posItem.department"
                    float-label placeholder="所属部门"
                    search-text-change="posItem.position.id=null;posItem.category=null;itemParams.orgPos=null;"
                    selected-item-change="itemParams.orgPos = org.positions.$refresh();posItem.position = null;"
                    editable
                    )

            md-input-container.row-has-value(flex)
                label 岗位
                md-select(ng-model="posItem.position.id" ng-disabled="!editStatus")
                    md-option(ng-value="pos.id" ng-repeat="pos in itemParams.orgPos") {{::pos.name}}
            md-input-container.row-has-value(flex)
                label 岗位性质
                md-select(ng-model="posItem.category" ng-disabled="!editStatus" ng-click="ctrl.queryPrimary(positions)")
                    //- md-option(aria-label="primary" value="主职" ng-hide="hasPrimary") 主职
                    md-option(aria-label="primary" value="主职") 主职
                    md-option(aria-label="part" value="兼职") 兼职
                    md-option(aria-label="proxy" value="代理") 代理
        .item-action-container(flex="10" ng-if="editStatus")
            md-button.md-fab.md-raised(type="button" ng-click="ctrl.removePosition($index)" ng-disabled="positions.length <= 1")
                md-icon(md-svg-src="/images/svg/ic_remove_24px.svg" style="margin-top: -2px;"  aria-label="删除")
            md-button.md-fab.md-raised(type="button" ng-click="ctrl.setHeigher($index)" ng-if="!$first")
                md-icon(md-svg-src="/images/svg/ic_vertical_align_top_24px.svg" aria-label="上移")
            md-button.md-fab.md-raised(type="button" ng-click="ctrl.addPositions()" ng-if="$first")
                md-icon(md-svg-src="/images/svg/ic_add_24px.svg" style="margin-top: -2px;" aria-label="添加岗位")
