.resume-wrap(
    ng-init="current.$refresh();resume=current.resume.$refresh(); ctrl.distinguish(current.resume)"
    style="max-width: 960px;")
    .resume-header
        span {{ resume.name }}
        | 个人履历
    .resume-btn-group
        md-button.md-icon-button.md-primary(ng-href="/api/employees/export_resume?employee_id={{resume.id}}" style="display: inline-block;")
            md-icon(md-svg-src="/images/svg/ic_open_in_new_24px.svg")
    .resume-body
        section.resume-section(layout)
            .resume-section-left(style="flex: 0 0 150px;")
                .resume-avator
                    img(ng-src="{{current.favicon.big}}")
            .resume-section-right(flex)
                .resume-row
                    .resume-item
                        label.control-label 性别
                        .form-content(ng-bind="resume.gender.displayName")
                    .resume-item
                        label.control-label 民族
                        .form-content(ng-bind="resume.nation.displayName")
                .resume-row
                    .resume-item
                        label.control-label 籍贯
                        .form-content(ng-bind="resume.nativePlace")
                    .resume-item
                        label.control-label 身份证号
                        .form-content(ng-bind="resume.identityNo")
                .resume-row
                    .resume-item
                        label.control-label 出生地点
                        .form-content(ng-bind="resume.birthPlace")
                    //- .resume-item
                    //-     label.control-label 出生年月
                    //-     .form-content(ng-bind="resume.birthday  | date:'yyyy-MM-dd'")
                .resume-row
                    .resume-item
                        label.control-label 政治面貌
                        .form-content() 党员
                    .resume-item
                        label.control-label 婚姻状况
                        .form-content(ng-bind="resume.maritalStatus.displayName")
                .resume-row
                    .resume-item
                        label.control-label 学历
                        .form-content(ng-bind="resume.educationBackground.displayName")
                    .resume-item
                        label.control-label 学位
                        .form-content(ng-bind="resume.degree.displayName")
                .resume-row
                    .resume-item
                        label.control-label 毕业院校
                        .form-content(ng-bind="resume.school")
                    .resume-item
                        label.control-label 专业
                        .form-content(ng-bind="resume.major")
                .resume-row
                    .resume-item
                        label.control-label 英语等级
                        .form-content(ng-bind="resume.englishLevel.displayName")
        section.resume-section(layout)
            .resume-section-left(style="flex: 0 0 150px;")
                h4 联系方式
            .resume-section-right(flex)
                .resume-row
                    .resume-item
                        label.control-label 手机号码
                        .form-content(ng-bind="resume.contact.mobile")
                    .resume-item
                        label.control-label 电子邮箱
                        .form-content(ng-bind="resume.contact.email")
                .resume-row
                    .resume-item.block
                        label.control-label 家庭住址
                        .form-content(ng-bind="resume.contact.address")
                .resume-row
                    .resume-item
                        label.control-label 固定电话
                        .form-content(ng-bind="resume.contact.telephone")
                .resume-row
                    .resume-item.block
                        label.control-label 通信地址
                        .form-content(ng-bind="resume.contact.mailingAddress")
                .resume-row
                    .resume-item
                        label.control-label 邮政编码
                        .form-content(ng-bind="resume.contact.postcode")

        section.resume-section(layout)
            .resume-section-left(style="flex: 0 0 150px;")
                h4 家庭主要成员情况
            .resume-section-right(flex ng-repeat="lover in resume.familyMembers | filterBy: ['relation']: 'lover' track by $index")
                h5.resume-row 配偶
                .resume-row
                    .resume-item
                        label.control-label 姓名
                        .form-content(ng-bind="lover.name")
                    .resume-item
                        label.control-label 性别
                        .form-content(ng-bind="lover.gender")
                .resume-row
                    .resume-item
                        label.control-label 籍贯
                        .form-content(ng-bind="lover.nativePlace")
                    .resume-item
                        label.control-label 民族
                        .form-content(ng-bind="lover.nation")
                .resume-row
                    .resume-item
                        label.control-label 出生年月
                        .form-content(ng-bind="lover.birthday  | date:'yyyy-MM-dd'")
                    .resume-item
                        label.control-label 文化程度
                        .form-content(ng-bind="lover.educationBackground.name")
                .resume-row
                    .resume-item
                        label.control-label 政治面貌
                        .form-content(ng-bind="lover.politicalStatus")
                    .resume-item
                        label.control-label 工作单位
                        .form-content(ng-bind="lover.company")
                .resume-row
                    .resume-item
                        label.control-label 职务
                        .form-content(ng-bind="lover.position")
                    .resume-item
                        label.control-label 联系方式
                        .form-content(ng-bind="lover.mobile")
                h5.resume-row(style="margin-top: 20px;") 子女情况
                .resume-row
                    table.table.table-mc-light-blue.table-bordered
                        thead
                            tr
                                th(style="width: 85px;") 姓名
                                th(style="width: 80px;") 关系
                                th(style="width: 80px;") 性别
                                th(style="width: 120px;") 出生年月
                                th(style="width: 180px;") 户口所在地
                                th(style="width: 160px;") 学校或工作单位
                        tbody
                            tr(ng-repeat="child in resume.familyMembers | filterBy: ['relation']: 'children' track by $index")
                                td(ng-bind="child.name" style="width: 85px;")
                                td(ng-bind="child.relationType" style="width: 80px;")
                                td(ng-bind="child.gender" style="width: 80px;")
                                td(ng-bind="child.birthday | date:'yyyy-MM-dd'" style="width: 120px;")
                                td(ng-bind="child.residenceBooklet" style="width: 180px;")
                                td(ng-bind="child.company" style="width: 160px;")

                h5.resume-row 父母、兄妹、配偶父母情况
                .resume-row
                    table.table.table-mc-light-blue.table-bordered.last
                        thead
                            tr
                                th(style="width: 85px;") 姓名
                                th(style="width: 80px;") 关系
                                th(style="width: 80px;") 性别
                                th(style="width: 120px;") 出生年月
                                th(style="width: 180px;") 常住户口所在地
                                th(style="width: 160px;") 学校或工作单位
                        tbody
                            tr(ng-repeat="other in resume.familyMembers | filterBy: ['relation']: 'other' track by $index")
                                td(ng-bind="other.name")
                                td(ng-bind="other.relationType")
                                td(ng-bind="other.gender")
                                td(ng-bind="other.birthday | date:'yyyy-MM-dd'")
                                td(ng-bind="other.residenceBooklet")
                                td(ng-bind="other.company")

        section.resume-section(layout)
            .resume-section-left(style="flex: 0 0 150px;")
                h4 教育经历
            .resume-section-right(flex)
                div.resume-cell(ng-repeat="edu in educationBackground")
                    .resume-row
                        .resume-item
                            label.control-label 入学日期
                            .form-content(ng-bind="edu.admissionDate  | date:'yyyy-MM-dd'")
                        .resume-item
                            label.control-label 毕业日期
                            .form-content(ng-bind="edu.graduationDate | date:'yyyy-MM-dd'")
                    .resume-row
                        .resume-item
                            label.control-label 毕业院校
                            .form-content(ng-bind="edu.school")
                        .resume-item
                            label.control-label 专业
                            .form-content(ng-bind="edu.major")
                    .resume-row
                        .resume-item
                            label.control-label 学历
                            .form-content(ng-bind="edu.educationBackground.displayName")
                        .resume-item
                            label.control-label 学位
                            .form-content(ng-bind="edu.degree.displayName")
                    .resume-row
                        .resume-item
                            label.control-label 证明人
                            .form-content(ng-bind="edu.witness")
        section.resume-section(layout)
            .resume-section-left(style="flex: 0 0 150px;")
                h4 工作后培训经历
            .resume-section-right(flex)
                div.resume-cell
                    .resume-row
                        .resume-item
                            label.control-label 开始日期
                            .form-content 2010-05-25
                        .resume-item
                            label.control-label 结束日期
                            .form-content 2010-10-25
                    .resume-row
                        .resume-item
                            label.control-label 培训课程
                            .form-content HR专业培训
                        .resume-item
                            label.control-label 培训课时
                            .form-content 100
                    .resume-row
                        .resume-item
                            label.control-label 是否全勤
                            .form-content 全勤
                        .resume-item
                            label.control-label 考核成绩
                            .form-content 90
                    .resume-row
                        .resume-item.auto-height
                            label.control-label 培训内容
                            .form-content 提高员工忠诚度，增强员工适应度，提高员工工作效率，提高员工归属感，企业文化与理念，发展目标与愿景，企业规章制度，工作职责与方式。
        section.resume-section(layout)
            .resume-section-left(style="flex: 0 0 150px;")
                h4 工作经历
            .resume-section-right(flex)
                div.resume-cell(ng-repeat="work in ctrl.workBefore")
                    .resume-row
                        .resume-item
                            label.control-label 开始日期
                            .form-content(ng-bind="work.startDate | date:'yyyy-MM-dd'")
                        .resume-item
                            label.control-label 结束日期
                            .form-content(ng-bind="work.endDate | date:'yyyy-MM-dd'")
                    .resume-row
                        .resume-item
                            label.control-label 单位名称
                            .form-content(ng-bind="work.company")
                        .resume-item
                            label.control-label 任职部门
                            .form-content(ng-bind="work.department")
                    .resume-row
                        .resume-item.block
                            label.control-label 担任职位
                            .form-content(ng-bind="work.position")
                        .resume-item
                            label.control-label 证明人
                            .form-content(ng-bind="work.witness")
                    .resume-row
                        .resume-item.auto-height
                            label.control-label 工作描述
                            .form-content(ng-bind="work.jobDesc")
        section.resume-section.last(layout)
            .resume-section-left(style="flex: 0 0 150px;")
                h4 到川航后任职记录
            .resume-section-right(flex)
                div.resume-cell(ng-repeat="work in ctrl.workAfter")
                    .resume-row
                        .resume-item
                            label.control-label 开始日期
                            .form-content(ng-bind="work.startDate | date:'yyyy-MM-dd'")
                        .resume-item
                            label.control-label 结束日期
                            .form-content(ng-bind="work.endDate | date:'yyyy-MM-dd'")
                    .resume-row
                        .resume-item
                            label.control-label 任职部门
                            .form-content(ng-bind="work.department")
                        .resume-item.block
                            label.control-label 担任职位
                            .form-content(ng-bind="work.position")
                    .resume-row
                        .resume-item
                            label.control-label 证明人
                            .form-content(ng-bind="work.witness")
                    .resume-row
                        .resume-item.auto-height
                            label.control-label 工作描述
                            .form-content(ng-bind="work.jobDesc")

                    //- ul.nice-table
                    //-     li.nice-table-row(ng-repeat="other in resume.familyMembers | filterBy: ['relation']: 'other' track by $index")
                    //-         span.nt-cell.nt-cell-md(ng-bind="other.name")
                    //-         span.nt-cell.nt-cell-sm(ng-bind="other.relationType")
                    //-         span.nt-cell.nt-cell-sm(ng-bind="other.gender")
                    //-         span.nt-cell.nt-cell-md(ng-bind="other.birthday  | date:'yyyy-MM-dd'")
                    //-         span.nt-cell.nt-cell-lg(ng-bind="other.residenceBooklet")
                    //-         span.nt-cell.nt-cell-lg(ng-bind="other.company")
