.personnel-content.personnel-control
    section.personnel-info-section(ng-init= "selectEmp = ngDialogData")
        .personnel-top-header
            h4.pull-left 新员工入职信息填写
        .personnel-content-body
            form()
                section.personnel-section-wrap()
                    section.personnel-info-control.clearfix
                        .personnel-info-left.pull-left
                            .personnel-item-icon.personnel-item1
                            .personnel-item-desc.bg-success 基本信息
                        .personnel-info-right.editor-style.pull-left
                            .form-horizontal
                                .form-body
                                    .form-group
                                        label.control-label.col-md-3 姓名：
                                        div.col-md-5
                                            input.form-control(type="text" placeholder="请输入姓名")
                                    .form-group
                                        label.control-label.col-md-3 性别：
                                        div.col-md-5
                                            nb-dropdown
                                    .form-group
                                        label.control-label.col-md-3 身份证号码：
                                        div.col-md-5
                                            input.form-control(type="text" placeholder="身份证号，护照至少输入一项")
                                    .form-group
                                        label.control-label.col-md-3 政治面貌：
                                        div.col-md-5
                                            nb-dropdown
                                    .form-group
                                        label.control-label.col-md-3 学历：
                                        div.col-md-5
                                            nb-dropdown
                                    .form-group
                                        label.control-label.col-md-3 学位：
                                        div.col-md-5
                                            nb-dropdown
                                    .form-group
                                        label.control-label.col-md-3 毕业院校：
                                        div.col-md-5
                                            input.form-control(type="text" placeholder="请输入毕业院校")
                                    .form-group
                                        label.control-label.col-md-3 专业：
                                        div.col-md-5
                                            input.form-control(type="text" placeholder="请输入专业")
                                    .form-group
                                        label.control-label.col-md-3 英语等级：
                                        div.col-md-5
                                            nb-dropdown
                                    .form-group
                                        label.control-label.col-md-3 手机号码：
                                        div.col-md-5
                                            input.form-control(type="text" placeholder="请输入手机号码")
                    section.personnel-section-wrap()
                        section.personnel-info-control.clearfix
                            .personnel-info-left.pull-left
                                .personnel-item-icon.personnel-item2
                                .personnel-item-desc.bg-success 岗位信息
                            .personnel-info-right.editor-style.pull-left
                                .form-horizontal
                                    .form-body
                                        .form-group
                                            label.control-label.col-md-3 所属部门：
                                            div.col-md-5
                                                input.form-control(
                                                    title="划转"
                                                    nb-dialog="partials/common/org_select.tpl.html"
                                                    nb-dialog-scope="this"
                                                    ng-model="selectEmp.department.custStr"
                                                )
                                        .form-group
                                            label.control-label.col-md-3 岗位：
                                            div.col-md-5
                                                nb-dropdown
                                        .form-group
                                            label.control-label.col-md-3 属地化地点：
                                            div.col-md-5
                                                nb-dropdown
                                        .form-group
                                            label.control-label.col-md-3 用工性质：
                                            div.col-md-5
                                                nb-dropdown
                                        .form-group
                                            label.control-label.col-md-3 用工关系状态：
                                            div.col-md-5
                                                nb-dropdown
                    .btn-group-actions
                        button.btn.btn-info() 保 存
                        button.btn.btn-default() 取 消







