//- 员工个人履历页面
.resume-container
	.resume-title
		span.title-text 个人履历
		button.btn.btn-default.pull-right 导出

	.resume-content
		section.resume-item
			.section-title 
				span 基本情况
			.section-body.editor-style
				table
					tbody
						tr
							th 姓名
							td 蒋文峰
							th 性别
							td 男
						tr
							td 籍贯
							td 蒋文峰
							th 性别
							td 男
						tr
							th 姓名
							td 蒋文峰
							th 性别
							td 男
						tr
							th 姓名
							td 蒋文峰
							th 性别
							td 男
						tr
							th 姓名
							td 蒋文峰
							th 性别
							td 男
						tr
							th 姓名
							td 蒋文峰
							th 性别
							td 男
						tr
							th 姓名
							td 蒋文峰
							th 性别
							td 男
				//- .row.info-row
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 姓名：
				//- 		.col-md-8 蒋文峰
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 性别：
				//- 		.col-md-8 男
				//- .row.info-row
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 籍贯：
				//- 		.col-md-8 四川成都
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 名族：
				//- 		.col-md-8 汉族
				//- .row.info-row
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 出生地：
				//- 		.col-md-8 成都市武侯区燃灯东街
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 出身年月：
				//- 		.col-md-8 1986-12-01
				//- .row.info-row
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 身份证号：
				//- 		.col-md-8 513422197810222344
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 婚姻状况：
				//- 		.col-md-8 未婚
				//- .row.info-row
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 学历：
				//- 		.col-md-8 本科
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 学位：
				//- 		.col-md-8 学士学位
				//- .row.info-row
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 毕业院校：
				//- 		.col-md-8 四川大学
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 专业：
				//- 		.col-md-8 工商管理
				//- .row.info-row
				//- 	.info-item.col-md-6
				//- 		.label-text.col-md-4 英语等级：
				//- 		.col-md-8 大学英语四级

		section.resume-item
			.section-title
				span 个人联系方式
			.section-body

		section.resume-item
			.section-title
				span 其它信息
			.section-body

		section.resume-item
			.section-title
				span 教育经历
			.section-body

		section.resume-item
			.section-title
				span 工作后培训经历
			.section-body

		section.resume-item
			.section-title
				span 工作经历
			.section-body


		section.resume-item
			.section-title
				span 到川航后任职记录
			.section-body

		section.resume-item
			.section-title
				span 家庭主要成员情况
			.section-body


	.resume-footer