.app-content-wrapper(flex style="height: 700px;")

    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 员工人事信息列表
                div(flex)
                md-button.md-primary.md-raised(
                    nb-panel
                    template-url="partials/personnel/org_pos_per_sort.html"
                ) 排序
                //- .nb-dropdown.md-primary.md-raised(simple-dropdown, btn-text="导出")
                //-     li( role="presentation")
                //-         a(role="menuitem" ng-href="/api/employees/export_to_xls" ) 导出全部人员明细
                //-     li( role="presentation" ng-if="ctrl.getExportParams().length != 0")
                //-         a(role="menuitem" ng-href="/api/employees/export_to_xls?employee_ids={{ ctrl.getExportParams() }}" ) 导出所选人员
                //-     li( role="presentation")
                //-         a(role="menuitem" ng-href="/api/employees/export_resume" ) 导出全部人员履历
                //-     li( role="presentation" ng-if="ctrl.getExportParams().length != 0")
                //-         a(role="menuitem" ng-href="/api/employees/export_resume?employee_ids={{ ctrl.getExportParams() }}" ) 导出所选人员的履历
                md-dropmenu
                    md-drop-label
                        md-button.md-primary.md-raised 导出
                    md-drop-option
                        md-button(role="menuitem" ng-href="/api/employees/export_to_xls" ) 导出全部人员明细
                    md-drop-option
                        md-button(role="menuitem" ng-href="/api/employees/export_to_xls?employee_ids={{ ctrl.getExportParams() }}" ) 导出所选人员
                    md-drop-option
                        md-button(role="menuitem" ng-href="/api/employees/export_resume" ) 导出全部人员履历
                    md-drop-option
                        md-button(role="menuitem" ng-href="/api/employees/export_resume?employee_ids={{ ctrl.getExportParams() }}" ) 导出所选人员的履历
        div(nb-grid column-defs="ctrl.columnDef" export-api grid-selection safe-src="ctrl.employees")

