//- 员工个人履历页面
.resume-container
    .resume-title
        span.title-text 个人履历
        button.btn.btn-default.pull-right 导出

    .resume-content
        section.resume-item
            .section-title
                span 基本情况
            .section-body.editor-style
                table
                    tbody
                        tr
                            th 姓名：
                            td 蒋文峰
                            th 性别：
                            td 男
                        tr
                            th 籍贯：
                            td 四川成都
                            th 名族：
                            td 汉族
                        tr
                            th 出生地：
                            td 成都市武侯区燃灯东街
                            th 出生年月：
                            td 1986-12-09
                        tr
                            th 身份证号：
                            td 513422197810222344
                            th 婚姻状况：
                            td 未婚
                        tr
                            th 学历：
                            td 本科
                            th 学位：
                            td 学士学位
                        tr
                            th 毕业院校：
                            td 四川大学
                            th 专业：
                            td 工商管理
                        tr
                            th 英语等级：
                            td 大学英语四级

        section.resume-item
            .section-title
                span 个人联系方式
            .section-body.editor-style
                table
                    tbody
                        tr
                            th 固定电话：
                            td 028-88923433
                            th 移动电话：
                            td 18782972908
                        tr
                            th 家庭住址：
                            td 四川省双流县东升芳草巷
                            th 通信地址：
                            td 四川省双流县
                        tr
                            th 邮政编码：
                            td 6100023
                            th 电子信箱：
                            td michael@lingxi.co

        section.resume-item
            .section-title
                span 其它信息
            .section-body.editor-style
                table
                        tr
                            th 政治面貌：
                            td(colspan=3)
                                .td-item
                                    | 中国共青团    2004-01-01（入团时间）    成才（介绍人)
                                .td-item
                                    | 中国共青团    2004-01-01（入团时间）    成才（介绍人)

                        tr
                            th 任职资格：
                            td(colspan=3) 人力资源资格证书    2006-03（获取时间）    四川大学
                        tr
                            th 宗教信仰：
                            td(colspan=3) 佛教
                        tr
                            th 出国情况：
                            td(colspan=3) 新加坡    2010-08（出国时间）    参加人力资源论坛
                        tr
                            th 获奖情况：
                            td(colspan=3) 省三好学生  2005-10（获奖时间）

        section.resume-item
            .section-title
                span 教育经历
            .section-body.editor-style
                table
                    tbody
                        tr
                            th 入学时间：
                            td 2001-09-01
                            th 毕业时间：
                            td 2005-0607
                        tr
                            th 毕业院校：
                            td 双流中学
                            th 专业：
                            td 暂无
                        tr
                            th 学历：
                            td 高中
                            th 学位：
                            td 暂无
                        tr
                            th 证明人：
                            td 陈安

                hr
                table
                    tbody
                        tr
                            th 入学时间：
                            td 2001-09-01
                            th 毕业时间：
                            td 2005-0607
                        tr
                            th 毕业院校：
                            td 双流中学
                            th 专业：
                            td 暂无
                        tr
                            th 学历：
                            td 高中
                            th 学位：
                            td 暂无
                        tr
                            th 证明人：
                            td 陈安

        section.resume-item
            .section-title
                span 工作后培训经历
            .section-body

        section.resume-item
            .section-title
                span 工作经历
            .section-body.editor-style
                table
                    tbody
                        tr
                            th 工作日期：
                            td 2001-09-01
                            th 结束日期：
                            td 2005-0607
                        tr
                            th 单位名称：
                            td 双流中学
                            th 任职部门：
                            td 暂无
                        tr
                            th 担任职位：
                            td(colspan=3) 人事主管
                        tr
                            th 工作描述：
                            td(colspan=3) 草拟、实施、维护员工内部竞岗和轮岗制度及其工作，提高人事配置效率
                        tr
                            th 证明人：
                            td(colspan=3) 段红

                hr
                table
                    tbody
                        tr
                            th 工作日期：
                            td 2001-09-01
                            th 结束日期：
                            td 2005-0607
                        tr
                            th 单位名称：
                            td 双流中学
                            th 任职部门：
                            td 暂无
                        tr
                            th 担任职位：
                            td(colspan=3) 人事主管
                        tr
                            th 工作描述：
                            td(colspan=3) 草拟、实施、维护员工内部竞岗和轮岗制度及其工作，提高人事配置效率
                        tr
                            th 证明人：
                            td(colspan=3) 段红

        section.resume-item
            .section-title
                span 到川航后任职记录
            .section-body.editor-style
                table
                    tbody
                        tr
                            th 开始时间：
                            td 2001-09-01
                            th 结束时间：
                            td 至今
                        tr
                            th 担任职务：
                            td 人事主管
                            th 任职部门：
                            td 人力资源部
                        tr
                            th 证明人：
                            td(colspan=3) 段红


        section.resume-item
            .section-title
                span 家庭主要成员情况
            .section-body


    .resume-footer