.personnel-content(ng-controller="NewResource")
    section.personnel-info-section(md-theme="hrms" ng-init= "params = {}")
        md-toolbar()
            .md-toolbar-tools
                span 新员工入职
        md-content.form-material-section
            md-subheader.md-primary 基本信息
            //- 应该得到请求结果后才判断是否关闭dialog
            form(ng-submit="ctrl.regEmployee(newEmp);panel.close();" name="newEmpForm")
                md-content
                    md-input-container(flex)
                        label 姓名
                        input(type="text" placeholder="请输入姓名" ng-model="newEmp.name" required)
                    md-input-container.row-has-value(flex)
                        label 性别
                        md-select(ng-model="newEmp.genderId")
                            md-select-label {{$enum.parseLabel(newEmp.genderId, "genders")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('genders')") {{item.label}}
                    md-input-container(flex)
                        label 身份证号码
                        input(type="text" placeholder="身份证号" ng-model="newEmp.identityNo" required)
                    md-input-container.row-has-value(flex)
                        label 政治面貌
                        md-select(ng-model="newEmp.politicalStatusId")
                            md-select-label {{$enum.parseLabel(newEmp.politicalStatusId, "political_status")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('political_status')") {{item.label}}
                    md-input-container.row-has-value(flex)
                        label 学历
                        md-select(ng-model="newEmp.educationBackgroundId")
                            md-select-label {{$enum.parseLabel(newEmp.educationBackgroundId, "education_backgrounds")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('education_backgrounds')") {{item.label}}
                    md-input-container.row-has-value(flex)
                        label 学位
                        md-select(ng-model="newEmp.degreeId")
                            md-select-label {{$enum.parseLabel(newEmp.degreeId, "degrees")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('degrees')") {{item.label}}
                    md-input-container(flex)
                        label 毕业院校
                        input(type="text" placeholder="请输入毕业院校" ng-model="newEmp.school")
                    md-input-container(flex)
                        label 专业
                        input(type="text" placeholder="请输入专业" ng-model="newEmp.major")
                    md-input-container.row-has-value(flex)
                        label 英语等级
                        md-select(ng-model="newEmp.englishLevelId")
                            md-select-label {{$enum.parseLabel(newEmp.englishLevelId, "english_levels")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('english_levels')") {{item.label}}
                    md-input-container(flex)
                        label 手机号码
                        input(type="text" placeholder="请输入手机号码" ng-model="newEmp.contact.mobile")

                    //- .form-gourp
                    org-search(ng-model="newEmp.department" required float-label selected-item-change="params.orgPos = org.positions.$fetch();newEmp.position = null;")
                    md-input-container.row-has-value(flex)
                        label 岗位
                        md-select(ng-model="newEmp.position" required)
                            md-select-label {{newEmp.position.name || "无"}}
                            md-option(ng-value="item" ng-repeat="item in params.orgPos") {{item.name}}

                    md-input-container.row-has-value(flex)
                        label 属地化地点
                        md-select(ng-model="newEmp.locationId")
                            md-select-label {{$enum.parseLabel(newEmp.locationId, "locations")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('locations')") {{item.label}}

                    md-input-container.row-has-value(flex)
                        label 用工性质
                        md-select(ng-model="newEmp.laborRelationId")
                            md-select-label {{$enum.parseLabel(newEmp.laborRelationId, "labor_relations")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('labor_relations')") {{item.label}}

                    md-input-container.row-has-value(flex)
                        label 用工关系状态
                        md-select(ng-model="newEmp.employmentStatusId")
                            md-select-label {{$enum.parseLabel(newEmp.employmentStatusId, "employment_status")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('employment_status')") {{item.label}}

                    md-input-container.row-has-value(flex)
                        label 职称
                        md-select(ng-model="newEmp.jobTitleId")
                            md-select-label {{$enum.parseLabel(newEmp.jobTitleId, "job_titles")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('job_titles')") {{item.label}}

                    md-input-container.row-has-value(flex)
                        label 职称级别
                        md-select(ng-model="newEmp.jobTitleDegreeId")
                            md-select-label {{$enum.parseLabel(newEmp.jobTitleDegreeId, "job_title_degrees")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('job_title_degrees')") {{item.label}}

                    md-input-container(flex)
                        label 参工时间
                        input(ng-model="newEmp.startWorkDate" bs-datepicker)
                    md-input-container(flex)
                .form-bottom-group.pull-right()
                    md-button.md-raised.white(type="button" ng-click="panel.close()") 取消
                    md-button.md-primary.md-raised(type="submit") 保存

