.position-manage.app-content-wrapper
    div(nb-table='ctrl.positions' nb-safe-src="ctrl.positions")
        div(nb-search)
            div(nb-predicate="名称" predicate-attr="name")
                input(name="name" placeholder="姓名" ng-model="$parent.name")
            div(nb-predicate="员工编号" predicate-attr="employee_no")
                input(name="employee_no" placeholder="工号" ng-model="$parent.employee_no")
            div(nb-predicate="机构" predicate-attr="department_ids")
                ui-select(multiple ng-model="$parent.department_ids" theme="select2" style="width:600px" reset-search-input="true")
                    ui-select-match(placeholder="请输入机构名称") {{ $item.name }}
                    ui-select-choices(repeat="org.id as org in allOrgs | filter:$select.search | limitTo: 5") {{ org.name }}

            div(nb-predicate="岗位名称" predicate-attr="position_id")
                input(name="position_name" placeholder="姓名" ng-model="$parent.position_name")

            div(nb-predicate="员工分类" predicate-attr="category_id")
                input(name="category_id" placeholder="姓名" ng-model="$parent.category_id")

            div(nb-predicate="岗位通道" predicate-attr="channel_id")
                nb-dropdown( ng-model="$parent.channel_id", remote-key="position_channels", map="$item.id" name="channel_id" required)

            div(nb-predicate="属地" predicate-attr="location_id")
                nb-dropdown( ng-model="$parent.location_id", remote-key="department_locations", map="$item.id" name="location_id" required)

            div(nb-predicate="出生日期" predicate-attr="birthday")
                input(ng-model="birthday.from" bs-datepicker)
                span.gap 至
                input(ng-model="birthday.to" bs-datepicker)

        button.btn.btn-default.search-commit.fa.fa-search(nb-pipe="ctrl.search(tableState)") 查询


        table.table.table-striped.org-post-table
            thead
                tr
                    th 员工编码
                    th 姓名
                    th 所属部门
                    th 岗位
                    th 分类
                    th 通道
                    th 用工性质
                    th 入职日期
            tbody
                tr(ng-repeat="emp in ctrl.employees track by emp.id")
                    td(ng-bind="::emp.employee_no")
                    td.org-post
                        a(ui-sref=".detail({empId: emp.id})" ng-bind="emp.name")
                    td(ng-bind="::emp.department.name")
                    td(ng-bind="::emp.position.name")
                    td(ng-bind="::emp.category.displayName")
                    td(ng-bind="::emp.channel.displayName")
                    //- TODO 用工性质
                    td(ng-bind="")
                    td(ng-bind="")
            tfoot
                tr
                    td(nb-pagination="ctrl.positions.$metadata")
