.personnel-content(ng-controller="NewResourceCtrl")
    section.personnel-info-section(
        ng-init= "params = {}"
        style="background-color: rgb(245, 245, 245)"
        )
        md-toolbar.md-warn(md-theme="hrms")
            .md-toolbar-tools
                span(style="color: #fff;") 新员工入职
        form(ng-submit="ctrl.regEmployee(newEmp);panel.close();" name="newEmpForm")
            md-content.nb-card-container(layout="column" md-theme="hrms")
                md-card.form-material-section.nb-card(style="padding-bottom: 16px;")
                    md-subheader.md-primary(md-theme="default")
                        md-icon.form-icon(md-svg-src="/images/svg/personnel_24.svg" alt="基本信息")
                        | 基本信息
                    div
                        div(layout)
                            md-input-container(flex)
                                label 姓名
                                input(type="text" ng-model="newEmp.name" required)
                            md-input-container.row-has-value(flex)
                                label 性别
                                md-select(ng-model="newEmp.genderId")
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('genders')") {{item.label}}
                        div(layout)
                            md-input-container(flex)
                                label 身份证号码
                                input(type="text" ng-model="newEmp.identityNo" required)
                            md-input-container.row-has-value(flex)
                                label 政治面貌
                                md-select(ng-model="newEmp.politicalStatusId")
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('political_status')") {{item.label}}
                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 学历
                                md-select(ng-model="newEmp.educationBackgroundId")
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('education_backgrounds')") {{item.label}}
                            md-input-container.row-has-value(flex)
                                label 学位
                                md-select(ng-model="newEmp.degreeId")
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('degrees')") {{item.label}}
                        div(layout)
                            md-input-container(flex)
                                label 毕业院校
                                input(type="text" ng-model="newEmp.school")
                            md-input-container(flex)
                                label 专业
                                input(type="text" ng-model="newEmp.major")
                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 英语等级
                                md-select(ng-model="newEmp.englishLevelId")
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('english_levels')") {{item.label}}
                            md-input-container(flex)
                                label 手机号码
                                input(type="text" ng-model="newEmp.contact.mobile")

                        //- .form-gourp
            md-content.nb-card-container(layout="column" md-theme="hrms")
                md-card.form-material-section.nb-card(style="margin-top: 0; padding-bottom: 16px; margin-bottom: 20px;")
                    md-subheader.md-primary(md-theme="default")
                        md-icon.form-icon(md-svg-src="/images/svg/positions_info_24.svg" alt="岗位信息")
                        | 岗位信息
                    div
                        org-search(ng-model="newEmp.department" required float-label selected-item-change="params.orgPos = org.positions.$fetch();newEmp.position = null;")
                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 岗位
                                md-select(ng-model="newEmp.position" required)
                                    md-option(ng-value="item" ng-repeat="item in params.orgPos") {{item.name}}

                            md-input-container.row-has-value(flex)
                                label 属地化地点
                                input(ng-model="newEmp.location")
                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 用工性质
                                md-select(ng-model="newEmp.laborRelationId")
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('labor_relations')") {{item.label}}

                            md-input-container.row-has-value(flex)
                                label 用工关系状态
                                md-select(ng-model="newEmp.employmentStatusId")
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('employment_status')") {{item.label}}

                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 职称
                                md-select(ng-model="newEmp.jobTitleId")
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('job_titles')") {{item.label}}

                            md-input-container.row-has-value(flex)
                                label 职称级别
                                md-select(ng-model="newEmp.jobTitleDegreeId")
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('job_title_degrees')") {{item.label}}
                        div(layout)
                            md-input-container(flex)
                                label 到岗时间
                                input(ng-model="newEmp.joinScalDate" bs-datepicker required)
                            md-input-container(flex)
                                label 参工时间
                                input(ng-model="newEmp.startWorkDate" bs-datepicker)
            .form-bottom-group(layout)
                span(flex)
                md-button.md-raised.white(type="button" ng-click="panel.close()") 取消
                md-button.md-primary.md-raised(type="submit") 保存

