.resume-wrap
    .resume-header
        h3 个人履历
    .resume-btn-group
        button.btn.btn-info 导出 PDF
    .resume-body
        section.resume-section.form-split
            h4 基本情况
            .form-group
                label.control-label 姓名：
                .form-content 姜文峰
            .form-group
                label.control-label 性别：
                .form-content 男
            .form-group
                label.control-label 籍贯：
                .form-content 四川成都
            .form-group
                label.control-label 民族：
                .form-content 汉族
            .form-group
                label.control-label 出生地：
                .form-content 成都市武侯区燃灯寺东街
            .form-group
                label.control-label 出生年月：
                .form-content 1986-12
            .form-group
                label.control-label 身份证号：
                .form-content 510105198612162538
            .form-group
                label.control-label 婚姻状况：
                .form-content 未婚
            .form-group
                label.control-label 学历：
                .form-content 本科
            .form-group
                label.control-label 学位：
                .form-content 学士学位
            .form-group
                label.control-label 毕业院校：
                .form-content 四川大学
            .form-group
                label.control-label 专业：
                .form-content 工商管理
            .form-group
                label.control-label 英语等级：
                .form-content 大学英语四级
        section.resume-section.form-split
            h4 个人联系方式
            .form-group
                label.control-label 固定电话：
                .form-content 028-85176315
            .form-group
                label.control-label 移动电话：
                .form-content 18628118505
            .form-group.block
                label.control-label 家庭住址：
                .form-content 四川省双流县东升芳草巷33号4栋2单元
            .form-group.block
                label.control-label 通信地址：
                .form-content 四川省双流县东升芳草巷33号4栋2单元
            .form-group
                label.control-label 邮政编码：
                .form-content 610000
            .form-group
                label.control-label 电子邮箱：
                .form-content jiangwenfeng@163.com
        section.resume-section.form-split
            h4 教育经历
            .form-split
                .form-group
                    label.control-label 入学日期：
                    .form-content 2002-09
                .form-group
                    label.control-label 毕业日期：
                    .form-content 2005-06
                .form-group
                    label.control-label 毕业院校：
                    .form-content 双流中学
                .form-group
                    label.control-label 专业：
                    .form-content 暂无
                .form-group
                    label.control-label 学历：
                    .form-content 高中
                .form-group
                    label.control-label 学位：
                    .form-content 暂无
                .form-group
                    label.control-label 证明人：
                    .form-content 陈安
            .form-split
                .form-group
                    label.control-label 入学日期：
                    .form-content 2005-09
                .form-group
                    label.control-label 毕业日期：
                    .form-content 2009-06
                .form-group
                    label.control-label 毕业院校：
                    .form-content 四川大学
                .form-group
                    label.control-label 专业：
                    .form-content 工商管理
                .form-group
                    label.control-label 学历：
                    .form-content 本科
                .form-group
                    label.control-label 学位：
                    .form-content 学士学位
                .form-group
                    label.control-label 证明人：
                    .form-content 张梦林
        section.resume-section.form-split
            h4 工作后培训经历
            .form-split
                .form-group
                    label.control-label 授课开始日期：
                    .form-content 2010-05-25
                .form-group
                    label.control-label 授课结束日期：
                    .form-content 2010-10-25
                .form-group
                    label.control-label 培训课程：
                    .form-content HR专业培训
                .form-group
                    label.control-label 培训课时：
                    .form-content 100
                .form-group
                    label.control-label 是否全勤：
                    .form-content 全勤
                .form-group
                    label.control-label 考核成绩：
                    .form-content 90
                .form-group.block
                    label.control-label 培训内容：
                    .form-content.auto-height 提高员工忠诚度，增强员工适应度，提高员工工作效率，提高员工归属感，企业文化与理念，发展目标与愿景，企业规章制度，工作职责与方式。
        section.resume-section.form-split
            h4 工作经历：
            .form-split
                .form-group
                    label.control-label 开始日期：
                    .form-content 2010-03
                .form-group
                    label.control-label 结束日期：
                    .form-content 2012-05
                .form-group
                    label.control-label 单位名称：
                    .form-content 成都任我行科技有限公司
                .form-group
                    label.control-label 任职部门：
                    .form-content 人力资源部
                .form-group.block
                    label.control-label 担任职位：
                    .form-content 人事主管
                .form-group.block
                    label.control-label 工作描述：
                    .form-content.auto-height 草拟、实施、维护员工内部竞岗和轮岗制度及其工作，提高人事配置效率
                .form-group
                    label.control-label 证明人：
                    .form-content 刘艳
        section.resume-section.form-split
            h4 到川航后任职记录
            .form-split
                .form-group
                    label.control-label 开始日期：
                    .form-content 2010-03
                .form-group
                    label.control-label 结束日期：
                    .form-content 至今
                .form-group
                    label.control-label 担任职务：
                    .form-content 人事主管
                .form-group
                    label.control-label 任职部门：
                    .form-content 人力资源部
                .form-group
                    label.control-label 证明人：
                    .form-content 段红
        section.resume-section.form-split
            h4 家庭主要成员情况
            h5.form-group.block 配偶
            .form-group
                label.control-label 姓名：
                .form-content 冯丽
            .form-group
                label.control-label 性别：
                .form-content 女
            .form-group
                label.control-label 籍贯：
                .form-content 四川成都
            .form-group
                label.control-label 民族：
                .form-content 汉族
            .form-group
                label.control-label 出生年月：
                .form-content 1988-08
            .form-group
                label.control-label 文化程度：
                .form-content 本科
            .form-group
                label.control-label 政治面貌：
                .form-content 群众
            .form-group
                label.control-label 工作单位：
                .form-content 成都市双流县双流中学
            .form-group
                label.control-label 职务：
                .form-content 教师
            .form-group
                label.control-label 联系方式：
                .form-content 18347265341
            h5 子女情况
            ul.nice-table
                li.nice-table-row
                    span.nt-cell.nt-cell-md 姓名
                    span.nt-cell.nt-cell-sm 关系
                    span.nt-cell.nt-cell-sm 性别
                    span.nt-cell.nt-cell-md 出生年月
                    span.nt-cell.nt-cell-lg 常住户口所在地
                    span.nt-cell.nt-cell-lg 学校或工作单位
                li.nice-table-row
                    span.nt-cell.nt-cell-md 姜小军
                    span.nt-cell.nt-cell-sm 子
                    span.nt-cell.nt-cell-sm 男
                    span.nt-cell.nt-cell-md 2010-08
                    span.nt-cell.nt-cell-lg 四川省双流县
                    span.nt-cell.nt-cell-lg 金苹果幼儿园
                li.nice-table-row
                    span.nt-cell.nt-cell-md 姜小红
                    span.nt-cell.nt-cell-sm 女
                    span.nt-cell.nt-cell-sm 女
                    span.nt-cell.nt-cell-md 2013-10
                    span.nt-cell.nt-cell-lg 四川省双流县
                    span.nt-cell.nt-cell-lg 无
            h5 父母、兄妹、配偶父母情况
            ul.nice-table
                li.nice-table-row
                    span.nt-cell.nt-cell-md 姓名
                    span.nt-cell.nt-cell-sm 关系
                    span.nt-cell.nt-cell-sm 性别
                    span.nt-cell.nt-cell-md 出生年月
                    span.nt-cell.nt-cell-lg 常住户口所在地
                    span.nt-cell.nt-cell-lg 学校或工作单位
                li.nice-table-row
                    span.nt-cell.nt-cell-md 姜冲
                    span.nt-cell.nt-cell-sm 父亲
                    span.nt-cell.nt-cell-sm 男
                    span.nt-cell.nt-cell-md 1960-07
                    span.nt-cell.nt-cell-lg 四川省双流县
                    span.nt-cell.nt-cell-lg 四川省双流县公安局
                li.nice-table-row
                    span.nt-cell.nt-cell-md 李梅
                    span.nt-cell.nt-cell-sm 母亲
                    span.nt-cell.nt-cell-sm 女
                    span.nt-cell.nt-cell-md 1963-01
                    span.nt-cell.nt-cell-lg 四川省双流县
                    span.nt-cell.nt-cell-lg 四川省双流县土地局
                li.nice-table-row
                    span.nt-cell.nt-cell-md 姜文娟
                    span.nt-cell.nt-cell-sm 妹
                    span.nt-cell.nt-cell-sm 女
                    span.nt-cell.nt-cell-md 1989-04
                    span.nt-cell.nt-cell-lg 四川省双流县
                    span.nt-cell.nt-cell-lg 成都市中级法院
                li.nice-table-row
                    span.nt-cell.nt-cell-md 冯章
                    span.nt-cell.nt-cell-sm 岳父
                    span.nt-cell.nt-cell-sm 男
                    span.nt-cell.nt-cell-md 1950-06
                    span.nt-cell.nt-cell-lg 四川省洪雅县
                    span.nt-cell.nt-cell-lg 无业
                li.nice-table-row
                    span.nt-cell.nt-cell-md 刘青
                    span.nt-cell.nt-cell-sm 岳母
                    span.nt-cell.nt-cell-sm 女
                    span.nt-cell.nt-cell-md 1951-12
                    span.nt-cell.nt-cell-lg 四川省洪雅县
                    span.nt-cell.nt-cell-lg 无业


