div(nb-table='ctrl.records' nb-safe-src="ctrl.records" ng-init="ctrl.records = ctrl.records.$refresh()")
        .search-container(nb-search)
            div(nb-predicate="姓名" predicate-attr="name")
                input(name="name" placeholder="姓名" ng-model="name")
            div(nb-predicate="员工编号" predicate-attr="employee_no")
                input(name="employee_no" placeholder="工号" ng-model="employee_no")
            
            div(nb-predicate="创建时间" predicate-attr="created_at")
                input(ng-model="created_at.from" bs-datepicker)
                span.gap 至
                input(ng-model="created_at.to" bs-datepicker)
        .search-btn-group
            button.btn.btn-primary(nb-pipe="ctrl.searchRecord(tableState)") 开始搜索

        .table-container
            h4 人事信息列表
            table.table.table-striped.custom-table
                thead
                    tr
                        th 员工编码
                        th 姓名
                        th 所属部门
                        th 信息变更模块
                        th 变更类型
                        th 变更时间
                        th 状态
                        th 审核时间
                        th 理由
                tbody
                    tr(ng-repeat="record in ctrl.records track by $index")
                        td(ng-bind="record.employeeNo")
                        td(ng-bind="record.name")
                        td(ng-bind="record.department.name")

                        td()
                            span(nb-popup-plus, position="left-bottom", offset="0.5") {{record.auditableType}}
                                popup-template.nb-popup.org-default-popup-template.panel.panel-default()
                                    .panel-heading.popup-title {{record.name}}的基本变更
                                    .panel-body.popup-body(ng-if="record.action == 'update'")
                                        .row
                                            .col-md-6 修改前
                                            .col-md-6 修改后
                                        .row(ng-repeat="(field, val) in record.auditedChanges")
                                            .col-md-2() {{::field}}：
                                            .col-md-4(ng-bind="val[0]")
                                            .col-md-2() {{::field}}：
                                            .col-md-4(ng-bind="val[1]")
                                    .panel-body.popup-body(ng-if="record.action == 'create' || record.action == 'destroy'")
                                        .row
                                            .col-md-12(ng-bind="record.action")
                                        .row(ng-repeat="(field, val) in record.auditedChanges" ng-if="val | isNotEqualTo:null")
                                            .col-md-5(ng-bind="field")
                                            .col-md-7(ng-bind="val")

                        td(ng-bind="record.action")
                        td(ng-bind="record.createdAt | date:'yyyy-MM-dd'")
                        td(ng-bind="record.statusCd")
                        td(ng-bind="record.checkDate | date:'yyyy-MM-dd'")
                        td(ng-bind="record.reason")
        .custom-pages(nb-pagination="ctrl.records.$metadata" per-page="15")
