md-dialog.punishment_new(style="min-width: 450px;")
    md-content(ng-init="current = dialog.employee.$refresh(); punishment = current.punishments.$build({owner: current, genre: dialog.genre});")
        form(flex ng-controller="NewResourceCtrl" ng-submit="create(punishment, newPunishmentForm); dialog.close();" name="newPunishmentForm")
            md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span {{dialog.genre}}录入
            .dialog-content(layout layout-align="center")
                fieldset(flex)
                    div(layout)
                        md-input-container(flex)
                            label 姓名
                            input(ng-model="::current.name" name="name" readonly)
                    div(layout ng-if="dialog.genre=='奖励'")
                        md-input-container(flex)
                            label {{dialog.genre}}类别
                            input(ng-model="punishment.category" required)
                    div(layout ng-if="dialog.genre=='处分'")
                        md-input-container(flex)
                            md-select(ng-model="punishment.category" required placeholder="{{dialog.genre}}类别")
                              md-option(value="警告") 警告
                              md-option(value="记过") 记过
                              md-option(value="降级") 降级
                              md-option(value="撤职") 撤职
                              md-option(value="留用察看") 留用察看
                              md-option(value="书面检查") 书面检查
                              md-option(value="诫勉谈话") 诫勉谈话
                              md-option(value="解除劳动合同") 解除劳动合同
                              md-option(value="退回劳务派遣公司") 退回劳务派遣公司
                    div(layout)
                        md-input-container(flex)
                            label {{dialog.genre}}描述
                            textarea(ng-model="punishment.desc" md-maxlength="2000" required)

                    div(layout ng-if="dialog.genre == '处分'")
                        md-input-container(flex)
                            label 处分开始时间
                            input(ng-model="punishment.startDate" name="startDate" bs-datepicker)
                        div.hyphen 至
                        md-input-container(flex)
                            label 处分结束时间
                            input(ng-model="punishment.endDate" name="endDate" bs-datepicker)

                    div(layout ng-if="dialog.genre == '奖励'")
                        md-input-container(flex)
                            label 奖励时间
                            input(ng-model="punishment.rewardDate" name="rewardDate" bs-datepicker)

            .md-actions
                md-button(type="button" ng-click="dialog.close()") 取 消
                md-button.md-primary.md-raised(type="submit" ng-disabled="(newPunishmentForm.startDate.$modelValue >= newPunishmentForm.endDate.$modelValue) || (dialog.genre == '奖励' && !newPunishmentForm.rewardDate.$modelValue) || (dialog.genre == '处分' && newPunishmentForm.startDate.$modelValue && !newPunishmentForm.endDate.$modelValue) || ((dialog.genre == '处分' && !newPunishmentForm.startDate.$modelValue && newPunishmentForm.endDate.$modelValue))") 确 定
