md-dialog.punishment_new(style="min-width: 450px;")
    md-toolbar.md-accent(md-theme="hrms")
        .md-toolbar-tools
            span 学历变更
    form(ng-submit="current.update_education(params, list);dialog.close();" name="newChangeForm")
        md-content(ng-init="current=dialog.employee.$refresh();list=dialog.list;params={}")
            fieldset
                div(layout)
                    md-input-container(flex)
                        label 姓名
                        input(ng-model="::current.name" readonly)
                    md-input-container(flex)
                        label 员工编号
                        input(ng-model="::current.employeeNo" readonly)
                div(layout)
                    md-input-container(flex)
                        label 部门
                        input(ng-model="::current.department.name" readonly)
                    md-input-container(flex)
                        label 岗位
                        input(ng-model="::current.position.name" readonly)
                div(layout)
                    md-input-container.row-has-value(flex)
                        label 现学历
                        md-select(ng-model="::current.educationBackgroundId" readonly disabled)
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('education_backgrounds')") {{item.label}}
                    md-input-container.row-has-value(flex)
                        label 现学位
                        md-select(ng-model="::current.degreeId" readonly disabled)
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('degrees')") {{item.label}}

                div(layout)
                    md-input-container(flex)
                        label 毕业院校
                        input(ng-model="params.school_name")

                div(layout)
                    md-input-container(flex)
                        label 专业
                        input(ng-model="params.major_name")

                div(layout)
                    md-input-container(flex)
                        label 毕业时间
                        input(ng-model="params.graduate_date" name="date" bs-datepicker default-today required)

                div(layout)
                    md-input-container(flex)
                        label 变更时间
                        input(ng-model="params.change_date" name="date" bs-datepicker default-today required)

        .md-actions
            md-button(type="button" ng-click="dialog.close()") 取 消
            md-button.md-primary.md-raised(type="submit" ng-disabled="newChangeForm.$invalid") 确 定
