
//nav
$app-aside-nav-height:               40px;
$app-aside-folded-nav-height:        50px;

$font-size-base:                     14px;
$line-height-base:                   1.42857143;  //  20/14
// $line-height-computed:               floor($font-size-base * $line-height-computed);

//layout
$app-header-height:                  50px;
$app-header-md-height:               60px;

$app-aside-width:                    200px;
$app-aside-folded-width:             60px;

$scroll-bar-width:                   17px;