.btn-info { background-color: #07b6e5;}
.modal-backdrop.in {opacity: 0.4;}
ul { padding: 0px;}

.app-main { width: calc(100% - 569px); height: auto; float: left; position: relative; left: 15px;}
// @media  (min-width: 1401 and max-width: 1440px){
// .app-main { width: 883px; }
// }
// @media (min-width: 1441px) and (max-width: 1920px){
// .app-main { width: 1375px; }
// }

.org-chart-top { width: auto; height: 80px;}
.org-chart-top.active { position: relative; width: auto; height: 78px; background-color: #fdf8e2; border: 1px solid #f3ebd4; box-sizing: border-box; padding-top: 20px;}
.org-chart-top.active h1 {width: calc(100% - 200px); font-size: 25px; margin-bottom: 10px; line-height: 25px; color: #90743f; text-align: center;}
.org-chart-top.active h2 { width: calc(100% - 200px);font-size: 16px; margin: 0px;line-height: 16px; color: #90743f; text-align: center;}
.org-chart-top button { float: right; padding: 4px 12px; margin-left: 10px; margin-top: 25px;}
.org-chart-top h1 { font-size: 25px; margin: 0px; line-height: 80px;text-align: center;}


.btn-cold { background-color: #7263bc; color: #fff;}
.btn-cold:hover {color: #fff;}
.panel-content { content: "";position: absolute;top: 0;bottom: 0;z-index: 1042;right: 0px; background-color: #fff; box-shadow: -5px 0 20px #666;}
.panel-lg { width: 900px;}
.panel-md { width: 600px;}
.panel-sm { width: 300px;}
.org-aside { width: 340px; background-color: #fff; border-left: 1px solid #dfe4e7;}
.org-title { position: relative; height: 35px; margin-left: 20px; margin-right: 20px; border-bottom: 1px solid #c6d1d5; margin-top: 20px;}
.org-title span { width: auto; height: 35px; line-height: 35px; position: absolute;  border-bottom: 1px solid #39b7e9; color: #58656e; font-size: 16px;}
.org-title button { float: right; margin-right: 10px;  color: #99a6ad;}
.org-title .btn {padding: 5px 9px; min-width: 35px;}
.org-info {padding-top: 20px;}
.org-table { margin-left: 20px; width: 298px;}
.org-post { color: #448ecb;}
.org-btn .btn { width: 88px; height: 34px; margin-top: 30px;}
.org-btn .btn-default { margin-right: 20px;}
.org-btn:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.org-btn .btn-info[disabled]{ background-color: #edf1f2;border-color: #cfdadd;color: #555; }
.org-dep {position: absolute; width: 183px; border-right: 1px solid #d1dcde; border-bottom: 1px solid #d1dcde; left: 200px; background-color: rgba(255,255,255,1);top:51px; bottom:0px; z-index: 10;}
//.org-dep .org-children-wrapper
.org-dep.active { z-index: 1; left: 18px;  width: 0px; border: none;}
.org-dep.active .panel-group { display: none;}
.org-dep .panel-body { padding-right: 0px;}
.org-dep .panel-body ul {padding-left: 0px; }
.org-dep .panel-body li { line-height: 35px; height: 35px;}
.org-dep .panel-body li a { color: #58656e; padding-left: 15px;}
.org-dep .panel-body li a:hover { color: #f34e4c; border-left: 2px solid #f34e4c; transition:all ease 0.2s;}
.org-dep .panel-heading { background-color: #f6f8f7; height: 39px; border-top: 1px solid #d1dcde; border-bottom: 1px solid #d1dcde;}
.org-dep .panel { border:none; box-shadow:none;}
.org-dep .panel-heading { border-radius: 0px;}
.org-dep .panel-group .panel { border-radius: 0px;}
.org-dep-badge { width: 24px; height: 72px; background-color: #fff; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border:1px solid #d1dcde; position: absolute; left: 182px;top: 38px;}

.org-dep-badge a { width: 24px; height: 72px; display: block; text-align: center; line-height: 72px; }
.org-modal-top { height: 51px; line-height: 51px; font-size: 18px;padding: 0 20px; border-bottom: 1px solid #eae9ef;}
.org-modal-post { padding:20px; background-color: #f2f3f8;}
.org-modal-posttop { height: 35px; width: inherit; font-size: 16px;}
.org-modal-posttop button { float: right; margin-left: 8px;}
.org-modal-posttop button.btn-info { padding-top: 3px; padding-bottom: 3px;}
.org-post-table { border:1px solid #e6e6e6;}
.org-post-table tr td:first-child { width: 44px;}
.org-post-table tr td:last-child { width: 204px;}
.org-hover { float: right;}
.org-hover .btn { padding: 0px; border:none; margin-left: 15px;}
.org-hover .btn-default { background:none;}
.org-postadd { width: inherit;}
.org-postadd-step { width: 268px; background-color: #f2f3f8; content: "";position: absolute;top: 51px;bottom: 0;z-index: 1042; float: left;}
.org-postadd-step li { width: 268px; float: left; padding-left: 20px; padding-right: 20px; height: 63px; line-height: 63px;}
.org-postadd-step li:hover a,.org-postadd-step li:hover a span,.org-postadd-step li.active a { color: #fff;}
.org-postadd-step li:hover,.org-postadd-step li.active { background-color: #0ab6e8; color: #fff; transition:all ease 0.3s;}
.org-postadd-step a { color: #000; display: block;font-size: 16px;}
.org-postadd-step a span { float: right; line-height: 63px;font-size: 16px;}
.org-postadd-detail { width: 632px; padding: 20px; }
.bg-info { background-color: #daedf8;}
.arrow.left.arrow-info:after {border-right-color: #daedf8;}
.wrapper.org-timline { height: auto; max-height: 500px; overflow-y:scroll}
.org-timline .tl-content.panel { width: 210px; cursor: pointer;}
.org-timline .tl-content.panel h1  { font-size: 16px; margin: 0px; color: #000; }
.org-timline .tl-content.panel h2  { font-size: 12px; margin-top: 10px; color: #23b7e5;}
.org-timline .tl-content.panel p  { font-size: 14px; border-top: 1px dotted #cee0eb; padding-top: 10px; }
.org-timline .tl-header { text-align: left; width: inherit;}
.org-timline span.pull-right {font-size: 12px; color: #23b7e5;line-height: 34px; }
.org-timline .tl-wrap { margin-left: 30px;}
.org-timline .tl-header .btn { border-radius: 25px; padding: 6px 14px;}
.org-timline .tl-header .bg-info .text-lt { color: #000!important;}
.org-timline.panel-footer {margin-bottom: 30px;}
.org-timline.panel-footer .btn{ width: 70px; margin-left: 10px;}
.org-timline .b-info { border-color: #daedf8; }
.org-timline .b-info p { color: #000;}
.org-timline .org-delete-template{
	position: absolute;
	background-color:#fff;
	top: -40px;
	left: -160px;
	width: 270px;
	z-index: 99999;
}
.modal-backdrop.org-history-dialog-backdrop.in { opacity: 0;}
.bg-black {
background-color: #3a3f52;
}
.bg-black.dk, .bg-black .dk {
background-color: #31374b;
}
.bg-black .nav > li > a {
  color: #adb2c5;
}
.btn-default {
border-color: #c4cfd3;
}
.org-delete-template{
	position: absolute;
	background-color:#fff;
	width: 270px;
	z-index: 99999;
}
.div-delete-btn{
	padding: 5px 10px;
	background-color: #d9534f;
	width: 48px;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
	margin-top:15px;
}
.org-main-node{
	height: 38px;
	line-height:38px;
	padding-left: 8px;
	margin-bottom: 4px;
	background-color: #f6f8f8;
	font-size: 16px;
	cursor: pointer;
}
.org-main-node:hover a{
	color: #ff0000;
}
.org-node{
	display: block;
	width: 100%;
	height: 100%;
	padding: 4px 0 4px 15px;
	font-size: 14px;
	border-left: 3px solid transparent;
}
.org-node:hover{
	border-left: 3px solid red;
	color: red;
}
.org-form-row{
	width:300px;
	margin-left: 20px;
}
.org-label{
	text-align:right;
}
.org-info input{
	border: 1px solid #c6d1d5
}
.org-dep.active .org-main-wrapper{
	overflow: hidden;
}
.org-main-wrapper{
	height: 100%;
	overflow: hidden;
}
.org-main-wrapper ul{
	padding-left: 5px;
}
.org-children-wrapper{
	height: calc(100% - 30px);
	overflow-y: scroll;
}
.org-children-wrapper li a {
	height: 35px;
	line-height: 35px;
	display: block;
	width: 100%;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	padding-top: 0px;
	padding-bottom: 0px;
}
.org-chart-window{
	position: relative;
	width: calc(100% - 569px);
	height: calc(100% - 51px);
	left: 15px;
	overflow:hidden;
}
.svg-wrapper{
	width: 100%;
	height:100%;
	overflow:hidden
}
.bottom-btn-group{
	margin-top: 50px;
	margin-left: calc(100% - 200px);
	z-index: 10;
}
.bottom-btn-group button{
	font-size: 14px;
	width: 90px;
	height: 30px;
	border-radius: 4px;
	outline: none;
}
.org-chart-window .cancel{
	border: 1px solid #c4cfd1;
	background-color: #fff;
	color: #000;
}
.org-chart-window .effect{
	margin-left: 10px;
	border: 1px solid #09b6e7;
	background-color: #09b6e7;
	color: #fff;
}
.orgchart-box-active{
	fill: #dfe5e7;
	cursor: pointer;
}
svg text,svg rect{
	cursor: pointer;
}
.orgchart-box-active.active{
	fill: #90d7ff;
}
.orgchart-box-create_inactive{
	fill: #ffc490;
}
.orgchart-box-update_inactive{
	fill: #ffc490;
}
.orgchart-box-destroy_inactive{
	fill: #ff9090;
}

.title-btn-group{
	position: absolute;
	top: 23px;
	right: 10px;
}
.title-btn-group a{
	font-weight: bolder;
}
.title-btn-group button{
	float: right;
	margin-left: 10px;
}
.title-btn-group button:last-child{
	margin-left: none;
}

.svg-wrapper svg{
	display: block;
	margin: 0 auto;

}

.button-group button{
	margin-left: 10px;
}


