.btn-info { background-color: #07b6e5;}
.org-aside { width: 340px; background-color: #fff; border-left: 1px solid #dfe4e7;}
.org-title { position: relative; width: 300px; height: 35px; margin-left: 20px;border-bottom: 1px solid #c6d1d5; margin-top: 20px;}
.org-title span { width: auto; height: 35px; line-height: 35px; position: absolute;  border-bottom: 1px solid #39b7e9; color: #58656e; font-size: 16px;}
.org-title button { float: right; margin-right: 10px; }
.org-info { width: 300px; height: 180px; padding-top: 20px; margin-left: 20px;}
.org-table { margin-left: 20px; width: 338px;}
.org-post { color: #448ecb;}
.org-btn .btn { width: 88px; height: 34px; margin-top: 30px;}
.org-btn .btn-default { margin-right: 20px;}


