.btn-info { background-color: #07b6e5;}
.modal-backdrop.in {opacity: 0.4;}
ul { padding: 0px;}
.panel-content { content: "";position: absolute;top: 0;bottom: 0;z-index: 1042;right: 0px; background-color: #fff; box-shadow: -5px 0 20px #666;}
.panel-lg { width: 900px;}
.panel-md { width: 600px;}
.panel-sm { width: 300px;}
.org-aside { width: 340px; background-color: #fff; border-left: 1px solid #dfe4e7;}
.org-title { position: relative; width: 300px; height: 35px; margin-left: 20px;border-bottom: 1px solid #c6d1d5; margin-top: 20px;}
.org-title span { width: auto; height: 35px; line-height: 35px; position: absolute;  border-bottom: 1px solid #39b7e9; color: #58656e; font-size: 16px;}
.org-title button { float: right; margin-right: 10px; }
.org-info { width: 300px; height: 180px; padding-top: 20px; margin-left: 20px;}
.org-table { margin-left: 20px; width: 338px;}
.org-post { color: #448ecb;}
.org-btn .btn { width: 88px; height: 34px; margin-top: 30px;}
.org-btn .btn-default { margin-right: 20px;}
.org-dep { position: absolute; width: 183px; border-right: 1px solid #d1dcde; border-bottom: 1px solid #d1dcde; left: 200px; top:51px; bottom:0px;}
.org-dep .panel-body { padding-right: 0px;}
.org-dep .panel-body ul {padding-left: 0px; }
.org-dep .panel-body li { line-height: 35px; height: 35px;}
.org-dep .panel-body li a { color: #58656e; padding-left: 15px;}
.org-dep .panel-body li a:hover { color: #f34e4c; border-left: 2px solid #f34e4c; transition:all ease 0.2s;}
.org-dep .panel-heading { background-color: #f6f8f7; height: 39px; border-top: 1px solid #d1dcde; border-bottom: 1px solid #d1dcde;}
.org-dep .panel { border:none; box-shadow:none;}
.org-dep .panel-heading { border-radius: 0px;}
.org-dep .panel-group .panel { border-radius: 0px;}
.org-dep-badge { width: 24px; height: 72px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border:1px solid #d1dcde; position: absolute; left: 182px;top: 38px;}
.org-dep-badge a { width: 24px; height: 72px; display: block; text-align: center; line-height: 72px; }
.org-modal-top { height: 51px; line-height: 51px; font-size: 18px;padding: 0 20px; border-bottom: 1px solid #eae9ef;}
.org-modal-post { padding:20px; background-color: #f2f3f8;}
.org-modal-posttop { height: 35px; width: inherit; font-size: 16px;}
.org-modal-posttop button { float: right; margin-left: 8px;}
.org-modal-posttop button.btn-info { padding-top: 3px; padding-bottom: 3px;}
.org-post-table { border:1px solid #e6e6e6;}
.org-post-table tr td:first-child { width: 44px;}
.org-postadd { width: inherit;}
.org-postadd-step { width: 268px; background-color: #f2f3f8; content: "";position: absolute;top: 51px;bottom: 0;z-index: 1042; float: left;}
.org-postadd-step li { width: 268px; float: left; padding-left: 20px; padding-right: 20px; height: 63px; line-height: 63px;}
.org-postadd-step li:hover a,.org-postadd-step li:hover a span,.org-postadd-step li.active a { color: #fff;}
.org-postadd-step li:hover,.org-postadd-step li.active { background-color: #0ab6e8; color: #fff; transition:all ease 0.3s;}
.org-postadd-step a { color: #000; display: block;font-size: 16px;}
.org-postadd-step a span { float: right; line-height: 63px;font-size: 16px;}
.org-postadd-detail { width: 632px; padding: 20px; }



.org-delete-template{
	position: absolute;
	background-color:#fff;
	top: -40px;
	left: -160px;
	width: 400px;
	z-index: 99999;
}
.div-delete-btn{
	padding: 5px 10px;
	background-color: #d9534f;
	width: 48px;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
	margin-top:15px;
}



