//重置material design影响标签的样式
fieldset {
    border: 0;
}

a {
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
}

body h3,
html h3,
body h4,
html h4 {
    margin: 0;
}

.sep-40 {
    height: 40px;
}

.md-subheader {
    font-family: 'SimHei' '微软雅黑' Arial;
    font-size: 14px;
}
