@charset 'utf-8';
@import 'bourbon';

@import 'variables';
@import 'reset';
@import 'mixin/mixin';

// @import 'component/loading-btn.scss';
//layout
@import 'layout/nav';
@import 'layout/layout';
//components
@import 'component/dialog';
@import 'component/form-validation';
@import 'component/loading';
@import 'component/panel';
@import 'component/timline';
@import 'component/button';
@import 'modules/position_detail';
@import 'modules/position_add';
@import 'component/table-search-bar';

//campat
@import 'compat/jqtree';

//modules
@import 'modules/personnel';
@import 'modules/position-manage';
@import 'modules/orgs';
@import 'modules/personnel-resume';

.bootstrap-tagsinput {
    width: 100%;
}

.navbar-fixed-top {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 1px 0 rgba(0, 0, 0, .05);
}

.navbar {
    border: 0;
    margin-bottom: 0;
}

.left-sidebar {
    background-color: #3a3f52;
    color: #6b94b3;
    float: left;
    height: 100%;
    margin-top: 50px;
    width: 240px;

    li {
        height: 48px;
        line-height: 48px;

        i {
            height: 48px;
            line-height: 48px;
        }
    }

    a {
        color: #adb2c5;
    }
}

.form-group-error {
    background-color: #fcf8e2;
    border: 1px solid #faebca;
    color: #90743f;
    font-size: 12px;
    margin-top: 5px;
    padding: 3px 0;
    text-align: center;
}


//nb-popup begin
.nb-popup > .arrow,
.nb-popup > .arrow:after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.nb-popup > .arrow {
    border-width: 11px;
}

.nb-popup > .arrow:after {
    border-width: 10px;
    content: ' ';
}

.nb-popup.top > .arrow {
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, .15);
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
}

.nb-popup.top > .arrow:after {
    border-bottom-width: 0;
    border-top-color: #fff;
    bottom: 1px;
    content: ' ';
    margin-left: -10px;
}

.nb-popup.right > .arrow {
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, .15);
    left: -11px;
    margin-top: -11px;
    top: 50%;
}

.nb-popup.right > .arrow:after {
    border-left-width: 0;
    border-right-color: #fff;
    bottom: -10px;
    content: ' ';
    left: 1px;
}

.nb-popup.bottom > .arrow {
    border-bottom-color: rgba(0, 0, 0, .15);
    border-top-width: 0;
    left: 50%;
    margin-left: -11px;
    top: -11px;
}

.nb-popup.bottom > .arrow:after {
    border-bottom-color: #fff;
    border-top-width: 0;
    content: ' ';
    margin-left: -10px;
    top: 1px;
}

.nb-popup.left > .arrow {
    border-left-color: rgba(0, 0, 0, .15);
    border-right-width: 0;
    margin-top: -11px;
    right: -11px;
    top: 50%;
}

.nb-popup.left > .arrow:after {
    border-left-color: #fff;
    border-right-width: 0;
    bottom: -10px;
    content: ' ';
    right: 1px;
}

//nb-popup end
