.app-content-wrapper(flex ng-init="ctrl.userList()")
    div(nb-filter="ctrl.filterOptions" on-search="search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 员工花名册
                div(flex)
                block actions

        div(nb-grid column-defs="ctrl.columnDef" export-api grid-selection safe-src="ctrl.tableData")