.my-cell-cotainer
    a.my-requests-cell(ui-sref="my_requests.leave")
        md-button.md-fab
            md-icon(md-svg-src="/images/svg/flow/ask_for_leave.svg")
        .desc 我要请假
    a.my-requests-cell(ui-sref=".")
        md-button.md-fab
            md-icon(md-svg-src="/images/svg/flow/turn.svg")
        .desc 我要转正
    a.my-requests-cell(ui-sref="my_requests.resignation")
        md-button.md-fab
            md-icon(md-svg-src="/images/svg/flow/resignation.svg")
        .desc 我要辞职
    a.my-requests-cell(ui-sref="my_requests.adjust_position")
        md-button.md-fab
            md-icon(md-svg-src="/images/svg/flow/adjust_position.svg")
        .desc 我要调岗
    a.my-requests-cell(ui-sref="my_requests.erarly_retirement")
        md-button.md-fab
            md-icon(md-svg-src="/images/svg/flow/early_retirement.svg")
        .desc 我要退养
    a.my-requests-cell(ui-sref="my_requests.renew_contract")
        md-button.md-fab
            md-icon(md-svg-src="/images/svg/flow/contract.svg")
        .desc 合同续签
    a.my-requests-cell(ui-sref=".")
        md-button.md-fab
            md-icon(md-svg-src="/images/svg/flow/degree.svg")
        .desc 学历变更
    a.my-requests-cell(ui-sref=".")
        md-button.md-fab
            md-icon(md-svg-src="/images/svg/flow/performance.svg" style="margin-top: 0;")
        .desc 绩效申述结果
    a.my-requests-cell(ui-sref=".")
        md-button.md-fab
            md-icon(md-svg-src="/images/svg/flow/tickets.svg" style="margin-top: 0;")
        .desc 优免票