.todo-container(layout)
    .todo-list(flex)
        .todo-list-item(layout flow-handler="todo" flows="todoCtrl.todos" ng-repeat="todo in todoCtrl.todos track by todo.id")
            .item-left(layout="column" layout-align="center end")
                .date {{todo.updatedAt | date:'yyyy-MM-dd'}}
                .time {{todo.updatedAt | date:'HH:mm'}}
            .item-right(flex)
                .item-msg
                    .avatar
                        img(ng-src="{{todo.receptor.favicon}}")
                    .content
                        h3
                            span(ng-bind="::todo.createdAt | fromNow: false")
                        p.single-ellipsis {{::todo.desc}}
                        .reviewers
                            div(ng-repeat="viewerFavicon in ::todo.viewerFavicons")
                                img(ng-src="{{::viewerFavicon}}")

                        .tip {{::todo.name}}