.todo-container(layout)
    .todo-list(flex)
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职

        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职

    .todo-aside
        .post-board
            tabset
                tab(heading="新闻公告")
                    .post-item.notice
                        h4 关于武汉天河机场提前四十分钟停止办理乘机手续的重要通知
                        .date 2015年6月15日
                        p 自2015年7月1日起，武汉天河机场所有出港航班将提前40分钟停止办理乘机手续，请乘坐武汉天河机场航班的旅客务必尽早抵达机场，办理乘机手续，以免误机。
                tab(heading="通讯录")
                    .post-item.notice
                        h4 关于武汉天河机场提前四十分钟停止办理乘机手续的重要通知123
                        .date 2015年6月15日
                        p 自2015年7月1日起，武汉天河机场所有出港航班将提前40分钟停止办理乘机手续，请乘坐武汉天河机场航班的旅客务必尽早抵达机场，办理乘机手续，以免误机。

        .personal-attence
            .custom-toolbar
                .toolbar-tools
                    span 个人考勤
                    span(flex)
                    span
                        md-button 点点点
            .content(column-chart)

        .hr-attence
            .custom-toolbar
                .toolbar-tools
                    span 人力资源部考勤
                    span(flex)
                    span
                        md-button 点点点
            .content







