.todo-container(layout)
    .todo-list(flex todo-list)
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职

        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职
        .todo-list-item(layout)
            .item-left(layout="column" layout-align="center end")
                .date 2014-9-15
                .time 13:12
            .item-right(flex)
                .item-msg
                    .avatar
                        .image
                    .content
                        h3
                            span 黄晓亮
                            | 发起于
                            span 一个月以前
                        p.single-ellipsis 员工黄晓亮申请解除劳动合同，辞职流程已发起，等待您的审批，请处理
                        .reviewers
                            div
                            div
                            div
                        .tip 员工辞职

    .todo-notice
        | 这里是内容