.app-content-wrapper(flex ng-controller="annuityChangesCtrl as ctrl")

    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")

    div.ui-grid-container.mt5
        md-toolbar
            .md-toolbar-tools
                h2 社保个人设置

        div(nb-grid column-defs="ctrl.columnDef" safe-src="ctrl.configurations")