.app-content-wrapper(flex ng-controller="annuityChangesCtrl as ctrl")

    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")

    div.ui-grid-container.mt5
        md-toolbar
            .md-toolbar-tools
                h2 年金变动记录

        div(
          nb-grid
          column-defs="ctrl.columnDef"
          export-api
          grid-edit
          grid-row-edit
          grid-cellNav
          on-register-api="ctrl.initialize(gridApi)"
          safe-src="ctrl.annuityChanges")