md-dialog.personal_number(
    ng-init="current = dialog.annuities.$refresh();"
    )
    md-toolbar.md-accent(md-theme="hrms")
            .md-toolbar-tools
                span 个人基数计算
    md-content.sticky-container

    .md-actions
        md-button(ng-click="dialog.close()") 关 闭





