md-dialog.personal_number(
    ng-init="current = dialog.annuities.$refresh();"
    )
    md-toolbar.md-accent(md-theme="hrms")
            .md-toolbar-tools
                span 个人基数计算
    md-content.sticky-container
        .info-header
            span.name 田静然
            span.no 001345
        .info-body
            ul
                li.tcell
                    .theader 2014-01
                    .tbody 10000元
                li.tcell
                    .theader 2014-01
                    .tbody 10000元
                li.tcell
                    .theader 2014-01
                    .tbody 10000元
                li.tcell
                    .theader 2014-01
                    .tbody 10000元
                li.tcell
                    .theader 2014-01
                    .tbody 10000元
                li.tcell
                    .theader 2014-01
                    .tbody 10000元
                li.tcell
                    .theader 2014-01
                    .tbody 10000元
                li.tcell
                    .theader 2014-01
                    .tbody 10000元
        .info-footer
            span 月度平均：
            span 10000元

    .md-actions
        md-button(ng-click="dialog.close()") 关 闭





