.app-content-wrapper(flex style="height: 700px;")
    div(nb-filter="ctrl.hisFilterOptions" on-search="ctrl.search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 合同续签列表
                
        div(nb-grid column-defs="ctrl.hisColumnDef" safe-src="ctrl.contracts")

