.container
  .w-xxl.w-auto-xs
    .m-b-lg
      .wrapper.text-center 修改密码
      form.form-validation(name='form')
        //- .text-danger.wrapper.text-center(ng-show='authError')
        //-   | {{authError}}
        .list-group.list-group-sm
          .list-group-item
            input.form-control.no-border(type='password', placeholder="原始密码", ng-model='user.password', required='true')
          .list-group-item
            input.form-control.no-border(type='password', placeholder='新密码', ng-model='user.new_password', required='true')
          .list-group-item
            input.form-control.no-border(type='password', placeholder='密码确认', ng-model='user.password_confirm', required='true')
        button.btn.btn-lg.btn-primary.btn-block(type='submit', ng-click='ctrl.changePwd(user);closeThisDialog()', ng-disabled='form.$invalid') 确认修改
        .text-center.m-t.m-b
          a(ui-sref='/sessions/new') 返回登录
        
    //- .text-center(ng-include='"tpl/blocks/page_footer.html"')
