.app-content-wrapper(
    flex
    ng-controller="salaryCtrl as ctrl"
    ng-init="ctrl.loadConfigFromServer('cold_subsidy'); newSubsidy = {};"
    style="padding: 0;"
    )
    .salary-basic(style="padding: 0;")
        md-toolbar
            .md-toolbar-tools
                h2 金额设置
                span(flex)
                md-button.md-raised.md-primary(style="margin-right: 0;" ng-click="ctrl.saveConfig('cold_subsidy', ctrl.dynamic_config)") 保存

        div.mt20(layout)
            div(flex style="margin-right: 40px;")
                h4 寒冷补贴档级金额设置
                table.tablexx.table-default.table-bordered(flex)
                    thead
                        tr
                            th 人员类别
                            th 一档（元/天）
                            th 二档（元/天）
                            th 三档（元/天）
                    tbody
                        tr
                            td 甲类人员
                            td
                                input(ng-model="ctrl.dynamic_config.personnel_amount_config.A.grade_1" type="number")
                            td
                                input(ng-model="ctrl.dynamic_config.personnel_amount_config.A.grade_2" type="number")
                            td
                                input(ng-model="ctrl.dynamic_config.personnel_amount_config.A.grade_3" type="number")
                        tr
                            td 乙类人员
                            td(colspan="3")
                                input(ng-model="ctrl.dynamic_config.personnel_amount_config.B" type="number")
                                | 元/月

        div.mt20(layout)
            div(flex style="margin-right: 40px;")
                h4 寒冷补贴档级设置
                table.tablexx.table-default.table-bordered.cold-subsidy(flex)
                    thead
                        tr
                            th 城市名称
                            th 人员类别
                            th 10月
                            th 11月
                            th 12月
                            th 1月
                            th 2月
                            th 3月
                            th 4月
                            th 操作
                    tbody(ng-repeat="area in ctrl.dynamic_config.city_config")
                        tr
                            td(rowspan="2") {{area.name}}
                            td 甲类
                            td
                                md-select(ng-model="area.M_A_10" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td
                                md-select(ng-model="area.M_A_11" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td
                                md-select(ng-model="area.M_A_12" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td
                                md-select(ng-model="area.M_A_1" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td
                                md-select(ng-model="area.M_A_2" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td
                                md-select(ng-model="area.M_A_3" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td
                                md-select(ng-model="area.M_A_4" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td(rowspan="2")
                                md-button.md-icon-button(ng-click="ctrl.destroyCity(ctrl.dynamic_config.city_config, $index)")
                                    md-icon.md-warn(md-svg-src="/images/svg/close.svg")
                        tr
                            td 乙类
                            td
                                md-select(ng-model="area.M_B_10" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                            td
                                md-select(ng-model="area.M_B_11" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                            td
                                md-select(ng-model="area.M_B_12" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                            td
                                md-select(ng-model="area.M_B_1" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                            td
                                md-select(ng-model="area.M_B_2" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                            td
                                md-select(ng-model="area.M_B_3" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                            td
                                md-select(ng-model="area.M_B_4" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                    tbody
                        tr
                            td(rowspan="2")
                                input(type="text" ng-model="newSubsidy.name")
                            td 甲类
                            td
                                md-select(ng-model="newSubsidy.M_A_10" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td
                                md-select(ng-model="newSubsidy.M_A_11" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td
                                md-select(ng-model="newSubsidy.M_A_12" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td
                                md-select(ng-model="newSubsidy.M_A_1" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td
                                md-select(ng-model="newSubsidy.M_A_2" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td
                                md-select(ng-model="newSubsidy.M_A_3" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td
                                md-select(ng-model="newSubsidy.M_A_4" placeholder="无")
                                    md-option(value="grade_0") 无
                                    md-option(value="grade_1") 一档
                                    md-option(value="grade_2") 二档
                                    md-option(value="grade_3") 三档
                            td(rowspan="2")
                                md-button.md-icon-button(ng-click="ctrl.addColdCity(ctrl.dynamic_config.city_config , newSubsidy)")
                                    md-icon.md-primary(md-svg-src="/images/svg/plus.svg")
                        tr
                            td 乙类
                            td
                                md-select(ng-model="newSubsidy.M_B_10" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                            td
                                md-select(ng-model="newSubsidy.M_B_11" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                            td
                                md-select(ng-model="newSubsidy.M_B_12" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                            td
                                md-select(ng-model="newSubsidy.M_B_1" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                            td
                                md-select(ng-model="newSubsidy.M_B_2" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                            td
                                md-select(ng-model="newSubsidy.M_B_3" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有
                            td
                                md-select(ng-model="newSubsidy.M_B_4" placeholder="无")
                                    md-option(value="false") 无
                                    md-option(value="true") 有

