md-dialog(ng-controller="EditableResourceCtrl" style="min-width: 500px;" ng-init="current = dialog.leave.$refresh(); ctrl = dialog.ctrl;")
    md-toolbar.md-accent(md-theme="hrms")
        .md-toolbar-tools
            span 假别修正
    md-content
        form(ng-submit="save(current.$save(), change_leave_form, ctrl.tableData);dialog.close();" name="change_leave_form")
            div.mt20(layout style="padding: 0 20px; margin-bottom: 40px;")
                label.mr10(style="line-height: 37px;") 假别
                md-input-container(flex style="padding-bottom: 19px;" md-no-float)
                    md-select(ng-model="current.type")
                        md-option(value="Flow::PersonalLeave") 事假
                        md-option(value="Flow::SickLeave") 病假
                        md-option(value="Flow::AnnualLeave") 年假
                        md-option(value="Flow::AccreditLeave") 派驻人员休假
                        md-option(value="Flow::SickLeaveInjury") 病假(工伤待定)
                        md-option(value="Flow::OccupationInjury") 病假(工伤待定)-工伤假
                        md-option(value="Flow::MarriageLeave") 婚假
                        md-option(value="Flow::FuneralLeave") 丧假
                        md-option(value="Flow::HomeLeave") 探亲假
                        md-option(value="Flow::SickLeaveNulliparous") 病假(怀孕待产)
                        md-option(value="Flow::RearNurseLeave") 生育护理假
                        md-option(value="Flow::PrenatalCheckLeave") 产前孕期检查假
                        md-option(value="Flow::MaternityLeave") 产假
                        md-option(value="Flow::MaternityLeaveLateBirth") 产假(晚育)
                        md-option(value="Flow::MaternityLeaveDystocia") 产假(剖腹产、难产)
                        md-option(value="Flow::MaternityLeaveMultipleBirth") 产假(多胞胎)
                        md-option(value="Flow::MaternityLeaveBreastFeeding") 产假(母乳喂养)
                        md-option(value="Flow::MiscarriageLeave") 产假(流产)
                        md-option(value="Flow::LactationLeave") 产假(哺乳假)
                        md-option(value="Flow::WomenLeave") 女工假
                        md-option(value="Flow::PublicLeave") 公假

            .md-actions(style="border-top: 1px solid rgba(0, 0, 0, .12); padding: 0 20px;")
                md-button.white.md-raised.pull-right(type="button" ng-click="cancel(current, $event, change_leave_form);dialog.close()") 取 消
                md-button.md-primary.md-raised.pull-right(type="submit" ng-disabled="change_leave_form.$invalid") 提 交
