.app-content-wrapper(flex ng-init="ctrl.loadCheckList()")

    div(nb-filter="ctrl.checksFilterOptions" on-search="ctrl.search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 请假待审核列表
                span
                span(flex)
                  md-button.md-primary.md-raised(
                ) 销假

        div(nb-grid column-defs="ctrl.checksColumnDef" export-api grid-selection safe-src="ctrl.tableData")
