.app-content-wrapper(flex ng-controller="AttendanceHisCtrl as ctrl")
    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 员工考勤记录表
                div(flex)
                md-button.md-primary.md-raised(
                    ng-if="ctrl.isDepartmentHr()"
                    ng-disabled="!ctrl.getSelected()"
                    nb-dialog
                    template-url="/partials/labors/attendance/edit.html"
                    locals="{current:ctrl.getSelected()}"
                ) 修改

        div(nb-grid column-defs="ctrl.columnDef" multi-select="false" export-api on-register-api="ctrl.exportGridApi(gridApi)" grid-selection safe-src="ctrl.attendances")

