tabset(flex)
    tab(heading="员工考勤")
        include user_list
    tab(heading="考勤历史记录")
        include history
    tab(heading="请假记录")
        include records
    tab(heading="考勤汇总")
        include statistics