md-dialog.attendance_new(ng-init="attendance = {};current = dialog.current;attendance.employeeId = current.id;")
    md-content
        form(flex ng-submit="ctrl.Attendance.$build(attendance).$save();dialog.close();")
            md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 新增考勤记录
            .dialog-content(layout layout-align="center")
                
                fieldset(flex)
                    div(layout)
                        md-input-container(flex)
                            label 员工姓名
                            input(ng-model="current.name" name="name" required disabled)
                    div(layout)
                        md-input-container.row-has-value(flex)
                            label 考勤类型
                            md-select(ng-model="attendance.recordType" required)
                                md-select-label {{attendance.recordType}}
                                md-option(value="迟到") 迟到
                                md-option(value="早退") 早退
                                md-option(value="旷工") 旷工
                                md-option(value="迟到") 空勤停飞
                                md-option(value="早退") 空勤地面工作
                                md-option(value="旷工") 驻站
                                md-option(value="迟到") 培训
                                md-option(value="早退") 出差
                                 
                    div(layout)
                        md-input-container(flex)
                            label 记录日期
                            input(bs-datepicker ng-model="attendance.recordDate" required)

            .md-actions
                md-button(type="button" ng-click='dialog.close()') 取 消
                md-button.md-primary.md-raised(type="submit") 确 定
