md-dialog.attendance-check(
    ng-init="ctrl = dialog.ctrl; opinion = ''; "
    )
    md-content
        form(ng-submit="ctrl.departmentLeaderCheck(opinion); dialog.close()")
            h3 考勤汇总审核
            p 确认本部门{{ctrl.year}}-{{ctrl.month}}考勤汇总通过审核，提交至人力资源部门
            input(ng-model="opinion" placeholder="请填写审批意见")

            .md-actions
                md-button(type="button" ng-click='dialog.close()') 取 消
                md-button.md-primary(type="submit") 确 定


