extends ./channels_layout.jade

block vars
    - var hasBaseInfo = true
    - var hasBaseSetting = true
    - var hasHoursFeeSetting = false
    - var hasPerformanceSetting = false
    - var hasAllowanceSetting = false
    - var hasCommunicate = true
    - var hasServiceCarSetting = true
    - var hasTempSetting = true

block base_info
    div(layout)
        md-input-container(flex)
            label 员工部门编码
            input(
                type="text" ng-model="exchangeCtrl.setBookData.dep_set_book_no" readonly)

        md-input-container(flex)
            label 员工账户
            input(
                type="text" ng-model="exchangeCtrl.setBookData.bank_no" name="bankNoInput" ng-change="exchangeCtrl.checkRegBankNo(exchangeCtrl.setBookData.bank_no, salaryPersonal)" maxLength="19" ng-readonly="!exchangeCtrl.editing")

    div(layout)
        md-input-container.row-has-value(flex)
            label 人员分类编码
            md-select(ng-model="exchangeCtrl.setBookData.employee_category" placeholder="请选择" ng-disabled="!exchangeCtrl.editing" ng-readonly="!exchangeCtrl.editing")
                md-option(value="空") 空
                md-option(value="A001") A001
                md-option(value="A002") A002
                md-option(value="A003") A003
                md-option(value="A004") A004
                md-option(value="A005") A005
                md-option(value="B001") B001
                md-option(value="B002") B002
                md-option(value="B003") B003
                md-option(value="B004") B004
                md-option(value="C001") C001

        md-input-container.row-has-value(flex)
            label 帐套
            md-select(ng-model="exchangeCtrl.setBookData.salary_category" placeholder="请选择" ng-disabled="!exchangeCtrl.editing" ng-readonly="!exchangeCtrl.editing")
                md-option(value="无") 无
                md-option(value="合同工") 合同工
                md-option(value="合同制") 合同制
                md-option(value="重庆合同工") 重庆合同工
                md-option(value="重庆合同制") 重庆合同制

block base_setting
    div(layout)
        h4 服务A通道员工，无薪酬设置项
    div(layout)
        md-checkbox(class="md-primary" ng-model="current.isSalarySpecial"  ng-disabled="!exchangeCtrl.editing") 薪酬特殊人员

//- block allowance_setting
//-     div(layout)
//-         md-input-container(flex)
//-             label 寒冷补贴
//-             input(type="number" min="0" max="1000000" ng-model="current.coldSubsidy" ng-disabled="!exchangeCtrl.editing")

block communicate_setting
    div(layout)
        md-input-container(flex)
            label 通讯补贴
            input(type="number" min="0" max="1000000" ng-model="current.communicateAllowance" ng-disabled="!exchangeCtrl.editing")

block service_car_setting
    div(layout)
        md-checkbox.md-primary(ng-model="current.isSendTransportFee" ng-disabled="!exchangeCtrl.editing") 是否发放交通费
    div(layout)
        md-input-container(flex)
            label 公务车报销额度
            input(type="number" min="0" max="1000000" ng-model="current.officialCar" ng-disabled="!exchangeCtrl.editing")

block temp_setting
    div(layout)
        md-input-container(flex)
            label 高温补贴
            input(type="number" min="0" max="1000000" ng-model="current.tempAllowance" ng-disabled="!exchangeCtrl.editing")
        div(flex)

