extends ../../../component/workflow/my_requests

block vars
    - var requestTitle = '合同续签'
    - var requestTip = '合同签订请点击对应列表的“查看”，在滑出窗体中填写续签意见'
    - var girdSelection = false

block tools
    span 合同续签




