#tab_1_11.tab-pane.active
  ul.mix-filter
    li.filter(ui-sref-active="active", ui-sref=".auditing") 待审核
    li.filter(ui-sref-active="active", ui-sref=".audited") 已通过

  div(ui-view="auditItemView")

