div.personnel-reward(ng-controller="EmployeeRewardPunishmentCtrl as ctrl")
    div(ng-init="current = panel.employee; ctrl.loadData(current);")
        md-card.nb-card()
            md-toolbar.toolbar--welfare
                .md-toolbar-tools
                    span 奖励
            .nb-card-content
                .punishItem
                    .punishItem__row(layout)
                        .punishItem__row__key 奖励时间
                        .punishItem__row__val 2015-9-8
                    .punishItem__row(layout)
                        .punishItem__row__key 奖励类别
                        .punishItem__row__val 经济奖励
                    .punishItem__row(layout)
                        .punishItem__row__key 奖励描述
                        .punishItem__row__val 员工见义勇为，保护乘客免受歹徒伤害，奖励 1000 美金以资鼓励。
                    .punishItem__row(layout)
                        .punishItem__row__key 奖励期限
                        .punishItem__row__val 2015-9-8 至 2016-9-8


        md-card.nb-card()
            md-toolbar.toolbar--welfare
                .md-toolbar-tools
                    span 处分
            .nb-card-content
                .punishItem(ng-repeat="item in ctrl.punishments")
                    .punishItem__row(layout)
                        .punishItem__row__key 处分时间
                        .punishItem__row__val {{item.createdAt}}
                    .punishItem__row(layout)
                        .punishItem__row__key 处分类别
                        .punishItem__row__val {{item.category}}
                    .punishItem__row(layout)
                        .punishItem__row__key 处分描述
                        .punishItem__row__val {{item.desc}}
                    .punishItem__row(layout ng-if="!!item.startDate && !!item.endDate")
                        .punishItem__row__key 处分期限
                        .punishItem__row__val {{item.startDate}} 至 {{item.endDate}}
                    md-divider
