md-dialog.hand_over(ng-init="params = {type:'departments'};")
    md-toolbar.md-accent(md-theme="hrms")
        .md-toolbar-tools
            span 移交
    form(ng-submit="transfer(params, dialog.flow, dialog, $parent.dialog)")
        md-content.sticky-container
            .dialog-content(md-theme="default")
                .hd-manner
                    md-radio-group(ng-model="params.type")
                        md-radio-button.md-primary(value="departments") 移交部门
                        md-radio-button.md-primary(value="reviewer") 移交个人
                        md-radio-button.md-primary(value="search_reviewer") 搜索个人
                .hd-unit-wrapper(layout ng-if="params.type == 'departments'")
                    .hd-choosing(flex)
                        .title 部门列表
                        .content
                            md-checkbox.md-primary(ng-repeat="org in reviewOrgs" ng-click="toggleSelect(org, selectedOrgs)") {{org.name}}
                                span(ng-if="exists(item, selected)") selected
                    div.hd-choosed(flex)
                        .title 已选择的部门
                        .content
                            div(ng-repeat="org in selectedOrgs track by $index") {{org.name}}
                .hd-unit-wrapper(ng-if="params.type == 'reviewer'")
                    .hd-choosing
                        .title 领导列表
                        .content
                            md-radio-group(ng-model="params.reviewer_id")
                                .hd__item(ng-repeat="reviewer in reviewers")
                                    md-radio-button.md-primary(ng-value="reviewer.id") {{ reviewer.name }} ( {{reviewer.department.name}} / {{reviewer.position.name}} )
                                    .hd__ctrl
                                        a.hd__ctrl__btn(href="#")
                                            img(src="/images/svg/close.svg")
                .hd-unit-wrapper(ng-if="params.type == 'search_reviewer'")
                    input.hd__searchbar(type="text" placeholder="请输入要查找的姓名")
                    .content
                        md-radio-group(ng-model="params.reviewer_id")
                            .hd__item(ng-repeat="reviewer in reviewers")
                                md-radio-button.md-primary(ng-value="reviewer.id") {{ reviewer.name }} ( {{reviewer.department.name}} / {{reviewer.position.name}} )
                                .hd__ctrl
                                    a.hd__ctrl__btn(href="#")
                                        img(src="/images/svg/plus.svg")



        .md-actions
            md-button.md-raised.white(type='button',ng-click='dialog.cancel()') 取消
            md-button.md-primary.md-raised(type='submit' ng-disabled="trans_form.$invalid") 确定