block vars

.workflow.md-background(md-theme="hrms")
    md-toolbar.md-warn(md-theme="hrms")
        .md-toolbar-tools
            span #{flowTitle}
    .personnel-content.personnel-control
        section.personnel-info-section
            md-content.nb-card-container(layout="column" md-theme="hrms")
                form(ng-controller="NewMyRequestCtrl" ng-submit="createFlow(request)" ng-init="request = initialFlow(#{flowType})")
                    md-card.form-material-section.nb-card
                        md-subheader.md-background.md-hue-1
                        flow-user-info
                        .flow-relations(flow-relation-data ng-model="request.relation_data")

                            block relation_data

                    md-card.form-material-section.nb-card
                        md-subheader.md-background.md-hue-1 申请信息
                        fieldset
                            block form

                    md-card.form-material-section.nb-card
                        md-subheader.superior-header.md-background.md-hue-1 提交上级
                        .superior-container
                            md-radio-group(ng-model="request.reviewer_id" md-theme="default")
                                md-radio-button.md-primary(
                                    ng-repeat="reviewer in ::ctrl.reviewers track by reviewer.id"
                                    ng-value="reviewer.id") {{ reviewer.name }} ( {{reviewer.department.name}} / {{reviewer.position.name}} )

                    .form-bottom-group(layout)
                        span(flex)
                        md-button.md-raised.white(type="button" ng-click="panel.close()") 取消
                        md-button.md-primary.md-raised(type="submit") 提交上级