section.personnel-info-section(ng-init="educations = currentUser.educationExperiences.$refresh();param= {}")
    .personnel-content-body
        .personnel-section-wrap()
            md-toolbar
                .md-toolbar-tools
                    span 教育经历（入司前）
                    span(flex)
                    span
                        md-button.md-raised.md-primary(ng-hide="param.newExp" ng-click="param.newExp= educations.$build({category:'before'})") 新增
            md-content(ng-if="param.newExp && param.newExp.category == 'before'" ng-init="newExp = param.newExp")
                .sep-40
                section.form-material-section
                    include edu/new_edu_exp_form

            md-content
                .sep-40
                section.form-material-section(ng-controller="EditableResource", ng-repeat="education in educations | filterBy: ['category']:'before'")
                    include edu/exist_edu_exp_form
                    md-divider(ng-show="!$last")

        .personnel-section-wrap()
            md-toolbar
                .md-toolbar-tools
                    span 教育经历（入司后）
                    span(flex)
            md-content
                .sep-40
                section.form-material-section(ng-controller="EditableResource", ng-repeat="education in educations | filterBy: ['category']:'after'")
                    include edu/scal_edu_exp_form
                    md-divider(ng-show="!$last")

//- section.personnel-info-section(ng-init="educations = currentUser.educationExperiences.$refresh();param= {}")
//-     .personnel-top-header.clearfix
//-         h4.pull-left 教育经历(入司前)
//-         button.btn.btn-default.pull-right(ng-click="param.newExp = {}") 新增
//-     .personnel-content-body
//-         .personnel-section-wrap
//-             section.personnel-info-control.clearfix(ng-if="param.newExp")
//-                 form.personnel-info-right.form-split(name="eduEditForm", ng-submit="educations.$create(param.newExp);param.newExp = null;")
//-                     .form-btn-group.alive
//-                         button.btn.btn-info(type="submit") 创建
//-                         button.btn.btn-default(ng-click="param.newExp = null") 取消
//-                     .form-group
//-                         label.control-label 入学日期：
//-                         input.form-control(ng-model="param.newExp.admissionDate", bs-datepicker)
//-                     .form-group
//-                         label.control-label 毕业时间：
//-                         input.form-control(ng-model="param.newExp.graduationDate", bs-datepicker)
//-                     .form-group
//-                         label.control-label 毕业院校：
//-                         input.form-control(ng-model="param.newExp.school")
//-                     .form-group
//-                         label.control-label 专业：
//-                         input.form-control(ng-model="param.newExp.major")
//-                     .form-group
//-                         label.control-label 学历：
//-                         nb-dropdown(ng-model="param.newExp.educationBackground", remote-key="education_backgrounds")
//-                     .form-group
//-                         label.control-label 学位：
//-                         nb-dropdown(ng-model="param.newExp.degree", remote-key="degrees")
//-                     .form-group
//-                         label.control-label 证明人：
//-                         input.form-control(ng-model="param.newExp.witness")
//-         .personnel-section-wrap(ng-controller="EditableResource", ng-repeat="education in educations | filterBy: ['category']:'before'")
//-             section.personnel-info-control.clearfix(ng-hide="editing")
//-                 .personnel-info-right.form-split
//-                     .form-btn-group
//-                         button.btn.btn-info(ng-click="edit()") 编辑
//-                         button.btn.btn-default(ng-click="education.$destroy()") 删除
//-                     .form-group
//-                         label.control-label 入学日期：
//-                         .form-content {{education.admissionDate | date:'yyyy-MM-dd'}}
//-                     .form-group
//-                         label.control-label 毕业时间：
//-                         .form-content {{education.graduationDate | date:'yyyy-MM-dd'}}
//-                     .form-group
//-                         label.control-label 毕业院校：
//-                         .form-content {{education.school}}
//-                     .form-group
//-                         label.control-label 专业：
//-                         .form-content {{education.major}}
//-                     .form-group
//-                         label.control-label 学历：
//-                         .form-content {{education.educationBackground.displayName}}
//-                     .form-group
//-                         label.control-label 学位：
//-                         .form-content {{education.degree.displayName}}
//-                     .form-group
//-                         label.control-label 证明人：
//-                         .form-content {{education.witness}}
//-             section.personnel-info-control.clearfix(ng-if="editing")
//-                 form.personnel-info-right.form-split(name="eduEditForm", ng-submit="save(education.$save())")
//-                     .form-btn-group.alive
//-                         button.btn.btn-info(type="submit" ng-disabled="eduEditForm.$invalid") 保存
//-                         button.btn.btn-default(ng-click="cancel(current, $event)") 取消
//-                     .form-group
//-                         label.control-label 入学日期：
//-                         input.form-control(ng-model="education.admissionDate", bs-datepicker)
//-                     .form-group
//-                         label.control-label 毕业时间：
//-                         input.form-control(ng-model="education.graduationDate", bs-datepicker)
//-                     .form-group
//-                         label.control-label 毕业院校：
//-                         input.form-control(ng-model="education.school")
//-                     .form-group
//-                         label.control-label 专业：
//-                         input.form-control(ng-model="education.major")
//-                     .form-group
//-                         label.control-label 学历：
//-                         nb-dropdown(ng-model="education.educationBackground", remote-key="education_backgrounds")
//-                     .form-group
//-                         label.control-label 学位：
//-                         nb-dropdown(ng-model="education.degree", remote-key="degrees")
//-                     .form-group
//-                         label.control-label 证明人：
//-                         input.form-control(ng-model="education.witness")

//- section.personnel-info-section(ng-init="educations = currentUser.educationExperiences.$refresh();param= {}")
//-     .personnel-top-header.clearfix
//-         h4.pull-left 教育经历（入司后）
//-     .personnel-content-body
//-         .personnel-section-wrap(ng-repeat="education in educations | filterBy: ['category']:'after'")
//-             section.personnel-info-control.clearfix
//-                 .personnel-info-right.form-split
//-                     .form-group
//-                         label.control-label 入学日期：
//-                         .form-content(ng-bind="education.admissionDate")
//-                     .form-group
//-                         label.control-label 毕业时间：
//-                         .form-content(ng-bind="education.graduationDate")
//-                     .form-group
//-                         label.control-label 毕业院校：
//-                         .form-content(ng-bind="education.school")
//-                     .form-group
//-                         label.control-label 专业：
//-                         .form-content(ng-bind="education.major")
//-                     .form-group
//-                         label.control-label 学历：
//-                         .form-content(ng-bind="education.educationBackground.displayName")
//-                     .form-group
//-                         label.control-label 学位：
//-                         .form-content(ng-bind="education.degree.displayName")
//-                     .form-group
//-                         label.control-label 证明人：
//-                         .form-content(ng-bind="education.witness")

