section.personnel-info-section(ng-init="educations = currentUser.educationExperiences.$refresh();param= {}")
    .personnel-content-body
        .personnel-section-wrap
            .btngroup--top--right(ng-hide="param.newExp")
                span(flex)
                span
                    md-button.md-raised.md-primary(ng-click="param.newExp= educations.$build({category:'before'})") 新增
            md-content.pt-30(ng-if="param.newExp && param.newExp.category == 'before'" ng-init="newExp = param.newExp")
                .subheader--center.subheader--margin30
                    .subheader__content
                        span.subheader__icon
                            img(src="/images/personnel/subh-icon.png", alt="icon--plane")
                        span 新增教育经历(入司前)
                section.form-material-section
                    include edu/new_edu_exp_form

            md-content
                .subheader--center.subheader--margin30
                    .subheader__content
                        span.subheader__icon
                            img(src="/images/personnel/subh-icon.png", alt="icon--plane")
                        span 入司前
                section.form-material-section(ng-controller="EditableResourceCtrl", ng-repeat="education in educations | filterBy: ['category']:'before'")
                    include edu/exist_edu_exp_form

        .personnel-section-wrap()
            .subheader--center.subheader--margin30
                .subheader__content
                    span.subheader__icon
                        img(src="/images/personnel/subh-icon.png", alt="icon--plane")
                    span 入司后
                section.form-material-section(ng-controller="EditableResourceCtrl", ng-repeat="education in educations | filterBy: ['category']:'after'")
                    .sep-40
                    include edu/scal_edu_exp_form
                .sep-40
