section.personnel-info-section(ng-init="experiences = currentUser.workExperiences.$refresh();param= {}")
    .personnel-content-body
        .personnel-section-wrap()
            md-toolbar
                .md-toolbar-tools
                    span 工作经历（入司前）
                    span(flex)
                    span
                        md-button.md-raised.md-primary(ng-hide="param.newExp" ng-click="param.newExp= experiences.$build({category:'before'})") 新增

            md-content.pt-16(ng-if="param.newExp && param.newExp.category == 'before'" ng-init="newExp = param.newExp")
                section.form-material-section
                    .sep-40
                    include experience/new_work_exp_form

            md-content.pt-16
                section.form-material-section(ng-controller="EditableResource", ng-repeat="work in experiences | filterBy: ['category']:'before'")
                    .sep-40
                    include experience/exit_work_exp_form
        .personnel-section-wrap()
            md-toolbar
                .md-toolbar-tools
                    span 工作经历（入司后）
                    span(flex)
            md-content.pt-16
                section.form-material-section(ng-controller="EditableResource", ng-repeat="work in experiences | filterBy: ['category']:'after'")
                    .sep-40
                    include experience/scal_work_exp_form

//- section.personnel-info-section(ng-init="experiences = currentUser.workExperiences.$fetch();param= {}")
//-     .personnel-top-header.clearfix
//-         h4.pull-left 工作经历(入司前)
//-         button.btn.btn-default.pull-right(ng-click="param.newExp={}") 新增
//-     .personnel-content-body
//-         .personnel-section-wrap
//-             section.personnel-info-control.clearfix(ng-if="param.newExp")
//-                 form.personnel-info-right.form-split(name="workEditForm", ng-submit="experiences.$create(param.newExp);param.newExp=null;")
//-                     .form-btn-group.alive
//-                         button.btn.btn-info(type="submit") 创建
//-                         button.btn.btn-default(ng-click="param.newExp = null") 取消
//-                     .form-group
//-                         label.control-label 单位名称：
//-                         input.form-control(ng-model="param.newExp.company")
//-                     .form-group
//-                         label.control-label 任职部门：
//-                         input.form-control(ng-model="param.newExp.department")
//-                     .form-group.block
//-                         label.control-label 开始时间：
//-                         input.form-control(ng-model="param.newExp.startDate" bs-datepicker)
//-                     .form-group.block
//-                         label.control-label 结束时间：
//-                         input.form-control(ng-model="param.newExp.endDate" bs-datepicker)
//-                     .form-group.block
//-                         label.control-label 担任职位：
//-                         input.form-control(ng-model="param.newExp.position")
//-                     .form-group.block
//-                         label.control-label 工作描述：
//-                         input.form-control(ng-model="param.newExp.jobDesc")
//-                     .form-group.block
//-                         label.control-label 证明人：
//-                         input.form-control(ng-model="param.newExp.witness")
//-         .personnel-section-wrap(ng-controller="EditableResource", ng-repeat="work in experiences | filterBy: ['category']:'before'")
//-             section.personnel-info-control.clearfix(ng-hide="editing")
//-                 .personnel-info-right.form-split
//-                     .form-btn-group
//-                         button.btn.btn-info(ng-click="edit()") 编辑
//-                         button.btn.btn-default(ng-click="work.$destroy()") 删除
//-                     .form-group
//-                         label.control-label 开始时间：
//-                         .form-content(ng-bind="work.startDate | date:'yyyy-MM-dd'")
//-                     .form-group
//-                         label.control-label 结束时间：
//-                         .form-content(ng-bind="work.endDate | date:'yyyy-MM-dd'")
//-                     .form-group
//-                         label.control-label 单位名称：
//-                         .form-content(ng-bind="work.company")
//-                     .form-group
//-                         label.control-label 任职部门：
//-                         .form-content(ng-bind="work.department")
//-                     .form-group
//-                         label.control-label 担任职位：
//-                         .form-content(ng-bind="work.position")
//-                     .form-group
//-                         label.control-label 工作描述：
//-                         .form-content(ng-bind="work.jobDesc")
//-                     .form-group
//-                         label.control-label 证明人：
//-                         .form-content(ng-bind="work.witness")
//-             section.personnel-info-control.clearfix(ng-if="editing")
//-                 form.personnel-info-right.form-split(name="eduEditForm", ng-submit="save(work.$save())")
//-                     .form-btn-group.alive
//-                         button.btn.btn-info(type="submit") 保存
//-                         button.btn.btn-default(ng-click="cancel(current, $event)") 取消
//-                     .form-group
//-                         label.control-label 开始时间：
//-                         input.form-control(ng-model="work.startDate" bs-datepicker)
//-                     .form-group
//-                         label.control-label 结束时间：
//-                         input.form-control(ng-model="work.endDate" bs-datepicker)
//-                     .form-group
//-                         label.control-label 单位名称：
//-                         input.form-control(ng-model="work.company")
//-                     .form-group
//-                         label.control-label 任职部门：
//-                         input.form-control(ng-model="work.department")
//-                     .form-group.block
//-                         label.control-label 担任职位：
//-                         input.form-control(ng-model="work.position")
//-                     .form-group.block
//-                         label.control-label 工作描述：
//-                         input.form-control(ng-model="work.jobDesc")
//-                     .form-group.block
//-                         label.control-label 证明人：
//-                         input.form-control(ng-model="work.witness")




//- section.personnel-info-section(ng-init="experiences = currentUser.workExperiences.$fetch();param= {}")
//-     .personnel-top-header.clearfix
//-         h4.pull-left 工作经历（入司后）
//-     .personnel-content-body
//-         .personnel-section-wrap(ng-repeat="work in experiences | filterBy: ['category']:'after'")
//-             section.personnel-info-control.clearfix
//-                 .personnel-info-right.form-split
//-                     .form-group
//-                         label.control-label 开始时间：
//-                         .form-content(ng-bind="work.startDate | date:'yyyy-MM-dd'")
//-                     .form-group
//-                         label.control-label 结束时间：
//-                         .form-content(ng-bind="work.endDate | date:'yyyy-MM-dd'")
//-                     .form-group
//-                         label.control-label 单位名称：
//-                         .form-content(ng-bind="work.company")
//-                     .form-group
//-                         label.control-label 任职部门：
//-                         .form-content(ng-bind="work.department")
//-                     .form-group
//-                         label.control-label 担任职位：
//-                         .form-content(ng-bind="work.position")
//-                     .form-group
//-                         label.control-label 工作描述：
//-                         .form-content(ng-bind="work.jobDesc")
//-                     .form-group
//-                         label.control-label 证明人：
//-                         .form-content(ng-bind="work.witness")
