.app-content-wrapper.personnel-info
    .personnel-menu.app-aside
        .avator
            .avator-area
            h3(ng-bind="currentUser.name")
            p(ng-bind="currentUser.employeeNo")
        .personnel-info-list
            ul
                li(ui-sref-active="active")
                    a(ui-sref=".basic")
                        span.switch-circle
                        | 基本信息
                li(ui-sref-active="active")
                    a(ui-sref=".members")
                        span.switch-circle
                        | 家庭成员
                li(ui-sref-active="active")
                    a(ui-sref=".education")
                        span.switch-circle
                        | 教育经历
                li(ui-sref-active="active")
                    a(ui-sref=".experience")
                        span.switch-circle
                        | 工作经历
                li
                    span.switch-circle
                    | 任职记录
                li
                    span.switch-circle
                    | 培训记录
                li
                    span.switch-circle
                    | 奖惩记录
                li
                    span.switch-circle
                    | 考勤信息
                li
                    span.switch-circle
                    | 绩效考核
                li
                    span.switch-circle(ui-sref="^.resume")
                    | 档案信息
    .personnel-content.pull-left
        div(ui-view="detail")
        //- include info_basic
        //- include info_detail



