md-button(nb-dialog template-url="partials/self/attendance/ask_for_leave.html") 我要请假
md-button(nb-dialog template-url="partials/self/attendance/leave_revocation.html") 我要撤销假
md-button(nb-dialog template-url="partials/self/attendance/offset_leave.html") 我要冲抵
md-button(nb-dialog template-url="partials/self/attendance/check_in.html") 我要销假
md-button(nb-dialog template-url="partials/self/attendance/adjust_position.html") 我要调岗
md-button(nb-dialog template-url="partials/self/attendance/early_retirement.html") 我要退养