.app-content-wrapper(flex ng-init="param= {}")
    .personnel-content-body
        .personnel-section-wrap()
            md-toolbar
                .md-toolbar-tools
                    span 调岗申请

            md-content
                section
                    fieldset(disabled)
                        div(layout)
                            md-input-container(flex)
                                label 姓名
                                input(ng-model="current.name" name="name")
                            md-input-container(flex)
                                label 员工编号
                                input(ng-model="current.name" name="name")
                        div(layout)
                            md-input-container(flex)
                                label 学士
                                input(ng-model="current.name" name="name")
                            md-input-container(flex)
                                label 学历
                                input(ng-model="current.name" name="name")
                        div(layout)
                            md-input-container(flex)
                                label 当前机构
                                input(ng-model="current.name" name="name")
                            md-input-container(flex)
                                label 当前岗位
                                input(ng-model="current.name" name="name")
                        div(layout)
                            md-input-container(flex)
                                label 通道
                                input(ng-model="current.name" name="name")
                            md-input-container(flex)
                                label 英语等级
                                input(ng-model="current.name" name="name")
                        div(layout)
                            md-input-container(flex)
                                label 当前岗位工作年限
                                input(ng-model="current.name" name="name")
                            md-input-container(flex)
                                label 最近6个月绩效
                                input(ng-model="current.name" name="name")
                md-divider
                section.form-material-section
                    form(ng-controller="NewResourceCtrl", ng-submit="create(param.infoData, infoForm); param.infoData = null" name="infoForm")
                        md-input-container.row-has-value(flex)
                            label 转入机构
                            md-select(ng-model="current.gender" md-on-open="loadEnum('genders')" required)
                                md-option(ng-value="gender" ng-repeat="gender in enums.genders track by gender.id") {{gender.displayName}}
                        md-input-container.row-has-value(flex)
                            label 转入岗位
                            md-select(ng-model="current.gender" md-on-open="loadEnum('genders')" required)
                                md-option(ng-value="gender" ng-repeat="gender in enums.genders track by gender.id") {{gender.displayName}}
                        md-input-container.row-has-value(flex)
                            label 转入岗位通道
                            md-select(ng-model="current.gender" md-on-open="loadEnum('genders')" required)
                                md-option(ng-value="gender" ng-repeat="gender in enums.genders track by gender.id") {{gender.displayName}}
                        md-input-container.row-has-value(flex)
                            label 试岗时长
                            md-select(ng-model="current.gender" md-on-open="loadEnum('genders')" required)
                                md-option(ng-value="gender" ng-repeat="gender in enums.genders track by gender.id") {{gender.displayName}}
                        md-input-container
                            label 申请理由
                            textarea(ng-model="current.name")
                        md-divider

                        .form-btn-group.alive
                            md-button.md-raised.white(ng-click="param.infoData = null") 取消
                            md-button.skyblue.md-raised(type="submit") 提交

