md-dialog.employee_move(ng-controller="EditableResourceCtrl" style="min-width: 400px;")
    md-toolbar.md-accent(md-theme="hrms")
        .md-toolbar-tools
            span 工作餐变动处理
    form(ng-submit="save(change.$save(), change_deal_form); dialog.close();" name="change_deal_form")
        md-content(ng-init=" ctrl = dialog.ctrl; change = dialog.change.$refresh();")
            fieldset
                div(layout)
                    md-input-container(flex)
                        label 姓名
                        input(ng-model="::change.employeeName" readonly)
                    md-input-container(flex)
                        label 员工编号
                        input(ng-model="::change.employeeNo" readonly)
                div(layout)
                    md-input-container(flex)
                        label 机构
                        input(ng-model="::change.employeeName" readonly)
                    md-input-container(flex)
                        label 岗位
                        input(ng-model="::change.employeeNo" readonly)
                div(layout)
                    md-input-container(flex)
                        label 分类
                        input(ng-model="::change.employeeName" readonly)
                    md-input-container(flex)
                        label 属地
                        input(ng-model="::change.employeeNo" readonly)

                div(layout)
                    md-input-container.row-has-value(flex)
                        label 班制
                        md-select(
                            ng-model="change.shiftsType"
                            required)
                            md-option(value="行政班") 行政班
                            md-option(value="两班倒") 两班倒
                            md-option(value="三班倒") 三班倒
                            md-option(value="四班倒") 四班倒
                            md-option(value="空勤") 空勤
                    md-input-container.row-has-value(flex)
                        label 餐费区域
                        md-select(
                            ng-model="change.area"
                            required)
                            md-option(ng-value="area" ng-repeat="area in ctrl.areas") {{area}}

                div(layout)
                    md-input-container(flex)
                        label 卡金额
                        input(ng-model="change.cardAmount" required type="number")
                    md-input-container(flex)
                        label 现金
                        input(ng-model="change.workingFee" required type="number")

                div(layout)
                    md-input-container(flex)
                        label 早餐次数
                        input(ng-model="change.breakfastNumber" required type="number")
                    md-input-container(flex)
                        label 午餐次数
                        input(ng-model="change.lunchNumber" required type="number")
                    md-input-container(flex)
                        label 晚餐次数
                        input(ng-model="change.dinnerNumber" required type="number")

        .md-actions
            md-button(type="button" ng-click="cancel(current, $event, change_deal_form);dialog.close()") 取 消
            md-button.md-primary.md-raised(type="submit") 确 定


