section.personnel-info-section
    .personnel-top-header
        h4.pull-left 基本人事信息
        .btn-group.pull-right
            button.btn.btn-default(ui-sref="personnel.detail.editing({template: 'basic'})") 编辑
    .personnel-content-body
        section.personnel-info-control.clearfix
            .personnel-info-left.pull-left
                .personnel-item-icon.personnel-item1
                .personnel-item-desc.bg-success 基本信息
            .personnel-info-right.editor-style.pull-left
                table
                    tbody
                        tr
                            th 员工编号：
                            td {{::currentUser.employeeNo}}
                            th 性别：
                            td {{::currentUser.gender.displayName}}
                        tr
                            th 姓名：
                            td {{::currentUser.name}}
                            th 学历：
                            td {{::currentUser.educationBackground.displayName}}
                        tr
                            th 身份证号：
                            td {{::currentUser.identityNo}}
                            th 联系方式：
                            td {{::currentUser.contact.mobile}}
                        tr
                            th 政治面貌：
                            td {{::currentUser.politicalStatus.displayName}}
        section.personnel-info-control.clearfix
            .personnel-info-left.pull-left
                .personnel-item-icon.personnel-item2
                .personnel-item-desc.bg-primary 岗位信息
            .personnel-info-right.editor-style.pull-left
                table
                    tbody
                        tr
                            th 所属部门：
                            td {{::currentUser.department.name}}
                            th 岗位：
                            td {{::currentUser.position.name}}
                        tr
                            th 分类：
                            td {{::currentUser.category.displayName}}
                            th 通道：
                            td {{::currentUser.channel.displayName}}
                        tr
                            th 类别：
                            td {{::currentUser.position.postType}}
                            th 用工性质：
                            td {{::currentUser.laborRelation.nature.displayName}}
                        tr
                            th 属地化地点：
                            td {{::currentUser.location.displayName}}
                            th 用工关系状态：
                            td 字段未知
        section.personnel-info-control.clearfix
            .personnel-info-left.pull-left
                .personnel-item-icon.personnel-item3
                .personnel-item-desc.bg-info 职称信息
            .personnel-info-right.editor-style.pull-left
                table
                    tbody
                        tr
                            th 职称：
                            td {{::currentUser.skill.technicalTitles}}
                            th 技术职务：
                            td {{::currentUser.skill.technicalPosts}}
                        tr
                            th 职称职级：
                            td {{::currentUser.skill.technicalRanks}}
                            th 职称级别：
                            td {{::currentUser.skill.technicalLevels}}