div.echarts-wrapper(ng-if="ctrl.initialDataCompleted")
	div.charts-toolbar(layout)

		span(flex)
		.date-selector(layout)
			md-select(style="width: 150px;" ng-model="ctrl.currentYear" ng-change="ctrl.loadChartData()" placeholder="请选择")
				md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
			label(flex-order="2") 年
			md-select(ng-model="ctrl.currentMonth" ng-change="ctrl.loadChartData()" placeholder="请选择")
				md-option(ng-value="item" ng-repeat="item in ctrl.month_list track by $index" ng-bind="item")
			label(flex-order="3") 月

	//- ng-echarts.echarts-bar(
	//- 	ec-config="ctrl.barConfig"
	//- 	ec-option="ctrl.barOption"
	//- 	nb-dialog
	//- 	template-url="partials/shared/boss_datas/labors/labors_new_leave_dialog.html"
	//- 	locals="{}"
	//- )
