tabset(flex)
    tab(heading="合同列表")
        .app-content-wrapper(flex style="height: 700px;")
            div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
            div.ui-grid-container
                md-toolbar
                    .md-toolbar-tools
                        h2 合同列表
                        div(flex)
                        md-button.md-primary.md-raised(
                        ) 发起离职
                        md-button.md-primary.md-raised(
                        ) 发起续签
                        md-button.md-primary.md-raised(
                        ) 新建合同
                div(nb-grid column-defs="ctrl.columnDef" safe-src="ctrl.contracts")


    tab(heading="历史记录")
        include contract_histroy

    tab(heading="待处理")
