.know-content-next{margin-top: 30px;margin-left: -8px;margin-right: -8px;}
.know-imgdiv{background-image: url(../img/knowledge_search_img.png);background-size:100% 100%;background-repeat: no-repeat;background-position: center;height:265px;text-align:center;line-height:90px;vertical-align: middle;}
.know-name-p{font-size:30px;padding-top:79px;margin-left:75px;color:#8a8989;font-weight:500;font-family: "微软雅黑"}
.know-search-div{margin-left: 24%;}
.know-search-div input{width:60%;height:41px;border:none;float:left;outline: none;line-height: 21px;}
.fa-search-btn{width: 60px;height: 41px;background-color: #E46967;border:none;float: left;color: white;outline: none;}
.fa-search-btn i{font-size: 23px;}
.new-document-but{float:right;margin-top:-31px;border:none;outline: none;background-color:#e46967;color:white;display:block;width:120px;height:26px;font-size:15px;}
.group-name{margin-left: 10px;color:red;font-weight: 600;color:#615a5a;}
.group-ui:nth-child(1){border-left: 4px solid #e9797a;}
.group-ui:nth-child(2){border-left: 4px solid #b0d4f3;}
.group-ui li:nth-child(1){margin-left: 10px;}
.know-dsk-number{color: #e37f7e;height: 33px;font-size: 15px;margin-top: 8px;}
.know-dsh-img{margin-left: 10px;margin-top: -5px;}
.know-table tbody tr td img{width: 29px;height: 29px;}
.know-table tbody tr td{height:40px;padding-top: 15px;}
.know-public-name,.know-public-name:hover{color: #808081;}
.know-public-name:active{color: #000;}
.know-class{color: #6D6C6C;}
.know-state{font-size: 15px;cursor: pointer;float:right}
.know-index-date{margin-top:6px;}
