md-dialog(flow-init="{target: '/api/me/upload_favicon', uploadMethod:'PUT', testChunks:false, singleFile:true}"
    flow-file-success="ctrl.updateFavicon();dialog.close();"
)
    md-toolbar.md-accent(md-theme="hrms")
        .md-toolbar-tools
            h3 头像设置
            span(flex)
            md-button.pull-right.md-primary(ng-click="dialog.close()") 关闭
    md-content.avator-edit-body(layout style="margin:7px;overflow:hidden")
        .src-avator.avator-offset.first(style="height:360px;")
            .avator-upload-box.avator-box(ng-hide="$flow.files.length" style="height:220px;")
                div
                    button.btn.btn-default.btn-avator-add(href="javascript:;" flow-btn flow-attrs="{accept:'image/*'}")
                        i.fa.fa-plus
                        |选择图片
                    p 图片只支持JPG,PNG格式（建议上传一寸照片）
            .src-avator-container.avator-box(ng-show="$flow.files.length")
                img(flow-img="$flow.files[0]" style="width:360px;height:360px;")
        .avator-preview.avator-offset(style="width:132px;height:360px;")
            p 预览
            //- 110px
            .big-avator.avator-preview-item.first
                img(ng-if="!$flow.files.length" ng-src="{{currentUser.favicon.big}}")
                img(ng-if="$flow.files.length" flow-img="$flow.files[0]")
            //- 72px
            .mid-avator.avator-preview-item
                img(ng-if="!$flow.files.length" ng-src="{{currentUser.favicon.middle}}")
                img(ng-if="$flow.files.length" flow-img="$flow.files[0]")
            //- 40px
            .sml-avator.avator-preview-item
                img(ng-if="!$flow.files.length" ng-src="{{currentUser.favicon.small}}")
                img(ng-if="$flow.files.length" flow-img="$flow.files[0]")
        //- div
        //-     a.btn(href="javascript:;" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}") 选择图片
        //-     a.btn(href="javascript:;" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}") 更改图片
        //-     a.btn.btn-danger(href="javascript:;" ng-show="$flow.files.length" ng-click="$flow.cancel()") 删除图片

    .modal-footer.avator-footer.clearfix(style="border:none;padding-bottom:20px;")
        md-button.pull-right.md-primary.md-raised(ng-click="$flow.upload()") 确 定
        md-button.pull-right(ng-click='dialog.close()') 取 消

