form(ng-submit="save(currentUser.$save())" )
    section.personnel-info-control.clearfix
        .personnel-info-left
            .personnel-item-icon.personnel-item1
            .personnel-item-desc.bg-success 基本信息
        .personnel-info-right.form-split
                .form-btn-group
                    button.btn.btn-info(type="submit") 保存
                    button.btn.btn-default(ng-click="cancel(currentUser, $event)") 取消
                .form-group.block
                    label.control-label 姓名：
                    input.form-control(ng-model="currentUser.name")
                .form-group
                    label.control-label 性别：
                    nb-dropdown.form-content(ng-model="currentUser.gender", remote-key="genders")
                .form-group
                    label.control-label 籍贯：
                    input.form-control(ng-model="currentUser.nativePlace")
                .form-group
                    label.control-label 民族：
                    nb-dropdown.form-content(ng-model="currentUser.nation", remote-key="nations")
                .form-group
                    label.control-label 出生地：
                    input.form-control(ng-model="currentUser.birthPlace")
                .form-group
                    label.control-label 身份证号：
                    input.form-control(ng-model="currentUser.identityNo")
                .form-group
                    label.control-label 婚姻状况：
                    nb-dropdown.form-content(ng-model="currentUser.maritalStatus", remote-key="marital_status")
    section.personnel-info-control.clearfix
        .personnel-info-left
            .personnel-item-icon.personnel-item1
            .personnel-item-desc.bg-success 联系方式
        .personnel-info-right.form-split
                .form-group.block
                    label.control-label 固定电话：
                    input.form-control(ng-model="currentUser.contact.telephone")
                .form-group
                    label.control-label 手机号码：
                    input.form-control(ng-model="currentUser.contact.mobile")
                .form-group
                    label.control-label 家庭住址：
                    input.form-control(ng-model="currentUser.contact.address")
                .form-group
                    label.control-label 通信地址：
                    input.form-control(ng-model="currentUser.contact.mailingAddress")
                .form-group
                    label.control-label 通信地址邮编：
                    input.form-control(ng-model="currentUser.contact.postcode")
                .form-group
                    label.control-label 电子邮箱：
                    input.form-control(ng-model="currentUser.contact.email")
    section.personnel-info-control.clearfix
        .personnel-info-left
            .personnel-item-icon.personnel-item2
            .personnel-item-desc.bg-success 其他信息
        .personnel-info-right.break-lines
                .form-group
                    label.control-label 何年何月在何处工作
                    input.form-control(ng-model="currentUser.personnelInfo.desc1")
                .form-group
                    label.control-label 何年何月由何人介绍加入中国共产党，何时转正
                    input.form-control(ng-model="currentUser.personnelInfo.desc2")
                .form-group
                    label.control-label 何年何月加入中国共产主义青年团
                    input.form-control(ng-model="currentUser.personnelInfo.desc3")
                .form-group
                    label.control-label 何年何月由何人介绍加入何民主党派，任何职务
                    input.form-control(ng-model="currentUser.personnelInfo.desc4")
                .form-group
                    label.control-label 何年经何机关审批任何种专业技术职务或取得何种任职资格
                    input.form-control(ng-model="currentUser.personnelInfo.desc5")
                .form-group
                    label.control-label 何年何月何机关授予何种军、警衔
                    input.form-control(ng-model="currentUser.personnelInfo.desc6")
                .form-group
                    label.control-label 有何业务专长、重要发明创造、科研成果、著作译作
                    input.form-control(ng-model="currentUser.personnelInfo.desc7")
                .form-group
                    label.control-label 何时何处参加何种社会团体，任何职务
                    input.form-control(ng-model="currentUser.personnelInfo.desc8")
                .form-group
                    label.control-label 有何宗教信仰
                    input.form-control(ng-model="currentUser.personnelInfo.desc9")
                .form-group
                    label.control-label 何年何月出国（境）参加重大国际性活动的情况
                    input.form-control(ng-model="currentUser.personnelInfo.desc10")
                .form-group
                    label.control-label 掌握何种外语或少数民族语言及其他技能情况
                    input.form-control(ng-model="currentUser.personnelInfo.desc11")
                .form-group
                    label.control-label 何时何处受过何种奖励
                    input.form-control(ng-model="currentUser.personnelInfo.desc12")
                .form-group
                    label.control-label 何时何处何原因受过何种处分
                    input.form-control(ng-model="currentUser.personnelInfo.desc13")
