section.personnel-info-section
    .personnel-top-header
        h4.pull-left 基本人事信息
    .personnel-content-body
        //- div.personnel-section-wrap()
        //-     include self_info_basic_section
        section.personnel-info-control.clearfix
            .personnel-info-left.pull-left
                .personnel-item-icon.personnel-item1
                .personnel-item-desc.bg-success 基本信息
            .personnel-info-right.editor-style.pull-left
                form.form-split
                    .form-group
                        label.control-label 员工编号：
                        .form-content 3456789
                    .form-group
                        label.control-label 性别：
                        .form-content 男

