section.personnel-info-control.clearfix
    .personnel-info-left
        .personnel-item-icon.personnel-item1
        .personnel-item-desc.bg-success 基本信息
    .personnel-info-right.form-split
        .form-btn-group
            button.btn.btn-default(ng-click="edit()") 编辑
        .form-group.block
            label.control-label 员工编号：
            .form-content {{currentUser.employeeNo}}
        .form-group
            label.control-label 姓名：
            .form-content {{currentUser.name}}
        .form-group
            label.control-label 性别：
            .form-content {{currentUser.gender.displayName}}
        .form-group
            label.control-label 身份证号：
            .form-content {{currentUser.identityNo}}
        .form-group
            label.control-label 政治面貌：
            .form-content {{currentUser.politicalStatus.displayName}}
        .form-group
            label.control-label 学历：
            .form-content {{currentUser.educationBackground.displayName}}
        .form-group
            label.control-label 学位：
            .form-content {{currentUser.degree.displayName}}
        .form-group
            label.control-label 毕业院校：
            .form-content {{currentUser.school}}
        .form-group
            label.control-label 专业：
            .form-content {{currentUser.major}}
        .form-group
            label.control-label 英语等级：
            .form-content {{currentUser.englishLevel.displayName}}
        .form-group
            label.control-label 联系方式：
            .form-content {{currentUser.contactWay.mobile}}
