form(ng-controller="EditableResource", ng-submit="save(currentUser.$save(), infoForm)" name="infoForm")
    md-toolbar
        .md-toolbar-tools
            span 基本信息
            span(flex)
            span(ng-hide="editing")
                md-button.md-raised.white(ng-click="edit($event)") 编辑
            span(ng-show="editing")
                md-button.md-raised.white(ng-click="cancel(currentUser, $event, infoForm)") 取消
                md-button.md-raised.skyblue(type="submit" style="margin-left: 20px") 保存
    md-content
        section.form-material-section
            md-subheader.md-primary 个人信息
            fieldset(ng-disabled="!editing")
                div(layout)
                    md-input-container(flex)
                        div.anth-attr(title="该属性需要审核" ng-class="{auditing: currentUser.$meta.auditing}")
                        label 姓名
                        input(ng-model="currentUser.name" name="name" required)
                    md-input-container(flex)
                        label 员工编号
                        input(disabled ng-model="currentUser.employeeNo")
                div(layout)
                    md-input-container.row-has-value(flex)
                        label 性别
                        md-select(ng-model="currentUser.genderId" ng-disabled="!editing")
                            md-select-label {{$enum.parseLabel(currentUser.genderId, "genders")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('genders')") {{item.label}}
                    md-input-container.row-has-value(flex)
                        label 民族
                        md-select(ng-model="currentUser.nationId" ng-disabled="!editing")
                            md-select-label {{$enum.parseLabel(currentUser.nationId, "nations")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('nations')") {{item.label}}
                    md-input-container(flex)
                        label 籍贯
                        input(ng-model="currentUser.nativePlace" name="nativePlace" required)
                div(layout)
                    md-input-container(flex)
                        label 出生地
                        input(ng-model="currentUser.birthPlace" name="birthPlace" required)
                    md-input-container(flex)
                        label 身份证号
                        input(ng-model="currentUser.identityNo" name="identityNo" required)
                div(layout)
                    md-input-container.row-has-value(flex)
                        label 婚姻状况
                        md-select(ng-model="currentUser.maritalStatusId" ng-disabled="!editing")
                            md-select-label {{$enum.parseLabel(currentUser.maritalStatusId, "marital_status")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('marital_status')") {{item.label}}
                    md-input-container.row-has-value(flex)
                        label 政治面貌
                        md-select(ng-model="currentUser.politicalStatusId" ng-disabled="!editing")
                            md-select-label {{$enum.parseLabel(currentUser.politicalStatusId, "political_status")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('political_status')") {{item.label}}
                div(layout)
                    md-input-container.row-has-value(flex)
                        label 学历
                        md-select(ng-model="currentUser.educationBackgroundId" disabled)
                            md-select-label {{$enum.parseLabel(currentUser.educationBackgroundId, "education_backgrounds")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('education_backgrounds')") {{item.label}}
                    md-input-container.row-has-value(flex)
                        label 学位
                        md-select(ng-model="currentUser.degreeId" disabled)
                            md-select-label {{$enum.parseLabel(currentUser.degreeId, "degrees")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('degrees')") {{item.label}}
                div(layout disabled)
                    md-input-container(flex)
                        label 毕业院校
                        input(ng-model="currentUser.school" name="school" disabled)
                    md-input-container(flex)
                        label 专业
                        input(ng-model="currentUser.major" name="major" disabled)
                div(layout disabled)
                    md-input-container(flex).row-has-value
                        label 英语等级
                        md-select(ng-model="currentUser.englishLevelId" disabled)
                            md-select-label {{$enum.parseLabel(currentUser.englishLevelId, "english_levels")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('english_levels')") {{item.label}}
                    md-input-container(flex)
                        label 到岗时间
                        input(ng-model="currentUser.joinScalDate" name="joinScalDate" disabled)
                md-input-container.row-has-value(flex)
                    label 参工时间
                    input(ng-model="currentUser.startWorkDate" name="startWorkDate" disabled)

            md-divider

            md-subheader.md-primary 联系方式
            fieldset(ng-disabled="!editing")
                div(layout)
                    md-input-container(flex)
                        label 固定电话
                        input(ng-model="currentUser.contact.telephone" name="telephone")
                    md-input-container(flex)
                        label 手机号码
                        input(ng-model="currentUser.contact.mobile" name="mobile")
                div(layout)
                    md-input-container(flex)
                        label 家庭住址
                        input(ng-model="currentUser.contact.address" name="address")
                    md-input-container(flex)
                        label 通信地址
                        input(ng-model="currentUser.contact.mailingAddress" name="mailingAddress")
                div(layout)
                    md-input-container(flex)
                        label 邮政编码
                        input(ng-model="currentUser.contact.postcode" name="postcode")
                    md-input-container(flex)
                        label 电子邮箱
                        input(ng-model="currentUser.contact.email" name="email")

            md-divider

            md-subheader.md-primary 岗位信息
            fieldset(disabled)
                div(layout ng-repeat="item in currentUser.positions")
                    md-input-container.row-has-value(flex)
                        label 所属部门
                        input(ng-model="item.department.name")
                    md-input-container(flex)
                        label 岗位
                        input(ng-model="item.position.name")
                div(layout)
                    md-input-container.row-has-value(flex)
                        label 用工关系状态
                        md-select(ng-model="currentUser.employmentStatusId" disabled)
                            md-select-label {{$enum.parseLabel(currentUser.employmentStatusId, "employment_status")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('employment_status')") {{item.label}}
                    md-input-container.row-has-value(flex)
                        label 分类
                        md-select(ng-model="currentUser.categoryId" disabled)
                            md-select-label {{$enum.parseLabel(currentUser.categoryId, "categories")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('categories')") {{item.label}}
                div(layout)
                    md-input-container.row-has-value(flex)
                        label 通道
                        md-select(ng-model="currentUser.channelId" disabled)
                            md-select-label {{$enum.parseLabel(currentUser.channelId, "channels")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('channels')") {{item.label}}

                    md-input-container(flex)
                        label 类别
                        input(ng-model="currentUser.position.postType")
                div(layout)
                    md-input-container.row-has-value(flex)
                        label 属地化地点
                        input(ng-model="currentUser.location" disabled)


                    md-input-container.row-has-value(flex)
                        label 用工性质
                        md-select(ng-model="currentUser.laborRelationId" disabled)
                            md-select-label {{$enum.parseLabel(currentUser.laborRelationId, "labor_relations")}}
                            md-option(ng-value="item.id" ng-repeat="item in $enum.get('labor_relations')") {{item.label}}
