section.personnel-info-control.clearfix
    .personnel-info-left.pull-left
        .personnel-item-icon.personnel-item1
        .personnel-item-desc.bg-success 基本信息
    .personnel-info-right.pull-left
        form.form-split(ng-submit="ctrl.updateInfo()")
            .btn-group.pull-right
                button.btn.btn-default(type="submit") 保存
                button.btn.btn-default(ui-sref="^") 取消
            .form-group.block
                label.control-label 姓名：
                input.form-control(ng-model="currentUser.name")
            .form-group
                label.control-label 性别：
                nb-dropdown.form-content(ng-model="currentUser.gender", remote-key="genders")
            .form-group
                label.control-label 籍贯：
                input.form-control(ng-model="currentUser.nativePlace")
            .form-group
                label.control-label 民族：
                nb-dropdown.form-content(ng-model="currentUser.nation", remote-key="nations")
            .form-group
                label.control-label 出生地：
                input.form-control(ng-model="currentUser.birthPlace")
            .form-group
                label.control-label 身份证号：
                input.form-control(ng-model="currentUser.identityNo")
            .form-group
                label.control-label 婚姻状况：
                nb-dropdown.form-content(ng-model="currentUser.maritalStatus", remote-key="marital_status")
section.personnel-info-control.clearfix
    .personnel-info-left.pull-left
        .personnel-item-icon.personnel-item1
        .personnel-item-desc.bg-success 联系方式
    .personnel-info-right.editor-style.pull-left
        form.form-split
            .form-group.block
                label.control-label 固定电话：
                input.form-control(ng-model="currentUser.contact.telephone")
            .form-group
                label.control-label 手机号码：
                input.form-control(ng-model="currentUser.contact.mobile")
            .form-group
                label.control-label 家庭住址：
                input.form-control(ng-model="currentUser.contact.address")
            .form-group
                label.control-label 通信地址：
                input.form-control(ng-model="currentUser.contact.mailingAddress")
            .form-group
                label.control-label 通信地址邮编：
                input.form-control(ng-model="currentUser.contact.postcode")
            .form-group
                label.control-label 电子邮箱：
                input.form-control(ng-model="currentUser.contact.email")
