md-dialog
    md-content(ng-init="current = dialog.user")
        form(name="retirementForm" flex ng-submit="ctrl.retirement([current]);dialog.close();")
            md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 发起退休流程

            .dialog-content(style="padding:4px;") 您将对所选的 {{current.name}} 发起退休流程，请确认。
            .dialog-content(layout layout-align="center" ng-hide="true")

                md-card.form-material-section.nb-card(ng-repeat="user in [current]" ng-init="emp = ctrl.Employee.$find(user.id)")
                    md-subheader.md-background.md-hue-1
                    .flow-relations(flow-relation-data ng-model="user.relation_data")
                        div.flow-info-row(layout)
                            .flow-info-cell(flex)
                                .flow-cell-title 通道
                                .flow-cell-content {{emp.channelId | enum: 'channels'}}
                            .flow-info-cell(flex)
                                .flow-cell-title 性别
                                .flow-cell-content {{emp.genderId | enum: 'genders'}}
                        div.flow-info-row(layout)
                            .flow-info-cell(flex)
                                .flow-cell-title 年龄
                                .flow-cell-content {{emp.age}}
                            .flow-info-cell(flex style="display:none")
                                .flow-cell-title 社保缴费年限
                                .flow-cell-content [数据无从获取]

            div(layout ng-repeat="user in [current]")
                md-input-container(flex)
                    label 退休日期
                    input(ng-model="user.retirementDate" bs-datepicker required)

            .md-actions
                md-button(type="button" ng-click='dialog.close()') 取 消
                md-button.md-primary.md-raised(type="submit" ng-disabled="retirementForm.$invalid") 确 定