md-dialog
    md-content(ng-init="users = dialog.users")
        form(flex ng-submit="ctrl.retirement(users);dialog.close();")
            md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 发起退休流程

            .dialog-content 您将对所选的{{users.length}}人发起退休流程，请确认。
            .dialog-content(layout layout-align="center" ng-hide="true")
                
                md-card.form-material-section.nb-card(ng-repeat="user in users")
                    md-subheader.md-background.md-hue-1
                    flow-user-info
                    .flow-relations(flow-relation-data ng-model="user.relation_data")

                        div.flow-info-row(layout)
                            .flow-info-cell(flex)
                                .flow-cell-title 通道
                                .flow-cell-content 管理
                            .flow-info-cell(flex)
                                .flow-cell-title 性别
                                .flow-cell-content 男
                        div.flow-info-row(layout)
                            .flow-info-cell(flex)
                                .flow-cell-title 社保缴费年限
                                .flow-cell-content 15年
                            .flow-info-cell(flex)
                                .flow-cell-title 年龄
                                .flow-cell-content 50


            .md-actions
                md-button(type="button" ng-click='dialog.close()') 取 消
                md-button.md-primary.md-raised(type="submit") 确 定
