extends ../../component/workflow/rfc

block vars
    - var flowType = "Flow::Retirement"
    - var flowTitle = "退休申请单"

block relation_data
    div.flow-info-row(layout)
        .flow-info-cell(flex)
            .flow-cell-title 通道
            .flow-cell-content 管理
        .flow-info-cell(flex)
            .flow-cell-title 性别
            .flow-cell-content 男
    div.flow-info-row(layout)
        .flow-info-cell(flex)
            .flow-cell-title 社保缴费年限
            .flow-cell-content 15年
        .flow-info-cell(flex)
            .flow-cell-title 年龄
            .flow-cell-content 52

block form
    div(layout)
        md-input-container(flex)
            label 退休原因
            textarea(ng-model="request.reason" columns="1" md-maxlength="2000")



