tabset(flex)
    tab(heading="员工考勤")
        include attendance_record
    tab(heading="考勤历史记录")
        include attendance_his
    tab(heading="请假记录")
        include attendance_data_view
    tab(heading="考勤汇总")
        include attendance_data_view
