md-dialog(ng-init="leave = data;leave.$fetch()")
    md-subheader
        h3 请假单
        md-button.pull-right(ng-click="ctrl.mdDialog.hide()") 关闭
    md-content
        h4 请假单号：{{leave.id}}
        hr

        section
            md-subheader 请假信息
            fieldset(disabled)
                md-input-container
                    label 请假人
                    input(ng-model="leave.sponsor.name")
                md-input-container
                    label 假别
                    input(ng-model="leave.name")
                md-input-container
                    label 开始日期
                    input()
                md-input-container
                    label 结束日期
                    input(ng-model="leave.name")
                md-input-container
                    label 请假长度
                    input(ng-model="leave.name")
                md-input-container
                    label 请假事由
                    textarea(ng-model="leave.sponsor.body.desc")

        section
            md-subheader 审批信息

        section(ng-init="leave.audit = {}")
            md-subheader 审批意见

            form(ng-submit="")
                md-input-container
                    label 审核意见
                    textarea(ng-model="leave.audit.desc")

                .form-btn-group
                    md-button.md-raised.white(type="button" ng-click="ctrl.reject(leave)") 驳回
                    md-button.skyblue.md-raised(type="button" ng-click="ctrl.pass(leave)") 通过


