.app-content-wrapper(flex style="height: 700px;" ng-controller="AttendanceRecordCtrl as ctrl")
    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 员工考勤列表
                div(flex)
                md-button.md-primary.md-raised(
                ) 代请假
                md-button.md-primary.md-raised(
                    ng-disabled="!ctrl.getSelected()"
                    nb-dialog
                    template-url="/partials/attendance/attendance_new.html"
                    locals="{current:ctrl.getSelected()}"
                ) 新增考勤

        div(nb-grid column-defs="ctrl.columnDef" multi-select="false" export-api grid-selection safe-src="ctrl.employees")