.approval-container {
    background-color: rgb(245, 245, 245);
    overflow-y: scroll;
    padding: 20px;

    md-card {
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        margin-bottom: 10px;
    }

    .approval-subheader {
        color: #468fce;
        font-size: $font-size-md;
        margin-bottom: 30px;
    }
}

.approval-info {
    padding: 40px 30px;

    .approval-info-head {
        color: $text-color;

        .name {
            font-size: 32px;
            line-height: 32px;
        }

        .serial-number {
            font-size: 16px;
        }
    }

    .approval-position {
        font-size: 14px;
        margin-top: 15px;
    }
}

.approval-relation-info {
    padding: 30px 30px 40px;

    .approval-subheader {
        color: $text-color;
    }

    .approval-relations {
        >div {
            &:first-child {
                .approval-cell {
                    padding-top: 0;
                }
            }
        }
    }
}

.approval-cell {
    border-bottom: 1px solid #eaeff0;
    display: flex;
    margin-right: 10px;
    padding: 30px 0 10px;

    .cell-title {
        color: $text-muted;
        width: 100px;
    }

    .cell-content {
        flex: 1;
    }

    .cell-plus {
        width: 120px;
    }
}

.approval-msg {
    padding: 30px 30px 40px;

    .approval-subheader {
        color: $text-color;
    }

    .approval-cell-container {
        .approval-msg-cell:first-child {
            padding-top: 0;
        }
    }

    .approval-msg-cell {
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        padding: 20px 0;
        position: relative;

        .approval-msg-container {
            .approval-msg-header {
                font-size: $font-size-md;
                margin-bottom: 5px;

                span:first-child {
                    margin-right: 30px;
                }
            }

            .approval-msg-result {
                font-size: $font-size-sm;
                margin-bottom: 10px;
            }
        }

        .approval-msg-decider {
            color: $text-muted;
            position: absolute;
            right: 0;
            top: 20px;

            .approval-decider-date {
                margin-left: 10px;
            }
        }
    }
}

.approval-opinions {
    margin-top: 20px;

}

.approval-buttons {
    float: right;
    margin-top: 10px;

    .md-button {
        margin-left: 15px;
    }
}

.accessory-header.md-subheader {
    font-size: $font-size-sm;
    margin-bottom: 10px;
}

.accessory-container {
    .accessory-cell {
        background-color: rgba(0, 0, 0, .06);
        border-left: 2px solid #7cb342;
        float: left;
        font-size: $font-size-sm;
        height: 50px;
        margin-left: 20px;
        padding: 5px 10px;
        position: relative;
        width: 200px;

        &:first-child {
            margin-left: 0;
        }

        .accessory-name {
            color: #7cb342;
            margin-bottom: 2px;
        }

        .accessory-switch {
            position: absolute;
            right: -5px;
            top: 0;

            .md-icon-button {
                md-icon {
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }
}

.superior-header.md-subheader {
    margin-bottom: 30px;
}

.superior-container {
    md-radio-button {
        float: left;
        margin-bottom: 10px;
        width: 286px;
    }
}





