.approval-wapper {
    md-toolbar {
        .md-toolbar-tools {
            color: #fff;
            font-size: $font-size-lg;
        }
    }
}

.approval-container {
    background-color: rgb(245, 245, 245);
    overflow-y: scroll;
    padding: 20px;

    md-card {
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        margin-bottom: 10px;
    }

    .approval-subheader {
        color: #468fce;
        font-size: $font-size-md;
    }
}

.approval-info {
    padding: 40px 30px;

    .approval-info-head {
        color: $text-color;

        .name {
            font-size: 32px;
            line-height: 32px;
        }

        .serial-number {
            font-size: 16px;
            margin-left: 10px;
        }
    }

    .approval-position {
        font-size: 14px;
        margin-top: 15px;
    }
}

.approval-relation-info {
    padding: 30px 30px 40px;

    .approval-subheader {
        color: $text-color;
        padding-bottom: 10px;
    }

    div[layout]:first-child .approval-cell {
        border-top: 1px solid #eaeff0;
    }
}

.approval-cell {
    border-bottom: 1px solid #eaeff0;
    display: flex;
    margin-right: 10px;
    padding: 19px 0;

    .cell-title {
        color: $text-muted;
        width: 100px;
    }

    .cell-content {
        flex: 1;
    }
}

.approval-msg {
    padding: 30px 30px 40px;

    .approval-subheader {
        color: $text-color;
    }

    .approval-progress-container {
        margin-bottom: 10px;
    }

    .approval-msg-cell {
        border-top: 1px dotted #eaeff0;
        padding: 20px 0;
        position: relative;

        .approval-msg-flag {
            background-color: rgba(0, 0, 0, .1);
            border-radius: 50%;
            height: 40px;
            left: 5px;
            position: absolute;
            top: 24px;
            width: 40px;

            md-icon {
                height: 28px;
                margin-left: 6px;
                margin-top: 6px;
                width: 28px;

                &.valid {
                    color: #8bc34a;
                }

                &.invalid {
                    color: #e84e40;
                }
            }
        }

        .approval-msg-container {
            padding-left: 60px;

            .approval-msg-header {
                font-size: $font-size-md;
                margin-bottom: 10px;
            }
        }

        .approval-msg-decider {
            color: $text-muted;
            position: absolute;
            right: 0;
            top: 20px;

            .approval-decider-date {
                margin-left: 10px;
            }
        }
    }
}

.approval-opinions {
    padding: 30px 30px 40px;

    .approval-subheader {
        color: $text-color;
        padding-bottom: 10px;
    }

    .approval-opinions-check {
        margin-bottom: 30px;
    }

    md-radio-button {
        display: inline-block;
        margin-right: 60px;
    }

    .md-container {
        top: 2px;
    }

    .md-placeholder {
        opacity: 1;
        top: -15px;
    }
}

.approval-buttons {
    float: right;
    // margin: 30px 0 70px;

    .md-button {
        margin-left: 20px;
    }
}


