.approval-container {
    background-color: rgb(245, 245, 245);
    overflow-y: scroll;
    padding: 20px;

    md-card {
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        margin-bottom: 10px;
    }

    .approval-subheader {
        color: #468fce;
        font-size: $font-size-md;
        margin-bottom: 30px;
    }
}

.approval-info {
    padding: 40px 30px;

    .approval-info-head {
        margin-bottom: 30px;

        .name {
            font-size: 32px;
            margin-bottom: 15px;
        }

        .approval-info-plus {
            font-size: $font-size-sm;

            .serial-num {
                margin-right: 10px;
            }

        }
    }
}

.approval-relation-info {
    padding: 30px 30px 40px;

    .approval-subheader {
        color: $text-color;
    }

    .approval-relations {
        >div {
            &:first-child {
                .approval-cell {
                    padding-top: 0;
                }
            }
        }
    }

    .approval-relation-tip {
        color: rgb(239, 83, 80);
    }
}

.approval-cell {
    border-bottom: 1px solid #eaeff0;
    display: flex;
    margin-right: 10px;
    padding: 30px 0 10px;

    .cell-title {
        color: $text-muted;
        width: 100px;
    }

    .cell-content {
        flex: 1;
    }

    .cell-plus {
        width: 120px;
    }
}

.approval-msg {
    padding: 30px 30px 40px;

    .approval-subheader {
        color: $text-color;
    }

    .approval-cell-container {
        .approval-msg-cell:first-child {
            padding-top: 0;
        }
    }

    .approval-msg-cell {
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        padding: 20px 0;
        position: relative;

        .approval-msg-container {
            .approval-msg-header {
                font-size: $font-size-md;
                margin-bottom: 5px;

                span:first-child {
                    margin-right: 30px;
                }
            }

            .approval-msg-result {
                font-size: $font-size-sm;
                margin-bottom: 10px;
            }
        }

        .approval-msg-decider {
            color: $text-muted;
            position: absolute;
            right: 0;
            top: 20px;

            .approval-decider-date {
                margin-left: 10px;
            }
        }
    }
}

.approval-opinions {
    margin-top: 20px;

    textarea {
        border-color: #000;
    }

    .add-habit {
        background: rgb(33,150,243);
        border: 0;
        border-radius: 2px 0 0 2px;
        color: #fff;
        font-family: $font-family-sans-serif;
        height: 28px;
        margin-top: 20px;
        min-width: 0;
        transition: opacity .25s linear;

        &:hover {
            opacity: .8;
        }

        &[disabled] {
            background: $text-hint;
            cursor: not-allowed;
        }
    }

    .delete-habit {
        background: rgb(244, 67, 54);
        border: 0;
        border-radius: 0 2px 2px 0;
        color: #fff;
        font-family: $font-family-sans-serif;
        height: 28px;
        margin-top: 20px;
        min-width: 0;
        transition: opacity .25s linear;

        &:hover {
            opacity: .8;
        }
    }

    .del-habit {
        background: rgb(239,83,80);
        border-radius: 50%;
        color: #fff;
        display: none;
        height: 16px;
        position: absolute;
        right: -5px;
        width: 16px;
        top: -5px;
    }

    .habit-opinions {
        flex-wrap: wrap;
    }

    .habit-opinion {
        background: rgb(33,150,243);
        border: 0;
        border-radius: 2px;
        cursor: pointer;
        color: #fff;
        display: block;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 4px 10px;
        position: relative;

        &:hover {
            opacity: .9;
        }

        &.deleting {
            animation-name: shakeButton;
            animation-duration: 1.2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            cursor: pointer !important;
            transform-origin:50% 50%;

            .del-habit {
                display: block;
            }
        }

        &[disabled] {
            background: $text-hint;
            cursor: not-allowed;
        }
    }

}

.approval-buttons {
    float: right;
    margin-top: 10px;

    .md-button {
        margin-left: 15px;
    }
}

.accessory-header.md-subheader {
    font-size: $font-size-sm;
    margin-bottom: 10px;
}

.accessory-container {
    @include clearfix();

    .accessory-cell {
        background-color: rgba(0, 0, 0, .06);
        border-left: 2px solid #7cb342;
        cursor: pointer;
        float: left;
        font-size: $font-size-sm;
        height: 50px;
        margin-bottom: 10px;
        margin-right: 20px;
        padding: 5px 10px;
        position: relative;
        width: 410px;

        .accessory-name {
            color: #7cb342;
            margin-bottom: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 330px;
        }

        .accessory-switch {
            position: absolute;
            right: -5px;
            top: 0;

            .md-icon-button {
                md-icon {
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }
}

.accessory-btn-group {
    margin-top: 10px;

    .md-icon-button {
        margin: 0;
    }
}

.superior-header.md-subheader {
    margin-bottom: 30px;
}

.superior-container {
    position: relative;

    &:after {
        background-color: #ddd;
        content: '';
        display: block;
        height: 100%;
        left: 50%;
        margin-left: -1px;
        position: absolute;
        width: 1px;
    }

    md-radio-button {
        float: left;
        margin-bottom: 40px;
        width: 385px;

        &:nth-child(odd) {
            margin-right: 50px;
        }

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }

        .md-container {
            vertical-align: top;
        }

        .md-label {
            padding-top: 2px;

            div {
                color: $text-muted;
                margin-top: 5px;
            }
        }
    }
}

//审批流程 移交 弹出层的样式
.hand_over {
    .hd-manner {
        @include clearfix();
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        margin: 0 20px;
        padding: 20px 0;

        md-radio-button {
            float: left;
            margin-right: 50px;
        }
    }

    .hd-unit-wrapper {
        min-height: 250px;

        .hd-choosing,
        .hd-choosed {
            margin: 10px 0;
            // overflow: scroll;
        }

        md-radio-button {
            padding: 5px;
        }

        .title {
            color: $text-muted;
            font-weight: bolder;
            padding: 0 20px;
        }

        .content {
            padding: 0 15px;
        }

        .hd-choosing {
            border-right: 1px solid rgba(0, 0, 0, .12);
        }

        .hd-choosed {
            .title {
                padding-bottom: 5px;
            }

            .content {
                padding: 0 20px;

                div {
                    padding: 5px 0;
                }
            }
        }
    }

    .hd__searchbar {
        border: 1px solid #eee;
        border-radius: 4px;
        font-size: $font-size-md;
        height: 40px;
        margin: 10px 20px 0;
        padding-left: 10px;
        width: 490px;

        +.content {
            height: 40%;
            overflow-y: scroll;
        }
    }

    .hd__item {
        padding: 5px 0;
        position: relative;

        &:hover {
            background-color: #eee;

            .hd__ctrl {
                display: block;
            }
        }

        .hd__ctrl {
            display: none;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 2;

            &:hover {
                .hd__ctrl__btn {
                    svg>* {
                        fill: rgb(33, 150, 243);
                    }
                }
            }

            .hd__ctrl__btn {
                height: 24px;
                width: 24px;
            }
        }
    }



    .md-actions {
        border-top: 1px solid rgba(0, 0, 0, .12);
    }
}

/****** CSS3动画 抖动 ******/ 
@keyframes shakeButton {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -1px) rotate(-1deg); }
    20% { transform: translate(-1px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    60% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(1px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
}



