.ask_for_leave {
    background-color: rgb(245, 245, 245);
    height: 100%;

    .nb-card.form-material-section {
        padding: 0 30px 40px;

        fieldset {
            padding-bottom: 0;

            //文字编辑状态和平时状态都不上浮的样式
            label:not(.md-no-float),
            .md-placeholder {
                -webkit-transform: translate3d(0, 25px, 0) scale(1);
                transform: translate3d(0, 25px, 0), scale(1);
            }

            md-input-container {
                padding-bottom: 19px;

                label {
                    color: $text-muted;
                }

                &.md-input-focused,
                &.row-has-value,
                &.md-input-has-value {
                    label {
                        -webkit-transform: translate3d(0, 25px, 0) scale(1);
                        transform: translate3d(0, 25px, 0) scale(1);
                    }
                }

            }

            .md-input {
                height: 35px;
                padding-left: 110px;
                padding-top: 2px;
            }

            .md-default-theme .md-input {
                color: $text-color;
            }

            //md-select
            md-select {
                height: 25px !important;
            }

            .md-default-theme .md-select-label {
                color: $text-color;
                padding-left: 110px;

            }

            .md-actions {
                border-top: 1px solid rgba(0, 0, 0, .12);
                padding-right: 20px;
            }
        }
    }

    .ask-info-head {
        margin-bottom: 30px;

        .name {
            font-size: 32px;
            margin-bottom: 15px;
        }

        .ask-info-plus {
            font-size: $font-size-sm;

            .serial-num {
                margin-right: 10px;
            }

        }
    }

    .form-bottom-group {
        margin-top: 20px;
    }

}

.ask-relations {
    .ask-info-row:first-child {
        .ask-info-cell {
            border-top: 1px dotted #eaeff0;
        }
    }

    .ask-info-cell {
        border-bottom: 1px dotted #eaeff0;
        display: flex;
        font-size: $font-size-sm;
        height: 60px;
        line-height: 59px;
        margin-right: 10px;

        .ask-cell-title {
            color: $text-muted;
            width: 120px;
        }

        .ask-cell-content {
            flex: 1;
        }
    }
}







