.app-content-body.md-default-theme {
    background-color: #f0f3f4;
}
// 机构 左侧部门菜单结束

// 机构树整体及容器部分
.org-chart-history {
    background-color: #dfe7e9;

    h2 {
        visibility: visible;
    }
}

.org-chart-top {
    min-height: 100px;
    padding-top: 20px;
    position: relative;
    text-align: center;

    h1 {
        font-size: 24px;
        font-weight: normal;
    }

    h2 {
        font-size: $font-size-md;
        font-weight: normal;
        margin: 0;
        margin-bottom: 10px;

        span {
            position: relative;
            top: -4px;
        }
    }

    .org-chart-search {
        margin-left: 20px;
    }

    .top-btn-group {
        margin-right: 20px;

        .md-button {
            float: right;
            margin-left: 20px;
            margin-top: 3px;
        }
    }

}

.bottom-btn-group {
    bottom: 40px;
    margin-right: 40px;
    position: absolute;
    right: 10px;

    .md-button {
        display: inline-block;
        float: right;
        margin-left: 20px;
    }
}



.svg-wrapper {
    svg {
        display: block;
        margin: 0 auto;
        transform-origin: 0% 0%;

        .node {
            rect {
                fill: #dfe5e7;
            }

            &.active rect {
                fill: #90d7ff;
            }

            &.chart-box-create_inactive rect {
                fill: #ffc490;
            }

            &.chart-box-update_inactive rect {
                fill: #ffc490;
            }

            &.chart-box-transfer_inactive rect {
                fill: #ffc490;
            }

            &.chart-box-destroy_inactive rect {
                fill: #ff9090;
            }
        }
    }
}

// 机构 右侧边栏 机构信息展示及操作
    // TODO: 全局通用
.org-sidebar-right.md-sidenav-right {
    min-width: 320px;
    width: 320px;
}

.org-title {
    border-bottom: 1px solid #c6d1d5;
    height: 35px;
    margin: 20px 15px 5px;

    > span {
        border-bottom: 1px solid $focus;
        font-size: 18px;
    }

    span {
        color: $text-title;
        line-height: 34px;
        position: absolute;
    }

    .btn-default {
        border: 0;
        box-shadow: 0;
        color: #99a6ad !important;
        float: right;
        margin-left: 10px;
    }

    .btn {
        background-color: #fff;
        border: 1px solid #99a6ad;
        border-radius: 4px;
        margin-top: 5px;
        min-width: 32px;
        padding: 3px 9px;

        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }
}

.org-table {
    padding: 0 15px;

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #fafbfc;
    }

    .table > tbody > tr > td {
        border-color: #eaeff0;
    }
}

.org-info {
    @include clearfix();
}

.form-actions {
    float: right;
    margin-bottom: 20px;
    padding: 0 20px;

    .md-button {
        margin-left: 10px;
    }
}

// .ui-select-container {
//     margin: 10px 20px 0 0;
//     min-width: 160px;

//     .ui-select-match {
//         span {
//             width: 100%;
//         }
//     }

//     input.form-control {
//         border-color: #ccc;
//         border-radius: 2px;
//         border-style: solid;
//         border-width: 1px;
//         font-size: $font-size-sm;
//         height: 33px;
//         padding-left: 10px;
//     }
// }

.form-group {
    label {
        color: $text-muted;
    }
}

.form-table-container {
    th {
        color: $text-muted;
    }

    td {
        color: $text-color;
    }

    .control-td {
        .btn {
            border: 0;
            box-shadow: none;
            padding: 2px 8px;
        }
    }

    .add-member {
        @include clearfix();
        padding: 0 80px;
    }

    .add {
        margin-bottom: 20px;
    }
}

//划转机构操作的 dialog
md-dialog.org-transfer {
    .dialog-content {
        padding: 0 0 0 20px;
        width: 300;
    }

    md-toolbar {
        min-height: 50px;
    }

    .md-toolbar-tools {
        font-size: $font-size-md;
        height: 50px;
    }

    .md-actions {
        background-color: #f6f8f8;
    }
}
//时间轴dialog
md-dialog.org_history {

    .md-actions {
        border-top: 1px solid rgba(0, 0, 0, .12);
    }

    md-input-container {
        margin: 0 20px;
    }

    .org-timline {
        padding: 0 20px;

        .timeline {
            padding-left: 0;
        }
    }
}
//机构树生效dialog
md-dialog.effect_changes {
    md-toolbar {
        min-height: 40px;
    }

    .md-toolbar-tools {
        font-size: $font-size-md;
        height: 40px;
    }

    .dialog-content {
        width: 300px;
    }
}

//岗位变更记录 dialog
md-dialog.position_changes {
    md-toolbar {
        min-height: 40px;
    }

    .md-toolbar-tools {
        font-size: $font-size-md;
        height: 40px;
    }

    .dialog-content {
        width: 300px;
    }
}

//岗位删除记录 dialog
md-dialog.position_delete {
    md-toolbar {
        min-height: 40px;
    }

    .md-toolbar-tools {
        font-size: $font-size-md;
        height: 40px;
    }

    .dialog-content {
        width: 300px;
    }
}

//查询器保存 dialog
md-dialog.save_filter {
    min-width: 300px;

    md-toolbar {
        min-height: 40px;
    }

    .md-toolbar-tools {
        font-size: $font-size-md;
        height: 40px;
    }

    .dialog-content {
        min-width: 300px;
        padding: 0 20px 20px;
    }
}

md-dialog.hand_over {
    min-width: 550px;
}



