// 机构 左侧部门菜单
.org-dep {
    @include transition(left .5s ease-in);
    border-bottom: 1px solid #d1dcde;
    border-right: 1px solid #d1dcde;
    left: -182px;
    position: absolute;
    width: 183px;
    z-index: 10;

    &.active {
        left: 0;
    }

    .org-dep-badge {
        background-color: #fff;
        border: 1px solid #d1dcde;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        height: 72px;
        left: 182px;
        position: absolute;
        top: 38px;
        width: 24px;

        .toggle-bar {
            display: block;
            height: 72px;
            line-height: 72px;
            text-align: center;
            width: 24px;
        }

        a {
            color: #99a6ad;
        }
    }

    .org-dep-root {
        background-color: #f6f8f8;
        font-size: $font-size-lg;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;

    }

    .org-dep-wrapper {

        ul {
            padding-left: 5px;
        }
    }

    .org-children-wrapper {

        .org-node {
            border-left: 3px solid transparent;
            color: $text-title;
            display: block;
            height: 35px;
            line-height: 35px;
            padding: 0 0 0 18px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;

            &:hover,
            &.active {
                border-left: 3px solid $danger;
                color: $danger;
            }
        }
    }
}
// 机构 左侧部门菜单结束

// 机构树整体及容器部分
.org-chart-history {
    background-color: #fdf9e1;
    border-bottom: 1px solid #faebca;
    border-left: 1px solid #faebca;
    border-right: 1px solid #faebca;

    h2 {
        visibility: visible;
    }
}


.org-chart-window {
    // display: flex;

    // .svg-wrapper {
    //     -webkit-align-items: center;
    //     align-items: center;
    //     -webkit-justify-content: center;
    //     justify-content: center;
    // }

    .orgchart-box-active {
        fill: #dfe5e7;

        &.active {
            fill: #90d7ff;
        }
    }

    svg text,
    svg rect {
        cursor: pointer;
    }
    // TODO: 以后用变量
    .orgchart-box-create_inactive {
        fill: #ffc490;
    }

    .orgchart-box-update_inactive {
        fill: #ffc490;
    }

    .orgchart-box-transfer_inactive {
        fill: #ffc490;
    }

    .orgchart-box-destroy_inactive {
        fill: #ff9090;
    }
}

// 机构 右侧边栏 机构信息展示及操作
.org-aside {
    width: 340px;

    // TODO: 全局通用
    // .org-title {
    //     border-bottom: 1px solid #c6d1d5;
    //     height: 35px;
    //     margin: 20px 20px 5px;

    //     > span {
    //         border-bottom: 1px solid $focus;
    //         font-size: 18px;
    //     }

    //     span {
    //         color: $text-title;
    //         line-height: 34px;
    //         position: absolute;
    //     }

    //     .btn-default {
    //         box-shadow: 0;
    //         color: #99a6ad !important;
    //         float: right;
    //         margin-left: 10px;
    //     }

    //     .btn {
    //         min-width: 35px;
    //         padding: 5px 9px;
    //     }
    // }

}
