.resume-wrap {
    font-size: 18px;
    padding: 50px;
    position: relative;

    .resume-cell {
        margin: 30px 0;
    }

    .resume-header {
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        padding-bottom: 20px;

        span {
            font-size: 32px;
            margin-right: 10px;
        }
    }

    .resume-btn-group {
        position: absolute;
        right: 20px;
        top: 20px;

        .md-icon-button {
            border-radius: 14px;
            height: 28px;
            line-height: 28px;
            width: 28px;

            md-icon {
                height: 18px;
                vertical-align: middle;
                width: 18px;
            }
        }
    }

    .resume-section {
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        padding: 30px 0;

        &.last {
            padding-bottom: 0;
        }

        &:last-child {
            border-bottom: 0;
        }

        .resume-section-left {
            flex: 0 0 110px;

            h4 {
                font-size: 16px;
                font-weight: normal;
            }
        }

        h5.resume-row {
            font-weight: normal;
            margin: 0;
            margin-bottom: 10px;
        }

        .resume-row {
            display: flex;
            flex: 1;

            &:last-child {
                .resume-item {
                    height: auto;
                }
            }

            td,
            th {
                font-size: $font-size-sm;
            }
        }

        .resume-item {
            display: flex;
            flex: 1;
            height: 36px;

            &.auto-height {
                height: auto;
            }
        }

        .control-label {
            color: $text-muted;
            flex: 0 0 90px;
            font-size: $font-size-sm;
        }

        .form-content {
            flex: 1;
            font-size: $font-size-sm;
        }
    }

    .table {
        border-top: 1px solid rgba(0, 0, 0, .12);

        &.last {
            margin-bottom: 0;
        }

        thead th {
            border-bottom: 1px solid rgba(0, 0, 0, .06);
            border-right: 1px solid rgba(0, 0, 0, .03);

            &:last-child {
                border-right: 0;
            }
        }

        tbody td {
            border-right: 1px solid rgba(0, 0, 0, .03);

            &:last-child {
                border-right: 0;
            }
        }
    }
}

.nice-table {
    @include clearfix();
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;

    .nice-table-row {
        @include clearfix();
        width: 100%;

        &:nth-child(even) {
            background-color: #fff;
        }

        &:nth-child(odd) {
            background-color: #fafbfc;
        }

        .nt-cell {
            display: block;
            float: left;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }

        .nt-cell-sm {
            width: 10%;
        }

        .nt-cell-md {
            width: 15%;
        }

        .nt-cell-lg {
            width: 25%;
        }
    }
}



