.personnel-menu {
    border: 1px solid $text-muted;
    margin-right: 20px;
    width: 270px;

    &:before {
        box-shadow: 1px 0 2px #bbb, 4px 0 4px #ddd;
    }

    .avator {
        background-color: #fff;
        height: 210px;
        overflow: hidden;
        width: 100%;

        .avator-area {
            background: url('../../../images/personnel/avator.jpg') no-repeat;
            background-size: 100%;
            border-radius: 50%;
            height: 110px;
            margin: 25px auto 5px;
            width: 110px;
        }

        h3 {
            color: $a-color;
            font-size: $font-size-lg;
            margin-bottom: 5px;
            text-align: center;
        }

        p {
            color: $text-muted;
            font-size: $font-size-md;
            text-align: center;
        }
    }

    .personnel-info-list {
        ul {
            padding: 0;
        }

        li {
            color: $text-muted;
            cursor: pointer;
            font-size: $font-size-md;
            height: 50px;
            line-height: 50px;
            padding-left: 40px;

            a {
                color: $text-color;
                display: block;
                height: 100%;
                width: 100%;
            }

            &:hover {
                background-color: rgb(230, 230, 230);
            }

            &.active {
                background-color: rgb(230, 230, 230);

                .switch-circle {
                    background-color: $success;
                }
            }
        }

        .switch-circle {
            background-color: rgba(191, 203, 206, 1);
            border-radius: 50%;
            display: inline-block;
            height: 8px;
            margin-right: 25px;
            vertical-align: middle;
            width: 8px;
        }
    }

}

.personnel-content {
    &.personnel-control {
        padding-bottom: 100px;

        .personnel-top-header {
            border: 0;
        }

        .personnel-content-body {
            border: 0;
        }
    }

    .personnel-info-section {
        // margin-bottom: 30px;

        .personnel-info-row {
            height: 40px;
        }

        //material
        fieldset[disabled] {
            .md-default-theme .md-select-label {
                padding-left: 150px;
            }

            .md-input {
                padding-left: 150px;
            }
        }

        .form-material-section {
            position: relative;
            padding: 0 30px;

            &:hover {
                .form-btn-group {
                    visibility: visible;
                }
            }

            .form-btn-group {
                position: absolute;
                right: 20px;
                top: 10px;
                visibility: hidden;

                &.alive {
                    visibility: visible;
                }

                .md-button {
                    margin-left: 20px;
                }

            }
        }
    }

    .personnel-table-wrapper {
        padding: 0 5px;
    }

    .personnel-info-table {
        border: 0;

        thead > tr > th {
            background-color: #fafbfc;
            font-size: $font-size-md;
            padding: 8px 15px;
        }

        tbody > tr > td {
            font-size: $font-size-md;
            padding: 8px 15px;
        }

        tbody > tr:nth-child(odd) > td {
            background-color: #fff;
        }

        tbody > tr:nth-child(even) > td {
            background-color: #fafbfc;
        }
    }

    .personnel-top-header {
        background-color: #f2f3f8;
        border: 1px solid #c3c3c3;
        font-size: 14px;
        height: 50px;
        padding-left: 40px;

        h4 {
            color: $text-title;
            font-size: $font-size-lg;
            line-height: 48px;
        }

        .btn {
            margin: 7px 10px 0;
        }
    }

    .personnel-content-body {
        background-color: #fff;
        border: 1px solid #c3c3c3;
        border-top: 0;
        width: 100%;
    }

    .personnel-section-wrap {
        &:nth-child(odd) {
            background-color: #fff;
        }

        &:nth-child(even) {
            background-color: #fafbfd;
        }
    }


    .personnel-info-left {
        .personnel-item-icon {
            background-position: center;
            background-repeat: no-repeat;
            height: 62px;
            margin: 0 auto 10px;
            width: 70px;
        }

        .personnel-item-desc {
            border-radius: 15px;
            color: #fff;
            font-size: $font-size-sm;
            font-weight: bold;
            height: 25px;
            line-height: 25px;
            margin: 0 auto;
            text-align: center;
            width: 70px;
        }

        .personnel-item1 {
            background-image: url('../../../images/personnel/1.png');
        }

        .personnel-item2 {
            background-image: url('../../../images/personnel/2.png');
        }

        .personnel-item3 {
            background-image: url('../../../images/personnel/3.png');
        }
    }

}

.personnel-info-control {
    display: flex;
    padding: 0 30px;
    position: relative;

    .form-split {
        padding: 50px 0;

        .control-label {
            height: 34px;
            line-height: 34px;
        }

        .form-content {
            height: 34px;
            line-height: 34px;
        }

        .form-control {
            margin-right: 10%;
        }

        .form-group.block {
            .form-control {
                margin-right: 5%;
            }
        }
        //暴力解决 ui-select中小三角位置的问题
        .ui-select-bootstrap .ui-select-toggle > .caret {
            margin-top: 7px;
            position: static;
        }
    }

    .personnel-info-left {
        flex: none;
        margin-right: 30px;
        padding-top: 50px;
        width: 80px;
    }

    .personnel-info-right {
        flex: 1;
        min-height: 240px;

        &.break-lines {
            margin-right: 5%;
            padding-bottom: 50px;
            padding-top: 50px;
        }
    }
}

.personnel-info-table {
    padding: 20px;

    h4 {
        margin: 10px 0;
    }

    .custom-table {
        margin-bottom: 20px;
        width: 100%;

        .control-td .btn {
            background: transparent;
            border: 0;
            box-shadow: none;
            color: $danger;
            font-size: $font-size-lg;
            outline: none;
            visibility: hidden;
        }

        tr:hover .control-td .btn {
            visibility: visible;
        }
    }

    .form-split {
        border-bottom: 1px solid $border-color;
        margin-bottom: 10px;

        .form-control {
            margin-right: 10%;
        }

        .control-label {
            height: 34px;
            line-height: 34px;
        }
    }

    .btn-group {
        margin-bottom: 20px;
        margin-left: 190px;

        .btn {
            margin-left: 100px;
        }
    }
}

.btn-group-actions {
    bottom: -10px;
    left: 140px;
    position: absolute;

    .btn {
        margin-right: 100px;
    }
}



