.info { width: 860px; height: 360px; background-color: #ddd; background-image: url(../images/info-bg.png); background-repeat: no-repeat; float: left; background-position: center center;}
.half { width: 430px; float: left; position: relative;}
.xk { width: 430px; height: 80px; position:absolute; top: 0px; left: 1px; float: left; background-image: url(../images/01.png); background-repeat: no-repeat; float: left; background-position: center center;  transition:all ease 0.1s;}
.xk:hover { background-image: url(../images/011.png); transition:all ease 0.2s;}
.gz{ background-image: url(../images/03.png); top: 80px; left: 1px;}
.gz:hover{ background-image: url(../images/031.png); }
.jy { background-image: url(../images/05.png);top: 160px; left: 1px; }
.jy:hover { background-image: url(../images/051.png);}
.jb { background-image: url(../images/07.png); top: 240px; left: 1px;}
.jb:hover { background-image: url(../images/071.png); }
.jc { background-image: url(../images/02.png); top: 0px; left: 430px;}
.jc:hover { background-image: url(../images/021.png); }
.kq{ background-image: url(../images/04.png); top: 80px; left: 430px; }
.kq:hover{ background-image: url(../images/041.png); }
.jx { background-image: url(../images/06.png); top: 160px; left: 430px;}
.jx:hover { background-image: url(../images/061.png); }
.bj { background-image: url(../images/08.png); top: 240px; left: 430px;}
.bj:hover{ background-image: url(../images/081.png); }
