// 文字排版 typo样式
.simditor {
    margin: 0;
    width: 95%;

    .simditor-toolbar > ul > li > .toolbar-item {
        height: 30px;
        line-height: 30px;
        width: 30px;
    }
}

.position-desc-area {
    font-size: $font-size-md;
    margin-bottom: 30px;

    h3 {
        font-size: $font-size-md;
        margin-bottom: 10px;
    }

    .control-label {
        margin-left: 20px;
    }
}
