.org-postadd {
    background-color: #fff;
    height: calc(100% - 51px);
    width: inherit;
}

.steps-indicator {
    position: relative;
}

// 新增岗位弹出层左侧菜单
.org-postadd-step {
    background-color: #f2f3f8;
    height: 100%;
    width: 268px;

    ul {
        padding: 0;
    }

    li {
        height: 63px;
        line-height: 63px;
        padding: 0 20px;
        width: 268px;

        &:hover,
        &.active {
            background-color: #0ab6e8;
            color: #fff;
            transition: all ease .5s;

            a,
            span {
                color: #fff;
            }
        }
    }

    a {
        color: #000;
        display: block;
        font-size: 16px;

        span {
            float: right;
            font-size: 16px;
            line-height: 63px;
        }
    }
}

// 新增岗位弹出层右侧表单
.org-postadd-detail {
    margin-top: 30px;
    width: 100%;

    .postadd-form-group {
        margin: 0 0 15px;

        .form-control-error {
            display: inline-block;
            margin-left: 15px;

            .form-group-error {
                background-color: $danger;
                border-radius: 8px;
                color: #fff;
                font-size: $font-size-xs;
                font-weight: bold;
                padding: 3px 5px;
                position: relative;

                &:after {
                    border-bottom: 4px solid transparent;
                    border-left: 6px solid transparent;
                    border-right: 6px solid $danger;
                    border-top: 4px solid transparent;
                    content: ' ';
                    display: block;
                    height: 0;
                    left: -12px;
                    position: absolute;
                    top: 8px;
                    width: 0;
                }
            }
        }
    }

    .postadd-control-label {
        margin-bottom: 0;
        margin-right: 20px;
        text-align: right;
        width: 20%;
    }

    .postadd-form-control {
        @include transition(all .5s linear);
        background-color: #fff;
        background-image: none;
        background-position: 98% 9px;
        background-repeat: no-repeat;
        background-size: 14px;
        border: 1px solid #cfdadd;
        border-radius: 2px;
        box-shadow: none;
        height: 34px;
        padding: 6px 20px 6px 12px;
        width: 40%;

        &:focus {
            border-color: $focus;
            width: 50%;
        }

        &.ng-dirty.ng-invalid {
            background-image: url('../../../images/close-r.png');
            border-color: $danger;
        }

        &.ng-dirty.ng-valid {
            background-image: url('../../../images/check-g.png');
            border-color: $success;
        }
    }

    .postadd-control-text {
        box-shadow: none;
        height: 34px;
        line-height: 34px;
        padding-left: 12px;
        vertical-align: middle;
        width: 66.6666667%;
    }

    .dropdown {
        display: inline-block;
        width: 30%;

        .dropdown-toggle {
            border-radius: 4px;
            text-align: left;
            width: 100%;

            &:focus {
                border-color: $focus;
            }
        }

        .caret {
            float: right;
            margin-top: 7px;
        }

        .dropdown-menu {
            width: 100%;
        }
    }

    .ng-dirty.ng-invalid {
        .dropdown-toggle {
            border-color: $danger;
        }
    }

    .ng-dirty.ng-valid {
        .dropdown-toggle {
            border-color: $success;
        }
    }
}

.org-postadd-jd {
    .org-desc-section {
        margin-bottom: 20px;
        width: 100%;

        h3 {
            font-size: $font-size-md;
            margin-bottom: 10px;
            text-align: right;
            width: 20%;
        }

        .simditor {
            display: inline-block;
            vertical-align: top;
            width: 50%;
        }
    }
}


.arrow.left.arrow-info:after {
    border-right-color: #daedf8;
}
