.form-static {
    background-color: #fff;

    &.has-sub {
        &.md {
            .subheader {
                width: 140px;
            }

            .form-row {
                label {
                    margin-left: 0;
                    width: 60px;
                }
            }
        }

        .subheader {
            line-height: 34px;
            text-align: right;
            width: 220px;
        }

        .form-row {
            flex-wrap: wrap;

            .form-cell {
                margin-left: 10px;
            }

            label {
                width: 80px;
            }

            span {
                display: block;
            }
        }

        .md-button {
            margin-left: 290px;
        }
    }

    .form-row {
        line-height: 34px;

        label {
            margin-right: 10px;
            text-align: right;
            width: 130px;
       }

        .md-input {
            font-size: $font-size-md;
            min-width: 100px;
        }
    }

    .form-select-row {
        line-height: 74px;

        label {
            margin-right: 10px;

            &.first {
                text-align: right;
                width: 130px;
            }
        }

        md-select {
            flex: 0 0 120px;
            width: 100px;

            .md-select-value {
                width: 120px;
            }
        }
    }

    .md-button {
        margin-left: 140px;
    }
}

// 对material tabs的样式hack
.salary-basic {
    background-color: #fff;

    md-toolbar {
        background-color: #fff;
        border-bottom: 1px solid #000;
        color: $text-title;

        .md-toolbar-tools {
            padding-right: 0;
        }
    }

    .cust-nav-justified {
        border-bottom: 1px solid #dedede;
        height: auto;
        padding: 0;

        .nb-nav-item {
            padding: 0 15px;
            width: auto;

            a {
                font-size: $font-size-sm;
                height: 36px;
                line-height: 36px;
            }
        }
    }

    .tab-content {
        padding: 20px;
    }
}

.setting-table {
    width: 100%;

    th {
        &.tal {
            text-align: left;
        }

        &.tar {
            text-align: right;
        }
    }

    td {
        min-width: 50px;

        &.tal {
            text-align: left;
        }

        &.tar {
            text-align: right;
        }

        input {
            border: 1px solid #dedede;
            border-radius: 2px;
            max-width: 120px;
            transition: border-color .5s linear;
            width: 100%;

            &:focus {
                border-color: rgb(53, 130, 243);
            }
        }
    }

    &.table td {
        padding: 0;

        >div {
            padding: .5rem;
        }
    }
}














