.form-static {
    background-color: #fff;
    padding: 20px;

    .form-row {
        line-height: 34px;

        label {
            margin-right: 10px;
            width: 130px;
            text-align: right;
       }

        .md-input {
            font-size: $font-size-md;
            min-width: 100px;
        }
    }

    .form-select-row {
        line-height: 74px;

        label {
            margin-right: 10px;

            &.first {
                width: 130px;
                text-align: right;
            }
        }

        md-select {
            flex: 0 0 120px;
            width: 100px;

            .md-select-value {
                width: 120px;
            }
        }
    }

    .md-button {
        margin-left: 140px;
    }
}
