.todo-container {
    background: #ededed;
    height: 100%;
    padding: 50px 120px;
    width: 100%;
}

.todo-list {
    position: relative;
}

@for $i from 1 through 9 {
    .todo-list-item:nth-child(#{$i}) {
        -webkit-animation: slideTop 1.5s #{.1*$i}s cubic-bezier(.27, .38, .64, 1.6) forwards;
        animation: slideTop 1.5s #{.1*$i}s cubic-bezier(.27, .38, .64, 1.6) forwards;
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }

    // .todo-aside>div:nth-child(#{$i}) {
    //     -webkit-animation: slideTop .75s #{.1*$i}s linear forwards;
    //     animation: slideTop .75s #{.1*$i}s linear forwards;
    //     opacity: 0;
    //     -webkit-transform: translateY(200px);
    //     transform: translateY(200px);
    // }
}

@-webkit-keyframes slideTop {
    0%, 15% {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }

    85%, 90% {
        opacity: .9;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideTop {
    0%, 15% {
        opacity: 0;
        transform: translateY(200px);
    }

    85%, 90% {
        opacity: .9;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.todo-list-item {
    cursor: pointer;
    display: flex;
    height: 100px;
    margin-right: 40px;
    overflow: hidden;
    padding-bottom: 5px;
    transform: translate(0, 0, 0);
    transition: height .3s linear;

    &:hover {
        height: 140px;
        opacity: 1;

        .item-left {
            .date {
                color: #ff695b;
            }

            .time {
                color: #ff695b;
                font-size: 36px;
            }
        }

        .item-right {
            background-color: #ff695b;

            .content h3,
            .content p,
            .content .tip {
                color: #fff;
            }

            .content .reviewers {
                height: auto;
                opacity: 1;
            }
        }
    }

    .item-left {
        height: 100%;
        width: 170px;

        .date {
            color: $text-hint;
            font-size: 18px;
        }

        .time {
            color: $text-color;
            font-size: 30px;
            transition: font-size .3s linear;
        }
    }

    .item-right {
        background-color: #fff;
        margin-left: 20px;
        position: relative;
        transition: background-color .25s linear;

        .item-msg {
            @include clearfix();
        }

        .avatar {
            background-color: #fff;
            border-radius: 20px;
            float: left;
            height: 40px;
            margin: 27px 20px 0;
            overflow: hidden;
            width: 40px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .content {
            overflow: hidden;

            h3 {
                color: $text-muted;
                font-size: 12px;
                font-weight: normal;
                margin-top: 20px;
            }

            p {
                color: $text-color;
                font-size: $font-size-md;
                margin: 10px 20px 15px 0;
            }

            .reviewers {
                @include clearfix();
                height: 0;
                opacity: 0;
                overflow: hidden;
                -webkit-transition: height .3s .1s linear, opacity .3s .1s linear;
                transition: height .3s .1s linear, opacity .3s .1s linear;

                div {
                    background-color: #fff;
                    border-radius: 10px;
                    float: left;
                    height: 20px;
                    margin-right: 5px;
                    overflow: hidden;
                    width: 20px;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .tip {
                color: $text-muted;
                font-size: 14px;
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }

    }
}

.todo-aside {
    margin-right: 40px;
    width: 520px;

    .custom-toolbar {
        background-color: rgba(0, 0, 0, .3);
        border-bottom: 2px solid rgba(255, 255, 255, .3);
        color: #fff;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        font-size: $font-size-md;
        height: 56px;
        position: relative;
        width: 100%;

        .toolbar-tools {
            align-items: center;
            display: -webkit-flex;
            display: flex;
            -webkit-flex: 1;
            flex: 1;
            -webkit-flex-direction: row;
            flex-direction: row;
            height: 59px;
            padding-left: 20px;
        }
    }

    .content {
        background-color: rgba(0, 0, 0, .3);
        height: 250px;
    }
}

.post-board {
    .cust-nav-justified {
        background-color: rgba(0, 0, 0, .3);
        border-bottom: 3px solid rgba(255, 255, 255, .3);
        padding-left: 0;

        .nb-nav-item {
            border-bottom-color: #fff;

            a {
                color: #fff;
                height: 56px;
            }
        }
    }

    .post-item {
        background-color: rgba(0, 0, 0, .3);
        height: 250px;

        &.notice {
            h4 {
                color: #fff;
                font-size: $font-size-md;
                padding: 35px 20px 0;
                text-align: center;
            }

            .date {
                color: #fff;
                font-size: 12px;
                margin-top: 5px;
                text-align: center;
            }

            p {
                color: #fff;
                margin: 0;
                margin-top: 30px;
                padding: 0 20px;
                text-indent: 2em;
            }
        }
    }
}

.personal-attence {
    margin-top: 20px;
}

.hr-attence {
    margin-top: 20px;
}

//柱形图表的样式
.c-chart {
    .c-item {
        cursor: pointer;
    }

    .c-name {
        fill: #fff;
    }
}

//我的申请主页面的样式

.my-requests {
    color: $text-color;
    height: auto !important;

    .current-month {
        margin: 0 auto;
        padding: 45px 0 20px;
        text-align: center;
        width: 960px;

        .month {
            display: inline-block;
            vertical-align: middle;
        }

        md-icon {
            &:hover {
                color: #ef5350;
            }

            &.prev {
                margin-right: 10px;
                transform: rotate(270deg);
            }

            &.next {
                margin-left: 10px;
                transform: rotate(90deg);
            }
        }
    }

    .current-month-info {
        @include clearfix();
        margin: 0 auto 100px;
        width: 960px;

        .info-left {
            background-color: #f9f9f9;
            box-sizing: border-box;
            float: left;
            height: 440px;
            padding: 60px 65px 0;
            width: 360px;

            .title {
                color: $text-muted;
                font-size: 16px;
                margin-bottom: 25px;
                text-align: center;
            }

            .salary-circle {
                background-color: #fae7e7;
                border-radius: 50%;
                height: 228px;
                margin-bottom: 25px;
                position: relative;
                width: 228px;

                img {
                    animation: progress-rotate 5s linear forwards;
                    transform: rotate(90deg) translate(0, 0, 0);
                }

                .value {
                    color: #ff4d4a;
                    font-size: 40px;
                    font-weight: 600;
                    margin-top: -24px;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    width: 100%;
                }
            }

            .action {
                text-align: center;

                button {
                    background-color: #ff4d4a;
                    border: 0;
                    border-radius: 4px;
                    color: #fff;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 700;
                    height: 33px;
                    width: 85px;
                }
            }
        }

        .info-right {
            @include clearfix();
            background-color: #fff;
            box-sizing: border-box;
            float: left;
            height: 440px;
            padding: 55px 20px;
            width: 600px;

            .info-content {
                height: inherit;
                position: relative;

                &:after {
                    background-color: #f4f4f4;
                    content: '';
                    display: block;
                    height: 1px;
                    left: 0;
                    position: absolute;
                    top: 164px;
                    width: 100%;
                }

                &:before {
                    background-color: #f4f4f4;
                    content: '';
                    display: block;
                    height: 330px;
                    left: 50%;
                    margin-left: -1px;
                    position: absolute;
                    top: 0;
                    width: 1px;
                }
            }

            .info-item {
                float: left;
                height: 220px;
                text-align: center;
                width: 50%;
            }

            .title {
                color: $text-muted;
                font-size: 16px;
                margin-bottom: 30px;
            }

            .value {
                color: #ff4d4a;
                font-size: 36px;
                font-weight: 600;

                span {
                    color: $text-muted;
                    font-size: 16px;
                }
            }
        }
    }

    .my-cell-cotainer {
        @include clearfix();
        margin: 0 auto 100px;
        width: 960px;
    }

    .my-requests-cell {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        float: left;
        margin-bottom: 50px;
        margin-left: 90px;
        text-align: center;
        width: 120px;

        &.ml0 {
            margin-left: 0;
        }

        &:hover {
            .cell__btn {
                transform: rotateY(180deg);
            }

            .desc {
                color: #f54b3c;
            }
        }
    }

    .cell__btn {
        border: 2px solid #ffcfce;
        border-radius: 50%;
        height: 116px;
        transition: transform .5s linear;
        width: 116px;

        &.qingjia {
            background: #fff url('/images/my_request/qingjia.png') no-repeat center center;
        }

        &.zhuanzheng {
            background: #fff url('/images/my_request/zhuanzheng.png') no-repeat center center;
        }

        &.cizhi {
            background: #fff url('/images/my_request/cizhi.png') no-repeat center center;
        }

        &.tiaogang {
            background: #fff url('/images/my_request/tiaogang.png') no-repeat center center;
        }

        &.tuiyang {
            background: #fff url('/images/my_request/tuiyang.png') no-repeat center center;
        }

        &.hetong {
            background: #fff url('/images/my_request/hetong.png') no-repeat center center;
        }

        &.xueli {
            background: #fff url('/images/my_request/xueli.png') no-repeat center center;
        }

        &.shensu {
            background: #fff url('/images/my_request/shensu.png') no-repeat center center;
        }

        &.youmian {
            background: #fff url('/images/my_request/youmian.png') no-repeat center center;
        }

        &.zhengming {
            background: #fff url('/images/my_request/zhengming.png') no-repeat center center;
        }
    }

    .desc {
        color: $text-muted;
        font-size: 16px;
        margin-top: 20px;
    }

}

@keyframes progress-rotate {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(450deg);
    }
}

@media (max-width: 1280px) {
    .todo-container {
        flex-direction: column;
    }

    .todo-aside {
        align-self: center;
        margin-top: 20px;

        >div {
            -webkit-animation: none;
            animation: none;
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}


