.todo-container {
    background: #000 url('/images/wow_bg.jpg') no-repeat fixed;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    padding: 50px 0;
    width: 100%;
}

.todo-list {
    position: relative;
}

@for $i from 1 through 9 {
    .todo-list-item:nth-child(#{$i}) {
        -webkit-animation: slideTop 1.5s #{.1*$i}s cubic-bezier(.27, .38, .64, 1.6) forwards;
        animation: slideTop 1.5s #{.1*$i}s cubic-bezier(.27, .38, .64, 1.6) forwards;
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }

    .todo-aside>div:nth-child(#{$i}) {
        -webkit-animation: slideTop .75s #{.1*$i}s linear forwards;
        animation: slideTop .75s #{.1*$i}s linear forwards;
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }
}

@-webkit-keyframes slideTop {
    0%, 15% {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }

    85%, 90% {
        opacity: .9;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideTop {
    0%, 15% {
        opacity: 0;
        transform: translateY(200px);
    }

    85%, 90% {
        opacity: .9;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.todo-list-item {
    cursor: pointer;
    display: flex;
    height: 100px;
    margin-right: 40px;
    opacity: .7;
    overflow: hidden;
    padding-bottom: 5px;
    transition: height .3s linear;

    &:hover {
        height: 140px;
        opacity: 1;

        .item-left {
            .date {
                font-size: 28px;
            }
        }

        .item-right {
            background-color: rgba(0, 0, 0, .3);

            .content h3,
            .content .tip {
                color: #fff;
            }

            .content .reviewers {
                height: auto;
                opacity: 1;
            }
        }
    }

    .item-left {
        height: 100%;
        width: 170px;

        .date {
            color: #fff;
            font-size: 18px;
            transition: font-size .5s linear;
        }

        .time {
            color: #fff;
            font-size: 30px;
            font-weight: bold;
        }
    }

    .item-right {
        background-color: rgba(0, 0, 0, .2);
        margin-left: 20px;
        position: relative;
        transition: background-color .5s linear;

        .item-msg {
            @include clearfix();
        }

        .avatar {
            background-color: #fff;
            border-radius: 20px;
            float: left;
            height: 40px;
            margin: 27px 20px 0;
            overflow: hidden;
            width: 40px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .content {
            overflow: hidden;

            h3 {
                color: #fff;
                font-size: 12px;
                font-weight: normal;
                margin-top: 20px;
            }

            p {
                color: #fff;
                font-size: $font-size-md;
                margin: 10px 20px 15px 0;
            }

            .reviewers {
                @include clearfix();
                height: 0;
                opacity: 0;
                overflow: hidden;
                -webkit-transition: height .3s .1s linear, opacity .3s .1s linear;
                transition: height .3s .1s linear, opacity .3s .1s linear;

                div {
                    background-color: #fff;
                    border-radius: 10px;
                    float: left;
                    height: 20px;
                    margin-right: 5px;
                    overflow: hidden;
                    width: 20px;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .tip {
                color: #fff;
                font-size: 14px;
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }

    }
}

.todo-aside {
    margin-right: 40px;
    width: 420px;

    .custom-toolbar {
        background-color: rgba(0, 0, 0, .3);
        border-bottom: 2px solid rgba(255, 255, 255, .3);
        color: #fff;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        font-size: $font-size-md;
        height: 56px;
        position: relative;
        width: 100%;

        .toolbar-tools {
            align-items: center;
            display: -webkit-flex;
            display: flex;
            -webkit-flex: 1;
            flex: 1;
            -webkit-flex-direction: row;
            flex-direction: row;
            height: 59px;
            padding-left: 20px;
        }
    }

    .content {
        background-color: rgba(0, 0, 0, .3);
        height: 250px;
    }
}

.post-board {
    .cust-nav-justified {
        background-color: rgba(0, 0, 0, .3);
        border-bottom: 3px solid rgba(255, 255, 255, .3);
        padding-left: 0;

        .nb-nav-item {
            border-bottom-color: #fff;

            a {
                color: #fff;
                height: 56px;
            }
        }
    }

    .post-item {
        background-color: rgba(0, 0, 0, .3);
        height: 250px;

        &.notice {
            h4 {
                color: #fff;
                font-size: $font-size-md;
                padding: 35px 20px 0;
                text-align: center;
            }

            .date {
                color: #fff;
                font-size: 12px;
                margin-top: 5px;
                text-align: center;
            }

            p {
                color: #fff;
                margin: 0;
                margin-top: 30px;
                padding: 0 20px;
                text-indent: 2em;
            }
        }
    }
}

.personal-attence {
    margin-top: 20px;
}

.hr-attence {
    margin-top: 20px;
}

//柱形图表的样式
.c-chart {
    .c-item {
        cursor: pointer;
    }

    .c-name {
        fill: #fff;
    }
}

@media (max-width: 1280px) {
    .todo-container {
        flex-direction: column;
    }

    .todo-aside {
        align-self: center;
        margin-top: 20px;

        >div {
            -webkit-animation: none;
            animation: none;
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }


}


