section.personnel-info-section
    .personnel-top-header.clearfix
        h4.pull-left 家庭成员
    .personnel-content-body
        .personnel-section-wrap(ng-controller="EditableResource")
             section.personnel-info-control.clearfix
                .personnel-info-left
                    .personnel-item-icon.personnel-item2
                    .personnel-item-desc.bg-success 配偶
                .personnel-info-right.form-split
                    .form-btn-group
                        button.btn.btn-default(ui-sref="^.basic") 编辑
                    .form-group
                        label.control-label 姓名：
                        .form-content 冯丽
                    .form-group
                        label.control-label 性别
                        .form-content 女
                    .form-group
                        label.control-label 籍贯：
                        .form-content 四川成都
                    .form-group
                        label.control-label 民族：
                        .form-content 汉族
                    .form-group
                        label.control-label 出生年月：
                        .form-content 1988年4月
                    .form-group
                        label.control-label 文化程度：
                        .form-content 本科
                    .form-group
                        label.control-label 政治面貌：
                        .form-content 群众
                    .form-group
                        label.control-label 工作单位：
                        .form-content 成都市双流县双流中学
                    .form-group
                        label.control-label 职业：
                        .form-content 教师
                    .form-group
                        label.control-label 联系方式：
                        .form-content 13989088765
