.form-btn-group
    button.btn.btn-default(ng-click="edit()") 编辑
.form-group
    label.control-label 姓名：
    .form-content {{wife.name}}
.form-group
    label.control-label 性别
    .form-content {{wife.gender}}
.form-group
    label.control-label 籍贯：
    .form-content {{wife.nativePlace}}
.form-group
    label.control-label 民族：
    .form-content {{wife.nation}}
.form-group
    label.control-label 出生年月：
    .form-content {{wife.birthday}}
.form-group
    label.control-label 文化程度：
    .form-content {{wife.educationBackground}}
.form-group
    label.control-label 政治面貌：
    .form-content {{wife.politicalStatus}}
.form-group
    label.control-label 工作单位：
    .form-content {{wife.company}}
.form-group
    label.control-label 职业：
    .form-content {{wife.position}}
.form-group
    label.control-label 联系方式：
    .form-content {{wife.mobile}}