section.personnel-info-section(ng-init="vm.lovers = currentUser.familymembers.$search({relation: 'lover'})")
    .personnel-top-header.clearfix
        h4.pull-left 家庭成员
    .personnel-content-body
        .personnel-section-wrap
             section.personnel-info-control.clearfix
                .personnel-info-left
                    .personnel-item-icon.personnel-item2
                    .personnel-item-desc.bg-success 配偶
                .personnel-info-right.form-split(ng-controller="EditableResource" ng-repeat="wife in vm.lovers")
                    .showing(ng-hide="lovers.length != 0 && editing")
                        include self_info_lover_section
                    .editing(ng-if="editing")
                        include self_info_lover_edit
                .personnel-info-right.form-split(ng-controller="EditableResource" ng-init="wife = vm.lovers.$new(); wife.relation='lover'" ng-if="vm.lovers.length == 0")
                    .showing(ng-hide="editing")
                        include self_info_lover_section
                    .editing(ng-if="editing")
                        include self_info_lover_edit





section.clearfix(ng-init="vm.children = currentUser.familymembers.$search({relation: 'children'}); newChildren = []") 子女
    table
        tr
            th 姓名
            th 关系
            th 性别
            th 出生年月
            th 常住户口所在地
            th 学校或工作单位
        tr(ng-repeat="child in vm.children")
            td(ng-bind="child.name")
            td(ng-bind="child.relationType")
            td(ng-bind="child.gender")
            td(ng-bind="child.birthday")
            td(ng-bind="child.nativePlace")
            td(ng-bind="child.company")
        tr(ng-repeat="nc in newChildren" ng-init="nc.relation='children'")
            td
                input(ng-model="nc.name")
            td
                input(ng-model="nc.relationType")
            td
                input(ng-model="nc.gender")
            td
                input(ng-model="nc.birthday")
            td
                input(ng-model="nc.nativePlace")
            td
                input(ng-model="nc.company")
            td
                button(ng-click="vm.children.$create(nc);newChildren.splice($index, 1)") 新增

    .add
        button(ng-click="newChildren.push({})") 新增



section.clearfix(ng-init="vm.other = currentUser.familymembers.$search({relation: 'other'}); newOther = []")
    table
        tr
            th 姓名
            th 关系
            th 性别
            th 出生年月
            th 常住户口所在地
            th 学校或工作单位
        tr(ng-repeat="omg in other")
            td(ng-bind="omg.name")
            td(ng-bind="omg.relation_type")
            td(ng-bind="omg.gender")
            td(ng-bind="omg.birthday")
            td(ng-bind="omg.native_place")
            td(ng-bind="omg.company")
        tr(ng-repeat="nc in newChildren" ng-init="nc.relation='other'")
            td
                input(ng-model="nc.name")
            td
                input(ng-model="nc.relationType")
            td
                input(ng-model="nc.gender")
            td
                input(ng-model="nc.birthday")
            td
                input(ng-model="nc.nativePlace")
            td
                input(ng-model="nc.company")
            td
                button(ng-click="vm.other.$create(nc);newOther.splice($index, 1)") 新增
    .add
        button(ng-click="newOther.push({})") 新增