section.personnel-info-section(ng-init="vm.lovers = currentUser.familymembers.$search({relation: 'lover'})")
    .personnel-top-header.clearfix
        h4.pull-left 家庭成员
    .personnel-content-body
        .personnel-section-wrap
             section.personnel-info-control.clearfix
                .personnel-info-left
                    .personnel-item-icon.personnel-item2
                    .personnel-item-desc.bg-success 配偶
                .personnel-info-right.form-split(ng-controller="EditableResource" ng-repeat="wife in vm.lovers")
                    .showing(ng-hide="lovers.length != 0 && editing")
                        include self_info_lover_section
                    .editing(ng-if="editing")
                        include self_info_lover_edit
                .personnel-info-right.form-split(ng-controller="EditableResource" ng-init="wife = vm.lovers.$new(); wife.relation='lover'" ng-if="vm.lovers.length == 0")
                    .showing(ng-hide="editing")
                        include self_info_lover_section
                    .editing(ng-if="editing")
                        include self_info_lover_edit
            section.personnel-info-table.clearfix(ng-init="vm.children = currentUser.familymembers.$search({relation: 'children'}); newChildren = []")
                h4 子女情况
                table.custom-table
                    thead
                        tr
                            th 姓名
                            th 关系
                            th 性别
                            th 出生年月
                            th 常住户口所在地
                            th 学校或工作单位
                            th 操作
                    tbody
                        tr(ng-repeat="child in vm.children")
                            td(ng-bind="child.name")
                            td(ng-bind="child.relationType")
                            td(ng-bind="child.gender")
                            td(ng-bind="child.birthday")
                            td(ng-bind="child.nativePlace")
                            td(ng-bind="child.company")
                            td.control-td
                                button.btn.fa.fa-times
                form.form-split(ng-repeat="nc in newChildren" ng-init="nc.relation='children'")
                    .form-group
                        .control-label 姓名：
                        input.form-control(ng-model="nc.name")
                    .form-group
                        .control-label 关系：
                        input.form-control(ng-model="nc.relationType")
                    .form-group
                        .control-label 性别：
                        input.form-control(ng-model="nc.gender")
                    .form-group
                        .control-label 出生年月：
                        input.form-control(ng-model="nc.birthday")
                    .form-group
                        .control-label 常住户口所在地：
                        input.form-control(ng-model="nc.nativePlace")
                    .form-group
                        .control-label 学校或工作单位：
                        input.form-control(ng-model="nc.company")
                    .form-group
                        button.btn.btn-info(ng-click="vm.children.$create(nc);newChildren.splice($index, 1)") 提交
                        button.btn.btn-default() 取消

                .add
                    button.btn.btn-default.fa.fa-plus(ng-click="newChildren.push({})")
            section.personnel-info-table.clearfix(ng-init="vm.other = currentUser.familymembers.$search({relation: 'other'}); newOther = []")
                h4 父母、兄妹、配偶父母情况
                table.custom-table
                    tr
                        th 姓名
                        th 关系
                        th 性别
                        th 出生年月
                        th 常住户口所在地
                        th 学校或工作单位
                        th 操作
                    tr(ng-repeat="omg in other")
                        td(ng-bind="omg.name")
                        td(ng-bind="omg.relation_type")
                        td(ng-bind="omg.gender")
                        td(ng-bind="omg.birthday")
                        td(ng-bind="omg.native_place")
                        td(ng-bind="omg.company")
                        td.control-td
                                button.btn.fa.fa-times

                form.form-split(ng-repeat="nc in newChildren" ng-init="nc.relation='children'")
                    .form-group
                        .control-label 姓名：
                        input.form-control(ng-model="nc.name")
                    .form-group
                        .control-label 关系：
                        input.form-control(ng-model="nc.relationType")
                    .form-group
                        .control-label 性别：
                        input.form-control(ng-model="nc.gender")
                    .form-group
                        .control-label 出生年月：
                        input.form-control(ng-model="nc.birthday")
                    .form-group
                        .control-label 常住户口所在地：
                        input.form-control(ng-model="nc.nativePlace")
                    .form-group
                        .control-label 学校或工作单位：
                        input.form-control(ng-model="nc.company")
                    .form-group
                        button.btn.btn-info(ng-click="vm.children.$create(nc);newChildren.splice($index, 1)") 提交
                        button.btn.btn-default() 取消

                .add
                    button.btn.btn-default.fa.fa-plus(ng-click="newChildren.push({})")
