section.personnel-info-section(ng-init="vm.lovers = currentUser.familymembers.$search({relation: 'lover'})")
    .personnel-content-body
        .personnel-section-wrap()
            md-toolbar
                h2.md-toolbar-tools
                    span 家庭成员
            md-content
                section.form-material-section(ng-if="vm.lovers.length != 0" ng-repeat="wife in vm.lovers")
                    md-subheader 配偶
                    include self_info_lover_edit
                    md-divider
                section.form-material-section(ng-if="vm.lovers.length == 0" ng-init="wife = vm.lovers.$new(); wife.relation='lover';")
                    md-subheader 配偶
                    include self_info_lover_edit
                    md-divider
            md-content.form-material-section.form-table-container(ng-init="vm.children = currentUser.familymembers.$search({relation: 'children'}); newChildren = []")
                md-subheader 子女情况
                table.table.table-hover.table-mc-light-blue.table-bordered
                    thead
                        tr
                            th 姓名
                            th 关系
                            th 性别
                            th 出生年月
                            th 常住户口所在地
                            th 学校或工作单位
                            th 操作
                    tbody
                        tr(ng-repeat="child in vm.children")
                            td(ng-bind="child.name")
                            td(ng-bind="child.relationType")
                            td(ng-bind="child.gender")
                            td(ng-bind="child.birthday | date:'yyyy-MM-dd'")
                            td(ng-bind="child.residenceBooklet")
                            td(ng-bind="child.company")
                            td.control-td
                                button.btn.btn-default.fa.fa-times(ng-click="child.$destroy()")
                form.add-member(ng-repeat="nc in newChildren" ng-init="nc.relation='children';")
                    div(layout)
                        md-input-container(flex)
                            label 姓名
                            input(ng-model="nc.name")
                        md-input-container(flex)
                            label 关系
                            input(ng-model="nc.relationType")
                    div(layout)
                        md-input-container(flex)
                            label 性别
                            input(ng-model="nc.gender")
                        md-input-container(flex)
                            label 出生年月
                            input(ng-model="nc.birthday" bs-datepicker)
                    md-input-container
                        label 常住户口所在地
                        input(ng-model="nc.residenceBooklet" columns="1")
                    md-input-container
                        label 学校或工作单位
                        input(ng-model="nc.company" columns="1")
                    .form-actions
                        md-button.md-raised.white(ng-click="newChildren.splice($index, 1)") 取消
                        md-button.md-raised.skyblue(ng-click="vm.children.$create(nc);newChildren.splice($index, 1)") 提交

                .add(ng-hide="newChildren.length")
                    button.btn.btn-default.fa.fa-plus(ng-click="newChildren.push({})")

                md-divider
            md-content.form-material-section.form-table-container(ng-init="vm.other = currentUser.familymembers.$search({relation: 'other'}); newOther = []")
                md-subheader 父母、兄妹、配偶父母情况
                table.table
                    thead
                        tr
                            th 姓名
                            th 关系
                            th 性别
                            th 出生年月
                            th 常住户口所在地
                            th 学校或工作单位
                            th 操作
                    tbody
                        tr(ng-repeat="omg in vm.other")
                            td(ng-bind="omg.name")
                            td(ng-bind="omg.relationType")
                            td(ng-bind="omg.gender")
                            td(ng-bind="omg.birthday | date:'yyyy-MM-dd'")
                            td(ng-bind="omg.residenceBooklet")
                            td(ng-bind="omg.company")
                            td.control-td
                                button.btn.btn-default.fa.fa-times(ng-click="omg.$destroy()")
                form.add-member(ng-repeat="no in newOther" ng-init="no.relation='other';")
                    div(layout)
                        md-input-container(flex)
                            label 姓名
                            input(ng-model="no.name")
                        md-input-container(flex)
                            label 关系
                            input(ng-model="no.relationType")
                    div(layout)
                        md-input-container(flex)
                            label 性别
                            input(ng-model="no.gender")
                        md-input-container(flex)
                            label 出生年月
                            input(ng-model="no.birthday" bs-datepicker)
                    md-input-container
                        label 常住户口所在地
                        input(ng-model="no.residenceBooklet")
                    md-input-container
                        label 学校或工作单位
                        input(ng-model="no.company")
                    .form-actions()
                        md-button.md-raised.white(ng-click="newOther.splice($index, 1)") 取消
                        md-button.md-raised.skyblue(ng-click="vm.other.$create(no);newOther.splice($index, 1)") 提交

                .add(ng-hide="newOther.length")
                    button.btn.btn-default.fa.fa-plus(ng-click="newOther.push({})")

