.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl")
    .salary-basic
        md-tabs(md-selected="ctrl.selectedIndex" md-border-bottom md-autoselect)
            md-tab.leader-base(label="干部")
                md-toolbar
                  .md-toolbar-tools
                    h2 干部基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="管理15")
                md-toolbar
                  .md-toolbar-tools
                    h2 管理15基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="管理12")
                md-toolbar
                  .md-toolbar-tools
                    h2 管理12基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="飞行员-机长")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员-机长基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="飞行员-副驾")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员-副驾基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="飞行员-教员A")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员-教员A基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="飞行员-教员B")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员-教员B基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="飞行员-教员C")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员-教员C基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="飞行员-学员")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员-机长基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="空乘空保")
                md-toolbar
                  .md-toolbar-tools
                    h2 空乘空保基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="服务B")
                md-toolbar
                  .md-toolbar-tools
                    h2 服务B基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="服务C")
                md-toolbar
                  .md-toolbar-tools
                    h2 服务C基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="空中观察员")
                md-toolbar
                  .md-toolbar-tools
                    h2 空中观察员基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            md-tab(label="前场运行")
                md-toolbar
                  .md-toolbar-tools
                    h2 前场运行基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade