.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl")
    .salary-basic
        md-tabs(md-selected="ctrl.selectedIndex" md-border-bottom md-autoselect)
            md-tab(label="干部")
                include ./settings/dynamic_table.jade
            md-tab(label="管理15")
                include ./settings/dynamic_table.jade
            md-tab(label="管理12")
                include ./settings/dynamic_table.jade
            md-tab(label="飞行员")
                include ./settings/dynamic_table.jade
            md-tab(label="空乘空保")
                include ./settings/dynamic_table.jade
            md-tab(label="服务B")
                include ./settings/dynamic_table.jade
            md-tab(label="空中观察员")
                include ./settings/dynamic_table.jade
            md-tab(label="前场运行")