.app-content-wrapper(flex ng-controller="salaryBasicCtrl as ctrl")
    .salary-basic
        md-tabs(
            md-selected="selectedIndex"
            md-border-bottom
            md-autoselect
            )
            md-tab(label="干部")

            md-tab(label="管理15")

            md-tab(label="管理12")

            md-tab(label="飞行员")

            md-tab(label="空乘空保")

            md-tab(label="服务B")

            md-tab(label="空中观察员")

            md-tab(label="前场运行")
