.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl")
    .salary-basic
        tabset
            tab.leader-base(heading="干部" ng-click="ctrl.loadDynamicConfig('leader_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 干部基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            tab(heading="管理15" ng-click="ctrl.loadDynamicConfig('manager15_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 管理15基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            tab(heading="管理12" ng-click="ctrl.loadDynamicConfig('manager12_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 管理12基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            tab(heading="飞行员-机长"  ng-click="ctrl.loadDynamicConfig('flyer_leader_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员-机长基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            tab(heading="飞行员-副驾"  ng-click="ctrl.loadDynamicConfig('flyer_copilot_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员-副驾基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            tab(heading="飞行员-教员A" ng-click="ctrl.loadDynamicConfig('flyer_teacher_A_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员-教员A基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            tab(heading="飞行员-教员B" ng-click="ctrl.loadDynamicConfig('flyer_teacher_B_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员-教员B基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            tab(heading="飞行员-教员C" ng-click="ctrl.loadDynamicConfig('flyer_teacher_C_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员-教员C基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            tab(heading="飞行员-学员" ng-click="ctrl.loadDynamicConfig('flyer_student_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员-学员基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            tab(heading="空乘空保" ng-click="ctrl.loadDynamicConfig('air_steward_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 空乘空保基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            include ./settings/service_b.jade
            tab(heading="服务C" ng-click="ctrl.loadDynamicConfig('service_c_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 服务C基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            tab(heading="空中观察员" ng-click="ctrl.loadDynamicConfig('air_observer_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 空中观察员基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade
            tab(heading="前场运行" ng-click="ctrl.loadDynamicConfig('front_run_base')")
                md-toolbar
                  .md-toolbar-tools
                    h2 前场运行基础薪酬列表
                    include ./settings/btn.jade
                include ./settings/common.jade