tabset(flex)
    tab(heading="基础薪酬计算")
        include calc/basic.jade
    tab(heading="绩效薪酬计算")
        include calc/performance.jade
    tab(heading="小时费计算")
        include calc/hours_fee.jade
    tab(heading="津贴计算")
        include calc/allowance.jade
    tab(heading="驻站津贴计算")
        include calc/land_allowance.jade
    tab(heading="薪酬合计")
        include calc/salary_overview.jade