tabset(flex)
    tab(heading="薪酬个人设置")
        include settings/personal/person.jade
    tab(heading="薪酬变动信息")
        include settings/personal/change.jade
    tab(heading="薪酬档级变动")
        include settings/personal/grade.jade