tabset(flex)
    tab(heading="薪资全局设置")
        include settings/salary_global
    tab(heading="薪资基础设置")
        //- include settings/salary_basic
    tab(heading="薪资绩效设置")
        //- include settings/salary_performance
    tab(heading="薪资个人设置")
        include settings/salary_personal