tabset(flex)
    tab(heading="薪酬全局设置")
        include settings/salary_global
    tab(heading="薪酬基础设置")
        include basic
    tab(heading="薪资绩效设置")
        //- include settings/salary_performance
