tabset(flex)
    tab(heading="薪酬全局设置")
        include settings/salary_global
    tab(heading="薪酬基础设置")
        //- include settings/salary_basic
    tab(heading="薪酬绩效设置")
        //- include settings/salary_performance
    tab(heading="薪酬个人设置")
        include settings/salary_personal