tabset(flex)
    tab(heading="薪酬全局设置")
        include settings/salary_global.jade
    tab(heading="薪酬基础设置")
        include basic.jade
    tab(heading="薪资绩效设置")
        include settings/salary_performance.jade
    tab(heading="小时费设置")
        include settings/salary_hours_fee.jade
    tab(heading="津补贴设置")
        include settings/salary_allowance.jade