extends ../../../component/workflow/rfc

block vars
    - var flowType = "Flow::EarlyRetirement"
    - var flowTitle = "员工退养申请单"

block relation_data
    div.flow-info-row(layout)
        .flow-info-cell(flex)
            .flow-cell-title 通道
            .flow-cell-content {{receptor.channelId | enum: 'channels'}}
        .flow-info-cell(flex)
                .flow-cell-title 性别
                .flow-cell-content {{receptor.genderId | enum: 'genders'}}
    div.flow-info-row(layout)
        .flow-info-cell(flex)
            .flow-cell-title 年龄
            .flow-cell-content {{receptor.age}}
        .flow-info-cell(flex)
                .flow-cell-title 工作年限
                .flow-cell-content {{receptor.startWorkingYears}}
    div.flow-info-row(layout)
        .flow-info-cell(flex)
            .flow-cell-title 到岗时间
            .flow-cell-content {{receptor.joinScalDate}}
        .flow-info-cell(flex)
                .flow-cell-title 公司工作年限
                .flow-cell-content {{receptor.joinScalDate | fromNow}}

block form
    div(layout)
        md-input-container(flex)
            label 退养原因
            textarea(ng-model="request.reason" columns="1" md-maxlength="2000")
    md-subheader.accessory-header.md-background.md-hue-1 附件
    div(flow-file-upload flow-type="#{flowType}" ng-model="request.attachment_ids")
    .tip 请上传退养相关资料