extends ../../../component/workflow/my_requests

block vars
    - var requestTitle = '我要退养'
    - var requestTip = '点击退养申请，可发起退养流程。列表中选择未生效的申请，可撤销退养申请'
    - var girdSelection = true

block tools
    span 退养列表
    span(flex)
    span
        md-button.md-primary.md-raised(
            nb-panel
            template-url="/partials/self/my_requests/early_retirement/early_retirement.html"
        ) 退养申请
    span
        md-button.md-primary.md-raised(
            nb-title="你是否要撤销所选退养操作?"
            nb-content="当你点击确定时，您所申请的退养将被撤销！"
            locals="{list: ctrl.tableData}"
        ) 撤销退养