/*在微软雅黑字体下，tree 的 close 状态显示错位*/
.jqtree-tree {
    font-size: 14px;
    .jqtree-element {
        .jqtree-toggler {
            font-family:  "Arial";
            font-size: 10px;
            color: #468fce;
            &.jqtree-closed {
                color: #ddd;
            }
            &:hover {
                color: #468fce;
            }
        }
    }
    .jqtree-folder {
        .jqtree-selected {
            .jqtree-element {
                background: none;
                background-color: #EDF1F2;
                .jqtree-toggler {
                    color: #468fce;
                }
            }
        }
    }
}


