extends ./../datas_layout.jade

block vars
	- var pickers = ['汇报', '调岗记录'] 

block datas_content
	.datas__container--reports(ng-if="ctrl.datasType == '汇报'")
		include ./human_reports

	.datas__container--charts(ng-if="ctrl.datasType == '调岗记录'")
		include ./position_changes