md-dialog.labors-new-leave.datas__container--charts
	.dialog-content(ng-init="ctrl.showChartInDialog = true;")
		div.echarts-wrapper(ng-if="ctrl.initialDataCompleted")
			div.charts-toolbar(layout)
				//- 切换图标和表格
				md-button.md-icon-button(ng-hide="ctrl.showChartInDialog" ng-click="ctrl.showChartInDialog = !ctrl.showChartInDialog")
					md-icon(md-svg-src="/images/svg/insert_chart.svg" style="fill: rgb(33,150,243);")
				md-button.md-icon-button(ng-show="ctrl.showChartInDialog" ng-click="ctrl.showChartInDialog = !ctrl.showChartInDialog" style="fill: rgb(33,150,243);")
					md-icon(md-svg-src="/images/svg/view_list.svg")
				span(flex)
				.date-selector(layout)
					md-select(ng-model="ctrl.positionChangeTableType" placeholder="请选择" flex-order="0" ng-change="ctrl.loadPositionChangesData()")
						md-option(ng-repeat="channel in ctrl.channels" ng-value="channel") {{channel}}

					md-select(style="width: 150px;" ng-model="ctrl.currentYear" ng-change="ctrl.loadPositionChangesData(true)" placeholder="请选择")
						md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
					label(flex-order="2") 年
					md-select(ng-model="ctrl.currentMonth" ng-change="ctrl.loadPositionChangesData(true)" placeholder="请选择")
						md-option(ng-value="item" ng-repeat="item in ctrl.month_list track by $index" ng-bind="item")
					label(flex-order="3") 月

			ng-echarts.echarts-bar(
				ng-if="ctrl.showChartInDialog"
				ec-config="ctrl.chartConfig"
				ec-option="ctrl.positionChangePieOptionInDialog"
			)

			div.chart-detail.ui-grid-container(ng-if="!ctrl.showChartInDialog")
				div.grid-item(nb-grid column-defs="ctrl.adjustPositionDef" safe-src="ctrl.adjustPositionRecords")
