div.echarts-wrapper(ng-if="ctrl.initialDataCompleted")
	div.charts-toolbar(layout)
		md-select(style="width: 150px; margin: 0;" ng-model="ctrl.positionChangeTableType" placeholder="请选择" flex-order="0" ng-change="ctrl.loadPositionChangesData()")
			md-option(ng-repeat="channel in ctrl.channels" ng-value="channel") {{channel}}

		span(flex)
		.date-selector(layout)
			md-select(style="width: 150px;" ng-model="ctrl.currentYear" ng-change="ctrl.getChannels(); ctrl.loadPositionChangesData()" placeholder="请选择")
				md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
			label(flex-order="2") 年
			md-select(ng-model="ctrl.currentMonth" ng-change="ctrl.getChannels(); ctrl.loadPositionChangesData()" placeholder="请选择")
				md-option(ng-value="item" ng-repeat="item in ctrl.month_list track by $index" ng-bind="item")
			label(flex-order="3") 月

	ng-echarts.echarts-bar(
		ec-config="ctrl.chartConfig"
		ec-option="ctrl.positionChangePieOption"
		nb-dialog
		template-url="partials/shared/boss_datas/human/position_changes_dialog.html"
	)
