extends ../../component/workflow/index

block heading

    - var user_list = '辞退发起'
    - var flowName = "员工辞退"
    - var multi = false

block user_list_actions
    md-button.md-primary.md-raised(
        ng-disabled="!ctrl.getSelected()"
        nb-panel
        template-url="/partials/labors/dismiss/rfc.html"
        locals="{receptor: ctrl.getSelected()}"
        ) 人员辞退