.app-content-wrapper(flex ng-controller="UserListCtrl")
    div(nb-filter="filterOptions" on-search="search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 员工花名册
                div(flex)
                md-button.md-primary.md-raised(
                    ng-disabled="!getSelected()"
                    nb-dialog
                    template-url="/partials/labors/retirement/retirement.html"
                    locals="{current:getSelected()}"
                ) 人员辞退
                
        div(nb-grid column-defs="columnDef" multi-select="false" export-api grid-selection safe-src="employees")