//- form(name="positionEditForm" ng-submit="save(current.$save())" ng-controller="EditableResourceCtrl" ng-init="params = {}")
form(name="positionEditForm" ng-submit="" ng-controller="EditableResourceCtrl" ng-init="params = {}")
    .form-btn-group(ng-hide="editing" has-permission="employees_update")
        md-button.md-fab.md-primary(ng-click="edit($event)" has-permission="employees_update_position_info")
            md-icon(md-svg-src="/images/svg/edit_24px.svg" aria-label="修改")
    .form-btn-group.alive(ng-show="editing")
        md-button.md-raised.md-fab(ng-click="cancel(current, $event, positionEditForm)")
            md-icon(md-svg-src="/images/svg/close.svg" aria-label="取消")
        md-button.md-raised.md-fab.md-primary(ng-click="current.update_position_info();editing=false;" ng-disabled="positionEditForm.$invalid")
            md-icon(md-svg-src="/images/svg/check.svg" aria-label="保存")
    fieldset(ng-disabled="!editing" md-theme="default")

        div(org-muti-pos ng-model="current.positions" editing="editing")

        div(layout)
            md-input-container.row-has-value(flex)
                label 分类
                md-select(ng-model="current.categoryId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('categories')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 通道
                md-select(ng-model="current.channelId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('channels')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 职务职级
                md-select(ng-model="current.dutyRankId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('duty_ranks')") {{item.label}}
        div(layout)
            md-input-container.row-has-value(flex)
                label 用工性质
                md-select(ng-model="current.laborRelationId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('labor_relations')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 用工关系状态
                md-select(ng-model="current.employmentStatusId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('employment_status')") {{item.label}}
            md-input-container.row-has-value(flex="33")
                label 属地化地点
                input(ng-model="current.location")

        md-input-container.row-has-value
            label 岗位备注
            input(ng-model="current.positionRemark")