.form-btn-group
    button.btn.btn-default(ng-click="edit()") 编辑
.form-group.block
    label.control-label 所属部门：
    .form-content {{current.department.name}}
.form-group
    label.control-label 岗位：
    .form-content {{current.position.name}}
.form-group
    label.control-label 分类：
    .form-content {{current.category.displayName}}
.form-group
    label.control-label 通道：
    .form-content {{current.channel.displayName}}
.form-group
    label.control-label 类别：
    .form-content {{current.position.postType}}
.form-group
    label.control-label 属地化地点：
    .form-content {{current.location.displayName}}
.form-group
    label.control-label 用工性质：
    .form-content {{current.laborRelation.displayName}}
.form-group
    label.control-label 用工关系状态：
    .form-content {{current.employmentStatus.displayName}}