form(name="positionEditForm" ng-submit="save(current.$save())" ng-controller="EditableResource" ng-init="params = {}")
    .form-btn-group(ng-hide="editing" has-permission="employees_update")
        md-button.md-fab(ng-click="edit($event)")
            md-icon(md-svg-src="/images/svg/edit_24px.svg" aria-label="修改")
    .form-btn-group.alive(ng-show="editing")
        md-button.md-raised(ng-click="cancel(current, $event, positionEditForm)") 取消
        md-button.md-raised(type="submit" ng-disabled="positionEditForm.$invalid") 保存
    fieldset(ng-disabled="!editing")

        div(org-muti-pos ng-model="current.positions" editing="editing")
        
        md-input-container.row-has-value
            label 岗位备注
            input(ng-model="current.positionRemark")
        div(layout)
            md-input-container.row-has-value(flex)
                label 分类
                md-select(ng-model="current.categoryId" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(current.categoryId, "categories")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('categories')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 通道
                md-select(ng-model="current.channelId" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(current.channelId, "channels")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('channels')") {{item.label}}
            md-input-container(flex)
                label 类别
                input(ng-model="current.position.postType")
        div(layout)
            md-input-container.row-has-value(flex)
                label 职务职级
                md-select(ng-model="current.dutyRankId" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(current.dutyRankId, "duty_ranks")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('duty_ranks')") {{item.label}}

            md-input-container.row-has-value(flex)
                label 用工性质
                md-select(ng-model="current.laborRelationId" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(current.laborRelationId, "labor_relations")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('labor_relations')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 用工关系状态
                md-select(ng-model="current.employmentStatusId" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(current.employmentStatusId, "employment_status")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('employment_status')") {{item.label}}
        div(layout)
            md-input-container.row-has-value(flex="33")
                label 属地化地点
                md-select(ng-model="current.locationId" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(current.locationId, "locations")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('locations')") {{item.label}}

