form(name="positionEditForm" ng-submit="save(current.$save())" ng-controller="EditableResource" ng-init="params = {}")
    .form-btn-group(ng-hide="editing" has-permission="employees_update")
        md-button.md-fab(ng-click="edit($event)")
            md-icon(md-svg-src="/images/svg/edit_24px.svg" aria-label="修改")
    .form-btn-group.alive(ng-show="editing")
        md-button.md-raised(ng-click="cancel(current, $event, positionEditForm)") 取消
        md-button.md-raised(type="submit" ng-disabled="positionEditForm.$invalid") 保存
    fieldset(ng-disabled="!editing")

        div(org-muti-pos ng-model="current.positions" editing="editing")
        //- .form-group
        //-     label 所属部门
        //-     ui-select(
        //-         ng-model="current.department"
        //-         ng-change="params.orgPos = current.department.positions.length? current.department.positions: current.department.positions.$fetch();current.position = null"
        //-         ng-init="params.orgPos = current.department.positions.length? current.department.positions: current.department.positions.$fetch();"
        //-         reset-search-input="true"
        //-         style="width: 500px"
        //-         )
        //-         ui-select-match(placeholder="请输入机构名称") {{ $select.selected.fullName }}
        //-         ui-select-choices(repeat="org in allOrgs | filter:$select.search | limitTo: 10") {{ org.fullName }}
        md-input-container.row-has-value
            label 岗位备注
            input(ng-model="current.positionRemark")
        div(layout)
            md-input-container.row-has-value(flex)
                label 分类
                //- md-select(ng-model="current.category" md-on-open="loadEnum('categories')" ng-disabled="!editing")
                //-     md-select-label {{current.category? current.category.displayName : '无'}}
                //-     md-option(ng-value="category" ng-repeat="category in enums.categories") {{category.displayName}}
                md-select(ng-model="current.category" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(current.category, "categories")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('categories')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 通道
                //- md-select(ng-model="current.channel" md-on-open="loadEnum('channels')" ng-disabled="!editing")
                //-     md-select-label {{current.channel? current.channel.displayName : '无'}}
                //-     md-option(ng-value="channel" ng-repeat="channel in enums.channels") {{channel.displayName}}
                md-select(ng-model="current.channel" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(current.channel, "channels")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('channels')") {{item.label}}
            md-input-container(flex)
                label 类别
                input(ng-model="current.position.postType")
        div(layout)
            md-input-container.row-has-value(flex)
                label 职务职级
                //- md-select(ng-model="current.dutyRank" md-on-open="loadEnum('employee_duty_ranks')" ng-disabled="!editing")
                //-     md-select-label {{current.dutyRank? current.dutyRank.displayName : '无'}}
                //-     md-option(ng-value="dutyRank" ng-repeat="dutyRank in enums.employee_duty_ranks") {{dutyRank.displayName}}
                md-select(ng-model="current.dutyRank" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(current.dutyRank, "employee_duty_ranks")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('employee_duty_ranks')") {{item.label}}

            md-input-container.row-has-value(flex)
                label 用工性质
                //- md-select(ng-model="current.laborRelation" md-on-open="loadEnum('labor_relations')" ng-disabled="!editing")
                //-     md-select-label {{current.laborRelation? current.laborRelation.displayName : '无'}}
                //-     md-option(ng-value="laborRelation" ng-repeat="laborRelation in enums.labor_relations") {{laborRelation.displayName}}
                md-select(ng-model="current.laborRelation" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(current.laborRelation, "labor_relations")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('labor_relations')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 用工关系状态
                //- md-select(ng-model="current.employmentStatus" md-on-open="loadEnum('employment_status')" ng-disabled="!editing")
                //-     md-select-label {{current.employmentStatus? current.employmentStatus.displayName : '无'}}
                //-     md-option(ng-value="empStatus" ng-repeat="empStatus in enums.employment_status") {{empStatus.displayName}}
                md-select(ng-model="current.employmentStatus" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(current.employmentStatus, "employment_status")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('employment_status')") {{item.label}}
        div(layout)
            md-input-container.row-has-value(flex="33")
                label 属地化地点
                //- md-select(ng-model="current.location" md-on-open="loadEnum('locations')" ng-disabled="!editing")
                //-     md-select-label {{current.location? current.location.displayName : '无'}}
                //-     md-option(ng-value="location" ng-repeat="location in enums.locations") {{location.displayName}}
                md-select(ng-model="current.location" ng-disabled="!editing")
                    md-select-label {{$enum.parseLabel(current.location, "locations")}}
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('locations')") {{item.label}}

