form(name="empEditForm" ng-submit="save(current.$save(), empEditForm)" ng-controller="EditableResource")
    .form-btn-group(ng-hide="editing" has-permission="employees_update")
        md-button.md-fab.md-primary(ng-click="edit($event)")
            md-icon(md-svg-src="/images/svg/edit_24px.svg" aria-label="修改")
    .form-btn-group.alive(ng-show="editing")
        md-button.md-raised.white(type="button" ng-click="cancel(current,$event, empEditForm)",) 取消
        md-button.skyblue.md-raised(type="submit") 保存
    fieldset(ng-disabled="!editing")
        div(layout)
            md-input-container.row-has-value(flex)
                label 职称
                md-select(ng-model="current.jobTitle", md-on-open="loadEnum('job_titles')" ng-disabled="!editing")
                    md-select-label {{current.jobTitle? current.jobTitle.displayName : '无'}}
                    md-option(ng-value="jobTitle" ng-repeat="jobTitle in enums.job_titles") {{jobTitle.displayName}}
            md-input-container.row-has-value(flex)
                label 职称级别
                md-select(ng-model="current.jobTitleDegree", md-on-open="loadEnum('job_title_degrees')" ng-disabled="!editing")
                    md-select-label {{current.jobTitleDegree? current.jobTitleDegree.displayName : '无'}}
                    md-option(ng-value="jobTitleDegree" ng-repeat="jobTitleDegree in enums.job_title_degrees") {{jobTitleDegree.displayName}}
            md-input-container.row-has-value(flex)
                label 技术职务
                input(ng-model="current.technicalDuty")
                //- md-select(ng-model="current.jobTitleDegree", md-on-open="loadEnum('job_title_degrees')" ng-disabled="!editing")
                //-     md-select-label {{current.jobTitleDegree? current.jobTitleDegree.displayName : '无'}}
                //-     md-option(ng-value="jobTitleDegree" ng-repeat="jobTitleDegree in enums.job_title_degrees") {{jobTitleDegree.displayName}}
