//- form(name="empEditForm" ng-submit="save(current.$save(), empEditForm)" ng-controller="EditableResourceCtrl")
form(name="empEditForm" ng-submit="" ng-controller="EditableResourceCtrl")
    //- .form-btn-group(ng-hide="editing" has-permission="employees_update")
    //-     md-button.md-fab.md-primary(ng-click="edit($event)" has-permission="employees_update_skill_info")
    //-         md-icon(md-svg-src="/images/svg/edit_24px.svg" aria-label="修改")
    .form-btn-group.alive(ng-show="editing")
        md-button.md-fab.white(type="button" ng-click="cancel(current, $event, empEditForm)")
            md-icon(md-svg-src="/images/svg/close.svg" aria-label="取消")
        md-button.md-primary.md-fab(type="button" ng-click="current.update_skill_info();editing=false;")
            md-icon(md-svg-src="/images/svg/check.svg" aria-label="保存")
    fieldset(ng-disabled="!editing" md-theme="default")
        div(layout)
            md-input-container(flex)
                label 职称
                input(ng-model="current.jobTitle" ng-disabled="!editing")
            md-input-container.row-has-value(flex)
                label 职称级别
                md-select(ng-model="current.jobTitleDegreeId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('job_title_degrees')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 技术职务
                input(ng-model="current.technicalDuty")

