form(name="empEditForm" ng-submit="save(current.$save(), empEditForm)" ng-controller="EditableResourceCtrl")
    .form-btn-group(ng-hide="editing" has-permission="employees_update")
        md-button.md-fab.md-primary(ng-click="edit($event)")
            md-icon(md-svg-src="/images/svg/edit_24px.svg" aria-label="修改")
    .form-btn-group.alive(ng-show="editing")
        md-button.md-fab.white(type="button" ng-click="cancel(current,$event, empEditForm)")
            md-icon(md-svg-src="/images/svg/close.svg" aria-label="取消")
        md-button.md-primary.md-fab(type="submit")
            md-icon(md-svg-src="/images/svg/check.svg" aria-label="保存")
    fieldset(ng-disabled="!editing" md-theme="default")
        div(layout)
            md-input-container(flex)
                label 姓名
                input(ng-model="current.name" name="name" required)
            md-input-container(flex)
                label 员工编号
                input(disabled ng-model="current.employeeNo")
            md-input-container.row-has-value(flex)
                label 性别
                md-select(ng-model="current.genderId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('genders')") {{item.label}}

        div(layout)
            md-input-container(flex)
                label 身份证号
                input(ng-model="current.identityNo", name="identityNo" required)
            md-input-container.row-has-value(flex)
                label 政治面貌
                md-select(ng-model="current.politicalStatusId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('political_status')") {{item.label}}
            md-input-container(flex)
                label 联系方式
                input(type="text", ng-model="current.contact.mobile", name="contact")
        div(layout)
            md-input-container(flex)
                label 参工时间
                input(ng-model="current.startWorkDate" bs-datepicker)
            md-input-container(flex)
                label 到岗时间
                input(ng-model="current.joinScalDate" bs-datepicker)
            md-input-container.row-has-value(flex)
                label 英语等级
                md-select(ng-model="current.englishLevelId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('english_levels')") {{item.label}}
        div(layout)
            md-input-container(flex)
                label 毕业院校
                input(type="text", ng-model="current.school")
            md-input-container(flex)
                label 专业
                input(type="text" placeholder="请输入专业" ng-model="current.major")
            md-input-container(flex)
        div(layout)
            md-input-container.row-has-value(flex)
                label 学历
                md-select(ng-model="current.educationBackgroundId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('education_backgrounds')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 学位
                md-select(ng-model="current.degreeId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('degrees')") {{item.label}}
            md-input-container(flex)



