.form-btn-group
    button.btn.btn-default(ng-click="edit()") 编辑
.form-group
    label.control-label 员工编号：
    .form-content(ng-bind="current.employeeNo")
.form-group
    label.control-label 性别：
    .form-content(ng-bind="current.gender.displayName")
.form-group
    label.control-label 姓名：
    .form-content(ng-bind="current.name")
.form-group
    label.control-label 学历：
    .form-content(ng-bind="current.educationBackground.displayName")
.form-group
    label.control-label 身份证号：
    .form-content(ng-bind="current.identityNo")
.form-group
    label.control-label 联系方式：
    .form-content(ng-bind="current.contact.mobile")
.form-group
    label.control-label 政治面貌：
    .form-content(ng-bind="current.politicalStatus.displayName")
.form-group
    label.control-label 联系方式：
    .form-content(ng-bind="current.employeeNo")
.form-group
    label.control-label 联系方式：
    .form-content(ng-bind="current.employeeNo")
.form-group
    label.control-label 联系方式：
    .form-content(ng-bind="current.employeeNo")
