.form-btn-group
    button.btn.btn-default(ng-click="edit()") 编辑
.form-group
    label.control-label 所属部门：
    .form-content(ng-bind="current.department.name")
.form-group
    label.control-label 岗位：
    .form-content(ng-bind="current.position.name")
.form-group
    label.control-label 分类：
    .form-content(ng-bind="current.category.displayName")
.form-group
    label.control-label 通道：
    .form-content(ng-bind="current.channel.displayName")
.form-group
    label.control-label 类别：
    .form-content(ng-bind="current.position.postType")
.form-group
    label.control-label 用工性质：
    .form-content(ng-bind="current.laborRelation.displayName")
.form-group
    label.control-label 属地化地点：
    .form-content(ng-bind="current.location.displayName")
.form-group
    label.control-label 用工关系状态：
    .form-content(ng-bind="current.employmentStatus")
