section.personnel-info-control.editing.clearfix
    form(name="empEditForm" ng-submit="save(current.$save())")
        .btn-group.pull-right
            button.btn.btn-info(type="submit" ng-disabled="empEditForm.$invalid") 保存
            button.btn.btn-default(ng-click="current.$restore(); cancel()") 取消
        .personnel-info-left.pull-left
            .personnel-item-icon.personnel-item1
            .personnel-item-desc.bg-success 基本信息
        .personnel-info-right.pull-left
            table.form-validator-table
                tbody
                    tr
                        th 姓名：
                        td
                            input(type="text", ng-model="current.name", name="name", required)
                            .form-control-error(ng-messages="empEditForm.name.$error", ng-if="empEditForm.name.$dirty")
                                .form-group-error(ng-message="required") 名称必填
                        th 性别：
                        td
                            nb-dropdown(
                                ng-model="current.gender", remote-key="genders",
                                name="gender", required)
                            .form-control-error(ng-messages="empEditForm.gender.$error", ng-if="empEditForm.gender.$dirty")
                                .form-group-error(ng-message="required") 性别必选
                    tr
                        th 政治面貌：
                        td
                            nb-dropdown(ng-model="current.politicalStatus", remote-key="political_status", name="political_status")
                            .form-control-error(ng-messages="empEditForm.political_status.$error", ng-if="empEditForm.political_status.$dirty")
                                .form-group-error(ng-message="required") 政治面貌必选
                        th 学历：
                        td
                            nb-dropdown(ng-model="current.educationBackground", remote-key="education_backgrounds")
                    tr
                        th 学位：
                        td
                            nb-dropdown(ng-model="current.degree", remote-key="degrees")
                        th 毕业院校：
                        td
                            input(type="text", ng-model="current.school")
                    tr
                        th 身份证号：
                        td
                            input(type="text", ng-model="current.identityNo", name="identityNo")
                            .form-control-error(ng-messages="empEditForm.identityNo.$error", ng-if="empEditForm.identityNo.$dirty")
                                .form-group-error(ng-message="required") 身份证号码必填
                        th 联系方式：
                        td
                            input(type="text", ng-model="current.contact.mobile", name="contact")
                            .form-control-error(ng-messages="empEditForm.contact.$error", ng-if="empEditForm.contact.$dirty")
                                .form-group-error(ng-message="required") 联系方式必填
                    tr
                        th 专业：
                        td
                            input.form-control(type="text" placeholder="请输入专业" ng-model="current.major")
                        th 英语等级：
                        td
                            nb-dropdown(ng-model="current.englishLevel", remote-key="english_levels")
