form(name="positionEditForm" ng-submit="save(current.$save())" ng-controller="EditableResource" ng-init="params = {}")
    .form-btn-group(ng-hide="editing" has-permission="employees_update")
        md-button.md-fab.md-mini(ng-click="edit($event)")
            md-icon(md-svg-src="/images/svg/edit_24px.svg" alt="修改")
    .form-btn-group.alive(ng-show="editing")
        md-button.md-raised.white(ng-click="cancel(current, $event)") 取消
        md-button.skyblue.md-raised(type="submit" ng-disabled="positionEditForm.$invalid") 保存
    fieldset()

        //- div(org-muti-pos ng-model="current.positions")
        //- .form-group
        //-     label 所属部门
        //-     ui-select(
        //-         ng-model="current.department"
        //-         ng-change="params.orgPos = current.department.positions.length? current.department.positions: current.department.positions.$fetch();current.position = null"
        //-         ng-init="params.orgPos = current.department.positions.length? current.department.positions: current.department.positions.$fetch();"
        //-         reset-search-input="true"
        //-         style="width: 500px"
        //-         )
        //-         ui-select-match(placeholder="请输入机构名称") {{ $select.selected.fullName }}
        //-         ui-select-choices(repeat="org in allOrgs | filter:$select.search | limitTo: 10") {{ org.fullName }}
        md-input-container
            label 岗位备注
            input
        div(layout)
            md-input-container.row-has-value(flex)
                label 岗位
                md-select(ng-model="current.position" ng-disabled="!editing")
                    md-select-label {{current.position.name || '无'}}
                    md-option(ng-value="pos" ng-repeat="pos in params.orgPos") {{pos.name}}
        div(layout)
            md-input-container.row-has-value(flex)
                label 分类
                md-select(ng-model="current.category" md-on-open="loadEnum('categories')" ng-disabled="!editing")
                    md-select-label {{current.category? current.category.displayName : '无'}}
                    md-option(ng-value="category" ng-repeat="category in enums.categories") {{category.displayName}}
            md-input-container.row-has-value(flex)
                label 通道
                md-select(ng-model="current.channel" md-on-open="loadEnum('channels')" ng-disabled="!editing")
                    md-select-label {{current.channel? current.channel.displayName : '无'}}
                    md-option(ng-value="channel" ng-repeat="channel in enums.channels") {{channel.displayName}}
            md-input-container(flex)
                label 类别
                input(ng-model="current.position.postType")
        div(layout)
            md-input-container.row-has-value(flex)
                label 职务职级
                //- md-select(ng-model="current.laborRelation" md-on-open="loadEnum('labor_relations')" ng-disabled="!editing")
                //-     md-select-label {{current.laborRelation? current.laborRelation.displayName : '无'}}
                //-     md-option(ng-value="laborRelation" ng-repeat="laborRelation in enums.labor_relations") {{laborRelation.displayName}}
            
            md-input-container.row-has-value(flex)
                label 用工性质
                md-select(ng-model="current.laborRelation" md-on-open="loadEnum('labor_relations')" ng-disabled="!editing")
                    md-select-label {{current.laborRelation? current.laborRelation.displayName : '无'}}
                    md-option(ng-value="laborRelation" ng-repeat="laborRelation in enums.labor_relations") {{laborRelation.displayName}}
            md-input-container.row-has-value(flex)
                label 用工关系状态
                md-select(ng-model="current.employmentStatus" md-on-open="loadEnum('employment_status')" ng-disabled="!editing")
                    md-select-label {{current.employmentStatus? current.employmentStatus.displayName : '无'}}
                    md-option(ng-value="empStatus" ng-repeat="empStatus in enums.employment_status") {{empStatus.displayName}}
        div(layout)
            md-input-container.row-has-value(flex="33")
                label 属地化地点
                md-select(ng-model="current.location" md-on-open="loadEnum('locations')" ng-disabled="!editing")
                    md-select-label {{current.location? current.location.displayName : '无'}}
                    md-option(ng-value="location" ng-repeat="location in enums.locations") {{location.displayName}}

        