form(name="empEditForm" ng-submit="save(current.$save())")
    .form-btn-group
        button.btn.btn-info(type="submit" ng-disabled="empEditForm.$invalid") 保存
        button.btn.btn-default(ng-click="current.$restore(); cancel()") 取消
    .form-group
        label.control-label 员工编号：
        .form-content(ng-bind="current.employeeNo")
    .form-group
        label.control-label 姓名：
        input.form-control(type="text", ng-model="current.name", name="name", required)
        .form-control-error(ng-messages="empEditForm.name.$error", ng-if="empEditForm.name.$dirty")
            .form-group-error(ng-message="required") 名称必填
    .form-group
        label.control-label 性别：
        nb-dropdown(
            ng-model="current.gender", remote-key="genders",
            name="gender", required)
        .form-control-error(ng-messages="empEditForm.gender.$error", ng-if="empEditForm.gender.$dirty")
            .form-group-error(ng-message="required") 性别必选
    .form-group
        label.control-label 政治面貌：
        nb-dropdown(ng-model="current.politicalStatus", remote-key="political_status", name="political_status")
        .form-control-error(ng-messages="empEditForm.political_status.$error", ng-if="empEditForm.political_status.$dirty")
            .form-group-error(ng-message="required") 政治面貌必选

    .form-group
        label.control-label 学历：
        nb-dropdown(ng-model="current.educationBackgroud", remote-key="education_backgrounds")

    .form-group
        label.control-label 毕业院校：
        input.form-control(type="text", ng-model="current.school")

    .form-group
        label.control-label 身份证号：
        input.form-control(type="text", ng-model="current.identityNo", name="identityNo")
        .form-control-error(ng-messages="empEditForm.identityNo.$error", ng-if="empEditForm.identityNo.$dirty")
            .form-group-error(ng-message="required") 身份证号码必填
    .form-group
        label.control-label 联系方式：
        input.form-control(type="text", ng-model="current.contact.mobile", name="contact")
        .form-control-error(ng-messages="empEditForm.contact.$error", ng-if="empEditForm.contact.$dirty")
            .form-group-error(ng-message="required") 联系方式必填

    .form-group
        label.control-label 专业：
        input.form-control(type="text" placeholder="请输入专业" ng-model="current.major")

    .form-group
        label.control-label 英语等级：
        nb-dropdown(ng-model="current.englishLevel", remote-key="english_levels")
