form(name="empEditForm" ng-submit="save(current.$save(), empEditForm)" ng-controller="EditableResource")
    .form-btn-group(ng-hide="editing" has-permission="employees_update")
        md-button.skyblue.md-raised(ng-click="edit($event)") 编辑
    .form-btn-group.alive(ng-show="editing")
        md-button.md-raised.white(type="button" ng-click="cancel(current,$event, empEditForm)",) 取消
        md-button.skyblue.md-raised(type="submit") 保存
    fieldset(ng-disabled="!editing")
        md-input-container
            label 员工编号
            input(disabled ng-model="current.employeeNo")

        div(layout)
            md-input-container(flex)
                label 姓名
                input(ng-model="current.name" name="name" required)
            md-input-container.row-has-value(flex)
                label 性别
                md-select(ng-model="current.gender" md-on-open="loadEnum('genders')" required ng-disabled="!editing")
                    md-select-label {{current.gender ? current.gender.displayName : '无'}}
                    md-option(ng-value="gender" ng-repeat="gender in enums.genders track by gender.id") {{gender.displayName}}

        div(layout)
            md-input-container(flex)
                label 身份证号
                input(ng-model="current.identityNo", name="identityNo")
            md-input-container.row-has-value(flex)
                label 政治面貌
                md-select(ng-model="current.politicalStatus" md-on-open="loadEnum('political_status')" name="political_status" ng-disabled="!editing")
                    md-select-label {{current.politicalStatus? current.politicalStatus.displayName : '无'}}
                    md-option(ng-value="political" ng-repeat="political in enums.political_status") {{political.displayName}}
        div(layout)
            md-input-container.row-has-value(flex)
                label 学历
                md-select(ng-model="current.educationBackground", md-on-open="loadEnum('education_backgrounds')" ng-disabled="!editing")
                    md-select-label {{current.educationBackground? current.educationBackground.displayName : '无'}}
                    md-option(ng-value="edu" ng-repeat="edu in enums.education_backgrounds") {{edu.displayName}}
            md-input-container.row-has-value(flex)
                label 学位
                md-select(ng-model="current.degree", md-on-open="loadEnum('degrees')" ng-disabled="!editing")
                    md-select-label {{current.degree? current.degree.displayName: '无'}}
                    md-option(ng-value="degree" ng-repeat="degree in enums.degrees") {{degree.displayName}}
        div(layout)
            md-input-container(flex)
                label 毕业院校
                input(type="text", ng-model="current.school")
            md-input-container(flex)
                label 专业
                input(type="text" placeholder="请输入专业" ng-model="current.major" required)
        div(layout)
            md-input-container.row-has-value(flex)
                label 英语等级
                md-select(ng-model="current.englishLevel", md-on-open="loadEnum('english_levels')" ng-disabled="!editing")
                    md-select-label {{current.englishLevel? current.englishLevel.displayName : '无'}}
                    md-option(ng-value="englishLevel" ng-repeat="englishLevel in enums.english_levels") {{englishLevel.displayName}}
            md-input-container(flex)
                label 联系方式
                input(type="text", ng-model="current.contact.mobile", name="contact")

        md-input-container
            label 到岗时间
            input(disabled ng-model="current.joinScalDate")





    //- form(name="empEditForm" ng-submit="save(current.$save())")
    //-     .form-btn-group.alive
    //-         button.btn.btn-info(type="submit" ng-disabled="empEditForm.$invalid") 保存
    //-         button.btn.btn-default(ng-click="cancel(current, $event)") 取消
    //-     .form-group.block
    //-         label.control-label 员工编号：
    //-         .form-content(ng-bind="current.employeeNo")
    //-     .form-group
    //-         label.control-label 姓名：
    //-         input.form-control(type="text", ng-model="current.name", name="name", required)
    //-         .form-control-error(ng-messages="empEditForm.name.$error", ng-if="empEditForm.name.$dirty")
    //-             .form-group-error(ng-message="required") 名称必填
    //-     .form-group
    //-         label.control-label 性别：
    //-         nb-dropdown(
    //-             ng-model="current.gender", remote-key="genders",
    //-             name="gender", required)
    //-         .form-control-error(ng-messages="empEditForm.gender.$error", ng-if="empEditForm.gender.$dirty")
    //-             .form-group-error(ng-message="required") 性别必选
    //-     .form-group
    //-         label.control-label 身份证号：
    //-         input.form-control(type="text", ng-model="current.identityNo", name="identityNo")
    //-         .form-control-error(ng-messages="empEditForm.identityNo.$error", ng-if="empEditForm.identityNo.$dirty")
    //-             .form-group-error(ng-message="required") 身份证号码必填
    //-     .form-group
    //-         label.control-label 政治面貌：
    //-         nb-dropdown(ng-model="current.politicalStatus", remote-key="political_status", name="political_status")
    //-         .form-control-error(ng-messages="empEditForm.political_status.$error", ng-if="empEditForm.political_status.$dirty")
    //-             .form-group-error(ng-message="required") 政治面貌必选
    //-     .form-group
    //-         label.control-label 学历：
    //-         nb-dropdown(ng-model="current.educationBackground", remote-key="education_backgrounds")
    //-     .form-group
    //-         label.control-label 学位：
    //-         nb-dropdown(ng-model="current.degree", remote-key="degrees")
    //-     .form-group
    //-         label.control-label 毕业院校：
    //-         input.form-control(type="text", ng-model="current.school")
    //-     .form-group
    //-         label.control-label 专业：
    //-         input.form-control(type="text" placeholder="请输入专业" ng-model="current.major")
    //-     .form-group
    //-         label.control-label 英语等级：
    //-         nb-dropdown(ng-model="current.englishLevel", remote-key="english_levels")
    //-     .form-group
    //-         label.control-label 联系方式：
    //-         input.form-control(type="text", ng-model="current.contact.mobile", name="contact")
    //-         .form-control-error(ng-messages="empEditForm.contact.$error", ng-if="empEditForm.contact.$dirty")
    //-             .form-group-error(ng-message="required") 联系方式必填


