form(name="empEditForm" ng-submit="" ng-controller="EditableResourceCtrl")
    .form-btn-group(ng-hide="editing" has-permission="employees_update")
        md-button.md-fab.md-primary(ng-click="edit($event)" has-permission="employees_update_basic_info")
            md-icon(md-svg-src="/images/svg/edit_24px.svg" aria-label="修改")
    .form-btn-group.alive(ng-show="editing")
        md-button.md-fab.white(type="button" ng-click="cancel(current,$event, empEditForm)")
            md-icon(md-svg-src="/images/svg/close.svg" aria-label="取消")
        md-button.md-primary.md-fab(ng-click="current.update_basic_info();editing=false;")
            md-icon(md-svg-src="/images/svg/check.svg" aria-label="保存")
    fieldset(ng-disabled="!editing" md-theme="default")
        div(layout)
            md-input-container(flex)
                label 姓名
                    span.require-tip *
                input(ng-model="current.name" name="name" required)
            md-input-container(flex)
                label 员工编号
                input(disabled ng-model="current.employeeNo")
            md-input-container.row-has-value(flex)
                label 性别
                md-select(ng-model="current.genderId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('genders')") {{item.label}}

        div(layout)
            md-input-container(flex)
                label 身份证号
                    span.require-tip *
                input(ng-model="current.identityNo", name="identityNo" required)
            md-input-container.row-has-value(flex)
                label 政治面貌
                md-select(ng-model="current.politicalStatusId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('political_status')") {{item.label}}
            md-input-container(flex)
                label 联系方式
                input(type="text", ng-model="current.contact.mobile", name="contact")

        div(layout)
            md-input-container(flex)
                label 参工时间
                input(ng-model="current.startWorkDate" bs-datepicker)
            md-input-container(flex)
                label 到岗时间
                input(ng-model="current.joinScalDate" bs-datepicker)
            md-input-container(flex)
                label 实习时间
                input(ng-model="current.startInternshipDate" bs-datepicker)

        div(layout)
            md-input-container(flex)
                label 毕业院校
                input(type="text", ng-model="current.school")
            md-input-container(flex)
                label 专业
                input(type="text" placeholder="请输入专业" ng-model="current.major")
            md-input-container(flex)
                label 毕业时间
                input(bs-datepicker placeholder="请输入毕业时间" ng-model="current.graduateDate")

        div.position-item(layout ng-if="current.languages" ng-repeat="language in current.languages")
            md-input-container.row-has-value(flex)
                label 语种
                md-select(ng-model="language.name" placeholder="请选择" ng-change="language.grade=null" ng-disabled="!editing")
                    md-option(value="英语") 英语
                    md-option(value="法语") 法语
                    md-option(value="德语") 德语
                    md-option(value="俄语") 俄语
                    md-option(value="日语") 日语
                    md-option(value="韩语") 韩语
                    md-option(value="阿拉伯语") 阿拉伯语
                    md-option(value="西班牙语") 西班牙语
                    md-option(value="葡萄牙语") 葡萄牙语
                    md-option(value="其他语") 其他语
            md-input-container(flex)
                label 等级
                input(ng-model="language.grade")

            .item-action-container(flex="10" ng-if="editing")
                md-button.md-fab.md-raised(type="button" ng-click="pdCtrl.removeLanguage(current, $index)" ng-disabled="current.languages.length <= 1")
                    md-icon(md-svg-src="/images/svg/ic_remove_24px.svg" style="margin-top: -2px;"  aria-label="删除")
                md-button.md-fab.md-raised(type="button" ng-click="pdCtrl.addLanguage(current)")
                    md-icon(md-svg-src="/images/svg/ic_add_24px.svg" style="margin-top: -2px;" aria-label="添加岗位")

        div(layout)
            md-input-container.row-has-value(flex)
                label 学历
                md-select(ng-model="current.educationBackgroundId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('education_backgrounds')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 学位
                md-select(ng-model="current.degreeId" ng-disabled="!editing")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('degrees')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 试用时间(月)
                input(type="number" ng-model="current.probationMonths" max="12" min="0")