.margin-top-10
  ul.mix-filter.group-ui
    label.group-name 组名
    li.filter(ng-repeat='group in user_groups', ng-class='{active: group.active}', ng-click='select_group(group)', ng-bind='group.name', data-filter='category_1')
  ul.mix-filter.group-ui
    label.group-name 类别
    li.filter(ng-repeat='type in types', ng-class='{active: type.active}', ng-bind='type.name', ng-click='toggle_type(type)', data-filter='all', ;='')
  // 新增开始
  h5.know-class 您当前选择的是：{{current_group.name || "公共文档"}}   {{current_type.name}}
  .row(ng-if='!current_group && !current_type')
    .col-md-4(ng-repeat='colTypes in cols')
      .blog-tag-data(ng-repeat='type in colTypes ')
        .top-news
          a.btn.blue(href='javascript:void(0)', ng-click='toggle_type({id:type.id,name:type.name})')
            span {{type.name}}
            em
              i.fa.fa-folder
              | {{type.desc}}
            i.fa.fa-.icon-bullhorn.top-news-icon
        .news-blocks(ng-repeat='article in type.articles')
          h3.know-index-name
            a(ui-sref='^.byId({articleId: article.id})')
              | {{article.title}}
          ul.list-inline.blog-tags
            li
              i.fa.fa-tags
              span(ng-repeat='tagName in article.tags')
                a(href='javascript:void(0);') {{tagName}}
          p
            | {{article.introduction}}
          div
            ul.list-inline.pull-left.know-index-date
              li
                i.fa.fa-calendar
                a(href='javascript:void(0)') {{article.created_at | date:'yyyy年MM月dd日'}}
            a.news-block-btn(ui-sref='^.byId({articleId:article.id})')
              | 更多....
              i.icon-arrow-right
  .row(ng-if='current_group || current_type')
    .col-md-4.blog-tag-data(ng-repeat='article in articles ')
      .news-blocks
        h3.know-index-name
          a(ui-sref='^.byId({articleId: article.id})')
            | {{article.title}}
        ul.list-inline.blog-tags
          li
            i.fa.fa-tags
            span(ng-repeat='tagName in article.tags')
              a(href='javascript:void(0);') {{tagName}}
        p
          | {{article.introduction}}
        div
          ul.list-inline.pull-left.know-index-date
            li
              i.fa.fa-calendar
              a(href='javascript:void(0)') {{article.created_at | date:'yyyy年MM月dd日'}}
          a.news-block-btn(ui-sref='^.byId({articleId:article.id})')
            | 更多....
            i.icon-arrow-right
  // 新增结束
// END FILTER
