.page-content(ng-controller='KArticleCtrl')
    .row
        .col-md-12
          h3.page-title
            | 知识库
          .zsk-ser
            form.input-group(ng-submit='search(keyword)')
              input.form-control(type='text', ng-model='keyword')
              span.input-group-btn
                button.fa.btn.fa-search(type='submit', ui-sref='knowledge.articles.search({keyword: keyword})')
            .btn.red-sunglo(ui-sref='knowledge.articles.new') 新建我的文档
          ul.page-breadcrumb.breadcrumb
            li
              i.fa.fa-home
              a(ng-href='#/') 知识库
              i.fa.fa-angle-right
            li
              a(ng-href='#/knowledge') 文档首页
              i.fa.fa-angle-right
            li
              a(href='javascript:void(0);') {{article.title}}
          // END PAGE TITLE & BREADCRUMB
      // END PAGE HEADER
      // BEGIN PAGE CONTENT
      .row
        .col-md-12.news-page.blog-page
          .row
            .col-md-12.blog-tag-data
              h3.zsk-title
                | {{article.title}}
                span
                  // <i class="icon-eyeglasses"></i>
                  i(ng-class='{0: \'icon-ban\', 1: \'icon-eyeglasses\', 2: \'fa fa-check\', 3: \'icon-close\', 4: \'icon-pencil\'}[article.check_status]')
                  | {{article.statuStr}}
              .zsk-contrl
                a.btn.btn-default(ng-show='editable', ui-sref='.edit({articleId: article.id,article: article })')
                  i.fa.fa-pencil
                  | 编辑
                a.btn.btn-default(ng-show='deletable', href='javascript:void(0);', ng-click='deleteArticle()')
                  i.fa.fa-trash-o
                  | 删除
                a.btn.blue(ng-show='publishable', ng-click='publishArticle()') 发布
              img.img-responsive(ng-src='{{article.cover_url}}', alt='')
              .row
                .col-md-5
                  ul.list-inline.blog-tags
                    li
                      i.fa.fa-tags
                      span(ng-repeat='tagName in article.tags')
                        a(href='javascript:void(0);') {{tagName}}
                .col-md-7.blog-tag-data-inner
                  ul.list-inline
                    li
                      // <i class="fa fa-calendar"></i>
                      | {{article.group.name || "公共文档"}} /{{article.type.name}}
                    li
                      i.fa.fa-calendar
                      | {{article.created_at | date:"yyyy年MM月dd日"}}
                    li
                      i.fa.fa-user
                      | 创建人:{{article.author_name}}

                    li
                      i.fa.fa-eye
                      | {{article.clicks}}人阅读
              .news-item-page.zsk-page(ng-bind-html='article.html_content')
          hr
          .col-md-offset-6.col-md-12(ng-show='reviewable')
            button.btn.blue(type='button', ng-click='reviewAction(true)') 通 过
            button.btn.btn-default(type='button', ng-click='reviewAction(false)') 不通过
          // comment begin
          div(ng-show='commentable', ui-view='comment')
          // comment end
