.page-content(ng-controller='KIndexCtrl', style='min-height:1151px')
  .row(style='margin-top: -25px;margin-left: -20px;margin-top: -25px;margin-right:-20px;')
    // 图片
    div(ui-view='searchbar')
  .row
    .col-md-12
      .tabbable.tabbable-custom.boxless.know-content-next
        ul.nav.nav-tabs
          li(ui-sref-active='active')
            a.know-public-name(ui-sref='.articles.public', data-toggle='tab')
              | 文档首页
          li(ui-sref-active='active')
            a.know-public-name(ui-sref='.articles.my', data-toggle='tab')
              | 我的文档
          li(ng-hide='!current_user.is_admin', ui-sref-active='active')
            a.know-public-name(ui-sref='.articles.auditing', data-toggle='tab')
              | 文档审核状态
        button.new-document-but(ui-sref='.articles.new') 新建我的文档
        .tab-content
          // 内容
          .tab-pane.active(ui-view='')
  // END PAGE CONTENT
// 主体页面内容结束
