<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title" ui-sref="knowledge.articles.public">
                知识库
            </h3>
            <div class="zsk-ser">

                <form ng-submit="search(search_text)" class="input-group">
                    <input type="text" ng-model="search_text" class="form-control">
                    <span class="input-group-btn">
                        <button class="fa btn fa-search" type="submit"></button>
                    </span>
                </form>
                <div ui-sref="^.new" class="btn red-sunglo">新建我的文档</div>
            </div>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form name="article_form" novalidate ng-submit="save(article,article_form)" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <input type="text" name="title" ng-disabled="editorDisabled" required ng-model="article.title" class="ng-invalid form-control" placeholder="请输入标题...">
                            <div class="error-messages" ng-if="article_form.title.$dirty||article_form.title.$touched" ng-messages="article_form.title.$error" ng-messages-include="validateMessages.html">
                                <div ng-message="required" class="">请输入标题！</div>
                            </div>
                            <!-- <div class="form-group has-error"> -->
                            <!-- <div class="form-group">
							<input type="text" required ng-model="article.title" class="form-control" placeholder="请输入标题..."> -->
                            <!-- <label class="control-label">请输入标题！报错的时候上层div会追加一个样式名 has-error，另外form标签上加了一个class，谢谢</label> -->
                        </div>
                        <div class="form-group">
                            <div class="input-group col-md-12">
                                <textarea required simditor ng-model="article.html_content" editable="{{!editorDisabled}}" rows="20" class="form-control" placeholder="这里放文本编辑器"></textarea>
                            </div>
                        </div>
                        <div class="form-group" bootstrap-tagsinput ng-model="article.tags" editable="{{editorDisabled}}">
                        </div>
                        <div class="form-group">
                            <!-- <div class="col-md-3" style="padding-left:0px;">

								<div class="fileinput fileinput-new" data-provides="fileinput">
									<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
										<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
									</div>
									<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
									</div>
									<div>
										<span class="btn default btn-file">
										<span class="fileinput-new">
										选择 </span>
										<span class="fileinput-exists">
										更换 </span>
										<input type="file" fileread="article.cover">
										<input type="hidden" ng-model="article.cover_cache" value="" >
										</span>
										<a href="#" class="btn red fileinput-exists" data-dismiss="fileinput">
										删除 </a>
									</div>
								</div>

							</div> -->
                            <div class="col-md-9" style="margin:30px 0;">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">权限：</label>
                                    <div class="col-md-8">
                                        <div class="radio-list">
                                            <label class="radio-inline">
                                                <input vx-uiniform type="radio" ng-model="permissions" value="public">公开发表</label>
                                            <label class="radio-inline">
                                                <input vx-uniform type="radio" ng-model="permissions" value="private">分组可见</label>
                                            <!-- <select ng-model="article.group" ng-options="group.name for group in groups " ng-disabled="disabled" class="form-control input-small" style="display:inline">
                                            </select> -->

                                            <ui-select class="zsk-news-class" ng-model="article.group"  theme="bootstrap" ng-disabled="disabled">
                                                <ui-select-match placeholder="组别" ng-bind="$select.selected.name"></ui-select-match>
                                                <ui-select-choices repeat="group in groups">
                                                    <div ng-bind-html="group.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">分类：</label>
                                    <div class="col-md-4">
                                        <!-- begin -->
                                        
                                        <ui-select ng-model="article.type" class="zsk-news-class"   theme="bootstrap">
                                            <ui-select-match placeholder="类别" ng-bind="$select.selected.name"></ui-select-match>
                                            <ui-select-choices repeat="type in types">
                                                <div ng-bind-html="type.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <!-- end -->

                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="btn-set pull-left">
                            <button type="button" ui-sref="knowledge.articles.my" class="btn btn-default">取消</button>
                        </div>
                        <div class="btn-set pull-right">
                            <button type="submit" ng-disabled="article_form.$invalid" ng-click="article.draft = true" class="btn btn-default">保存草稿</button>
                            <button type="submit" ng-disabled="article_form.$invalid" ng-click="article.draft = false" class="btn blue">发布文章</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
