<div class="know-imgdiv">
    <p class="know-name-p">知识库</p>
    <!-- <div class="know-search-div">

        <input type="text" ng-model="keyword">
        <button ui-sref=".search({keyword: keyword})" class="fa-search-btn"><i class="fa fa-search"></i></button>
    </div> -->
    <form ng-submit="search(keyword)" class="know-search-div">
        <input type="text" class="form-control" ng-model="keyword">
        <button class="fa-search-btn" type="submit" ui-sref="knowledge.articles.search({keyword: keyword})">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>
