div(ng-switch="rootCtrl.current_roles[0]" flex layout)
    div.ola(ng-switch-when="company_leader" flex layout)
        include roles_pages/department_leader
    div.ola(ng-switch-when="hr_leader" flex layout)
        include roles_pages/department_leader
    div.ola(ng-switch-when="department_hr" flex layout)
        include roles_pages/department_hr
    div.ola(ng-switch-when="hr_labor_relation_member" flex layout)
        include roles_pages/department_hr
    div.ola(ng-switch-when="party_member" flex layout)
        include roles_pages/department_hr
    div.ola(ng-switch-when="training_member" flex layout)
        include roles_pages/department_hr
    div.ola(ng-switch-when="hr_payment_member" flex layout)
        include roles_pages/department_hr
    div.ola(ng-switch-when="file_manager" flex layout)
        include roles_pages/department_hr
    div.ola(ng-switch-when="hr_normal" flex layout)
        include roles_pages/department_hr
    div.ola(ng-switch-when="department_leader" flex layout)
        include roles_pages/department_leader
    div.ola(ng-switch-default flex layout="row")
        include roles_pages/default_role
