div(ng-switch="rootCtrl.current_roles[0]" flex layout)
    div(ng-switch-when="company_leader" flex layout)
        include roles_pages/department_leader
    div(ng-switch-when="hr_leader" flex layout)
        include roles_pages/department_leader
    div(ng-switch-when="department_hr" flex layout)
        include roles_pages/department_hr
    div(ng-switch-when="department_leader" flex layout)
        include roles_pages/department_leader
    div(ng-switch-default flex layout="row")
        include roles_pages/default_role
