.whiteboard.md-whiteframe-z1
    .whiteboard__cell.md
        .value 67876
        .title 人力成本总额
    .whiteboard__cell.sm
        .value 3.5
        .title 上月绩效系数
    .whiteboard__cell.sm
        .value 150
        .title 新进员工数
    .whiteboard__cell.sm.br0
        .value 23
        .title 离职人数
//- area chart
div.echarts-wrapper.md-whiteframe-z1
    ng-echarts.echarts-bar(
        ec-config="ctrl.areaConfig"
        ec-option="ctrl.areaOption"
    )

div.echarts-wrapper.md-whiteframe-z1
    ng-echarts.echarts-bar(
        ec-config="ctrl.barConfig"
        ec-option="ctrl.barOption"
    )


