div.echarts-wrapper.md-whiteframe-z1
    ng-echarts.echarts-bar(
        ec-config="ctrl.barConfig1"
        ec-option="ctrl.barOption1"
    )

div.echarts-wrapper.md-whiteframe-z1
    ng-echarts.echarts-bar(
        ec-config="ctrl.barConfig2"
        ec-option="ctrl.barOption2"
    )