//- .whiteboard.md-whiteframe-z1
//-     .whiteboard__cell.md.mb30
//-         .value 67876
//-         .title 月平均薪酬
//-     .whiteboard__cell.lg.mb30
//-         .value 45,666,283
//-         .title 工资
//-     .whiteboard__cell.md.br0.mb30
//-         .value 45
//-         .title 离职人数
//-     .whiteboard__cell.md
//-         .value 45322
//-         .title 社保
//-     .whiteboard__cell.lg
//-         .value 23463
//-         .title 年金
//-     .whiteboard__cell.md.br0
//-         .value 6542
//-         .title 工作餐

div.echarts-wrapper.md-whiteframe-z1(ng-if="ctrl.initialDataCompleted")
    div.charts-toolbar(layout style="margin-bottom: 20px;")
        md-button.md-icon-button(ng-hide="ctrl.showChart" ng-click="ctrl.showChart = !ctrl.showChart")
            md-icon(md-svg-src="/images/svg/insert_chart.svg" style="fill: rgb(33,150,243);")
        md-button.md-icon-button(ng-show="ctrl.showChart" ng-click="ctrl.showChart = !ctrl.showChart" style="fill: rgb(33,150,243);")
            md-icon(md-svg-src="/images/svg/view_list.svg")
        span(flex)
        .date-selector(layout)
            md-select(ng-model="ctrl.currentYear" ng-change="ctrl.loadChartData()" placeholder="请选择")
                md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
            label(flex-order="2") 年
            md-select(ng-model="ctrl.currentMonth" ng-change="ctrl.loadChartData()" placeholder="请选择")
                md-option(ng-value="item" ng-repeat="item in ctrl.month_list track by $index" ng-bind="item")
            label(flex-order="3") 月

    ng-echarts.echarts-bar(
        ec-config="ctrl.barConfig"
        ec-option="ctrl.barOption"
    )

    div.chart-detail.ui-grid-container(ng-if="!ctrl.showChart")
        div.chart-detail-toolbar
            md-select(style="width: 150px;" ng-model="ctrl.tableType" placeholder="请选择")
                md-option(value="新进员工") 新进员工
                md-option(value="离职员工") 离职员工

        div.grid-item(ng-show="ctrl.tableType=='新进员工'" nb-grid column-defs="ctrl.columnDefNew" safe-src="ctrl.newEmployees")

        div.grid-item(ng-show="ctrl.tableType=='离职员工'" nb-grid column-defs="ctrl.columnDefLeave" safe-src="ctrl.LeaveEmployees")




