.navi-root {
    min-width: 200px;
    width: 200px;

    &.md-locked-open {
        min-width: 200px;
        width: 200px;
    }

    .navi-root-header {
        height: 50px;
        min-height: 50px;
    }
}

.top-menu-bar {
    z-index: 70;

    &.md-default-theme {
        background-color: #fff;
        height: 50px;
        min-height: 50px;
    }

    .nav>li>a {
        height: 50px;
    }
}

.nav-sub {
    @include transition(all .2s ease-in-out 0s);
    height: 0;
    margin-left: -20px;
    opacity: 0;
    overflow: hidden;

    .active &,
    .app-aside-folded li:hover &,
    .app-aside-folded li:focus &,
    .app-aside-folded li:active & {
        height: auto !important;
        margin-left: 0;
        opacity: 1;
        overflow: auto;
    }
}

.nav-sub-header {
    display: none !important;

    a {
        padding: floor(($app-aside-folded-nav-height - $line-height-computed)/2) 20px;
    }
}

.navi {
    .nav {
        li {
            display: block;
            position: relative;

            li {
                a {
                    padding-left: $app-aside-nav-height + 15px;
                }
            }

            a {
                @include transition(background-color .2s ease-in-out 0s);
                display: block;
                font-weight: normal;
                padding: floor(($app-aside-nav-height - $line-height-computed)/2) 20px;
                position: relative;
                text-transform: none;

                .badge,
                .label {
                    font-size: 11px;
                    margin-top: 2px;
                    padding: 2px 5px;
                }

                > i {
                    float: left;
                    line-height: $app-aside-nav-height;
                    margin: floor(-($app-aside-nav-height - $line-height-computed)/2) -10px;
                    margin-right: 5px;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    width: $app-aside-nav-height;

                    &:before {
                        position: relative;
                        z-index: 2;
                    }
                }
            }
        }
    }
}
