//左侧边栏
.nb-nav.md-locked-open {
    background-color: transparent;
    min-width: 200px;
    width: 200px;

    md-content {
        background: rgba(54, 54, 64, .7);
    }
}

.nb-menu {
    background-color: transparent;
    margin-top: 0;
    padding: 0;

    .type-icon {
        margin-right: 10px;
        margin-top: -4px;
    }

    .parent-list-item {
        // border-left: 2px solid transparent;
        -moz-transition: .25s cubic-bezier(.35, 0, .25, 1);
        -webkit-transition: .25s cubic-bezier(.35, 0, .25, 1);
        transition: .25s cubic-bezier(.35, 0, .25, 1);
        -moz-transition-delay: .75s;
        -webkit-transition-delay: .75s;
        transition-delay: .75s;
        -moz-transition-property: border-left;
        -webkit-transition-property: border-left;
        transition-property: border-left;

        > menu-toggle > .md-button,
        > menu-link >.md-button {
            color: #fff;
        }

        .type-icon {
            svg {
                * {
                    fill: #fff;
                }
            }
        }

        //解决 组织机构列表项 的高度不正确bug
        &:nth-child(1) {
            height: 70px;
        }

        &:nth-child(3) {
            height: 70px;
        }

        &.active {
            // border-left: 2px solid rgb(239, 83, 80);
            transition: none;

            .type-icon {
                svg {
                    * {
                        fill: #fff;
                    }
                }
            }

            > menu-toggle > .md-button,
            > menu-link >.md-button {
                background-color: rgba(0, 0, 0, .08);
                color: #fff;
            }
        }
    }

    .child-list-item {
        > menu-toggle > .md-button,
        > menu-link >.md-button {
            color: #fff;
        }

        &.active {
            circle {
                fill: rgb(255, 255, 255);
            }

            > menu-toggle > .md-button,
            > menu-link >.md-button {
                background-color: rgba(0, 0, 0, .08);
                color: #fff;
            }
        }
    }

    .md-button {
        color: #fff;
        font-size: 16px;
        height: 70px;
        line-height: 70px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;

        md-icon {
            color: #fff;
            height: 22px;
            width: 22px;
        }
    }

    .md-button-toggle {
        .md-toggle-icon {
            transform: rotate(180deg);
            -moz-transition: .75s cubic-bezier(.35, 0, .25, 1);
            -webkit-transition: .75s cubic-bezier(.35, 0, .25, 1);
            transition: .75s cubic-bezier(.35, 0, .25, 1);
            -moz-transition-property: transform;
            -webkit-transition-property: transform;
            transition-property: transform;

            &.toggled {
                transform: rotate(0deg);
            }
        }
    }

    .menu-toggle-list {
        max-height: 2000px;
        overflow: hidden;
        padding: 0;
        -moz-transition: .75s cubic-bezier(.35, 0, .25, 1);
        -webkit-transition: .75s cubic-bezier(.35, 0, .25, 1);
        transition: .75s cubic-bezier(.35, 0, .25, 1);
        -moz-transition-property: max-height;
        -webkit-transition-property: max-height;
        transition-property: max-height;

        &.ng-hide {
            max-height: 0;
        }

        li {
            height: 50px;
        }

        .md-button {
            font-size: 14px;
            height: 50px;
            line-height: 50px;
            padding-left: 30px;
        }
    }

}

//顶部工具栏
.top-menu-bar {
    height: 64px;
    min-height: 64px;
    z-index: 3;

    .md-toolbar-tools {
        padding-left: 0;
        padding-right: 0;

        .logo {
            height: 50px;
        }

        .avatar {
            height: 40px;
            margin-left: 10px;
            margin-top: -10px;
            width: 40px;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .top-messages {
        .md-button {
            margin-left: 0;
        }
    }

    .top-notification {
        &.open {
            background-color: rgba(255, 255, 255, .2);

            md-icon {
                color: $text-muted !important;
            }

            .top-dropdown {
                display: block;
            }
        }

        .top-dropdown {
            background-color: #fff;
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2);
            display: none;
            margin: 0;
            min-height: 0;
            padding: 0;
            padding-top: 5px;
            position: absolute;
            right: 0;
            top: 100%;
            width: 320px;

            .dropdown-item {
                border-bottom: 1px solid rgba(0, 0, 0, .06);
                height: 54px;
                padding: 10px 20px;
                position: relative;
                width: 100%;

                &:hover {
                    background-color: rgba(0, 0, 0, .06);
                }

                .dd-item-desc {
                    font-size: 14px;

                    span {
                        color: $text-color;
                        display: block;

                        &:last-child {
                            color: $text-muted;
                            font-size: 12px;
                            margin-top: 5px;
                        }
                    }
                }

                .dd-item-count {
                    background-color: #fbca41;
                    border-radius: 8px;
                    color: #fff;
                    font-size: $font-size-sm;
                    height: 16px;
                    line-height: 16px;
                    position: absolute;
                    right: 20px;
                    text-align: center;
                    top: 19px;
                    width: 20px;
                }
            }
        }
    }

    .top-btn-wrap {
        position: relative;

        .md-button {
            height: 64px;
            margin-left: 0;
            width: 64px;

            md-icon {
                color: #fff;
            }
        }

        .ms-count {
            background-color: #fbca41;
            border-radius: 8px;
            font-size: $font-size-sm;
            height: 16px;
            line-height: 16px;
            min-width: 20px;
            position: absolute;
            right: 8px;
            text-align: center;
            top: 14px;
        }
    }

    .user-menu {
        height: 64px;
        margin: 0;
        margin-left: 10px;
        margin-right: 20px;
        padding-left: 0;
        padding-top: 20px;
        position: relative;

        .nb-dropdown {
            .dropdown-toggle {
                color: #fff;

                .avatar {
                    img {
                        border-radius: 20px;
                    }
                }
            }

            .dropdown-menu {
                background-color: #fff;
                box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2);
                color: $text-muted;
                font-size: 14px;
                padding: 10px 0;
                position: absolute;
                text-align: left;
                top: 64px;
                width: 100%;

                li a {
                    display: block;
                    padding: 5px 0 5px 10px;

                    &:hover {
                        background-color: rgba(0, 0, 0, .1);
                    }
                }
            }
        }
    }
}

.notification-center {
    background-color: rgb(245, 245, 245);
    height: 100%;

    &:after {
        background-color: inherit;
        bottom: 0;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .md-toolbar-tools span {
        color: #fff;
    }

    .md-subheader {
        margin-bottom: 10px;
        padding-left: 20px;
    }

    .nt-content {
        padding: 20px;

        >div {
            margin-bottom: 20px;
        }
    }

    .nt-msg-item {
        background-color: #fff;
        margin-bottom: 2px;
        padding: 20px;
        position: relative;

        .nt-item-desc span {
            display: block;

            &:first-child {
                color: $a-color;
                font-size: $font-size-md;
                margin-bottom: 10px;
            }

            &:last-child {
                color: $text-muted;
                font-size: $font-size-sm;
            }
        }

        .nt-item-time {
            color: $text-muted;
            font-size: 12px;
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
}
