.app-content-wrapper(flex ng-controller="RetirementCtrl as ctrl")
    div(nb-filter="ctrl.filterOptions" on-search="search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 退休待审核列表
                div(flex)
                md-button.md-primary.md-raised(
                    ng-disabled="!getSelected()"
                    nb-dialog
                    template-url="/partials/labors/retirement/retirement.html"
                    locals="{users:getSelecteds()}"
                ) 发起离职流程
                
        div(nb-grid column-defs="ctrl.columnDef" export-api grid-selection safe-src="ctrl.retirements")