extends ../../component/workflow/index

block heading
    - var user_list = false
    - var flowName = "员工调岗"


block user_list_actions
    md-button.md-primary.md-raised(
        ng-disabled="!getSelected()"
        nb-panel
        template-url="/partials/labors/retirement/new_retirement.html"
        locals="{users:getSelecteds()}"
    ) 发起调岗