md-dialog.position_delete(ng-init="changeRecord = dialog.change.$refresh()")
    md-toolbar.md-accent(md-theme="hrms")
        .md-toolbar-tools
            span {{::changeRecord.name}}{{::changeRecord.action}}"{{::changeRecord.auditableType}}"
            div(flex)
            span
                md-button.pull-right(ng-click="dialog.close()") 关闭
    md-content
        table.table.table-striped.custom-table.popup-table
            tr
                th() 字段
                th() 值
            tr(ng-repeat="(field, val) in changeRecord.auditedChanges", ng-if="field != 'unused'")
                td(ng-bind="field")
                td.overflow-text(ng-bind="val || '无'", ng-attr-title="{{val}}")
