.modal(role="dialog" tabindex="-1")
    .modal-dialog
        .modal-content
           .modal-header(ng-show="title")
              button.close(type="button" ng-click="$hide()") &times;
              h4.modal-title(ng-bind="title")
            .modal-body(ng-bind="content")
                form
                    input
            .modal-footer
                toolbar

              button.btn.btn-default(ng-click="$hide()") 取消



nb-dialog(title="提示")
    dialog-body
        form
            input(name="username")
            input(name="password")
    dialog-toolbar
        ok(nb-click="abc()")
        cancel(cancel="")
        button(ng-click="ok()")
        cancel(ng-click="cancel")