form(ng-submit="ctrl.$param()")
  .form-group(style='margin-right: 15px;')
    // Single button
    .btn-group(dropdown='', is-open='status.isopen')
      button.btn.btn-default.dropdown-toggle(type='button', ng-disabled='disabled')
        | {{filter.type.name || '请选择'}}
        span.caret
      ul.dropdown-menu(role='menu')
        li(ng-repeat='condition in tempConditions')
          a(ng-click='') {{condition.name}}
  .form-group(ng-transclude)
  input.btn.btn-default(type="submit") param
