div()
    div.text-container(ng-if="editing == false" ng-bind-html="modelVal")

    div(ng-if="editing == true || editing == undefined" ng-init="clicked = false")
        .editable-text(ng-show="!clicked" ng-bind-html="modelVal" ng-click="clicked = true")
        div(ng-show="clicked")
            textarea()