label.sr-only(ng-bind-html="displayName")
input.form-control(type='number', placeholder='{{displayName}}' name="from")
label.control-label 至
input.form-control(type='number', placeholder='{{displayName}}' name="to")
