md-dialog.position_changes(ng-init="changeReview = dialog.change.$refresh()")
    md-toolbar.md-accent(md-theme="hrms")
        .md-toolbar-tools
            span {{::changeReview.name}}的"{{::changeReview.auditableType}}"修改记录
            div(flex)
            span
                md-button.pull-right(ng-click="dialog.close()") 关 闭
    md-content
        table.table.table-striped.custom-table.popup-table
            tr
                th() 字段
                th() 修改前
                th() 修改后
            tr(ng-repeat="(field, val) in ::changeReview.auditedChanges", ng-if="field != 'unused'")
                td(ng-bind="::field")
                td.overflow-text(ng-bind-html="val[0] || '无'", ng-attr-title="{{val[0]}}")
                td.overflow-text(ng-bind-html="val[1] || '无'", ng-attr-title="{{val[1]}}")
