div(ng-controller="OrgsController as ctrl")
    .app-aside.org-dep.hidden-xs.bg-white-opacity.pull-left(ng-class="{'active': ctrl.orgBarOpen}")
        .org-dep-badge
            a.toggle-bar.fa(
                ng-class="{true: 'fa-chevron-right', false: 'fa-chevron-left'}[ctrl.orgBarOpen]"
                href="javascript:void(0);"
                ng-click="ctrl.orgBarOpen = !ctrl.orgBarOpen")
        .org-main-wrapper
            .org-main-node 四川航空
            ul
                li(ng-repeat="org in ctrl.orgs | filterBy: ['depth']: 2")
                    a.org-node(ng-click="ctrl.buildTree(org)" ng-bind="::org.name")


    .app-aside.org-aside.hidden-xs.bg-white-opacity.pull-right
        .org-row(ui-view='sub')

    .org-tree.col-md-3
        div#org_tree
            ul
                li( ng-repeat="org in ::ctrl.orgs | filterBy: ['nodeType']: 'internal'"
                    ng-click="ctrl.setCurrentOrg(org)")
                    a {{::org.name}}
    .org-chart.col-md-5
        div(org-chart drag-on org-chart-data="ctrl.tree.data" style="width:800px;height:500px;overflow:hidden;")
        button(ng-click="ctrl.openHistoryPanel()") 历史
        div(ng-show="ctrl.tree.is_modified")
            button(ng-click="ctrl.active()") 生效
            button(ng-click="ctrl.revert()") 撤销


    .org-detail.col-md-3
