include position
div(ng-controller="OrgsController as ctrl")
    .app-aside.org-dep.hidden-xs.bg-white-opacity.pull-left(ng-class="{'active': ctrl.orgBarOpen}")
        .org-dep-badge
            //- a.fa.fa-chevron-right(href="javascript:void(0);")
            a.toggle-bar.fa(ng-class="{true: 'fa-chevron-right', false: 'fa-chevron-left'}[ctrl.orgBarOpen]" href="javascript:void(0);", ng-click="ctrl.toggleOrgBar()")
        accordion
          accordion-group(is-open="status.open", ng-repeat="jobRank in ctrl.scope.jobRanks")
            accordion-heading {{::jobRank}}
              i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
            ul
              li(ng-repeat="org in ctrl.orgs | filterBy: ['nodeType']: jobRank" ng-click="ctrl.setCurrentOrg(org)")
                a {{::org.name}}



    .app-aside.org-aside.hidden-xs.bg-white-opacity.pull-right
        .org-row(ui-view='sub')

    .org-tree.col-md-3
        div#org_tree
            ul
                li( ng-repeat="org in ::ctrl.orgs | filterBy: ['nodeType']: 'internal'"
                    ng-click="ctrl.setCurrentOrg(org)")
                    a {{::org.name}}
    .org-chart.col-md-5

        button(ng-click="ctrl.active()") 生效
        button(ng-click="ctrl.revert()") 撤销


    .org-detail.col-md-3
