.modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title 提示
      .modal-body.row
        .col-md-3
          .form-group
            label  OA文件名：
            input#name.form-control
          .form-group
            label  整体日志：
            textarea.form-control(rows='2')
          .pull-right
            button.btn.btn-danger(type='button') 取消
            button.btn.btn-primary(type='button') 确定


.modal-backdrop.fade.in(style="display:none;")
.org-modal.org-modal-posts(style="display:none;")
    .org-modal-top 这里是顶部标题
    .org-modal-post
        .org-modal-posttop 岗位信息列表
            button.btn.btn-default.fa.fa-trash-o(title="删除",)
            button.btn.btn-default.fa.fa-pencil(title="编辑")
            button.btn.btn-default.fa.fa-cog(title="新增子机构")
            button.btn.btn-info 调整机构
        table.table.table-striped.ng-scope.org-post-table
          tbody
            tr
              td 岗位名称
              td  编制
              td  在编人数
              td 岗位名称
              td  编制
              td  在编人数
            tr
              td.org-post 总经理
              td  3
              td  2
              td 岗位名称
              td  编制
              td  在编人数
            tr
              td.org-post 主任
              td  2
              td  1
              td 岗位名称
              td  编制
              td  在编人数
            tr
              td.org-post 副主任
              td  2
              td  2
              td 岗位名称
              td  编制
              td  在编人数
div(ng-controller="OrgsController as ctrl")
    .app-aside.org-dep.hidden-xs.bg-white-opacity.pull-left(ng-class="{'active': ctrl.orgBarOpen}")
        .org-dep-badge
            //- a.fa.fa-chevron-right(href="javascript:void(0);")
            a.toggle-bar.fa(ng-class="{true: 'fa-chevron-right', false: 'fa-chevron-left'}[ctrl.orgBarOpen]" href="javascript:void(0);", ng-click="ctrl.toggleOrgBar()")
        div.panel-group
            div.panel.panel-default(toggle-class="in", toggle-element="panel-heading", action-class="collapse")
                div.panel-heading()
                    h4.panel-title
                        a(href='javascript:void(0);') 一级正
                            i.fa.fa-angle-down.pull-right.toggle-fa
                            i.fa.fa-angle-right.pull-right.toggle-fa-x

                div.panel-collapse.collapse.in()
                    div.panel-body
                        ul
                            li(ng-repeat="org in ctrl.orgs | filterBy: ['nodeType']: 'internal'" ng-click="ctrl.setCurrentOrg(org)")
                                a {{::org.name}}
            div.panel.panel-default(toggle-class="in", toggle-element="panel-heading", action-class="collapse")
                div.panel-heading()
                    h4.panel-title
                        a(href='javascript:void(0);') 一级副
                            i.fa.fa-angle-down.pull-right.toggle-fa
                            i.fa.fa-angle-right.pull-right.toggle-fa-x
                div.panel-collapse.collapse.in()
                    div.panel-body
                        ul
                            li(ng-repeat="org in ctrl.orgs | filterBy: ['nodeType']: 'external'"
                                ng-click="ctrl.setCurrentOrg(org)")
                                a {{::org.name}}
            div.panel.panel-default(toggle-class="in", toggle-element="panel-heading", action-class="collapse")
                div.panel-heading()
                    h4.panel-title
                        a(href='javascript:void(0);') 分公司集
                            i.fa.fa-angle-down.pull-right.toggle-fa
                            i.fa.fa-angle-right.pull-right.toggle-fa-x
                div.panel-collapse.collapse.in()
                    div.panel-body
                        ul
                            li(ng-repeat="org in ctrl.orgs | filterBy: ['nodeType']: 'branch'"
                                ng-click="ctrl.setCurrentOrg(org)")
                                a {{::org.name}}
    .app-aside.org-aside.hidden-xs.bg-white-opacity.pull-right
        .org-row(ui-view='sub')

    .org-tree.col-md-3
        div#org_tree
            ul
                li( ng-repeat="org in ::ctrl.orgs | filterBy: ['nodeType']: 'internal'"
                    ng-click="ctrl.setCurrentOrg(org)")
                    a {{org.name}}
    .org-chart.col-md-5


    .org-detail.col-md-3
