.modal-backdrop.fade.in
.org-modal.org-modal-posts
    .org-modal-top 这里是顶部标题
    .org-modal-post
        .org-modal-posttop 岗位信息列表
            button.btn.btn-default.fa.fa-trash-o(title="删除",)
            button.btn.btn-default.fa.fa-pencil(title="编辑")
            button.btn.btn-default.fa.fa-cog(title="新增子机构")
            button.btn.btn-info 调整机构
        table.table.table-striped.ng-scope.org-post-table
          tbody
            tr
              td 岗位名称
              td  编制
              td  在编人数
              td 岗位名称
              td  编制
              td  在编人数
            tr
              td.org-post 总经理
              td  3
              td  2
              td 岗位名称
              td  编制
              td  在编人数
            tr
              td.org-post 主任
              td  2
              td  1
              td 岗位名称
              td  编制
              td  在编人数
            tr
              td.org-post 副主任
              td  2
              td  2
              td 岗位名称
              td  编制
              td  在编人数
#myModal.modal.fade.in(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='false', style='display: block;')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title 提示
          .modal-body.row
            .col-md-3
              .form-group
                label  OA文件名：
                input#name.form-control
              .form-group
                label  整体日志：
                textarea.form-control(rows='2')
              .pull-right
                button.btn.btn-danger(type='button') 取消
                button.btn.btn-primary(type='button') 确定


.modal-backdrop.fade.in(style="display:none;")
.org-modal.org-modal-posts(style="display:none;")

.modal-backdrop.fade.in(ng-class="{'hidden': !ctrl.jobInfoDialog}")
.org-modal.org-modal-posts(ng-class="{'hidden': !ctrl.jobInfoDialog}")

    .org-modal-top 这里是顶部标题
    .org-modal-post
        .org-modal-posttop 岗位信息列表
            button.btn.btn-default.fa.fa-trash-o(title="删除",)
            button.btn.btn-default.fa.fa-pencil(title="编辑")
            button.btn.btn-default.fa.fa-cog(title="新增子机构")
            button.btn.btn-info 调整机构
        table.table.table-striped.ng-scope.org-post-table
          tbody
            tr
              td 岗位名称
              td  编制
              td  在编人数
              td 岗位名称
              td  编制
              td  在编人数
            tr
              td.org-post 总经理
              td  3
              td  2
              td 岗位名称
              td  编制
              td  在编人数
            tr
              td.org-post 主任
              td  2
              td  1
              td 岗位名称
              td  编制
              td  在编人数
            tr
              td.org-post 副主任
              td  2
              td  2
              td 岗位名称
              td  编制
              td  在编人数
div(ng-controller="OrgsController as ctrl")
    .app-aside.org-dep.hidden-xs.bg-white-opacity.pull-left(ng-class="{'active': ctrl.orgBarOpen}")
        .org-dep-badge
            //- a.fa.fa-chevron-right(href="javascript:void(0);")
            a.toggle-bar.fa(ng-class="{true: 'fa-chevron-right', false: 'fa-chevron-left'}[ctrl.orgBarOpen]" href="javascript:void(0);", ng-click="ctrl.toggleOrgBar()")
        accordion
          accordion-group(is-open="status.open", ng-repeat="jobRank in ctrl.scope.jobRanks")
            accordion-heading {{::jobRank}}
              i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
            ul
              li(ng-repeat="org in ctrl.orgs | filterBy: ['nodeType']: jobRank" ng-click="ctrl.setCurrentOrg(org)")
                a {{::org.name}}



    .app-aside.org-aside.hidden-xs.bg-white-opacity.pull-right
        .org-row(ui-view='sub')

    .org-tree.col-md-3
        div#org_tree
            ul
                li( ng-repeat="org in ::ctrl.orgs | filterBy: ['nodeType']: 'internal'"
                    ng-click="ctrl.setCurrentOrg(org)")
                    a {{::org.name}}
    .org-chart.col-md-5

        button(ng-click="ctrl.active()") 生效
        button(ng-click="ctrl.revert()") 撤销


    .org-detail.col-md-3
