div(ng-controller="OrgsController as ctrl")
    .app-aside.org-aside.hidden-xs.bg-white-opacity.pull-right
        .org-row(ui-view='sub')

    .org-tree.col-md-3
        div#org_tree
            ul
                li( ng-repeat="org in ::ctrl.orgs | filterBy: ['nodeType']: 'internal'"
                    ng-click="load()")
                    a {{org.name}}
    .org-chart.col-md-5
        | 123
        //- div#org_chart(org-chart)
        button(nb-popup)
            i 我是button内嵌代码
            popup-template
                button(ng-click="load()") 呵呵按钮
    .org-detail.col-md-3
