.app-aside.org-aside.hidden-xs.bg-white-opacity.pull-right(ng-controller="OrgsController as ctrl")
    .org-row(ui-view='sub')

.org-tree.col-md-3
    div#org_tree
        ul
            li( ng-repeat="org in ::ctrl.orgs | filterBy: ['nodeType']: 'internal'"
                ng-click="load()")
                a {{org.name}}
.org-chart.col-md-5
    | 123
    div#org_chart(org-chart)
.org-detail.col-md-3
