aside.org-aside
    section.org-detail
        .org-title.org-form-row
            span(ng-show="orgCtrl.state != 'newsub'") 机构信息
            span(ng-show="orgCtrl.state == 'newsub'") 新增子机构信息
            div(ng-if="orgCtrl.state == 'show' && !(ctrl.isHistory || currentOrg.status == 'destroy_inactive')")
                button.btn.btn-default.fa.fa-trash-o(title="删除", nb-popup, position="left")
                    popup-template.nb-popup.org-default-popup-template.panel.panel-default()
                        .panel-heading.popup-title 警告
                        .panel-body.popup-body
                            div 删除后将无法恢复，请确认删除
                            div.div-delete-btn.pull-right(ng-click="orgCtrl.destroy()") 删除
                button.btn.btn-default.fa.fa-retweet(title="划转" ui-sref=".transfer")
                //- button.btn.btn-default.fa.fa-pencil(ui-sref="^.edit({orgId: org.id})",title="编辑")
                button.btn.btn-default.fa.fa-pencil(ng-click="orgCtrl.state = 'editing'",title="编辑")
                button.btn.btn-default.fa.fa-plus(title="新增子机构",ng-click="orgCtrl.state = 'newsub'", ng-if="currentOrg.grade.name !== 'secondly_positive'")
        //- show
        .org-info(ng-show="orgCtrl.state == 'show'")
            .org-form-group
                label.control-label.org-label 名称：
                .form-content(ng-bind="currentOrg.name")
            .org-form-group
                label.control-label.org-label 编号：
                .form-content(ng-bind="currentOrg.serialNumber")
            .org-form-group
                label.control-label.org-label 办公地点：
                .form-content(ng-bind="currentOrg.location.displayName")
            .org-form-group
                label.control-label.org-label 职级：
                .form-content(ng-bind="currentOrg.grade.displayName")
        //- update
        .org-info(ng-show="orgCtrl.state == 'editing'")
            form(novalidate, ng-submit="orgCtrl.update(updateForm, copyOrg)", name="updateForm")
                .org-form-group
                    label.control-label.org-label.drop-label 名称：
                    .form-content
                        input(ng-model="copyOrg.name", required="true", name="orgName")
                        div(ng-messages="updateForm.orgName.$error", ng-if="updateForm.orgName.$touched")
                            .form-group-error(ng-message="required") 名称必填
                .org-form-group
                    label.control-label.org-label 编号：
                    .form-content {{copyOrg.serialNumber}}
                .org-form-group
                    label.control-label.org-label.drop-label 办公地点：
                    .form-content
                        nb-dropdown(ng-model="copyOrg.location" remote-key="Department.locations", name="orgAddr", required="true")
                        div(ng-messages="updateForm.orgAddr.$error", ng-if="updateForm.orgAddr.$touched")
                            .form-group-error(ng-message="required") 地点必选

                .org-form-group
                    label.control-label.org-label 职级：
                    .form-content(ng-bind="copyOrg.grade.displayName")

                .org-form-group.org-form-btn-group
                    input.btn.btn-info.pull-right(type="submit",value="保存" ,ng-disabled="!updateForm.$valid")
                    button.btn.btn-default.pull-right(type="button", ng-click="orgCtrl.cancel()") 取消

         //- new sub
        .org-info(ng-show="orgCtrl.state == 'newsub' ")
            form(novalidate, ng-submit="orgCtrl.newsub(newsubForm, neworg)", name="newsubForm")
                .org-form-group
                    label.control-label.org-label.drop-label 名称：
                    .form-content
                        input(ng-model="neworg.name", type="text", required="true", name="orgName")
                        div(ng-messages="newsubForm.orgName.$error", ng-if="newsubForm.orgName.$touched")
                            .form-group-error(ng-message="required") 名称必填

                .org-form-group
                    label.control-label.org-label.drop-label 办公地点：
                    .form-content
                        nb-dropdown(ng-model="neworg.location" remote-key="Department.locations", required="true", name="orgAddr")

                        div(ng-messages="newsubForm.orgAddr.$error", ng-if="newsubForm.orgAddr.$touched")
                            .form-group-error(ng-message="required") 地点必选

                .org-form-group
                    label.control-label.org-label.drop-label 职级：
                    .form-content
                        nb-dropdown(ng-model="neworg.grade" remote-key="Department.department_grades", required="true", name="orgType", additory="false")
                        div(ng-messages="newsubForm.orgType.$error", ng-if="newsubForm.orgType.$touched || newsubForm.orgType.$dirty")
                            .form-group-error(ng-message="required") 职级必选

                .org-form-group.org-form-btn-group
                    input.btn.btn-info.pull-right(type="submit",value="保存",ng-disabled="!newsubForm.$valid")
                    button.btn.btn-default.pull-right(type="button", ng-click="orgCtrl.cancel()") 取消


    section(ng-if="currentOrg.status !== 'destroy_inactive'")
        .org-title
            span 下属岗位信息
            button.btn.btn-default.fa.fa-cog(title="设置" ui-sref=".position({id:currentOrg.id})")
        table.table.table-striped.org-table
            thead
                tr
                    th 岗位名称
                    th  编制
                    th  在编人数
            tbody
                tr(ng-repeat="position in positions")
                    td.org-post(ng-click="") {{position.name}}
                    td  {{position.budgetedStaffing}}
                    td  {{position.staffing}}
                
