div(ng-controller="OrgsController as ctrl")
    .app-aside.org-dep.hidden-xs.bg-white-opacity.pull-left(ng-class="{'active': ctrl.orgBarOpen}")
        .org-dep-badge
            a.toggle-bar.fa(
                ng-class="{true: 'fa-chevron-right', false: 'fa-chevron-left'}[ctrl.orgBarOpen]"
                href="javascript:void(0);"
                ng-click="ctrl.orgBarOpen = !ctrl.orgBarOpen")
        .org-main-wrapper
            .org-main-node
                a(ng-click="ctrl.rootTree()") 四川航空
            .org-children-wrapper
                ul
                    li(ng-repeat="org in ctrl.orgs | filterBy: ['depth']: 2")
                        a.org-node(ng-click="ctrl.buildTree(org)" ng-bind="::org.name")


    .app-aside.org-aside.hidden-xs.bg-white-opacity.pull-right
        .org-row(ui-view='sub')
    .app-main
        .org-chart-top.active
            .col-md-8.pull-left
                h2.pull-right 2014年2月12日 人力资源部机构发上变化
                h1.pull-right 四川航空人力资源部组织架构图
            .col-md-4.pull-left
                button.btn.btn-cold(ng-click="ctrl.openHistoryDialog()") 历史记录
                button.btn.btn-info 导出
                button.btn.btn-info(ng-click="ctrl.openHistoryPanel()") 返回最新
                //- loading-btn.red(ng-click="ctrl.openHistoryPanel()" btn-loading-type="contract-overlay" btn-text="测试loading")
    .org-tree.col-md-3
        div#org_tree
            ul
                li( ng-repeat="org in ::ctrl.orgs | filterBy: ['nodeType']: 'internal'"
                    ng-click="ctrl.setCurrentOrg(org)")
                    a {{::org.name}}
    .org-chart.col-md-5

    div.org-chart-window
        div.top-btn-group
                a.export(download="机构组织.xls" ng-href="/api/departments/export_to_xls?department_id={{ctrl.treeRootOrg.id}}") 导出
                button.history(ng-click="ctrl.openHistoryDialog()") 历史
            div.bottom-btn-group(ng-show="ctrl.tree.isModified")
                button.cancel(ng-click="ctrl.revert()") 撤销
                button.effect(ng-click="ctrl.active()") 生效
        div.svg-wrapper(org-chart drag-on org-chart-data="ctrl.tree.data")

    div(ng-show="ctrl.org_modified")

    .org-detail.col-md-3
