div(ng-controller="OrgsController as ctrl")
    .app-aside.org-aside.hidden-xs.bg-white-opacity.pull-right
        .org-row(ui-view='sub')

    .org-tree.col-md-3
        div#org_tree
            ul
                li( ng-repeat="org in ::ctrl.orgs | filterBy: ['nodeType']: 'internal'"
                    ng-click="load()")
                    a {{org.name}}
    .org-chart.col-md-5
        table
            thead
                tr
                    th 机构名
                    th 状态
            tbody
                tr(ng-repeat="item in ctrl.orgs")
                    td {{item.name}}
                    td {{item.status}}

    .org-detail.col-md-3
