.org-title
    span 机构信息
    button.btn.btn-default.fa.fa-trash-o(title="删除", nb-popup)
      popup-template.org-delete-template.panel.panel-default
        .panel-heading.popup-title 警告
        .panel-body.popup-body
          div 删除后将无法恢复，请确认删除
          div.div-delete-btn(ng-click="ctrl.deleteOrg()") 删除

    button.btn.btn-default.fa.fa-pencil(ui-sref="^.edit({Id: currentOrg.id})",title="编辑")
    button.btn.btn-default.fa.fa-plus(title="新增子机构",ui-sref="^.newsub({parentId: currentOrg.id})")

.org-info
    .form-group
        label.control-label.col-lg-5 名称：
        .ol-lg-5 {{currentOrg.name}}
    .form-group
        label.control-label.col-lg-5 编号：
        .ol-lg-5 {{currentOrg.serialNumber}}
    .form-group
        label.control-label.col-lg-5 办公地点：
        .ol-lg-5 {{currentOrg.location}}
    .form-group
        label.control-label.col-lg-5 职级：
        .ol-lg-5 {{currentOrg.nodeType}}
.org-title
    span 下属岗位信息
    button.btn.btn-default.fa.fa-cog(title="设置" ng-click="ctrl.openPositionPanel(currentOrg.id)")
table.table.table-striped.org-table
    thead
        tr
            th 岗位名称
            th  编制
            th  在编人数
    tbody
        tr(ng-repeat="position in positions")
            td.org-post(ng-click="ctrl.setCurrentJobInfo('xx')") {{position.name}}
            td  {{position.staffingLevel}}
            td  {{position.activeEmpNum}}
