.form-control
    label 机构名称
.form-control
    label 详细信息
.form-control
    label 详细信息
.form-control
    label 详细信息
.form-control
    label 详细信息
.form-control
    label 详细信息
.form-control
    label 详细信息
