form(novalidate ng-submit="ctrl.newSubOrg(org)")
    .org-title
        span 新增子机构信息
    .org-info
        .form-group
           label.control-label.col-lg-5 名称：
           .ol-lg-5
                input(ng-model="org.name")
        .form-group
            label.control-label.col-lg-5 办公地点
            .ol-lg-5
                nb-dropdown(ng-model="org.location" remote-key="Setting.department.locations")

        .form-group
            label.control-label.col-lg-5 职级
            .ol-lg-5
                nb-dropdown(ng-model="org.nodeType" remote-key="Setting.department.node_types")
        .form-group.org-btn
            input.btn.btn-info.pull-right(type="submit",value="保存")
            button.btn.btn-default.pull-right(ui-sref="^.show") 取消