div.wrapper.org-timline
	ul.timeline(ng-repeat="yearItem in his.changeLogs")
		li.tl-header
			div.btn.btn-info {{:: yearItem.changeYear}}
			span.pull-right 有{{:: yearItem.logs.length}}次变动
		li.tl-item(ng-repeat="log in yearItem.logs", ng-click="his.setCurrentLog(log)", ng-class="{'active': log.isActive}")
			div.tl-wrap(ng-class="{'b-info': log.isActive}")
				div.tl-content.panel.padder.b-a(ng-class="{'bg-info': log.isActive}")
					span.arrow.left.pull-up
					div
						h1() {{log.title}}
						h2 {{::log.created_at | date: 'MM月dd日'}} - {{::log.dep_name}}
						ul(ng-if="log.isActive")
							li(ng-repeat="step in log.step_desc")
								p {{::step}}

	.panel-footer.org-timline
		button.btn.btn-info.btn-sm.pull-right(type='submit', ng-click="his.ok()") 提交
		button.btn.btn-default.btn-sm.pull-right(type='button',ng-click='his.cancel()') 取消
	.clearfix
//- <<<<<<< HEAD
//- 						ul(ng-if="log.isActive")
//- 							li(ng-repeat="step in log.step_desc")
//- 								p {{::step}}
//- 	.panel-footer
//- 		button.btn.btn-info.btn-sm.pull-right(type='submit', ng-click="his.ok()") 提交
//- 		button.btn.btn-default.btn-sm.pull-right(type='button',ng-click='his.cancel()') 取消
//- 	.clearfix
//- =======
//- 						p(ng-repeat="step in log.step_desc") {{::step}}



//- >>>>>>> org_view


