.org-title
    span 机构信息
    button.btn.btn-default.fa.fa-trash-o(title="删除", nb-popup)
.org-history
    article
        span.history-num 2014
        .history-item
            .history-left.pull-left
            .history-right.pull-right
                p 这里是显示的内容

