form(novalidate ng-submit="ctrl.update(currentOrg)")
    .org-title
        span 机构信息
    .org-info
        .form-group 
           label.control-label.col-lg-5 名称：
           .ol-lg-5
                input(ng-model="currentOrg.name")
        .form-group
            label.control-label.col-lg-5 编号
            .ol-lg-5 02044      
        .form-group
            label.control-label.col-lg-5 办公地点
            .ol-lg-5
                select
                    option 成都
                    option 重庆
        .form-group
            label.control-label.col-lg-5 职级
            .ol-lg-5 一正级
        .form-group.org-btn
            input.btn.btn-info.pull-right(type="submit",value="保存")
            button.btn.btn-default.pull-right(ui-sref="^.show") 取消