div.wrapper
  ul.timeline.org-timline
    li.tl-header
      div.btn.btn-info 2014
      span.pull-right 有3次变动
    li.tl-item
      div.tl-wrap
        div.tl-content.panel.padder.b-a
          span.arrow.left.pull-up
          div
            h1 飛行員趙飛管理辦公室
            h2 10月21日 - 人力資源部
            p 1，提一條
    li.tl-item.tl-left
      div.tl-wrap.b-info
        div.tl-content.panel.bg-info.padder
          span.arrow.arrow-info.left.pull-up.hidden-left
          span.arrow.arrow-info.right.pull-up.visible-left
          div.text-lt
             div
                h1 飞行员招飞办公室
                h2 10月21日 - 人力資源部
  ul.timeline.org-timline
    li.tl-header
      div.btn.btn-default.btn-rounded 2013
  ul.timeline.org-timline
    .panel-footer
        button.btn.btn-info.btn-sm.pull-right 提交
        button.btn.btn-default.btn-sm.pull-right 取消
    .clearfix

