form(novalidate ng-submit="ctrl.update(currentOrg)")
    .org-title
        span 机构信息
    .org-info
        .form-group
           label.control-label.col-lg-5 名称：
           .ol-lg-5
                input(ng-model="currentOrg.name")
        .form-group
            label.control-label.col-lg-5 编号
            .ol-lg-5 {{::currentOrg.serialNumber}}
        .form-group
            label.control-label.col-lg-5 办公地点
            .ol-lg-5
            nb-dropdown(ng-model="currentOrg.location" remote-key="Department.locations")

        .form-group
            label.control-label.col-lg-5 职级
            .ol-lg-5 {{::currentOrg.nodeType.displayName}}
        .form-group.org-btn
            input.btn.btn-info.pull-right(type="submit",value="保存")
            button.btn.btn-default.pull-right(ui-sref="^.show") 取消


//- button(
//-     nb-confirm
//-     confirm-title="警告"
//-     confirm-text="确认删除?"
//-     confirm-button-text="删除"
//-     confirm-function="remove(currentOrg)")
//-     div(nb-confirm-template)


//- button(nb-popup position="left")
//-     popup-template
//-         .form-control
//-             p 删除 XX
//-             button(ng-click="")