form(novalidate, ng-submit="ctrl.update(currentOrg)", name="form")
    .org-title.org-form-row
        span 机构信息
    .org-info.org-form-row
        .form-group.row
            label.control-label.col-lg-4.org-label 名称：
            .col-lg-5
                input(ng-model="currentOrg.name", required="true", name="orgName")
                div(ng-messages="form.orgName.$error", ng-if="form.orgName.$touched")
                    .form-group-error(ng-message="required") 名称必填
        .form-group.row
            label.control-label.col-lg-4.org-label 编号：
            .col-lg-5 {{::currentOrg.serialNumber}}
        .form-group.row
            label.control-label.col-lg-4.org-label 办公地点：
            .col-lg-5
                nb-dropdown(ng-model="currentOrg.location" remote-key="Department.locations", name="orgAddr", required="true")
                div(ng-messages="form.orgAddr.$error", ng-if="form.orgAddr.$touched")
                    .form-group-error(ng-message="required") 地点必选

        .form-group.row
            label.control-label.col-lg-4.org-label 职级：
            .col-lg-5 {{::currentOrg.grade.displayName}}

    .org-btn.org-form-row
        input.btn.btn-info.pull-right(type="submit", value="保存", ng-disabled="!form.$valid")
        button.btn.btn-default.pull-right(ui-sref="^.show") 取消


//- button(
//-     nb-confirm
//-     confirm-title="警告"
//-     confirm-text="确认删除?"
//-     confirm-button-text="删除"
//-     confirm-function="remove(currentOrg)")
//-     div(nb-confirm-template)


//- button(nb-popup position="left")
//-     popup-template
//-         .form-control
//-             p 删除 XX
//-             button(ng-click="")