form(novalidate ng-submit="ctrl.update(currentOrg)")
    .input-group
        span.input-group-addon 机构名称
        input.form-control(ng-model="currentOrg.name")
    .input-group
        span.input-group-addon 所在地
        input.form-control(ng-model="currentOrg.location")
    .input-group
        span.input-group-addon 机构名称
        input.form-control
    .input-group
        span.input-group-addon 机构名称
        input.form-control
    .input-group
        span.input-group-addon 机构12322222222222

    .input-group
        input(type="submit")
        button(ui-sref="^.show") 取消