.org-title
    span 机构信息
    button.btn.btn-default.fa.fa-trash-o(title="删除", nb-popup)
.org-history
    article
        span.history-num 2014
        .history-item
            .history-left.pull-left
                span
            .history-right.pull-right
                p 这里是显示的内容
            .clearfix
        .history-item
            .history-left.pull-left
                span
            .history-right.pull-right
                h1 这里显示的是标题
                p 10月30日 - 人力资源部
                .contant
            .clearfix
    .clearfix