.modal.modal-panel-wrapper#test-position(style="z-index: 1060; display: block;")
    .modal-panel()
        .modal-panel-content()
            .org-modal-top.bg-white 人力资源部岗位管理 > 新增岗位
            .org-postadd.clear
                .org-postadd-step.pull-left
                    ul
                        li.active
                            a(href="#") 填写基本信息
                                span.fa.fa-angle-right
                        li
                            a(href="#") 设置薪酬
                                span.fa.fa-angle-right
                        li
                            a(href="#") 设置绩效
                                span.fa.fa-angle-right
                        li
                            a(href="#") 完成
                                span.fa.fa-angle-right
                .org-postadd-detail.pull-right
                    form(novalidate, ng-submit="ctrl.newPosition(posForm, position)", name="posForm")
                        .postadd-form-group
                            label.postadd-control-label 岗位名称
                            input.postadd-form-control(type='text', placeholder='岗位名称', ng-model="position.name")
                        .postadd-form-group
                            label.postadd-control-label 岗位通道
                            nb-dropdown(ng-model="position.channel" remote-key="position_channels", required="true", name="", additory="false")
                        .postadd-form-group
                            label.postadd-control-label OA文件编号
                            input.postadd-form-control(type='text', placeholder='川0144450', ng-model="position.oaFileNo")
                        .postadd-form-group
                            label.postadd-control-label 编制
                            input.postadd-form-control(type='text', placeholder='1', ng-model="position.budgetedStaffing")
                        .postadd-form-group
                            label.postadd-control-label 工时制度
                            nb-dropdown(ng-model="position.schedule" remote-key="position_schedules", required="true", name="", additory="false")
                        .postadd-form-group
                            label.postadd-control-label 类别
                            nb-dropdown(ng-model="position.category" remote-key="position_categories", required="true", name="", additory="false")
                        .postadd-form-group
                            label.postadd-control-label 性质
                            nb-dropdown(ng-model="position.nature" remote-key="position_natures", required="true", name="", additory="false")


                        .postadd-form-group
                            label.postadd-control-label 所在部门
                            span.postadd-control-text {{currentOrg.name}}

                        .postadd-form-group
                            label.postadd-control-label
                            button.btn.btn-info(type='submit') 保存并下一步