//- .modal-panel-content()
//-   .org-modal-top.bg-white
//-     a(href="", ui-sref="org") {{currentOrg.name}} >
//-     a(href="", ng-click="ctrl.state = 'list'") 岗位列表 >
//-     a(href="") {{currentPos.name}}岗位详情
.org-pos-detail-menu
.org-pos-detail-window.bg-white(slimscroll height="650px")
  .org-pos-detail-content
    section.position-info
      button.btn.btn-default.pull-right(ng-click="ctrl.editDetail()") 编辑
      h3 岗位信息
      .editor-style
        table
          tbody
            tr
              th 岗位名称：
              td {{currentPos.name}}
              th 编制：
              td {{currentPos.budgetedStaffing}}
            tr
              th 所属部门：
              td {{currentOrg.name}}
              th 工作制度：
              td {{currentPos.schedule.displayName || '无'}}
            tr
              th 通道：
              td {{currentPos.channel.displayName || '无'}}
              th 类别：
              td {{currentPos.category.displayName || '无'}}
            tr
              th OA文件编号：
              td {{currentPos.oaFileNo}}
              th 性质：
              td {{currentPos.nature.displayName || '无'}}
    section.position-duty
      button.btn.btn-default.pull-right(ng-click="ctrl.editJD()") 编辑
      br
      h3 工作职责
      //- ol
      //-   li 根据公司整体经营战略，制订人力资源发展战略，使人力资源配置和供给满足公司各项业务发展的需要。
      //-   li 组织制订及实施人力资源管理政策及制度，确保公司具有完善的、规范的、客观公正的、在业内处于领先地位的、易于操作的人力资源管理体系。
      //-   li 根据公司发展的指导思想，使公司在招聘、薪酬、绩效和培训等方面的战略起到吸引、激励和保留优秀员工的作用。
      //-   li 指导本部建立健全相关管理规定，完善部门监督检查机制，并使之有效的运行，确保部门管理手册有效适宜，满足公司质量方针和目标。
      //-   li 指导本部副总经理和各科室主任的工作，对部门全体员工实施有效的管理。
      //-   li 组织和实施中层管理人员和专业技术人员的聘任工作，确保为关键岗位找到最恰当的人选。
      div(ng-bind-html="currentSpe.duty")
        //- {{currentSpe.duty}}
    section.position-purview
      h3 工作权限
      ol
        li 人事权限：
          span {{currentSpe.personnelPermission}}
        li 财务权限：
          span {{currentSpe.financialPermission}}
        li 业务权限：
          span {{currentSpe.businessPermission}}
    section.position-relative
      h3 工作关系
      ol
        li 直属上级：
          span {{currentSpe.superior}}
        li 直属下级：
          span {{currentSpe.underling}}
        li 内部联系：
          span {{currentSpe.internalRelation}}
        li 外部联系：
          span {{currentSpe.externalRelation}}
    section.position-qualification
      h3 任职条件
      //- p 参照《人力资源管理手册》第四章第一节《干部管理规定》相关条款。
      div(ng-bind-html="currentSpe.qualification")
    section.work-time
      h3 工作时间
      p {{currentPos.schedule.displayName || '无'}}










//- .modal.modal-panel-wrapper#test-position(style="z-index: 100; display: block;")
//-     .modal-panel()
//-         .modal-panel-content()
//-             .org-modal-top.bg-white 人力资源部总经理岗位详情
//-             .org-pos-detail-menu
//-             .org-pos-detail-window.bg-white
//-               .org-pos-detail-content
//-                 section.position-info
//-                   h3 岗位信息
//-                   .editor-style
//-                     table
//-                       tbody
//-                         tr
//-                           th 岗位名称：
//-                           td 总经理
//-                           th 编制：
//-                           td 无
//-                         tr
//-                           th 所属部门：
//-                           td 人力资源部
//-                           th 工作制度：
//-                           td 普通工时制
//-                         tr
//-                           th 通道：
//-                           td 管理
//-                           th 类别：
//-                           td 领导
//-                         tr
//-                           th OA文件编号：
//-                           td 无
//-                           th 性质：
//-                           td 无
//-                 section.position-duty
//-                   h3 工作职责
//-                   ol
//-                     li 根据公司整体经营战略，制订人力资源发展战略，使人力资源配置和供给满足公司各项业务发展的需要。
//-                     li 组织制订及实施人力资源管理政策及制度，确保公司具有完善的、规范的、客观公正的、在业内处于领先地位的、易于操作的人力资源管理体系。
//-                     li 根据公司发展的指导思想，使公司在招聘、薪酬、绩效和培训等方面的战略起到吸引、激励和保留优秀员工的作用。
//-                     li 指导本部建立健全相关管理规定，完善部门监督检查机制，并使之有效的运行，确保部门管理手册有效适宜，满足公司质量方针和目标。
//-                     li 指导本部副总经理和各科室主任的工作，对部门全体员工实施有效的管理。
//-                     li 组织和实施中层管理人员和专业技术人员的聘任工作，确保为关键岗位找到最恰当的人选。
//-                 section.position-purview
//-                   h3 工作权限
//-                   ol
//-                     li 人事权限：
//-                       span 无
//-                     li 财务权限：
//-                       span 无
//-                     li 业务权限：
//-                       span 对分管的科室业务工作有建议权、监督权、审核权。
//-                 section.position-relative
//-                   h3 工作关系
//-                   ol
//-                     li 直属上级：
//-                       span 人事调配室主任、副主任；
//-                     li 直属下级：
//-                       span 人力资源管理员、档案管理员、行政助理、服务坐席；
//-                     li 内部联系：
//-                       span 人力资源部各科室、公司各部门；
//-                     li 外部联系：
//-                       span 劳动人事主管部门负责人、相关院校学生处负责人、管理局相关负责人。
//-                 section.position-qualification
//-                   h3 任职条件
//-                   p 参照《人力资源管理手册》第四章第一节《干部管理规定》相关条款。
//-                 section.work-time
//-                   h3 工作时间
//-                   p 不定时工作制



