div(
    ng-init="currentPos = ngDialogData;\
    currentEmps = currentPos.employees.$refresh({version: ctrl.currentLog.id});\
    hisLeaders = currentPos.formerleaders.$refresh({version: ctrl.currentLog.id});\
    currentSpe = currentPos.specification;")
    md-toolbar
        .md-toolbar-tools
            span 岗位详情
    .personnel-content.personnel-control
        section.personnel-info-section(ng-init= "current = ngDialogData; data = {}; data.selectedIndex = 0;")
            tabset(type="pills")
                tab(heading="基本信息")
                    section.form-material-section
                        md-subheader.md-primary 基本信息
                        fieldset(disabled)
                            div(layout)
                                md-input-container(flex)
                                    label OA文件编号
                                    input(ng-model="currentPos.oaFileNo")
                                md-input-container(flex)
                                    label 创建时间
                                    input(bs-datepicker ng-model="currentPos.createAt")
                            div(layout)
                                md-input-container(flex)
                                    label 岗位名称
                                    input(ng-model="currentPos.name")
                                md-input-container(flex)
                                    label 所属部门
                                    input( ng-model="currentPos.department.name")
                            div(layout)
                                md-input-container.row-has-value(flex)
                                    label 分类
                                    input( ng-model="currentPos.category.displayName")
                                md-input-container.row-has-value(flex)
                                    label 通道
                                    input( ng-model="currentPos.channel.displayName")
                            div(layout)
                                md-input-container(flex)
                                    label 类别
                                    input(ng-model="currentPos.postType")
                                md-input-container(flex)
                                    label 编制
                                    input(ng-model="currentPos.budgetedStaffing")
                            div(layout)
                                md-input-container(flex)
                                    label 在岗人数
                                    input(ng-model="currentPos.staffing" )
                                md-input-container(flex)
                                    label 超编
                                    input(ng-model="currentPos.overstaffedNum" )
                            div(layout)
                                md-input-container(flex)
                                    label 工时制度
                                    input(ng-model="currentPos.schedule.displayName")
                                md-input-container(flex)
                                    label 岗位性质
                                    input(ng-model="currentPos.positionNature.displayName")

                    section.form-material-section
                        md-subheader.md-warn 岗位描述
                        fieldset(disabled)
                            md-input-container
                                label 工作职责
                                textarea(ng-model="currentSpe.duty" columns="1" md-maxlength="250")
                            md-input-container
                                label 人事权限
                                input(type='text', placeholder='请输入人事权限', ng-model="currentSpe.personnelPermission")
                            md-input-container
                                label 财务权限
                                input(type='text', placeholder='请输入财务权限', ng-model="currentSpe.financialPermission")
                            md-input-container
                                label 业务权限
                                input(type='text', placeholder='请输入业务权限', ng-model="currentSpe.businessPermission")
                            md-input-container
                                label 内部联系
                                input(type='text', placeholder='请输入内部联系', ng-model="currentSpe.internalRelation")
                            md-input-container
                                label 外部联系
                                input(type='text', placeholder='请输入外部联系', ng-model="currentSpe.externalRelation")
                            md-input-container
                                label 任职条件
                                textarea(ng-model="currentSpe.qualification" placeholder="任职条件")

                tab(heading="人员明细")
                    .position-manage(ng-if="currentPos.category.key != 'LingDao'")
                        md-subheader 在职员工信息
                        div(nb-table='currentEmps' nb-safe-src="currentEmps")
                            input(type="hidden" nb-pipe="currentEmps.search(tableState)")
                            .table-container
                                h4 人员明细
                                table.table.table-striped.custom-table
                                    thead
                                        tr
                                            th 员工编码
                                            th 姓名
                                            th 到岗时间
                                    tbody
                                        tr(ng-repeat="emp in currentEmps track by emp.id")
                                            td(ng-bind="::emp.employeeNo")
                                            td()
                                                a(ng-bind="::emp.employee.name")
                                            td(ng-bind="::emp.startDate")
                            .custom-pages(nb-pagination="currentEmps.$metadata" per-page="15")
                    .position-manage(ng-if="currentPos.category.key == 'LingDao'")
                        md-subheader 历任领导
                        div(nb-table='hisLeaders' nb-safe-src="hisLeaders")
                            input(type="hidden" nb-pipe="hisLeaders.search(tableState)")
                            .table-container
                                h4 人员明细
                                table.table.table-striped.custom-table
                                    thead
                                        tr
                                            th 工号
                                            th 姓名
                                            th 到岗时间
                                            th 离岗时间
                                    tbody
                                        tr(ng-repeat="emp in hisLeaders track by emp.id")
                                            td(ng-bind="::emp.employee.employeeNo")
                                            td(ng-bind="::emp.employee.name")
                                            td(ng-bind="::emp.startDate")
                                            td(ng-bind="::emp.endDate")
