wizard(on-finish="ctrl.createPos()")
    form(title="基本信息" wz-step canexit="posForm.$valid" name="posForm" novalidate )
        input(required ng-model="position.name")
        input.btn.btn-info(type="submit" wz-next="ctrl.store('position', position)" required value="下一步" ng-disabled="posForm.$invalid")

    form(title="岗位说明" wz-step canexit="posAdvancedForm.$valid" name="posAdvancedForm")
        input(placeholder="这里输入内容", autofocus, required ,  ng-model="specification.duty")
        input.btn.btn-info(type='submit' value="完成" wz-next="ctrl.store('specification', specification)" ng-disabled="posAdvancedForm.$invalid")
