

@mixin translateX($X) {
    -webkit-webkit-transform: translateX($X);
    -moz-webkit-transform: translateX($X);
    -ms-webkit-transform: translateX($X);
    -o-webkit-transform: translateX($X);
    transform: translateX($X);
}