.app-content-wrapper(
    flex
    ng-controller="salaryCtrl as ctrl"
    ng-init="ctrl.loadConfigFromServer('airline_subsidy'); cityNation = {}; cityForeign = {};"
    style="padding: 0;"
    )
    .salary-basic(style="padding: 0;")
        md-toolbar
            .md-toolbar-tools
                h2 空勤驻站
                span(flex)
                md-button.md-raised.md-primary(has-permission="salaries_update_land_allowance" style="margin-right: 0;" ng-click="ctrl.saveConfig('airline_subsidy', ctrl.dynamic_config)") 保存
        div.mt20(layout)
            div(flex style="margin-right: 40px;")
                //- h4 国内驻站地点
                //- table.tablexx.table-default.table-bordered(flex)
                //-     thead
                //-         tr
                //-             th 城市名称
                //-             th 简称
                //-             th
                //-     tbody
                //-         tr(ng-repeat="area in ctrl.dynamic_config.inland_areas track by $index")
                //-             td {{area.city}}
                //-             td {{area.abbr}}
                //-             td
                //-                 md-button.md-icon-button(ng-click="ctrl.destroyCity(ctrl.dynamic_config.inland_areas,$index)")
                //-                     md-icon.md-warn(md-svg-src="/images/svg/close.svg")
                //-         tr
                //-             td
                //-                 input(type="text" ng-model="cityNation.city")
                //-             td
                //-                 input(type="text" ng-model="cityNation.abbr")
                //-             td
                //-                 md-button.md-icon-button(ng-click="ctrl.addSkyCity(ctrl.dynamic_config.inland_areas , cityNation)")
                //-                     md-icon.md-primary(md-svg-src="/images/svg/plus.svg")

                h4.mt20 国内补贴标准
                table.tablexx.table-default.table-bordered(flex)
                    thead
                        tr
                            th 类别
                            th 普通驻站
                            th 中期驻站
                            th 长期驻站
                    tbody
                        tr
                            th 飞行
                            td
                                input(type="number" ng-model="ctrl.dynamic_config.inland_subsidy.airline.general")
                                | /天
                            td
                                input(type="number" ng-model="ctrl.dynamic_config.inland_subsidy.airline.metaphase")
                                | /月
                            td
                                input(type="number" ng-model="ctrl.dynamic_config.inland_subsidy.airline.long_term")
                                | /月
                        tr
                            th 空乘
                            td
                                input(type="number" ng-model="ctrl.dynamic_config.inland_subsidy.cabin.general")
                                | /天
                            td
                                input(type="number" ng-model="ctrl.dynamic_config.inland_subsidy.cabin.metaphase")
                                | /月
                            td
                                input(type="number" ng-model="ctrl.dynamic_config.inland_subsidy.cabin.long_term")
                                | /月
                        tr
                            th 空保
                            td
                                input(type="number" ng-model="ctrl.dynamic_config.inland_subsidy.air_security.general")
                                | /天
                            td
                                input(type="number" ng-model="ctrl.dynamic_config.inland_subsidy.air_security.metaphase")
                                | /月
                            td
                                input(type="number" ng-model="ctrl.dynamic_config.inland_subsidy.air_security.long_term")
                                | /月

            