md-dialog.effect_changes
    form(novalidate, name="active_form", ng-submit="ctrl.active(active_form, log) && dialog.close()")
        md-content.sticky-container
            md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 提交川航新的组织架构
            .dialog-content
                fieldset
                    md-input-container
                        label OA文件名
                        input(type="text" ng-model="log.oa_file_no" placeholder="文件编号",required="true")
                    md-input-container
                        label 文件内容
                        textarea(type="text" md-maxlength="1000" ng-model="log.title"
                            placeholder="文件编号",required="true"
                            style="min-height:0px;"
                            )
            .md-actions
                md-button(type='button',ng-click="dialog.close()") 取消
                md-button.md-primary.md-raised(ng-disabled="active_form.$invalid" type="submit") 确定