md-dialog
    form.clearfix(ng-submit="orgCtrl.transfer(transfer_dest_org) && closeThisDialog()" name="trans_form")
        .modal-header
            h4.modal-title 机构划转
        div(slimscroll height="300px")
            nb-org-tree(ng-model="transfer_dest_org" tree-data="allOrgs" required)
        .button-group.panel-footer.clearfix
            button.btn.btn-info.btn-sm.pull-right(type='submit' ng-disabled="trans_form.$invalid") 确定
            button.btn.btn-default.btn-sm.pull-right(type='button',ng-click='dialog.cancel()') 取消


