form(ng-submit="orgCtrl.transfer(transfer_dest_org) && closeThisDialog()" name="trans_form")
    div(slimscroll height="300px")
        nb-org-tree(ng-model="transfer_dest_org" tree-data="allOrgs" required)
    .pull-right.button-group
        button.btn.btn-default.btn-sm(type='button',ng-click='closeThisDialog()') 取消
        button.btn.btn-info.btn-sm(type='submit' ng-disabled="trans_form.$invalid") 确定

