md-dialog.org-transfer
    form.clearfix(ng-submit="orgCtrl.transfer(transfer_dest_org) && dialog.close()" name="trans_form")
        md-content.sticky-container
            md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 机构划转
            .dialog-content
                div(slimscroll height="300px")
                    nb-org-tree(ng-model="transfer_dest_org" tree-data="allOrgs" required)
        .md-actions
            md-button(type='button',ng-click='dialog.cancel()') 取消
            md-button.md-primary(type='submit' ng-disabled="trans_form.$invalid") 确定


