.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click="eff.cancel($event, active_form)") ×
    h4.modal-title 警告
.modal-body 点击确定将撤销你当前的所有更改
.modal-footer
    .pull-right.button-group
        button.btn.btn-default.btn-sm(type='button',ng-click='rev.cancel($event)') 取消
        button.btn.btn-info.btn-sm(type='button', ng-click="rev.ok()") 确定

