.tips-title 警告
.tips-body 点击确定将撤销你当前的所有更改
.tips-footer
    .pull-right.button-group
        button.btn.btn-default(type='button',ng-click='rev.cancel($event)') 取消
        button.btn.btn-info(type='button', ng-click="rev.ok()") 确定