md-dialog.performance_upload
    md-toolbar.md-accent(md-theme="hrms")
            .md-toolbar-tools
                span 计算
    md-content.sticky-container
        .dialog-content(layout layout-align="center")
            section.form-material-section(flex)
                .upload-date(layout)
                    label 选择月份
                    md-select(ng-model="aaa" ng-change="aaa" placeholder="请选择年份")
                        md-option(ng-value="opt" ng-repeat="opt in locations track by $index") {{opt}}
                    label(flex-order="2") 年
                    md-select(ng-model="aaa" ng-change="aaa" placeholder="请选择月份")
                        md-option(ng-value="opt" ng-repeat="opt in locations track by $index") {{opt}}
                    label(flex-order="3") 月

        .md-actions.mt30
            //- md-button(ng-click='dialog.close()') 取 消
            md-button.md-primary.md-raised(ng-click="submit() ; dialog.close()") 计 算