.workflow.md-background(md-theme="hrms")
    md-toolbar.md-warn(md-theme="hrms")
        .md-toolbar-tools
            span 绩效申述
    .personnel-content.personnel-control
        section.personnel-info-section
            md-content.nb-card-container(layout="column" md-theme="hrms")
                form(ng-controller="NewMyRequestCtrl" ng-submit="#{paramsChange};createFlow(request)" ng-init="request = initialFlow('')")
                    md-card.form-material-section.nb-card
                        md-subheader.md-background.md-hue-1
                        flow-user-info(receptor="panel.receptor")
                        .flow-relations(flow-relation-data ng-model="request.relation_data")

                            div.flow-info-row(layout)
                                .flow-info-cell(flex)
                                    .flow-cell-title 通道
                                    .flow-cell-content 管理
                                .flow-info-cell(flex)
                                    .flow-cell-title 用工性质
                                    .flow-cell-content 合同工
                            div.flow-info-row(layout)
                                .flow-info-cell(flex)
                                    .flow-cell-title 考核时段
                                    .flow-cell-content 2015-01
                                .flow-info-cell(flex)
                                    .flow-cell-title 绩效
                                    .flow-cell-content 不合格

                        md-subheader.accessory-header.md-background.md-hue-1 附件
                        .accessory-container
                            .accessory-cell
                                .accessory-name 附件1sdlfjsldjflkejfoiwejflwekjflk.jpg
                                .accessory-size 500kb
                                .accessory-switch
                                    md-button.md-icon-button
                                        md-icon.md-warn(md-svg-src="/images/svg/close.svg")

                    md-card.form-material-section.nb-card
                        md-subheader.md-background.md-hue-1 申请信息
                        fieldset
                            div(layout)
                                md-input-container(flex)
                                    label 申请理由
                                    textarea(ng-model="request.reason" columns="1" md-maxlength="2000")

                    md-card.form-material-section.nb-card
                        md-subheader.md-background.md-hue-1(style="margin-bottom: 20px;") 处理附件
                        .accessory-container
                            .accessory-cell
                                .accessory-name 附件1.jpg
                                .accessory-size 500kb
                                .accessory-switch
                                    md-button.md-icon-button
                                        md-icon.md-warn(md-svg-src="/images/svg/close.svg")

                        div(nb-file-upload flow-type="#{flowType}" ng-model="request.attachment_ids")

                    md-card.form-material-section.nb-card.performance-result
                        md-subheader.md-background.md-hue-1 处理结果
                        md-radio-group(ng-model="fabc")
                            md-radio-button.md-primary(value="0") 通过
                            md-radio-button.md-primary(value="1") 驳回
                        fieldset
                            div(layout)
                                md-input-container.row-has-value(flex)
                                    label 绩效调整为
                                    md-select(ng-model="current.recordType" required)
                                        md-select-label {{current.recordType}}
                                        md-option(value="合格") 合格
                                        md-option(value="不合格") 不合格
                                        md-option(value="良好") 良好
                                div(flex)

                    .form-bottom-group(layout)
                        span(flex)
                        md-button.md-raised.white(type="button" ng-click="panel.close()") 取消
                        md-button.md-primary.md-raised(type="submit") 确定









