.flow-list(flex)
    md-toolbar
        .md-toolbar-tools
            span
                md-button.md-icon-button(ui-sref="^")
                    md-icon(md-svg-src="/images/svg/arrow-left.svg")
            span 我要调岗
    .flow-list-body
        .flow-list-content.ui-grid-container

            md-toolbar
                .md-toolbar-tools
                    span 调岗申请单列表
                    span(flex)
                    span
                        md-button.md-primary.md-raised(
                            nb-panel
                            template-url="/partials/self/my_requests/labors/adjust_position.html"
                        ) 我要调岗
                    
            //- div(nb-grid column-defs="ctrl.leaveCol" multi-select="false" safe-src="leaves")
