.modal.fade(role="panel" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)")
    .modal-panel
        .panel-content.panel-lg(modal-transclude,ng-class="{'panel-sm': size =='sm', 'panel-lg': size == 'lg'}")
