extends leave_layout

block vars
    - var flowType = 'Flow::MaternityLeave'
    - var flowName = '产假'
    - var formType = 1
    - var need_attachment = true

block attachment_tip
    p.attachment-tip 请上传医院为您开具的证明照片
