.leave-list(flex)
    md-toolbar
        .md-toolbar-tools
            span
                md-button.md-icon-button(ui-sref="^")
                    md-icon(md-svg-src="/images/svg/left-side-svg/left_icon_13.svg")
            span 我要请假
            span
                md-button.md-primary.md-raised(

                    )


