extends leave_layout

block vars
    - var flowType = "Flow::OffsetLeave"
    - var formType = 2
    - var flowName = '补休假'

block relation_data
    div.flow-info-row(layout)
        .flow-info-cell(flex)
            .flow-cell-title 公司工作年限
            .flow-cell-content {{ receptor.joinScalDate | fromNow}}
    div.flow-info-row(layout)
        .flow-info-cell(flex)
            .flow-cell-title 假别
            .flow-cell-content 补休假
                span ( 补休假剩余天数 {{ receptor.vacations.offsetDays }} 天 )