extends leave_layout

block vars
    - var flowType = 'Flow::PrenatalCheckLeave'
    - var flowName = '产前孕期检查假'
    - var formType = 1
    - var need_attachment = true


block additional_form
    div(layout)
        md-input-container.row-has-value(flex)
            label 怀孕时段
            md-select(ng-model="request.during_pregnancy" required)
                md-option(value="4-6个月") 4-6个月
                md-option(value="7-8个月") 7-8个月
                md-option(value="9个月以上") 9个月以上

block attachment_tip
    p.attachment-tip 请上传医院为您开具的证明照片