extends leave_layout

block vars
    - var flowType = 'Flow::SickLeaveNulliparous'
    - var flowName = '病假(怀孕待产)'
    - var formType = 2
    - var need_attachment = true

block attachment_tip
    p.attachment-tip 请上传医院为您开具的病假证明的照片