extends leave_layout

block vars
    - var flowType = 'Flow::SickLeaveInjury'
    - var flowName = '病假(工伤待定)'
    - var formType = 2
    - var need_attachment = true

block attachment_tip
    p.attachment-tip 请上传医院为您开具的病假证明的照片