
extends leave_layout


block vars
    - var flowType = "Flow::AnnualLeave"


block relation_data
    div.flow-info-row(layout)
        .flow-info-cell(flex)
            .flow-cell-title 川航工作年限
            .flow-cell-content {{ meta.join_scal_date | fromNow}}
    div.flow-info-row(layout)
        .flow-info-cell(flex)
            .flow-cell-title 假别
            .flow-cell-content 年假 (
                span(ng-repeat="(key, value) in vacations.year_days.year") {{key}} 年年假剩余天数 {{value}} 天 {{$last ? '' : '，' }}
                span )


block form
    div(layout)
        md-input-container(flex)
            label 开始日期
            input(ng-model="request.start_time" ng-change="calculateTotalDays(request, '年假')" name="start_time" bs-datepicker required)
        md-input-container(flex)
            label 结束日期
            input(ng-model="request.end_time" ng-change="calculateTotalDays(request, '年假')" name="end_time" required bs-datepicker)
    div(layout)
        .without-edit
            div.progress-wrapper(ng-if="calculating")
                md-progress-circular(md-mode="indeterminate")
            div(ng-if="!calculating")
                div.without-edit-title 天数
                div.without-edit-content {{ vacation_days }} 天
    div(layout)
        md-input-container(flex)
            label 申请理由
            textarea(ng-model="request.reason" columns="1" md-maxlength="150")
    md-subheader.accessory-header.md-background.md-hue-1 附件
    div(nb-file-upload flow-type="#{flowType}" ng-model="request.attachment_ids")




//- div.workflow.md-background(md-theme="hrms")
//-     md-toolbar.md-warn(md-theme="hrms")
//-         .md-toolbar-tools
//-             span 请假单填写
//-     .personnel-content.personnel-control
//-         section.personnel-info-section
//-             md-content.nb-card-container(layout="column" md-theme="hrms")
//-                 form(ng-controller="NewMyRequestCtrl" ng-submit="createFlow(request)" ng-init="request = initialFlow('Flow::AnnualLeave')")
//-                     md-card.form-material-section.nb-card
//-                         md-subheader.md-background.md-hue-1
//-                         flow-user-info
//-                         .flow-relations(flow-relation-data ng-model="request.relation_data")
//-                             div.flow-info-row(layout)
//-                                 .flow-info-cell(flex)
//-                                         .flow-cell-title 川航工作年限
//-                                         .flow-cell-content {{ meta.join_scal_date | fromNow}}
//-                             div.flow-info-row(layout)
//-                                 .flow-info-cell(flex)
//-                                     .flow-cell-title 假别
//-                                     .flow-cell-content 年假 (
//-                                         span(ng-repeat="(key, value) in vacations.year_days.year") {{key}} 年年假剩余天数 {{value}} 天 {{$last ? '' : '，' }}
//-                                         span )

//-                     md-card.form-material-section.nb-card
//-                         md-subheader.md-background.md-hue-1 申请信息
//-                         fieldset
//-                             //- input(ng-model="request.vacation_type" ng-value="'年假'" type="hidden")
//-                             div(layout)
//-                                 md-input-container(flex)
//-                                     label 开始日期
//-                                     input(ng-model="request.start_time" ng-change="calculateTotalDays(request, '年假')" name="start_time" bs-datepicker required)
//-                                 md-input-container(flex)
//-                                     label 结束日期
//-                                     input(ng-model="request.end_time" ng-change="calculateTotalDays(request, '年假')" name="end_time" required bs-datepicker)
//-                             div(layout)
//-                                 .without-edit
//-                                     div.progress-wrapper(ng-if="calculating")
//-                                         md-progress-circular(md-mode="indeterminate")
//-                                     div(ng-if="!calculating")
//-                                         div.without-edit-title 天数
//-                                         div.without-edit-content {{ vacation_days }} 天
//-                             div(layout)
//-                                 md-input-container(flex)
//-                                     label 申请理由
//-                                     textarea(ng-model="request.reason" columns="1" md-maxlength="150")
//-                             md-subheader.accessory-header.md-background.md-hue-1 附件
//-                             div(nb-file-upload flow-type="Flow::AnnualLeave" ng-model="request.attachment_ids")

//-                     md-card.form-material-section.nb-card
//-                         md-subheader.superior-header.md-background.md-hue-1 提交上级
//-                         .superior-container
//-                             md-radio-group(ng-model="request.reviewer_id" md-theme="default")
//-                                 md-radio-button.md-primary(
//-                                     ng-repeat="reviewer in ::ctrl.reviewers track by reviewer.id"
//-                                     ng-value="reviewer.id") {{ reviewer.name }} ( {{reviewer.department.name}} / {{reviewer.position.name}} )

//-                     .form-bottom-group(layout)
//-                         span(flex)
//-                         md-button.md-raised.white(type="button" ng-click="panel.close()") 取消
//-                         md-button.md-primary.md-raised(type="submit") 提交上级