// 待审核表
.portlet-body
  //item count 提示块
  .know-dsk-number 
    block tips
  table.table.know-table.table-striped.table-bordered.table-advance.table-hover(ng-if='articles.length != 0')
    thead
      tr
        block theadTpl
    tbody
      tr(ng-repeat='article in articles')
        block tbodyTpl
// END FILTER
