.btn-primary {
    background-color: #7266ba;
    border-color: #7266ba;

    &:hover {
        background-color: #6154af;
        border-color: #7266ba;
    }
}

.btn-default {
    border-color: #c4cfd3;
}
