//系统中的 material风格下的按钮样式 依赖md-button
.md-button.md-default-theme {
    &.md-raised {
        color: #fff;

        &.skyblue {
            background-color: #23b7e5;

            &:hover {
                background-color: #23b7e5;
            }

            &:focus {
                background-color: #23b7e5;
            }
        }

        &.purple {
            background-color: #7266ba;

            &:hover {
                background-color: #7266ba;
            }

            &:focus {
                background-color: #7266ba;
            }
        }

        &.white {
            background-color: #fff;
            color: $text-muted;

            &:hover {
                background-color: #fff;
            }

            &:focus {
                background-color: #fff;
            }
        }

        &.red {
            background-color: #f05050;

            &:hover {
                background-color: #f05050;
            }

            &:focus {
                background-color: #f05050;
            }
        }
    }
}

//单选框 radio
md-radio-group {
    border: 0;

    &:focus {
        border: 0;
    }
}

md-radio-button.md-default-theme {
    margin: 0;

    &.skyblue {
        .md-off {
            border-color: #23b7e5;
        }

        .md-on {
            background-color: #23b7e5;
        }
    }
}

