.nb-loading {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

.bezel {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    position: relative;
    width: 100%;
}

.global-loader {
    left: 50%;
    margin-left: -20px;
    margin-top: -140px;
    padding-top: 100px;
    position: absolute;
    top: 50%;
    width: 40px;

    .global-loader-circle {
        -webkit-animation-duration: 5.5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: orbit;
        height: 38px;
        opacity: 0;
        position: absolute;
        transform: rotate(225deg);
        width: 38px;

        &:after {
            background: #fff;
            border-radius: 5px;
            content: '';
            height: 5px;
            position: absolute;
            width: 5px;
            /* Pick a color */
        }

        &:nth-child(2) {
            -webkit-animation-delay: 240ms;
        }

        &:nth-child(3) {
            -webkit-animation-delay: 480ms;
        }

        &:nth-child(4) {
            -webkit-animation-delay: 720ms;
        }

        &:nth-child(5) {
            -webkit-animation-delay: 960ms;
        }

    }
}

@-webkit-keyframes orbit {
    0% {
        -webkit-animation-timing-function: ease-out;
        opacity: 1;
        transform: rotate(225deg);
    }

    7% {
        -webkit-animation-timing-function: linear;
        transform: rotate(345deg);
    }

    30% {
        -webkit-animation-timing-function: ease-in-out;
        transform: rotate(455deg);
    }

    39% {
        -webkit-animation-timing-function: linear;
        transform: rotate(690deg);
    }

    70% {
        -webkit-animation-timing-function: ease-out;
        opacity: 1;
        transform: rotate(815deg);
    }

    75% {
        -webkit-animation-timing-function: ease-out;
        transform: rotate(945deg);
    }

    76% {
        opacity: 0;
        transform: rotate(945deg);
    }

    100% {
        opacity: 0;
        transform: rotate(945deg);
    }
}
