.org-modal-wrapper {
  height: 100%;
  overflow: scroll;
}
.app-content {
    .breadcrumb {
        position: fixed;
        height: 50px;
        line-height: 51px;
        background-color: transparent;
        padding: 0 20px;
        margin-bottom: 0;
        border: none;
        top: 0;
        left: 200px;
        z-index: 2000;
        border-radius: none;
    }
}
.org-modal-posttop {
    font-size: $font-size-md;
    width: inherit;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    button {
        float: right;
        margin-right: 15px;
        margin-top: 10px;
    }
    .btn-info {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
.org-post-table {
    border: 1px solid #e6e6e6;
    tr td{
        &:first-child {
            width: 44px;
        }
        &:last-child {
            width: 204px;
        }
    }
    .org-preparation.invalid {
        color: $danger;
    }
}
