
.org-postadd {
    width: inherit;
    height: calc(100% - 51px);
    background-color: #fff;

}
// 新增岗位弹出层左侧菜单
.org-postadd-step {
    width: 268px;
    height: 100%;
    background-color: #f2f3f8;
    ul {
        padding: 0;
    }
    li {
        width: 268px;
        height: 63px;
        padding: 0 20px;
        line-height: 63px;
        &:hover,&.active {
                background-color: #0ab6e8;
                color: #fff;
                transition: all ease .5s;
            a,span {
                color: #fff;
            }
        }
    }
    a {
        display: block;
        font-size: 16px;
        color: #000;
        span {
            float: right;
            font-size: 16px;
            line-height: 63px;
        }
    }
}
// 新增岗位弹出层右侧表单
.org-postadd-detail {
    width: 100%;
    // form {
    //     width: 692px;
    //     padding: 20px 0;

    // }
    .postadd-form-group {
        margin: 0 0 15px 0;
        .form-control-error {
            display: inline-block;
            margin-left: 10px;
            // .form-group-error {
            //     position: relative;
            //     background-color: #fcf8e2;
            //     border: 1px solid #faebca;
            //     color: #000;
            //     padding: 3px 3px;
            //     font-size: $font-size-xs;
            // }
        }
    }
    .postadd-control-label {
        width: 20%;
        margin-right: 20px;
        margin-bottom: 0;
        text-align: right;
    }
    .postadd-form-control {
        width: 20%;
        height: 34px;
        background-color: #fff;
        background-image: none;
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: 98% 9px;
        border: 1px solid #cfdadd;
        border-radius: 2px;
        padding: 6px 12px;
        box-shadow: none;
        @include transition(all .5s linear);
        &:focus {
            width: 25%;
            border-color:$success;
        }
        &.control-error-tips {
            border-color: $danger;
            background-image: url("../../../images/close-r.png");
        }
        &.control-valid-tips {
            border-color: $success;
            background-image: url("../../../images/check-g.png");
        }

    }
    .postadd-control-text {
        width: 66.6666667%;
        height: 34px;
        line-height: 34px;
        padding-left: 12px;
        box-shadow: none;
        vertical-align: middle;
    }
    .dropdown {
        display: inline-block;;
        width: 20%;
        &.control-error-tips {
            .dropdown-toggle {
                border-color: $danger;
            }
        }
        &.control-valid-tips {
            .dropdown-toggle {
                border-color: $success;
            }
        }
        .dropdown-toggle {
            width: 100%;
            border-radius: 4px;
            text-align: left;
            &:focus {
                border-color: $success;
            }
        }
        .caret {
            float: right;
            margin-top: 7px;
        }
        .dropdown-menu {
            width: 100%;
        }
    }
}
.org-postadd-jd {
    .org-desc-section {
        width: 100%;
        margin-bottom: 20px;
        h3 {
            font-size: $font-size-md;
            width: 20%;
            text-align: right;
            margin-bottom: 10px;
        }
        .simditor {
            display: inline-block;
            width: 50%;
            vertical-align: top;
        }
    }
}


.arrow.left.arrow-info:after {
    border-right-color: #daedf8;
}