
.org-postadd {
    width: inherit;
}
// 新增岗位弹出层左侧菜单
.org-postadd-step {
    width: 268px;
    background-color: #f2f3f8;
    ul {
        padding: 0;
    }
    li {
        width: 268px;
        height: 63px;
        padding: 0 20px;
        line-height: 63px;
        &:hover,&.active {
                background-color: #0ab6e8;
                color: #fff;
                transition: all ease .5s;
            a,span {
                color: #fff;
            }
        }
    }
    a {
        display: block;
        font-size: 16px;
        color: #000;
        span {
            float: right;
            font-size: 16px;
            line-height: 63px;
        }
    }
}
// 新增岗位弹出层右侧表单
.org-postadd-detail {
    width: 632px;
    padding: 20px;
    .postadd-form-group {
        margin: 0 0 15px 0;
    }
    .postadd-control-label {
        width: 22%;
        margin-right: 20px;
        margin-bottom: 0;
        text-align: right;
    }
    .postadd-form-control {
        width: 66.6666667%;
        height: 34px;
        background-color: #fff;
        border: 1px solid #cfdadd;
        border-radius: 2px;
        padding: 6px 12px;
        box-shadow: none;
        &:focus {
            border-color: #09b6e7;
        }
    }
    .postadd-control-text {
        width: 66.6666667%;
        height: 34px;
        line-height: 34px;
        padding-left: 12px;
        box-shadow: none;
        vertical-align: middle;
    }
    textarea {
        width: 66.6666667%;
        padding: 6px 12px;
        border: 1px solid #cfdadd;
        border-radius: 2px;
        vertical-align: top;

    }
    .dropdown {
        display: inline-block;;
        width: 66.6666667%;
        .dropdown-toggle {
            width: 100%;
            border-radius: 4px;
            text-align: left;
        }
        .caret {
            float: right;
            margin-top: 7px;
        }
        .dropdown-menu {
            width: 100%;
        }
    }
}
.org-postadd-jd {
    .org-desc-section {
        h3 {
            font-size: $font-size-md;
        }
    }
}


.arrow.left.arrow-info:after {
    border-right-color: #daedf8;
}