.cust-nav-justified {
    background-color: #fff;
    margin: 0;

    .nb-nav-item {
        border-bottom: 3px solid transparent;
        display: inline-block;
        text-align: center;
        width: 130px;

        a {
            color: rgba(0, 0, 0, .87);
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            height: 53px;
            line-height: 53px;
        }

        &.active {
            border-bottom: 3px solid #e84e40;

            a {
                color: #e51c23;
            }
        }
    }
}

.personnel-tabs {
    .cust-nav-justified {
        .nb-nav-item {
            width: 120px;
        }
    }
}
