.tablexx {
    background: #fff;
    border-collapse: collapse;
    height: 100%;
    width: 100%;

    thead,
    tbody,
    tfoot {
        > tr {
            > th,
            > td {
                //borderd
                border: 0;
                border-bottom: 1px solid #ccc;

                text-align: left;
                // vertical-align: top;
                transition: all .3 ease;

                &.mini {
                    width: 8%;
                }

                &.sm {
                    width: 18%;
                }

                &.lg {
                    width: 28%;
                }

            }

            >th {
                border-bottom: 1px solid #999;
                color: $text-muted;
                font-size: 14px;
                font-weight: 400;
                // vertical-align: bottom;
            }


        }
    }

    &.table-default {
        th,
        td {
            height: 50px;
        }
    }


}
