.btn-export {
    display: inline-block;
    margin-left: 20px;
    // margin-right: 100px;
}

.search-btn-group {
    margin: 10px 0;
    padding-left: 56px;
}

.searchbar {
    h3 {
        background-color: $bg-header;
        border: 1px solid #dde5e7;
        color: $text-title;
        font-size: $font-size-lg;
        height: 55px;
        line-height: 55px;
        padding-left: 40px;

        .md-button {
            font-size: $font-size-sm;
            line-height: 1.43em;
            margin-right: 20px;
            margin-top: 10px;
            padding: 6px 12px;
        }

        .ui-select-container {
            margin: 10px 20px 0 0;
            min-width: 160px;

            .ui-select-match {
                span {
                    width: 100%;
                }
            }

            input.form-control {
                border-color: #ccc;
                border-radius: 2px;
                border-style: solid;
                border-width: 1px;
                font-size: $font-size-sm;
                height: 33px;
                padding-left: 10px;
            }
        }

        > a {
            margin: 10px 10px 0 0;
        }
    }

    .search-content {
        border-bottom: 1px solid #dde5e7;
        border-left: 1px solid #dde5e7;
        border-right: 1px solid #dde5e7;
        padding: 10px;
    }

    .search-row {
        margin-bottom: 10px;

        .search-del,
        .search-opt,
        .search-type,
        .search-plus {
            display: inline-block;
            margin-right: 10px;
        }

        .search-del {
            border: 0;
            box-shadow: none;

            &:hover {
                color: $danger;
            }
        }

        .dropdown {
            .dropdown-toggle {
                margin-top: -1px;
            }

            .dropdown-toggle:focus {
                border-color: $focus;
            }

            .caret {
                float: right;
                margin-top: 7px;
            }
        }

        .search-type {
            >div>input {
                border: 1px solid #aaa;
                border-radius: 2px;
                box-shadow: none;
                height: 34px;
                min-width: 190px;
                outline: none;

                &:focus {
                    border-color: $focus;
                }
            }

            .gap {
                margin: 0 10px;
            }
        }

        .search-plus {
            border-style: dotted;

            &:hover {
                color: $a-color;
            }
        }

        .ui-select-match {
            min-width: 160px;

            .caret {
                margin-top: 0;
            }

            .ui-select-match-item {
                margin: 5px 3px 0;
                padding: 5px;
            }
        }
    }
}
