.org-timline {
    .changes_count {
        font-size: $font-size-sm;
        margin-left: 10px;
    }

    .tl-item {
        .tl-content {
            @include transition(all .5s linear);
            border: 1px solid rgba(0, 0, 0, .1);
            border-radius: 4px;
            cursor: pointer;
            padding: 10px;
            position: relative;
            width: 400px;

            .arrow {
                @include transition(all .5s linear);
                border-color: transparent;
                border-style: solid;
                border-width: 9px;
                display: block;
                height: 0;
                position: absolute;
                width: 0;

                &.left {
                    border-left-width: 0;
                    border-right-color: rgba(0, 0, 0, .1);
                    left: -9px;
                }

                &:after {
                    border-color: transparent;
                    border-left-width: 0;
                    border-right-color: #fff;
                    border-style: solid;
                    border-width: 8px;
                    bottom: -8px;
                    content: '';
                    display: block;
                    height: 0;
                    left: -7px;
                    position: absolute;
                    width: 0;
                }
            }

            h1 {
                color: #000;
                font-size: $font-size-md;
                margin: 0;

                span {
                    font-size: 12px;
                }
            }

            h2 {
                color: #23b7e5;
                font-size: $font-size-sm;
                margin-top: 10px;
            }

            p {
                font-size: $font-size-base;
                padding-top: 10px;
            }
        }

        .tl-wrap {
            border-left: 4px solid rgba(0, 0, 0, .1);
            margin-left: 31px;
            padding-left: 16px;
            padding-top: 20px;
            position: relative;

            h1,
            h2 {
                font-weight: normal;
            }

            .tl-point {
                background-color: #fff;
                border-radius: 50%;
                height: 18px;
                left: -11px;
                position: absolute;
                top: 30px;
                width: 18px;

                &:after {
                    background-color: rgba(0, 0, 0, .1);
                    border-radius: 50%;
                    content: '';
                    height: 12px;
                    left: 3px;
                    position: absolute;
                    top: 3px;
                    width: 12px;
                }

                &:before {
                    background-color: #fff;
                    border-radius: 50%;
                    content: '';
                    height: 6px;
                    left: 6px;
                    position: absolute;
                    top: 6px;
                    width: 6px;
                    z-index: 2;
                }
            }
        }

        .bg-info {
            border-color: #daedf8;

            p {
                color: #000;
            }
        }

        &.active {
            .tl-content {
                background-color: #daedf8;
                border: 1px solid rgba(0, 0, 0, .1);
                border-radius: 4px;

            }

            .arrow.left:after {
                border-right-color: #daedf8;
            }

            .tl-point {
                &:after {
                    background-color: #7266ba;
                }
            }
        }
    }

    .tl-header {
        text-align: left;
        width: inherit;

        .year {
            border: 1px solid rgba(0, 0, 0, .1);
            border-radius: 25px;
            color: #23b7e5;
            display: inline-block;
            padding: 6px 14px;
        }
    }

}

.org-timline-footer .btn {
    margin-left: 10px;
    width: 70px;
}
