.know-imgdiv
  p.know-name-p 知识库
  form.know-search-div(ng-submit='search(keyword)')
    input.form-control(type='text', ng-model='keyword')
    button.fa-search-btn(type='submit', ui-sref='knowledge.articles.search({keyword: keyword})')
      i.fa.fa-search
