form(ng-submit="save(work.$save(), infoForm)" name="infoForm")
    .btngroup--single(ng-hide="editing")
        span(flex)
        span
            .btngroup__btn(ng-click="edit($event)")
                .btn__icon.btn__icon--edit
        span
            .btngroup__btn(ng-click="work.$destroy()" type="button")
                .btn__icon.btn__icon--del

    .btngroup--single(ng-show="editing")
        span(flex)
        span
            .btngroup__btn(ng-click="cancel(work,$event, empEditForm)")
                .btn__icon.btn__icon--cancel
        span
            button.btngroup__btn(type="submit")
                .btn__icon.btn__icon--finish
    fieldset(ng-disabled="!editing")
        div(layout)
            md-input-container(flex)
                label 开始时间
                input(bs-datepicker ng-model="work.startDate")
            md-input-container(flex)
                label 结束时间
                input(bs-datepicker ng-model="work.endDate")
        div(layout)
            md-input-container(flex)
                label 单位名称
                input(ng-model="work.company" name="company" required)
            md-input-container(flex)
                label 任职部门
                input(ng-model="work.department" name="department" required)
        div(layout)
            md-input-container.row-has-value(flex)
                label 担任职位
                input(ng-model="work.position" name="position" required)
            md-input-container.row-has-value(flex)
                label 工作描述
                input(ng-model="work.jobDesc" name="jobDesc" required)
        //- md-input-container
        //-     label 证明人
        //-     input(ng-model="work.witness" name="witness" required)
