extends ./_audit_layout


block tips
  | 当前有 “{{articles.length || 0}}” 篇文档已通过审核

block theadTpl
  th 标题
  th.hidden-xs 组名/类别
  th 时间
  th 创建人
  th 操作

block tbodyTpl
  td
    a(ui-sref='^.^.auditById({articleId: article.id, audit: false})')
      | {{article.title}}
  td.hidden-xs
    | {{article.group.name || '公共文档' }}/{{article.type.name || '无'}}
  td
    | {{article.updated_at | date: 'yyyy年MM月dd日'}}
  td
    | {{article.author.name}}
    img.img-circle.know-dsh-img(alt='{{aticle.author.name}}', ng-src='{{article.author.avatar_url}}')
  td(ng-switch='article.check_status')
    button.btn.green.delete(ng-click='editArticle(article.id)', type='button') 编辑
    button.btn.yellow.delete(ng-click='deleteArticle(article.id)', type='button') 删除
    button.btn.red.delete(ng-switch-when='2', ng-click='shieldArticle(article.id)', type='button') 屏蔽
    button.btn.red.delete(ng-switch-default='', ng-click='canelShieldArticle(article.id)', type='button') 取消屏蔽

