.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl" ng-init="ctrl.loadConfigFromServer('')")
    .salary-basic
        tabset
            tab.leader-base(heading="安检津贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 安检津贴
            tab.leader-base(heading="安置津贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 安置津贴
            tab.leader-base(heading="班主长津贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 班主长津贴
            tab.leader-base(heading="航站管理津贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 航站管理津贴
            tab.leader-base(heading="车勤津贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 车勤津贴
            tab.leader-base(heading="地勤补贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 地勤补贴
            tab.leader-base(heading="放行补贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 放行补贴
            tab.leader-base(heading="放行补贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 放行补贴
            tab.leader-base(heading="试车津贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 试车津贴
            tab.leader-base(heading="飞行安全荣誉津贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行安全荣誉津贴
            tab.leader-base(heading="随机补贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 随机补贴
            tab.leader-base(heading="航线实习补贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 航线实习补贴
            tab.leader-base(heading="签派放行补贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 签派放行补贴
            tab.leader-base(heading="梭班补贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 梭班补贴
            tab.leader-base(heading="驻站补贴标准" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 驻站补贴标准
            tab.leader-base(heading="地面境外驻站补贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 地面境外驻站补贴
            tab.leader-base(heading="地面境内驻站补贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 地面境内驻站补贴
            tab.leader-base(heading="地面境外驻站津贴" ng-click="ctrl.loadDynamicConfig('')")
                md-toolbar
                  .md-toolbar-tools
                    h2 地面境外驻站津贴