.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl" ng-init="ctrl.loadConfigFromServer('')")
    .salary-basic
        tabset
            tab.leader-base(heading="金额设置" ng-click="ctrl.loadDynamicConfig('')")
                include cold/money
            tab.leader-base(heading="岗位设置" ng-click="ctrl.loadDynamicConfig('')")
                include cold/position
            tab.leader-base(heading="岗位发放总表" ng-click="ctrl.loadDynamicConfig('')")
                include cold/position_list