.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl" ng-init="ctrl.loadConfigFromServer('')")
    .salary-basic
        tabset
            tab.leader-base(heading="岗位设置" ng-click="ctrl.loadDynamicConfig('')")
                include communicate/position_setting
            tab.leader-base(heading="岗位发放总表" ng-click="ctrl.loadDynamicConfig('')")
                include communicate/position_list