table.table.table-bordered.setting-table
  tr
    th.tal 档级
    th.tar(style="text-align: right;" ng-repeat="flag in ctrl.dynamic_config.flag_list track by $index") {{ctrl.dynamic_config.flag_names[flag]}}

  tr(ng-repeat="setting in ctrl.dynamic_config.flags | toArray : 'grade'| orderBy: '-rate'")
    td.tal {{setting.grade}}
    td.tar(ng-repeat="column in ctrl.dynamic_config.flag_list track by $index")
      div(ng-if="!!setting[column]")

        div(ng-show="ctrl.editing")
          div(ng-if="!!setting[column]['edit_mode']")

            div(ng-switch="setting[column]['edit_mode']")
              //- 判断编辑类型
              div(ng-switch-when="text")
                input(type="text" ng-model="setting[column]['format_value']")
              div(ng-switch-when="select")
                md-select()
              div(ng-switch-when="dialog")
                a(href="#", target="_blank") link

          //- 如果没有编辑模式就是简单列，不需要编辑模式的
          div(ng-if="!setting[column]['edit_mode']") {{setting[column]}}

        //- 不是编辑模式
        div(ng-hide="ctrl.editing")
          span(ng-if="setting[column]['format_cell']") {{setting[column]['format_cell'].replace('%{format_value}', setting[column]['format_value'])}}
          span(ng-if="!setting[column]['format_cell']") {{setting[column]}}

      //- 列不存在，不可编辑
      div(ng-if="!setting[column]") -