.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl" ng-init="ctrl.loadConfigFromServer('global')")
    form.form-static(novalidate)
        fieldset
            .form-row(layout)
                label 当前汇率,1美元兑
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100" setp="0.1" ng-model="ctrl.global_setting.dollar_rate")
                span 元人民币

            .form-row(layout)
                label 当前最低工资
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000" step="1" ng-model="ctrl.global_setting.minimum_wage")
                span 元人民币

            .form-row(layout)
                label 当前成都市平均工资
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000" step="1" ng-model="ctrl.global_setting.average_wage")
                span 元人民币

            .form-row(layout)
                label 当前公司薪酬基数
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000" step="1" ng-model="ctrl.global_setting.basic_cardinality")
                span 元人民币

            md-divider

            .form-select-row(layout)
                label.first 月度绩效系数
                md-select(ng-model="ctrl.currentYear" placeholder="请选择年份" ng-change="ctrl.loadGlobalCoefficient()")
                    md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
                label(flex-order="2") 年
                md-select(ng-model="ctrl.currentMonth" placeholder="请选择月份" ng-change="ctrl.loadGlobalCoefficient()")
                    md-option(ng-value="item" ng-repeat="item in ctrl.month_list track by $index" ng-bind="item")
                label(flex-order="3") 月

            .form-row(layout)
                label 公司绩效系数
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100" step="0.1" ng-model="ctrl.global_setting.coefficient[ctrl.currentCalcTime()].company")

            .form-row(layout)
                label 商委绩效系数
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100" step="0.1" ng-model="ctrl.global_setting.coefficient[ctrl.currentCalcTime()].business_council")

            .form-row(layout)
                label 物流部绩效系数
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100" step="0.1" ng-model="ctrl.global_setting.coefficient[ctrl.currentCalcTime()].logistics")

            md-button.md-raised.md-primary(ng-click="ctrl.saveConfig(ctrl.global_setting)") 保存