.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl" ng-init="ctrl.loadConfigFromServer('global')")
    form.form-static(novalidate)
        fieldset
            .form-row(layout)
                label 当前汇率,1美元兑
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100" setp="0.01" ng-model="ctrl.global_setting.dollar_rate")
                span 元人民币

            .form-row(layout)
                label 当前成都市最低工资
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000" step="1" ng-model="ctrl.global_setting.minimum_wage")
                span 元人民币

            .form-row(layout)
                label 当前成都市平均工资
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000" step="1" ng-model="ctrl.global_setting.average_wage")
                span 元人民币

            .form-row(layout)
                label 岗位工资基数
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000" step="1" ng-model="ctrl.global_setting.basic_cardinality")
                span 元人民币

            .form-row(layout)
                label 业绩奖基数
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000" step="1" ng-model="ctrl.global_setting.perf_award_cardinality")
                span 元人民币

            md-divider

            .form-select-row(layout)
                label.first 月度绩效系数
                md-select(ng-model="ctrl.currentYear" placeholder="请选择年份" ng-change="ctrl.loadGlobalCoefficient()")
                    md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
                label(flex-order="2") 年
                md-select(ng-model="ctrl.currentMonth" placeholder="请选择月份" ng-change="ctrl.loadGlobalCoefficient()")
                    md-option(ng-value="item" ng-repeat="item in ctrl.month_list track by $index" ng-bind="item")
                label(flex-order="3") 月

            .form-row(layout)
                label 效益指标核定系数
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100" step="0.1" ng-model="ctrl.global_setting.coefficient[ctrl.currentCalcTime()].perf_check")

            .form-row(layout)
                label 效益指标执行系数
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100" step="0.1" ng-model="ctrl.global_setting.coefficient[ctrl.currentCalcTime()].perf_execute")

            .form-row(layout)
                label 商委绩效系数
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100" step="0.1" ng-model="ctrl.global_setting.coefficient[ctrl.currentCalcTime()].business_council")

            .form-row(layout)
                label 物流部绩效系数
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100" step="0.1" ng-model="ctrl.global_setting.coefficient[ctrl.currentCalcTime()].logistics")

            md-divider
            .form-select-row(layout)
                label.first 年度奖金设置
                md-select(ng-model="ctrl.currentYear" placeholder="请选择年份" ng-change="ctrl.loadGlobalReward()")
                    md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
                label(flex-order="2") 年

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.flight_bonus[ctrl.currentYear].sent/ctrl.global_setting.flight_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.flight_bonus[ctrl.currentYear].sent/ctrl.global_setting.flight_bonus[ctrl.currentYear].budget>=1}")
                label 航班正常奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.flight_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.flight_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.flight_bonus[ctrl.currentYear].budget - ctrl.global_setting.flight_bonus[ctrl.currentYear].sent}}
                //- md-input-container(md-no-float)
                //-     input(type="number" ng-model="ctrl.global_setting.flight_bonus[ctrl.currentYear].leave" readonly)

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.service_bonus[ctrl.currentYear].sent/ctrl.global_setting.service_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.service_bonus[ctrl.currentYear].sent/ctrl.global_setting.service_bonus[ctrl.currentYear].budget>=1}")
                label 服务质量奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.service_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.service_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.service_bonus[ctrl.currentYear].budget - ctrl.global_setting.service_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.airline_security_bonus[ctrl.currentYear].sent/ctrl.global_setting.airline_security_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.airline_security_bonus[ctrl.currentYear].sent/ctrl.global_setting.airline_security_bonus[ctrl.currentYear].budget>=1}")
                label 航空安全奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.airline_security_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.airline_security_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.airline_security_bonus[ctrl.currentYear].budget - ctrl.global_setting.airline_security_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.composite_bonus[ctrl.currentYear].sent/ctrl.global_setting.composite_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.composite_bonus[ctrl.currentYear].sent/ctrl.global_setting.composite_bonus[ctrl.currentYear].budget>=1}")
                label 社会综治奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.composite_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.composite_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.composite_bonus[ctrl.currentYear].budget - ctrl.global_setting.composite_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.air_accident_bonus[ctrl.currentYear].sent/ctrl.global_setting.air_accident_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.air_accident_bonus[ctrl.currentYear].sent/ctrl.global_setting.air_accident_bonus[ctrl.currentYear].budget>=1}")
                label 航意险代理奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.air_accident_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.air_accident_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.air_accident_bonus[ctrl.currentYear].budget - ctrl.global_setting.air_accident_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.upgrades_bonus[ctrl.currentYear].sent/ctrl.global_setting.upgrades_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.upgrades_bonus[ctrl.currentYear].sent/ctrl.global_setting.upgrades_bonus[ctrl.currentYear].budget>=1}")
                label 客舱升舱奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.upgrades_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.upgrades_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.upgrades_bonus[ctrl.currentYear].budget - ctrl.global_setting.upgrades_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.promotions_bonus[ctrl.currentYear].sent/ctrl.global_setting.promotions_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.promotions_bonus[ctrl.currentYear].sent/ctrl.global_setting.promotions_bonus[ctrl.currentYear].budget>=1}")
                label 全员促销奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.promotions_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.promotions_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.promotions_bonus[ctrl.currentYear].budget - ctrl.global_setting.promotions_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.royalties_bonus[ctrl.currentYear].sent/ctrl.global_setting.royalties_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.royalties_bonus[ctrl.currentYear].sent/ctrl.global_setting.royalties_bonus[ctrl.currentYear].budget>=1}")
                label 川航稿费奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.royalties_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.royalties_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.royalties_bonus[ctrl.currentYear].budget - ctrl.global_setting.royalties_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.no_error_bonus[ctrl.currentYear].sent/ctrl.global_setting.no_error_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.no_error_bonus[ctrl.currentYear].sent/ctrl.global_setting.no_error_bonus[ctrl.currentYear].budget>=1}")
                label 无差错中队奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.no_error_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.no_error_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.no_error_bonus[ctrl.currentYear].budget - ctrl.global_setting.no_error_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.yearly_composite_bonus[ctrl.currentYear].sent/ctrl.global_setting.yearly_composite_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.yearly_composite_bonus[ctrl.currentYear].sent/ctrl.global_setting.yearly_composite_bonus[ctrl.currentYear].budget>=1}")
                label 年度综治奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.yearly_composite_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.yearly_composite_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.yearly_composite_bonus[ctrl.currentYear].budget - ctrl.global_setting.yearly_composite_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.transport_bonus[ctrl.currentYear].sent/ctrl.global_setting.transport_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.transport_bonus[ctrl.currentYear].sent/ctrl.global_setting.transport_bonus[ctrl.currentYear].budget>=1}")
                label 运兵先进奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.transport_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.transport_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.transport_bonus[ctrl.currentYear].budget - ctrl.global_setting.transport_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.safe_special_bonus[ctrl.currentYear].sent/ctrl.global_setting.safe_special_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.safe_special_bonus[ctrl.currentYear].sent/ctrl.global_setting.safe_special_bonus[ctrl.currentYear].budget>=1}")
                label 航安特贡奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.safe_special_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.safe_special_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.safe_special_bonus[ctrl.currentYear].budget - ctrl.global_setting.safe_special_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.safe_manage_bonus[ctrl.currentYear].sent/ctrl.global_setting.safe_manage_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.safe_manage_bonus[ctrl.currentYear].sent/ctrl.global_setting.safe_manage_bonus[ctrl.currentYear].budget>=1}")
                label 安管目标奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.safe_manage_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.safe_manage_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.safe_manage_bonus[ctrl.currentYear].budget - ctrl.global_setting.safe_manage_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.fly_safe_bonus[ctrl.currentYear].sent/ctrl.global_setting.fly_safe_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.fly_safe_bonus[ctrl.currentYear].sent/ctrl.global_setting.fly_safe_bonus[ctrl.currentYear].budget>=1}")
                label 飞安星级奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.fly_safe_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.fly_safe_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.fly_safe_bonus[ctrl.currentYear].budget - ctrl.global_setting.fly_safe_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.yearly_fix_bonus[ctrl.currentYear].sent/ctrl.global_setting.yearly_fix_bonus[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.yearly_fix_bonus[ctrl.currentYear].sent/ctrl.global_setting.yearly_fix_bonus[ctrl.currentYear].budget>=1}")
                label 年度无错机维奖预算
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.yearly_fix_bonus[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.yearly_fix_bonus[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.yearly_fix_bonus[ctrl.currentYear].budget - ctrl.global_setting.yearly_fix_bonus[ctrl.currentYear].sent}}

            .form-row(layout ng-class="{'yellow': ctrl.global_setting.network_connect[ctrl.currentYear].sent/ctrl.global_setting.network_connect[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.network_connect[ctrl.currentYear].sent/ctrl.global_setting.network_connect[ctrl.currentYear].budget>=1}")
                label 网络联程奖
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.network_connect[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.network_connect[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.network_connect[ctrl.currentYear].budget - ctrl.global_setting.balance_payment_bonus[ctrl.currentYear].sent}}
                
            .form-row(layout ng-class="{'yellow': ctrl.global_setting.quarter_fee[ctrl.currentYear].sent/ctrl.global_setting.quarter_fee[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.quarter_fee[ctrl.currentYear].sent/ctrl.global_setting.quarter_fee[ctrl.currentYear].budget>=1}")
                label 季度奖
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.quarter_fee[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.quarter_fee[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.quarter_fee[ctrl.currentYear].budget - ctrl.global_setting.quarter_fee[ctrl.currentYear].sent}}
                
            .form-row(layout ng-class="{'yellow': ctrl.global_setting.earnings_fee[ctrl.currentYear].sent/ctrl.global_setting.earnings_fee[ctrl.currentYear].budget>=0.8, 'red': ctrl.global_setting.earnings_fee[ctrl.currentYear].sent/ctrl.global_setting.earnings_fee[ctrl.currentYear].budget>=1}")
                label 收益奖励金
                md-input-container(md-no-float)
                    input(type="number" min="0" max="100000000" step="1" ng-model="ctrl.global_setting.earnings_fee[ctrl.currentYear].budget")
                label 已发
                md-input-container(md-no-float)
                    input(type="number" ng-model="ctrl.global_setting.earnings_fee[ctrl.currentYear].sent" readonly)
                label 剩余
                .leave {{ctrl.global_setting.earnings_fee[ctrl.currentYear].budget - ctrl.global_setting.earnings_fee[ctrl.currentYear].sent}}

            //- md-divider
            //- .form-select-row(layout)
            //-     label.first 高温补贴设置
            //-     md-select(ng-model="ctrl.currentYear" placeholder="请选择年份")
            //-         md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
            //-     label(flex-order="2") 年

            //- .form-select-row(layout)
            //-     label.first 城市名和发放时段
            //-     md-select(ng-model="ctrl.currentCity")
            //-         md-option(value="成都") 成都
            //-         md-option(value="重庆") 重庆
            //-         md-option(value="北京") 北京
            //-         md-option(value="上海") 上海
            //-         md-option(value="广州") 广州
            //-         md-option(value="深圳") 深圳

            //-     md-select(ng-model="ctrl.global_setting.temp_allowance[ctrl.currentYear][ctrl.currentCity].start_month" ng-change="ctrl.global_setting.temp_allowance[ctrl.currentYear][ctrl.currentCity].end_month=ctrl.global_setting.temp_allowance[ctrl.currentYear][ctrl.currentCity].start_month+1")
            //-         md-option(ng-value="item" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11]") {{item}}
            //-     md-select(ng-model="ctrl.global_setting.temp_allowance[ctrl.currentYear][ctrl.currentCity].end_month")
            //-         md-option(ng-value="item" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12]") {{item}}

            md-button.md-raised.md-primary(ng-click="ctrl.saveConfig('global', ctrl.global_setting)") 保存
