.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl")
    .salary-basic
        tabset
            tab.leader-base(heading="飞行员")
                md-toolbar
                  .md-toolbar-tools
                    h2 飞行员
                include ./hours/flyer.jade
            tab.leader-base(heading="空乘")
                md-toolbar
                  .md-toolbar-tools
                    h2 空乘
                include ./hours/flight_attendant.jade
            tab.leader-base(heading="空保")
                md-toolbar
                  .md-toolbar-tools
                    h2 空保
                include ./hours/air_security.jade
            tab.leader-base(heading="未飞补贴")
                md-toolbar
                  .md-toolbar-tools
                    h2 未飞补贴
                include ./hours/unfly_allowance.jade