.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl")
    .salary-basic
        tabset
            tab.leader-base(heading="飞行员")
                form.form-static(novalidate)
                    md-toolbar
                      .md-toolbar-tools
                        h2 飞行员
                        span(flex)
                        md-button.md-raised.md-primary(ng-click="ctrl.saveConfig('flyer_hour', ctrl.dynamic_config)") 保存
                    include ./hours/flyer.jade
            tab.leader-base(heading="空乘")
                form.form-static(novalidate)
                    md-toolbar
                      .md-toolbar-tools
                        h2 空乘
                        span(flex)
                        md-button.md-raised.md-primary(ng-click="ctrl.saveConfig('fly_attendant_hour', ctrl.dynamic_config)") 保存
                    include ./hours/flight_attendant.jade
            tab.leader-base(heading="空保")
                form.form-static(novalidate)
                    md-toolbar
                      .md-toolbar-tools
                        h2 空保
                        span(flex)
                        md-button.md-raised.md-primary(ng-click="ctrl.saveConfig('air_security_hour', ctrl.dynamic_config)") 保存
                    include ./hours/air_security.jade
            tab.leader-base(heading="未飞补贴")
                form.form-static.has-sub(novalidate)
                    md-toolbar
                      .md-toolbar-tools
                        h2 未飞补贴
                        span(flex)
                        md-button.md-raised.md-primary(ng-click="ctrl.saveConfig('unfly_allowance_hour', ctrl.dynamic_config)") 保存
                    include ./hours/unfly_allowance.jade