.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl" ng-init="ctrl.loadConfigFromServer('manage_market_perf')")
    .salary-basic
        form(name="configForm" ng-submit="ctrl.saveConfig()")
            tabset
                tab.leader-base(heading="管理营销" ng-click="ctrl.loadDynamicConfig('manage_market_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 管理营销
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./common.jade
                tab.leader-base(heading="航务航材" ng-click="ctrl.loadDynamicConfig('airline_business_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 航务航材
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./common.jade
                tab.leader-base(heading="信息通道" ng-click="ctrl.loadDynamicConfig('information_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 信息通道
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./common.jade
                tab.leader-base(heading="机务维修(普通员工)" ng-click="ctrl.loadDynamicConfig('service_normal_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 机务维修(普通员工)
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./common.jade
                tab.leader-base(heading="机务维修(技术骨干)" ng-click="ctrl.loadDynamicConfig('service_tech_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 机务维修(技术骨干)
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./service_tech.jade
                tab.leader-base(heading="服务C1" ng-click="ctrl.loadDynamicConfig('service_c_1_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 服务C1
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./common.jade
                tab.leader-base(heading="服务C2" ng-click="ctrl.loadDynamicConfig('service_c_2_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 服务C2
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./common.jade
                tab.leader-base(heading="服务C3" ng-click="ctrl.loadDynamicConfig('service_c_3_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 服务C3
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./common.jade
                tab.leader-base(heading="服务C-驾驶" ng-click="ctrl.loadDynamicConfig('service_c_driving_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 服务C-驾驶
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./common.jade
                tab.leader-base(heading="营销类Y/管理A类" ng-click="ctrl.loadDynamicConfig('market_leader_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 营销类Y/管理A类
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./common.jade
                tab.leader-base(heading="航务/航材技术类H" ng-click="ctrl.loadDynamicConfig('material_leader_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 航务/航材技术类H
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./common.jade
                tab.leader-base(heading="信息技术类E" ng-click="ctrl.loadDynamicConfig('information_leader_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 信息技术类E
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./common.jade
                tab.leader-base(heading="机务维修技术类W" ng-click="ctrl.loadDynamicConfig('service_leader_perf')")
                    md-toolbar
                      .md-toolbar-tools
                        h2 机务维修技术类W
                        div(flex layout has-permission="salaries_update_performance")
                            include ./btn.jade
                    include ./common.jade
