md-dialog.welfare_personal_new(ng-controller="EditableResourceCtrl")
    form(ng-init= "current = dialog.setup.$refresh();" ng-submit="save(current.$save(), salaryPersonal)" name="salaryPersonal")
        md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 个人薪酬设置
        md-content.sticky-container
            .dialog-content(layout layout-align="center")
                section.form-material-section(flex)
                    fieldset
                        div(style="display:none;")
                            input(type="text" ng-model="current.employeeId")
                        div(layout)
                            md-input-container(flex)
                                label 姓名
                                input(type="text" ng-model="::current.employeeName" disabled)
                            md-input-container(flex)
                                label 员工编号
                                input(type="text" ng-model="::current.employeeNo" disabled)

                        div(layout)
                            md-input-container(flex)
                                label 所在部门
                                input(type="text" ng-model="::current.departmentName" disabled)
                            md-input-container(flex)
                                label 岗位
                                input(type="text" ng-model="::current.positionName" disabled)

                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 分类
                                md-select(ng-model="current.categoryId" disabled)
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('categories')") {{item.label}}
                            md-input-container.row-has-value(flex)
                                label 通道
                                md-select(ng-model="current.channelId" disabled)
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('channels')") {{item.label}}
                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 用工性质
                                md-select(ng-model="current.laborRelationId" disabled)
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('labor_relations')") {{item.label}}
                            md-input-container(flex)
                                label 属地化
                                input(type="text" ng-model="current.location" disabled)

                        //- 通道非 服务B 飞行 空勤 服务A
                        div(ng-if="current.channelId != 7 && current.channelId != 4 && current.channelId != 5 && current.channelId != 6")
                            include personal_edit/normal
                        //- 服务B
                        div(ng-if="current.channelId == 7")
                            include personal_edit/service_b
                        //- 飞行
                        div(ng-if="current.channelId == 4")
                            include personal_edit/flyer
                        //- 空勤
                        div(ng-if="current.channelId == 5")
                            include personal_edit/fly_attendant
                        div(ng-if="current.channelId == 6")
                            include personal_edit/service_a





        .md-actions
            md-button(ng-click="cancel(current, $event, salaryPersonal);dialog.close()") 取 消
            md-button.md-primary.md-raised(ng-hide="current.channelId == 6" ng-click="submit();dialog.close()") 确 定
