.app-content-wrapper(flex ng-controller="positionMapsCtrl as ctrl")
    .salary-basic
        tabset
            tab.leader-base(heading="服务b")
                include position_maps/service_b

        
