table.table.table-mc-light-blue.table-bordered.service-tech
	thead
		th 技术骨干类别
		th 岗位
		th 考核结果
		th 档级
		//- th 系数
		th 标准
	tbody
		//- 空客维修分队-分队长 考核性收入配置
		tr
			td(rowspan="3") 空客维修分队
			td(rowspan="3") 分队长
			td 合格
			td(ng-bind="ctrl.dynamic_config.airbus.captain['A'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.captain['A'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.captain['A'].rate" ng-change="ctrl.dynamic_config.airbus.captain['A'].amount = ctrl.calcAmount(ctrl.dynamic_config.airbus.captain['A'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.captain['A'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.captain['A'].amount")
		tr
			td 良
			td(ng-bind="ctrl.dynamic_config.airbus.captain['B'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.captain['B'].rate") 
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.captain['B'].rate" ng-change="ctrl.dynamic_config.airbus.captain['B'].amount = ctrl.calcAmount(ctrl.dynamic_config.airbus.captain['B'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.captain['B'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.captain['B'].amount")
		tr
			td 优
			td(ng-bind="ctrl.dynamic_config.airbus.captain['C'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.captain['C'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.captain['C'].rate" ng-change="ctrl.dynamic_config.airbus.captain['C'].amount = ctrl.calcAmount(ctrl.dynamic_config.airbus.captain['C'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.captain['C'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.captain['C'].amount")
		//- 空客维修分队－副分队长
		tr
			td(rowspan="3") 空客维修分队
			td(rowspan="3") 副分队长
			td 合格
			td(ng-bind="ctrl.dynamic_config.airbus.vice_captain['A'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.vice_captain['A'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.vice_captain['A'].rate" ng-change="ctrl.dynamic_config.airbus.vice_captain['A'].amount = ctrl.calcAmount(ctrl.dynamic_config.airbus.vice_captain['A'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.vice_captain['A'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.vice_captain['A'].amount")
		tr
			td 良
			td(ng-bind="ctrl.dynamic_config.airbus.vice_captain['B'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.vice_captain['B'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.vice_captain['B'].rate" ng-change="ctrl.dynamic_config.airbus.vice_captain['B'].amount = ctrl.calcAmount(ctrl.dynamic_config.airbus.vice_captain['B'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.vice_captain['B'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.vice_captain['B'].amount")
		tr
			td 优
			td(ng-bind="ctrl.dynamic_config.airbus.vice_captain['C'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.vice_captain['C'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.vice_captain['C'].rate" ng-change="ctrl.dynamic_config.airbus.vice_captain['C'].amount = ctrl.calcAmount(ctrl.dynamic_config.airbus.vice_captain['C'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.vice_captain['C'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.vice_captain['C'].amount")

		//- 空客维修分队－机械师
		tr
			td(rowspan="3") 空客维修分队
			td(rowspan="3") 机械师
			td 合格
			td(ng-bind="ctrl.dynamic_config.airbus.machinist['A'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.machinist['A'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.machinist['A'].rate" ng-change="ctrl.dynamic_config.airbus.machinist['A'].amount = ctrl.calcAmount(ctrl.dynamic_config.airbus.machinist['A'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.machinist['A'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.machinist['A'].amount")
		tr
			td 良
			td(ng-bind="ctrl.dynamic_config.airbus.machinist['B'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.machinist['B'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.machinist['B'].rate" ng-change="ctrl.dynamic_config.airbus.machinist['B'].amount = ctrl.calcAmount(ctrl.dynamic_config.airbus.machinist['B'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.machinist['B'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.machinist['B'].amount")
		tr
			td 优
			td(ng-bind="ctrl.dynamic_config.airbus.machinist['C'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.machinist['C'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.machinist['C'].rate" ng-change="ctrl.dynamic_config.airbus.machinist['C'].amount = ctrl.calcAmount(ctrl.dynamic_config.airbus.machinist['C'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.airbus.machinist['C'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.airbus.machinist['C'].amount")
		//- 工程师
		tr
			td(rowspan="7") 工程师
			td(rowspan="7") 工程师
			td 合格
			td(ng-bind="ctrl.dynamic_config.engineer.engineer['A'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['A'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['A'].rate" ng-change="ctrl.dynamic_config.engineer.engineer['A'].amount = ctrl.calcAmount(ctrl.dynamic_config.engineer.engineer['A'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['A'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['A'].amount")
		tr
			td 良
			td(ng-bind="ctrl.dynamic_config.engineer.engineer['B'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['B'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['B'].rate" ng-change="ctrl.dynamic_config.engineer.engineer['B'].amount = ctrl.calcAmount(ctrl.dynamic_config.engineer.engineer['B'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['B'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['B'].amount")
		tr
			td 优
			td(ng-bind="ctrl.dynamic_config.engineer.engineer['C'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['C'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['C'].rate" ng-change="ctrl.dynamic_config.engineer.engineer['C'].amount = ctrl.calcAmount(ctrl.dynamic_config.engineer.engineer['C'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['C'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['C'].amount")
		tr
			td
			td(ng-bind="ctrl.dynamic_config.engineer.engineer['D'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['D'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['D'].rate" ng-change="ctrl.dynamic_config.engineer.engineer['D'].amount = ctrl.calcAmount(ctrl.dynamic_config.engineer.engineer['D'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['D'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['D'].amount")
		tr
			td
			td(ng-bind="ctrl.dynamic_config.engineer.engineer['E'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['E'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['E'].rate" ng-change="ctrl.dynamic_config.engineer.engineer['E'].amount = ctrl.calcAmount(ctrl.dynamic_config.engineer.engineer['E'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['E'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['E'].amount")
		tr
			td
			td(ng-bind="ctrl.dynamic_config.engineer.engineer['F'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['F'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['F'].rate" ng-change="ctrl.dynamic_config.engineer.engineer['F'].amount = ctrl.calcAmount(ctrl.dynamic_config.engineer.engineer['F'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['F'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['F'].amount")
		tr
			td
			td(ng-bind="ctrl.dynamic_config.engineer.engineer['G'].grade")
			//- td
			//- 	span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['G'].rate")
			//- 	span(ng-if="ctrl.editing")
			//- 		input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['G'].rate" ng-change="ctrl.dynamic_config.engineer.engineer['G'].amount = ctrl.calcAmount(ctrl.dynamic_config.engineer.engineer['G'].rate)")
			td
				span(ng-if="!ctrl.editing" ng-bind="ctrl.dynamic_config.engineer.engineer['G'].amount")
				span(ng-if="ctrl.editing")
					input(type="number" step="0.1" ng-model="ctrl.dynamic_config.engineer.engineer['G'].amount")


