tab(heading="服务B-清洁工" ng-click="ctrl.load_dynamic_config('service_b_normal_cleaner_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-清洁工基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-机坪清洁工" ng-click="ctrl.load_dynamic_config('service_b_parking_cleaner_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-机坪清洁工基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-宾馆服务员" ng-click="ctrl.load_dynamic_config('service_b_hotel_service_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-宾馆服务员基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-绿化" ng-click="ctrl.load_dynamic_config('service_b_green_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-绿化工基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-总台服务员" ng-click="ctrl.load_dynamic_config('service_b_front_desk_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-总台服务员工基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-保安、空保装备保管员" ng-click="ctrl.load_dynamic_config('service_b_security_guard_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-保安、空保装备保管员工基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-数据录入" ng-click="ctrl.load_dynamic_config('service_b_data_input_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-数据录入工基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-保安队长(一类)" ng-click="ctrl.load_dynamic_config('service_b_guard_leader1_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-保安队长(一类)工基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-保管(库房、培训设备、器械)" ng-click="ctrl.load_dynamic_config('service_b_device_keeper_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-保管(库房、培训设备、器械)工基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-外站装卸" ng-click="ctrl.load_dynamic_config('service_b_unloading_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-外站装卸基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-制水工" ng-click="ctrl.load_dynamic_config('service_b_making_water_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-制水工基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-加水工、排污工" ng-click="ctrl.load_dynamic_config('service_b_add_water_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-加水工、排污工基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-保安队长(二类)" ng-click="ctrl.load_dynamic_config('service_b_guard_leader2_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-保安队长(二类)基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-水电维修" ng-click="ctrl.load_dynamic_config('service_b_water_light_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-水电维修基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-汽修工" ng-click="ctrl.load_dynamic_config('service_b_car_repair_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-汽修工基础薪酬列表
        include ./btn.jade
    include ./common.jade
tab(heading="服务B-机务工装设备/客舱供应库管" ng-click="ctrl.load_dynamic_config('service_b_airline_keeper_base')")
    md-toolbar
      .md-toolbar-tools
        h2 服务B-机务工装设备/客舱供应库管基础薪酬列表
        include ./btn.jade
    include ./common.jade