div(ng-controller="salaryExchangeCtrl as exchangeCtrl")
    div(layout)
        md-input-container.row-has-value(flex)
            label 薪酬通道
            md-select(ng-model="current.baseChannel" placeholder="请选择" ng-change="exchangeCtrl.airline(current)")
                md-option(value="air_steward_base") 空乘空保
        md-input-container.row-has-value(flex)
            label 档级
            md-select(ng-model="current.baseFlag" placeholder="请选择" ng-change="exchangeCtrl.airline(current)")
                md-option(ng-value="item" ng-repeat="item in exchangeCtrl.airline_flag_array(current)") {{item}}
        md-input-container(flex)
            label 金额
            input(type="number" min="0" max="100000" step="1" ng-model="current.baseMoney" readonly)

        md-input-container(flex)
            label 保留工资
            input(type="number" min="0" max="100000" step="1" ng-model="current.reserveWage")

    div(layout)
        md-input-container.row-has-value(flex)
            label 到岗日期
            input(ng-model="current.joinScalDate" readonly)
        md-input-container.row-has-value(flex)
            label 工龄工资
            input(ng-model="current.workingYearsSalary" readonly)

    div(layout)
        md-input-container.row-has-value(flex)
            label 空乘小时费
            md-select(ng-model="current.airlineHourFee" placeholder="请选择" ng-change="exchangeCtrl.airline_hour(current)")
                md-option(value="trainee_B") 见习乘B
                md-option(value="trainee_A") 见习乘A
                md-option(value="attendant_C") 乘务员C
                md-option(value="attendant_B") 乘务员B
                md-option(value="attendant_A") 乘务员A
                md-option(value="first_class_B") 头等舱B
                md-option(value="first_class_A") 头等舱A
                md-option(value="purser_E") 乘务长E
                md-option(value="purser_D") 乘务长D
                md-option(value="purser_C") 乘务长C
                md-option(value="purser_B") 乘务长B
                md-option(value="purser_A") 乘务长A
        md-input-container(flex)
            label 标准
            input(type="number" min="0" max="100000" ng-model="current.airlineHourMoney" readonly)
        md-input-container.row-has-value(flex)
            label 空保小时费
            md-select(ng-model="current.securityHourFee" placeholder="请选择" ng-change="exchangeCtrl.security_hour(current)")
                md-option(value="noviciate_safety") 见习安
                md-option(value="security_D") 安全员D
                md-option(value="security_C") 安全员C
                md-option(value="security_B") 安全员B
                md-option(value="security_A") 安全员A
                md-option(value="safety_D") 资深安D
                md-option(value="safety_C") 资深安C
                md-option(value="safety_B") 资深安B
                md-option(value="safety_A") 资深安A

        md-input-container(flex)
            label 标准
            input(type="number" min="0" max="100000" ng-model="current.securityHourMoney" readonly)

    div(layout)
        md-radio-group.horizontal.mb30(ng-model="params.type")
            md-radio-button.md-primary(ng-disabled="current.categoryId !== 2" value="空勤飞行") 空勤飞行
            md-radio-button.md-primary(ng-disabled="current.categoryId !== 2" value="空勤地面") 空勤地面

    div(layout)
        md-input-container.row-has-value(flex)
            label 安检津贴
            md-select(ng-model="current.securitySubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="初级") 初级
                md-option(value="中级") 中级
                md-option(value="高级") 高级
        md-input-container.row-has-value(flex)
            label 安置补贴
            md-select(ng-model="current.placementSubsidy" placeholder="请选择")
                md-option(value="false") 无
                md-option(value="true") 有
        md-input-container.row-has-value(flex)
            label 班组长津贴
            md-select(ng-model="current.leaderSubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="一线A类") 一线A类
                md-option(value="一线B类") 一线B类
                md-option(value="一线C类") 一线C类
                md-option(value="一线D类") 一线D类
                md-option(value="后勤一类") 后勤一类
                md-option(value="后勤二类") 后勤二类
        md-input-container.row-has-value(flex)
            label 航站管理津贴
            md-select(ng-model="current.terminalSubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="一类") 一类
                md-option(value="二类") 二类

    div(layout)
        md-input-container.row-has-value(flex)
            label 车勤补贴
            md-select(ng-model="current.carSubsidy" placeholder="请选择")
                md-option(value="false") 无
                md-option(value="true") 有
        md-input-container.row-has-value(flex)
            label 地勤补贴
            md-select(ng-model="current.groundSubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="一类") 一类
                md-option(value="二类") 二类
                md-option(value="三类") 三类
                md-option(value="四类") 四类
                md-option(value="五类") 五类
                md-option(value="六类") 六类
        md-input-container.row-has-value(flex)
            label 机务放行补贴
            md-select(ng-model="current.machineSubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="一档") 一档
                md-option(value="二档") 二档
                md-option(value="三档") 三档
                md-option(value="四档") 四档
                md-option(value="五档") 五档
        md-input-container.row-has-value(flex)
            label 试车津贴
            md-select(ng-model="current.trialSubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="一类") 一类
                md-option(value="二类") 二类

    div(layout)
        md-input-container.row-has-value(flex)
            label 飞行安全荣誉津贴
            md-select(ng-model="current.honorSubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="铜质") 铜质
                md-option(value="银质") 银质
                md-option(value="金质") 金质
                md-option(value="功勋") 功勋
        md-input-container(flex)
            label 高温补贴
            input(type="number" min="0" max="1000000" ng-model="current.tempAllowance")
        md-input-container(flex)
            label 通讯补贴
            input(type="number" min="0" max="1000000" ng-model="current.communicateAllowance")
        md-input-container(flex)
            label 公务车报销额度
            input(type="number" min="0" max="1000000" ng-model="current.officialCar")