div(ng-controller="salaryExchangeCtrl as exchangeCtrl")
    div(layout)
        md-input-container.row-has-value(flex)
            label 基础工资
            md-select(ng-model="current.baseWage" placeholder="请选择" ng-change="exchangeCtrl.normal(current)")
                md-option(value="leader_base") 干部
                md-option(value="manager15_base") 管理15
                md-option(value="manager12_base") 管理12
                md-option(value="flyer_legend_base") 荣誉级飞行员
                md-option(value="flyer_leader_base") 机长
                md-option(value="flyer_copilot_base") 副驾
                md-option(value="flyer_teacher_A_base") 教员A
                md-option(value="flyer_teacher_B_base") 教员B
                md-option(value="flyer_teacher_C_base") 教员C
                md-option(value="air_steward_base") 空乘空保
                md-option(value="service_c_base") 空中观察员
                md-option(value="air_observer_base") 前场运行监察
        md-input-container.row-has-value(flex)
            label 薪酬通道
            md-select(ng-model="current.baseChannel" placeholder="请选择" ng-change="exchangeCtrl.normal(current)")
                md-option(ng-value="item" ng-repeat="item in exchangeCtrl.normal_channel_array(current)") {{item}}
        md-input-container.row-has-value(flex)
            label 档级
            md-select(ng-model="current.baseFlag" placeholder="请选择" ng-change="exchangeCtrl.normal(current)")
                md-option(ng-value="item" ng-repeat="item in exchangeCtrl.normal_flag_array(current)") {{item}}
        md-input-container(flex)
            label 金额
            input(type="number" min="0" max="100000" step="1" ng-model="current.baseMoney" readonly)

    div(layout)
        md-input-container.row-has-value(flex)
            label 绩效工资
            md-select(ng-model="current.performanceWage" placeholder="请选择" ng-change="exchangeCtrl.perf(current)")
                md-option(value="information_perf") 信息通道
                md-option(value="airline_business_perf") 航务航材
                md-option(value="manage_market_perf") 管理营销
                md-option(value="service_c_1_perf") 服务C1
                md-option(value="service_c_2_perf") 服务C2
                md-option(value="service_c_3_perf") 服务C3
                md-option(value="service_c_driving_perf") 服务C-驾驶
        md-input-container.row-has-value(flex)
            label 档级
            md-select(ng-model="current.performanceFlag" placeholder="请选择" ng-change="exchangeCtrl.perf(current)")
                md-option(ng-value="item" ng-repeat="item in exchangeCtrl.perf_flag_array(current)") {{item}}
        md-input-container(flex)
            label 金额
            input(type="number" min="0" max="100000" step="1" ng-model="current.performanceMoney" readonly)
        md-input-container(flex)
            label 保留工资
            input(type="number" min="0" max="100000" step="1" ng-model="current.reserveWage")

    div(layout)
        md-input-container.row-has-value(flex)
            label 到岗日期
            input(ng-model="current.joinScalDate" readonly)
        md-input-container.row-has-value(flex)
            label 工龄工资
            input(ng-model="current.seniorityPay" readonly)

    div(layout)
        md-input-container.row-has-value(flex)
            label 安检津贴
            md-select(ng-model="current.securitySubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="初级") 初级
                md-option(value="中级") 中级
                md-option(value="高级") 高级

        md-input-container.row-has-value(flex)
            label 安置补贴
            md-select(ng-model="current.placementSubsidy" placeholder="请选择")
                md-option(value="false") 无
                md-option(value="true") 有

        md-input-container.row-has-value(flex)
            label 班组长津贴
            md-select(ng-model="current.leaderSubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="一线A类") 一线A类
                md-option(value="一线B类") 一线B类
                md-option(value="一线C类") 一线C类
                md-option(value="一线D类") 一线D类
                md-option(value="后勤一类") 后勤一类
                md-option(value="后勤二类") 后勤二类
        md-input-container.row-has-value(flex)
            label 航站管理津贴
            md-select(ng-model="current.terminalSubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="一类") 一类
                md-option(value="二类") 二类

    div(layout)
        md-input-container.row-has-value(flex)
            label 车勤补贴
            md-select(ng-model="current.carSubsidy" placeholder="请选择")
                md-option(value="false") 无
                md-option(value="true") 有
        md-input-container.row-has-value(flex)
            label 地勤补贴
            md-select(ng-model="current.groundSubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="一类") 一类
                md-option(value="二类") 二类
                md-option(value="三类") 三类
                md-option(value="四类") 四类
                md-option(value="五类") 五类
                md-option(value="六类") 六类
        md-input-container.row-has-value(flex)
            label 机务放行补贴
            md-select(ng-model="current.machineSubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="一档") 一档
                md-option(value="二档") 二档
                md-option(value="三档") 三档
                md-option(value="四档") 四档
                md-option(value="五档") 五档
        md-input-container.row-has-value(flex)
            label 试车津贴
            md-select(ng-model="current.trialSubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="一类") 一类
                md-option(value="二类") 二类

    div(layout)
        md-input-container.row-has-value(flex)
            label 飞行安全荣誉津贴
            md-select(ng-model="current.honorSubsidy" placeholder="请选择")
                md-option(value="无") 无
                md-option(value="铜质") 铜质
                md-option(value="银质") 银质
                md-option(value="金质") 金质
                md-option(value="功勋") 功勋
        md-input-container.row-has-value(flex)
        md-input-container.row-has-value(flex)
        md-input-container.row-has-value(flex)