div(layout)
    md-input-container(flex)
        label 姓名
        input(ng-model="::change.employeeName" readonly)
    md-input-container(flex)
        label 员工编号
        input(ng-model="::change.employeeNo" readonly)
div(layout)
    md-input-container(flex)
        label 机构
        input(ng-model="::change.departmentName" readonly)
    md-input-container(flex)
        label 岗位
        input(ng-model="::change.positionName" readonly)
div(layout)
    md-input-container(flex)
        label 分类
        input(ng-model="::change.category" readonly)
    md-input-container(flex)
        label 属地
        input(ng-model="::change.location" readonly)
div(layout)
    md-input-container(flex)
        label 离岗培训期限
        input(ng-model="::change.durationDate" readonly)
    div(flex)
