
<div class="modal-container">
  <div class="img-box pull-left"><img ng-src="{{ctrl.currentImg.url}}" class="main-img"/>
    <div ng-click="ctrl.nextImg()" class="next-img nb-modal-touchable"></div>
    <div ng-click="ctrl.prevImg()" class="prev-img nb-modal-touchable"></div>
  </div>
  <div class="img-list pull-right nb-modal-touchable">
    <div ng-repeat="img in ctrl.imgs" ng-click="ctrl.setSelectedImg($index)" ng-class="{'active': ctrl.currentImg == img}" class="img-list-item"><a href="javascript:;"><img ng-src="{{img.url}}" style="width: 90px;height: 50px;"/></a></div>
  </div>
  <div class="img-info-bar nb-modal-touchable">
    <div ng-bind="ctrl.currentImg.name || 'xxxxxx.jpg'" class="img-name"> </div>
  </div>
</div>