md-dialog.welfare_personal_new()
    form()
        md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 个人薪酬变动
        md-content.sticky-container
            .dialog-content(layout layout-align="center")
                section.form-material-section(flex)
                    fieldset
                        div(style="display:none;")
                            input(type="text" ng-model="current.employeeId")
                        div(layout)
                            md-input-container(flex)
                                label 姓名
                                input(type="text" ng-model readonly)
                            md-input-container(flex)
                                label 员工编号
                                input(type="text" ng-model readonly)

                        div(layout)
                            md-input-container(flex)
                                label 所在部门
                                input(type="text" ng-model readonly)
                            md-input-container(flex)
                                label 岗位
                                input(type="text" ng-model readonly)

                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 用工性质
                                md-select(ng-model="current.laborRelationId" disabled readonly)
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('labor_relations')") {{item.label}}
                            md-input-container.row-has-value(flex)
                                label 通道
                                md-select(ng-model="current.channelId" disabled readonly)
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('channels')") {{item.label}}
                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 学历
                                md-select(ng-model="current.degreeId" disabled readonly)
                                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('degrees')") {{item.label}}
                            md-input-container(flex)
                                label 职称等级
                                input(type="text" ng-model readonly)

                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 原基本工资
                                input(type="text" ng-model readonly)
                            md-input-container.row-has-value(flex)
                                label 原档级
                                input(type="text" ng-model readonly)
                            md-input-container(flex)
                                label 金额
                                input(type="number" min="0" max="100000" step="1" readonly)
                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 拟基本工资
                                input(type="text" ng-model readonly)
                            md-input-container.row-has-value(flex)
                                label 拟档级
                                md-select(ng-model placeholder="请选择")
                                    md-option(ng-value="item" ng-repeat) {{item}}
                            md-input-container(flex)
                                label 金额
                                input(type="number" min="0" max="100000" step="1" readonly)

        .md-actions
            md-button(ng-click="dialog.close()") 取消
            md-button.md-warn.md-raised(ng-click="dialog.close()") 驳回变动
            md-button.md-primary.md-raised(ng-click="submit();dialog.close()") 通过变动

