md-dialog.welfare_personal_new(
    ng-init="ctrl=dialog.ctrl; current=dialog.gradeChange.$refresh();"
    ng-controller="EditableResourceCtrl"
    )
    form(name="gradeChangeForm" ng-submit="save(current.$save(), gradeChangeForm, ctrl.salaryGradeChanges)")
        md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 薪酬档级变动

        md-content.sticky-container
            .dialog-content(layout layout-align="center")
                section.form-material-section(flex)
                    fieldset(ng-if="current.channelId != 4 && current.changeModule=='岗位工资'")
                        include changes/normal

                    fieldset(ng-if="current.channelId == 4 && current.changeModule=='岗位工资'")
                        include changes/flyer

                    fieldset(ng-if="current.changeModule=='绩效工资'")
                        include changes/performance

        .md-actions
            md-button(ng-click="dialog.close()" type="reset") 取消
            md-button.md-warn.md-raised(ng-click="current.result=false;" type="submit") 驳回变动
            md-button.md-primary.md-raised(ng-click="current.result=true" type="submit") 通过变动