.boss__topmenu
	.boss__wrapper--1200(layout="row")
		.boss__logo
			img(src="/images/login-avator.png", alt="")

.boss__mainbody
	.boss__wrapper--1200(layout="row")
		.boss__todos(boss-todo)
			.todos__board#todo.active
				.todos__title
					span.todos__count 3
					| 审批待办
				.todos__content
					.todos__window(slimscroll height="389")
						.todos__todo
							.todo__icon
							.todo__header
								span 年假申请
								span 2016/4/17 10:00
								span 金焕成

							.todo__content.single-ellipsis 申请休2015-2016年假8天

						.todos__todo
							.todo__icon
							.todo__header
								span 年假申请
								span 2016/4/17 10:00
								span 金焕成

							.todo__content.single-ellipsis 申请休2015-2016年假8天

			.todos__board#metting.outlier
				.todos__title
					span.todos__count 7
					| 近期会议
				.todos__content
					.todos__window(slimscroll height="389")
						.todos__todo
							.todo__icon
							.todo__header
								span 年假申请
								span 2016/4/17 10:00
								span 金焕成

							.todo__content.single-ellipsis 申请休2015-2016年假8天

						.todos__todo
							.todo__icon
							.todo__header
								span 年假申请
								span 2016/4/17 10:00
								span 金焕成

							.todo__content.single-ellipsis 申请休2015-2016年假8天

						.todos__todo
							.todo__icon
							.todo__header
								span 年假申请
								span 2016/4/17 10:00
								span 金焕成

							.todo__content.single-ellipsis 申请休2015-2016年假8天

			.todos__board#task.outlier
				.todos__title
					span.todos__count 5
					| 任务查看
				.todos__content
					.todos__window(slimscroll height="389")
						.todos__todo
							.todo__icon
							.todo__header
								span 年假申请
								span 2016/4/17 10:00
								span 金焕成

							.todo__content.single-ellipsis 申请休2015-2016年假8天

						.todos__todo
							.todo__icon
							.todo__header
								span 年假申请
								span 2016/4/17 10:00
								span 金焕成

							.todo__content.single-ellipsis 申请休2015-2016年假8天fdsfdsfdsfdsfsdfsdfdsf

						.todos__todo
							.todo__icon
							.todo__header
								span 年假申请
								span 2016/4/17 10:00
								span 金焕成

							.todo__content.single-ellipsis 申请休2015-2016年假8天

						.todos__todo
							.todo__icon
							.todo__header
								span 年假申请
								span 2016/4/17 10:00
								span 金焕成

							.todo__content.single-ellipsis 申请休2015-2016年假8天

		.boss__datas
			.datas__tabs
				.datas__tab 劳动关系室
				.datas__tab 人事调配室
				.datas__tab 薪酬室
				.datas__tab 福利室
				.datas__tab 培训管理室
				.datas__tab 招飞办公室
				.datas__tab 员工服务中心
			
			.datas__content

			

		.boss__messages
			.messages__tabs
				.messages__tab 劳动关系室
				.messages__tab 人事调配室
			
			.messages__content

.boss__footmenu
	.boss__wrapper--1200
		.footmenu__tabs
			.footmenu__tab 劳动关系室
			.footmenu__tab 人事调配室
			.footmenu__tab 薪酬室
			.footmenu__tab 福利室
			.footmenu__tab 培训管理室


