.page-sidebar-wrapper
  // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
  // DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed
  .page-sidebar.navbar-collapse.collapse
    // BEGIN SIDEBAR MENU
    ul.page-sidebar-menu(data-auto-scroll='true', data-slide-speed='200')
      // DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element
      li.sidebar-toggler-wrapper
        // BEGIN SIDEBAR TOGGLER BUTTON
        .sidebar-toggler
        // END SIDEBAR TOGGLER BUTTON
      // DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element
      li.sidebar-search-wrapper
        // BEGIN RESPONSIVE QUICK SEARCH FORM
        // DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box
        // DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box
        form.sidebar-search(action='extra_search.html', method='POST')
          a.remove(href='javascript:;')
            i.icon-close
          .input-group
            input.form-control(type='text', placeholder='Search...')
            span.input-group-btn
              a.btn.submit(href='javascript:;')
                i.icon-magnifier
        // END RESPONSIVE QUICK SEARCH FORM
      .sidebar-bigmenu 交流分享
      li.start
        a(href='index.html')
          i.icon-home.fa-weibo
          span.title 交流分享
      li
        a(href='javascript:;')
          i.icon-folder
          span.title 工作组
          span.arrow
        ul.sub-menu
          li
            a(href='ecommerce_index.html')
              i.icon-home
              | 人力资源部
          li
            a(href='ecommerce_orders.html')
              i.icon-basket
              | 梅媛小组
          li
            a(href='ecommerce_orders_view.html')
              i.icon-tag
              | 技术部
          li
            a(href='ecommerce_products.html')
              i.icon-handbag
              | 小星星设计组
          li
            a(href='ecommerce_products_edit.html')
              i.icon-pencil
              | 新方舟事业部
      li
        a(href='javascript:;')
          i.icon-question
          span.title @提到我的
      li
        a(href='javascript:;')
          i.icon-bubble
          span.title 评论
      li
        a(href='javascript:;')
          i.icon-envelope
          span.title 私信
      li
        a(href='javascript:;')
          i.icon-star
          span.title 收藏
      .sidebar-bigmenu 工作助手
      li
        a(href='javascript:;')
          i.icon-note
          span.title 待办事项
      li
        a(href='javascript:;')
          i.icon-list
          span.title 任务中心
      li
        a(href='javascript:;')
          i.icon-bar-chart
          span.title 我的会议
      li
        a(href='javascript:;')
          i.icon-cloud-upload
          span.title 我的网盘
      li.active.open
        a(href='javascript:;')
          i.icon-book-open
          span.title 知识库
          span.selected
      li
        a(href='javascript:;')
          i.icon-docs
          span.title 办公自动化
    // END SIDEBAR MENU
