.left-sidebar.col-xs-2
  ul
    li
      a(href="#") 控制台
    li
      a(ui-sref="personnel") 人事信息
    li
      a(href="#") 机构岗位
    li
      a(href="#") 劳动关系
    li
      a(href="#") 薪酬管理
    li
      a(href="#") 绩效管理
    li
      a(href="#") 薪酬管理
    li
      a(href="#") 培训管理