md-sidenav.nb-nav(md-is-locked-open="true")
    md-content(flex role="navigation")
        ul.nb-menu
            li.parent-list-item(ng-repeat="section in menu.sections" ng-class="{'active': section == menu.openedSection}")
                //- md-button.md-button-toggle(flex ui-sref="section.state" ng-if="section.type == 'link'")
                //-     div(flex layout="row")
                //-         span
                //-             md-icon(md-svg-src="/images/svg/ic_star_24px.svg")
                //-         span {{ section.name }}
                //-         span(flex)
                menu-link(page="section" menu ng-if="section.type == 'link'")

                menu-toggle(section="section" ng-if="section.type != 'link'")