div.notification-center.md-background(md-theme="hrms")
    md-toolbar.md-warn
        .md-toolbar-tools
            span 通知中心
    md-content.nt-content(ng-init="notifications = notify.initialNotification()")
        div(
            infinite-scroll-container="'.ngdialog'"
            infinite-scroll="notifications.loadMore()"
            )
            //- md-subheader 新消息
            .nt-msg-item(ng-repeat="item in notifications track by item.id")
                .nt-item-desc
                    span(ng-bind="item.category")
                    span(ng-bind="item.body")
                .nt-item-time(ng-bind="item.updatedAt")