//- div.top-menu(ng-controller="TopmenuCrtl")
div.top-menu(ng-controller="HeaderCtrl")
  toaster-container(toaster-options="{'time-out': 3000, 'close-button':true}")
  ul.nav.navbar-nav.pull-right
    // BEGIN NOTIFICATION DROPDOWN
    li#header_notification_bar.dropdown.dropdown-extended.dropdown-notification
      a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
        i.icon-bell
        span.badge.badge-default
          | {{notifications.length}}
      ul.dropdown-menu
        li
          p
            | You have {{notifications.length}} new notifications
        li
          ul.dropdown-menu-list.scroller(style='height: 250px;',slimscroll)
            li(ng-repeat="notification in notifications")
              a(href='#')
                span.label.label-sm.label-icon.label-success
                  i.fa.fa-plus
                | {{notification}}.
                span.time
                  | Just now
            //- li
            //-   a(href='#')
            //-     span.label.label-sm.label-icon.label-danger
            //-       i.fa.fa-bolt
            //-     | Server #12 overloaded.
            //-     span.time
            //-       | 15 mins
            //- li
            //-   a(href='#')
            //-     span.label.label-sm.label-icon.label-warning
            //-       i.fa.fa-bell-o
            //-     | Server #2 not responding.
            //-     span.time
            //-       | 22 mins
            //- li
            //-   a(href='#')
            //-     span.label.label-sm.label-icon.label-info
            //-       i.fa.fa-bullhorn
            //-     | Application error.
            //-     span.time
            //-       | 40 mins
        li.external
          a(href='#')
            | See all notifications
            i.m-icon-swapright
    // END NOTIFICATION DROPDOWN
    // BEGIN TODO DROPDOWN
    li#header_task_bar.dropdown.dropdown-extended.dropdown-tasks
      a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
        i.icon-calendar
        span.badge.badge-default
          | 3
      ul.dropdown-menu.extended.tasks
        li
          p
            | You have 12 pending tasks
        li
          ul.dropdown-menu-list.scroller(style='height: 250px;' slimscroll)
            li
              a(href='#')
                span.task
                  span.desc
                    | New release v1.2
                  span.percent
                    | 30%
                span.progress
                  span.progress-bar.progress-bar-success(style='width: 40%;', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
                    span.sr-only
                      | 40% Complete
            li
              a(href='#')
                span.task
                  span.desc
                    | Application deployment
                  span.percent
                    | 65%
                span.progress.progress-striped
                  span.progress-bar.progress-bar-danger(style='width: 65%;', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100')
                    span.sr-only
                      | 65% Complete
            li
              a(href='#')
                span.task
                  span.desc
                    | Mobile app release
                  span.percent
                    | 98%
                span.progress
                  span.progress-bar.progress-bar-success(style='width: 98%;', aria-valuenow='98', aria-valuemin='0', aria-valuemax='100')
                    span.sr-only
                      | 98% Complete
            li
              a(href='#')
                span.task
                  span.desc
                    | Database migration
                  span.percent
                    | 10%
                span.progress.progress-striped
                  span.progress-bar.progress-bar-warning(style='width: 10%;', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
                    span.sr-only
                      | 10% Complete
            li
              a(href='#')
                span.task
                  span.desc
                    | Web server upgrade
                  span.percent
                    | 58%
                span.progress.progress-striped
                  span.progress-bar.progress-bar-info(style='width: 58%;', aria-valuenow='58', aria-valuemin='0', aria-valuemax='100')
                    span.sr-only
                      | 58% Complete
            li
              a(href='#')
                span.task
                  span.desc
                    | Mobile development
                  span.percent
                    | 85%
                span.progress.progress-striped
                  span.progress-bar.progress-bar-success(style='width: 85%;', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100')
                    span.sr-only
                      | 85% Complete
            li
              a(href='#')
                span.task
                  span.desc
                    | New UI release
                  span.percent
                    | 18%
                span.progress.progress-striped
                  span.progress-bar.progress-bar-important(style='width: 18%;', aria-valuenow='18', aria-valuemin='0', aria-valuemax='100')
                    span.sr-only
                      | 18% Complete
        li.external
          a(href='#')
            | See all tasks
            i.m-icon-swapright
    // END TODO DROPDOWN
    // BEGIN USER LOGIN DROPDOWN
    li.dropdown.dropdown-user
      a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
        // <img alt="" class="img-circle" src="../../assets/admin/layout/img/avatar3_small.jpg"/>
        span.username
          | Bob
        i.fa.fa-angle-down
      ul.dropdown-menu
        li
          a(href='extra_profile.html')
            i.icon-user
            | My Profile
        li
          a(href='page_calendar.html')
            i.icon-calendar
            | My Calendar
        li
          a(href='inbox.html')
            i.icon-envelope-open
            | My Inbox
            span.badge.badge-danger
              | 3
        li
          a(href='#')
            i.icon-rocket
            | My Tasks
            span.badge.badge-success
              | 7
        li.divider
        li
          a(href='extra_lock.html')
            i.icon-lock
            | Lock Screen
        li
          a(href='login.html')
            i.icon-key
            | Log Out
    // END USER LOGIN DROPDOWN
    // BEGIN QUICK SIDEBAR TOGGLER
    li.dropdown.dropdown-quick-sidebar-toggler
      a.dropdown-toggle(href='javascript:;')
        i.icon-logout
    // END QUICK SIDEBAR TOGGLER
