md-toolbar.top-menu-bar.md-warn(md-theme="hrms")
    .md-toolbar-tools
        span.logo
            img(src="../../images/logo.png")
        span(flex)
        span
            div.top-notification.top-btn-wrap
                md-button(ng-click)
                    md-icon(md-svg-icon="/images/svg/bell-outline.svg")
                .ms-count 10
                ul.top-dropdown
                    li
                        a
                            .dropdown-item
                                .dd-item-desc
                                    span 员工退休
                                    span 2015-5-19
                                .dd-item-count 10
                    li
                        a
                            .dropdown-item
                                .dd-item-desc
                                    span 员工退养
                                    span 2015-5-19
                                .dd-item-count 10
                    li
                        a
                            .dropdown-item
                                .dd-item-desc
                                    span 合同管理
                                    span 2015-5-19
                                .dd-item-count 10
        span
            div.top-messages.top-btn-wrap
                md-button(
                    ng-panel
                    template-url="partials/position/position_detail.html"
                    panel-controller="PositionDetailCtrl"
                    locals="{'position': position}"
                )
                    md-icon(md-svg-icon="/images/svg/email-outline.svg")
                .ms-count 10
        span
            ul.user-menu(ng-controller="AuthController as ctrl")
                .nb-dropdown(user-info-dropdown)
                    li()
                        a(nb-dialog template-url="partials/auth/change_pwd.html") 修改密码
                    li()
                        a(ng-click="logout()") 退出
