md-dialog
    div.personal-data
        div.item
            span 申请人
            span {{}}
        div.item
            span 员工编码
            span {{}}
        div.item
            span 当前部门
            span {{}}
        div.item
            span 当前岗位
            span {{}}
    div.relation-data(flow-relation-data ng-model="relation_data")
        div 学位： {{::currentUser.name}}
        | 学位：
        | 学历：
        | 英语等级：
        | 当前岗位工作年限：
        | 通道：
        | 最近6个月绩效：


    form(name="adjust_form" ng-submit="req.relation_data = relation_data;createFlow(req,'Flow::EarlyRetirement')" ng-init="params = {};req = {}")

        md-input-container
            label 申请理由
            textarea(type="text" ng-model="req.desc" container="body")

        .form-actions
            md-button(type="submit") 提交
            md-button(type="button" ng-click="dialog.close()") 取消
