md-button(ui-sref=".leave") 我要请假
md-button(nb-dialog template-url="partials/self/my_requests/leave_revocation.html") 我要撤销假
md-button(nb-dialog template-url="partials/self/my_requests/offset_leave.html") 我要冲抵
md-button(nb-dialog template-url="partials/self/my_requests/check_in.html") 我要销假
md-button(nb-dialog template-url="partials/self/my_requests/adjust_position.html") 我要调岗