.my-requests(flex)
    .classify.md-whiteframe-z1
        .classify-header
            | 考勤
        .classify-wrapper
            .classify-cell
                md-button.md-fab.md-primary(ui-sref=".leave")
                    md-icon(md-svg-src="/images/svg/flow/ask_for_leave.svg")
                .desc 我要请假
    .classify.md-whiteframe-z1
        .classify-header
            | 劳动关系
        .classify-wrapper
            .classify-cell
                md-button.md-fab.md-primary
                    md-icon(md-svg-src="/images/svg/flow/turn.svg")
                .desc 我要转正
            .classify-cell
                md-button.md-fab.md-primary(ui-sref=".resignation")
                    md-icon(md-svg-src="/images/svg/flow/resignation.svg")
                .desc 我要辞职
            .classify-cell
                md-button.md-fab.md-primary(ui-sref=".adjust_position")
                    md-icon(md-svg-src="/images/svg/flow/adjust_position.svg")
                .desc 我要调岗
            .classify-cell
                md-button.md-fab.md-primary(ui-sref=".erarly_retirement")
                    md-icon(md-svg-src="/images/svg/flow/early_retirement.svg")
                .desc 我要退养
            .classify-cell
                md-button.md-fab.md-primary(ui-sref=".renew_contract")
                    md-icon(md-svg-src="/images/svg/flow/contract.svg")
                .desc 合同续签
    .classify.md-whiteframe-z1
        .classify-header
            | 培训
        .classify-wrapper
            .classify-cell
                md-button.md-fab.md-primary(ui-sref=".")
                    md-icon(md-svg-src="/images/svg/flow/degree.svg")
                .desc 学历变更
    .classify.md-whiteframe-z1
        .classify-header
            | 绩效
        .classify-wrapper
            .classify-cell
                md-button.md-fab.md-primary(ui-sref=".")
                    md-icon(md-svg-src="/images/svg/flow/performance.svg")
                .desc 绩效申述






//- md-button(nb-panel template-url="partials/self/my_requests/ask_for_leave.html") 我要请假
//- md-button(nb-dialog template-url="partials/self/my_requests/leave_revocation.html") 我要撤销假
//- md-button(nb-dialog template-url="partials/self/my_requests/offset_leave.html") 我要冲抵
//- md-button(nb-dialog template-url="partials/self/my_requests/check_in.html") 我要销假
//- md-button(nb-dialog template-url="partials/self/my_requests/adjust_position.html") 我要调岗
