.my-requests(flex ng-init="showSalary = true")
    .current-month
        md-icon.prev(md-svg-src="md-toggle-arrow")
        span.month 2015-8
        md-icon.next(md-svg-src="md-toggle-arrow")
    .current-month-info
        .info-left
            .title
                | 8月工资
            .salary-circle(progres-value)
                .value(ng-show="showSalary") 12000.68
                img(src="/images/my_request/progress-circle.png")
            .action
                button(
                    ng-show="showSalary"
                    ng-click="showSalary=false"
                    ) 隐藏
                button(
                    ng-show="!showSalary"
                    ng-click="showSalary=true"
                    ) 显示
        .info-right
            .info-content
                .info-item
                    .title 绩效
                    .value 优秀
                .info-item
                    .title 社保
                    .value 860
                        span 元
                .info-item.pt45
                    .title 公积金
                    .value 980
                        span 元
                .info-item.pt45
                    .title 剩余年假
                    .value 8
                        span 天


    .my-cell-cotainer
        a.my-requests-cell.ml0(ui-sref=".leave")
            .cell__btn.qingjia
            .desc 我要请假
        a.my-requests-cell.havent(ui-sref=".")
            .cell__btn.zhuanzheng
            .desc 我要转正(没得)
        a.my-requests-cell(ui-sref=".resignation")
            .cell__btn.cizhi
            .desc 我要辞职
        a.my-requests-cell(ui-sref=".adjust_position")
            .cell__btn.tiaogang
            .desc 我要调岗
        a.my-requests-cell(ui-sref=".erarly_retirement")
            .cell__btn.tuiyang
            .desc 我要退养
        a.my-requests-cell.ml0(ui-sref=".renew_contract")
            .cell__btn.hetong
            .desc 合同续签
        a.my-requests-cell.havent(ui-sref=".")
            .cell__btn.xueli
            .desc 学历变更(没得)
        a.my-requests-cell(ui-sref=".performance")
            .cell__btn.shensu
            .desc 绩效申诉结果
        a.my-requests-cell.havent(ui-sref=".")
            .cell__btn.youmian
            .desc 优免票(没得)
        a.my-requests-cell(ui-sref=".annuity")
            .cell__btn.zhengming
            .desc 企业年金