form(ng-submit="save(education.$save(), eduForm)" name="eduForm")
    .form-btn-group(ng-hide="editing")
        md-button.md-warn(type="button" ng-click="education.$destroy()") 删除
        md-button.md-primary.md-raised(ng-click="edit($event)") 编辑
    .form-btn-group.alive(ng-show="editing")
        md-button(ng-click="cancel(current,$event, eduForm)",) 取消
        md-button.md-primary.md-raised(type="submit") 保存
    fieldset(ng-disabled="!editing")
        div(layout)
            md-input-container(flex)
                label 入学时间
                input(type="date" ng-model="education.admissionDate")
            md-input-container(flex)
                label 毕业时间
                input(type="date" ng-model="education.graduationDate")
        div(layout)
            md-input-container(flex)
                label 毕业院校
                input(name="school" required ng-model="education.school")
            md-input-container(flex)
                label 专业
                input(ng-model="education.major" name="major" required)
        div(layout)
            md-input-container.row-has-value(flex)
                label 学历
                md-select(ng-model="education.educationBackground", md-on-open="loadEnum('education_backgrounds')")
                    md-select-label {{education.educationBackground.displayName || '无'}}
                    md-option(ng-value="edu" ng-repeat="edu in enums.education_backgrounds") {{edu.displayName}}
            md-input-container.row-has-value(flex)
                label 学位
                md-select(ng-model="education.degree" md-on-open="loadEnum('degrees')")
                    md-select-label {{education.degree.displayName || '无'}}
                    md-option(ng-value="degree" ng-repeat="degree in enums.degrees") {{degree.displayName}}
        md-input-container
            label 证明人
            input(ng-model="education.witness" name="witness" required)