form(ng-submit="save(education.$save(), eduForm)" name="eduForm")
    fieldset(ng-disabled="!editing")
        div(layout)
            //- md-input-container(flex)
            //-     label 入学时间
            //-     input(bs-datepicker ng-model="education.admissionDate")
            md-input-container(flex)
                label 毕业时间
                input(bs-datepicker ng-model="education.graduationDate")
        div(layout)
            md-input-container(flex)
                label 毕业院校
                input(name="school" required ng-model="education.school")
            md-input-container(flex)
                label 专业
                input(ng-model="education.major" name="major" required)
        div(layout)
            md-input-container.row-has-value(flex)
                label 学历
                md-select(ng-model="education.educationBackgroundId")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('education_backgrounds')") {{item.label}}
            md-input-container.row-has-value(flex)
                label 学位
                md-select(ng-model="education.degreeId.")
                    md-option(ng-value="item.id" ng-repeat="item in $enum.get('degrees')") {{item.label}}
        //- md-input-container
        //-     label 证明人
        //-     input(ng-model="education.witness" name="witness" required)