.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl" ng-init="ctrl.loadConfigFromServer('temp')" style="padding: 0;")
    .salary-basic(style="padding: 0;")
        md-toolbar
            .md-toolbar-tools
                h2 月份和城市设置
                span(flex)
                md-button.md-raised.md-primary(style="margin-right: 0;" ng-click="ctrl.saveConfig('temp', ctrl.dynamic_config)") 保存

        table.tablexx.table-default.table-bordered
            thead
                tr
                    th 发放时段
                    th 城市

            tbody
                tr(ng-repeat="item in ctrl.dynamic_config.city_list")
                    td {{item.start_month}} - {{item.end_month}}
                    td
                        span.city-chip(
                            ng-repeat="city in item.cities track by $index"
                            ) {{city}}
                            md-icon.md-warn(
                                md-svg-src="/images/svg/close.svg"
                                ng-click="ctrl.destroyCity(item.cities, $index)"
                                )
                        add-city(ng-model="item.cities")