.app-content-wrapper(flex ng-controller="salaryCtrl as ctrl" ng-init="ctrl.loadConfigFromServer('temp')" style="padding: 0;")
    .salary-basic(style="padding: 0;")
        md-toolbar
            .md-toolbar-tools
                h2 当前岗位发放列表
                span(flex)

        div(layout)
            md-select(ng-model="tempAmount" placeholder="选择补贴标准" ng-change="ctrl.listTempPosition(tempAmount)")
                md-option(value="0") 无
                md-option(value="400") 400
                md-option(value="300") 300
                md-option(value="200") 200

        table.tablexx.table-default.table-bordered
          thead
              tr
                  th 岗位名称 {{ctrl.currentTempPositions.length}}

          tbody
              tr
                  td
                      span(style="color:#666" ng-repeat="item in ctrl.currentTempPositions") {{::item.full_position_name}} <br>