.app-content-wrapper(flex ng-init="ctrl.loadConfigFromServer('flyer_science_subsidy')")
    fieldset
        .form-row(layout)
            label 局方检查代表
            md-input-container(md-no-float)
                input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.inspect_delegate")
            span 元/小时

        .form-row(layout)
            label 教员
            md-input-container(md-no-float)
                input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.teacher")
            span 元/小时

        .form-row(layout)
            label 责任机长
            md-input-container(md-no-float)
                input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.duty_leader")
            span 元/小时

        .form-row(layout)
            label 机长
            md-input-container(md-no-float)
                input(type="number" min="0" max="100000" setp="1" ng-model="ctrl.dynamic_config.leader")
            span 元/小时

        .form-row(layout)
            label 副驾驶特别档
            md-input-container(md-no-float)
                input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.copilot_special")
            span 元/小时

        .form-row(layout)
            label 副驾驶Ⅰ
            md-input-container(md-no-float)
                input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.copilot_1")
            span 元/小时

        .form-row(layout)
            label 副驾驶Ⅱ
            md-input-container(md-no-float)
                input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.copilot_2")
            span 元/小时

        .form-row(layout)
            label 副驾驶Ⅲ
            md-input-container(md-no-float)
                input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.copilot_3")
            span 元/小时

        .form-row(layout)
            label 副驾驶Ⅳ
            md-input-container(md-no-float)
                input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.copilot_4")
            span 元/小时

        .form-row(layout)
            label 副驾驶Ⅴ
            md-input-container(md-no-float)
                input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.copilot_5")
            span 元/小时

        .form-row(layout)
            label 副驾驶Ⅵ
            md-input-container(md-no-float)
                input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.copilot_6")
            span 元/小时
