.app-content-wrapper(flex ng-init="ctrl.loadConfigFromServer('unfly_allowance_hour')")
    fieldset
        div(layout)
            .subheader 飞行教员
            .form-row(layout flex)
                .form-cell(layout)
                    label 系数
                    md-input-container(md-no-float)
                        input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.teacher.rate")
                .form-cell(layout)
                    label 调资后标准
                    md-input-container(md-no-float)
                        input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.teacher.amount")
        div(layout)
            .subheader 责任机长及进公司10年以上的机长
            .form-row(layout)
                .form-cell(layout)
                    label 系数
                    md-input-container(md-no-float)
                        input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.leader.rate")
                .form-cell(layout)
                    label 调资后标准
                    md-input-container(md-no-float)
                        input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.leader.amount")

        div(layout)
            .subheader 副驾及以上
            .form-row(layout)
                .form-cell(layout)
                    label 系数
                    md-input-container(md-no-float)
                        input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.copilot.rate")
                .form-cell(layout)
                    label 调资后标准
                    md-input-container(md-no-float)
                        input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.copilot.amount")

        div(layout)
            .subheader ELT改装之日起未授权的飞行学员
            .form-row(layout)
                .form-cell(layout)
                    label 系数
                    md-input-container(md-no-float)
                        input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.student.rate")
                .form-cell(layout)
                    label 调资后标准
                    md-input-container(md-no-float)
                        input(type="number" min="0" max="100000" step="1" ng-model="ctrl.dynamic_config.student.amount")


