md-dialog.attendance_new(ng-init="request = {};")
    md-content
        form(ng-submit="ctrl.uploadPerformance(request)")
            md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 员工绩效导入
            .dialog-content()   
                div(layout ng-if="dialog.performanceType == 'month'" ng-init="request.category = 'month'")
                    md-input-container(flex)
                        label 考核时段
                        md-select(ng-model="request.assess_time")
                            md-select-label {{request.assessTime}}
                            md-option(ng-value="item" ng-repeat="item in ctrl.getDateOptions() track by $index") {{item}}
                div(layout ng-if="dialog.performanceType == 'year'" ng-init="request.category = 'year'")
                    md-input-container(flex)
                        label 考核时段
                        md-select(ng-model="request.assess_time")
                            md-select-label {{request.assessTime}}
                            md-option(ng-value="item" ng-repeat="item in ctrl.getDateOptions('year') track by $index") {{item}}
                div(nb-file-upload ng-model="request.file_id")

            .md-actions
                md-button(type="button" ng-click='dialog.close()') 取 消
                md-button.md-primary.md-raised(type="submit") 确 定

