md-dialog.attendance_new
    md-content
        form
            md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 员工绩效导入
            .dialog-content(layout layout-align="center")
                fieldset(flex)
                    div(layout)
                        md-input-container(flex)
                            label 开始日期
                            input(ng-model="request.start_date" name="aaa" bs-datepicker required)
                    div(layout)
                        md-input-container.row-has-value(flex)
                            label 时长
                            input(type="number" ng-model="request.duration")
                    div 时间为空或者0，即为无固定期限合同

            .md-actions
                md-button(type="button" ng-click='dialog.close()') 取 消
                md-button.md-primary.md-raised(type="submit") 确 定

