md-dialog.attendance_new
    md-content
        form
            md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 附件列表
            .dialog-content(layout layout-align="center")

            .md-actions
                md-button(type="button" ) 上传附件
                md-button.md-primary.md-raised(type="submit" ng-click='dialog.close()') 关 闭

