md-dialog.punishment_new(style="min-width: 400px;")
    md-content(ng-init="current = dialog.current; trainEmployee={employee_id: dialog.current.employeeId}")
        form(flex ng-submit="ctrl.newTrainEmployee(trainEmployee);dialog.close();" name="newPunishmentForm")
            md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 离岗培训
            .dialog-content(layout layout-align="center")
                fieldset(flex)
                    div(layout)
                        md-input-container(flex)
                            label 姓名
                            input(ng-model="current.employeeName" name="employeeName" readonly)
                    div(layout)
                        md-input-container(flex)
                            label 开始时间
                            input(ng-model="trainEmployee.special_date_from" bs-datepicker required)
                        div.hyphen 至
                        md-input-container(flex)
                            label 结束时间
                            input(ng-model="trainEmployee.special_date_to" bs-datepicker required)
                    div(layout)
                        md-input-container(flex)
                            label 文件编号
                            input(ng-model="trainEmployee.file_no" required)

            .md-actions
                md-button(type="button" ng-click="dialog.close()") 取 消
                md-button.md-primary.md-raised(type="submit") 确 定