md-dialog.welfare_personal_new(ng-controller="EditableResourceCtrl")
    form(ng-init= "current = dialog.setups.$refresh();" ng-submit="save(current.$save(), socialPersonal)" name="socialPersonal")
        md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 社保缴费编辑
        md-content.sticky-container
            .dialog-content(layout layout-align="center")
                section.form-material-section(flex)
                    fieldset
                        div(style="display:none;")
                            input(type="text" ng-model="current.employeeId")
                        div(layout)
                            md-input-container(flex)
                                label 姓名
                                input(type="text" ng-model="::current.employeeName" readonly)
                            md-input-container(flex)
                                label 员工编号
                                input(type="text" ng-model="::current.employeeNo" readonly)

                        div(layout)
                            md-input-container(flex)
                                label 所在部门
                                input(type="text" ng-model="::current.departmentName" readonly)
                            md-input-container(flex)
                                label 工作属地
                                input(type="text" ng-model="::current.location" readonly)

                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 通道
                                input(type="text" ng-model="::current.channelId" readonly)
                            md-input-container(flex)
                                label 身份证
                                input(type="text" ng-model="::current.identityNo" readonly)
                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 社保属地
                                md-select(ng-model="current.socialLocation")
                                    md-option(value="成都") 成都
                                    md-option(value="重庆") 重庆
                                    md-option(value="北京") 北京
                                    md-option(value="上海") 上海
                                    md-option(value="广州") 广州
                                    md-option(value="深圳") 深圳
                            md-input-container(flex)
                                label 社保编号
                                input(type="text" ng-model="current.socialAccount")

                        div(layout)
                            md-input-container(flex)
                                label 年度养老保险
                                input(type="number" min="0" max="100000" step="1" ng-model="current.pensionCardinality")
                            md-input-container(flex)
                                label 年度其他保险
                                input(type="number" min="0" max="100000" step="1" ng-model="current.otherCardinality")

                        div(layout)
                            md-input-container(flex)
                                label 社保临时基数
                                input(type="number" min="0" max="100000" step="1" ng-model="current.tempCardinality" name="notes")

                        div.checkbox-row
                            label 险种选择
                            ul
                                li
                                    md-checkbox.md-primary(ng-model="current.pension") 养老
                                li
                                    md-checkbox.md-primary(ng-model="current.treatment") 医疗
                                li
                                    md-checkbox.md-primary(ng-model="current.unemploy") 失业
                                li
                                    md-checkbox.md-primary(ng-model="current.injury") 工伤
                                li
                                    md-checkbox.md-primary(ng-model="current.illness") 大病
                                li
                                    md-checkbox.md-primary(ng-model="current.fertility") 生育


        .md-actions
            md-button(ng-click="cancel(current, $event, socialPersonal);dialog.close()") 取 消
            md-button.md-primary.md-raised(ng-click="submit();dialog.close()") 确 定
