tabset(flex)
    tab(heading="年金计算")
        include annuities/annuitiesCompute
    tab(heading="历史记录查看")
        include annuities/annuitiesRecord
    tab(heading="年金变动信息")
        include annuities/annuitiesChange