tabset(flex)
    tab(heading="年金计算")
        include annuities/annuities_compute
    tab(heading="历史记录查看")
        include annuities/annuities_record
    tab(heading="年金变动信息")
        include annuities/annuities_change