tabset(flex)
    tab(heading="工作餐计算")
        include dinners/fees
    tab(heading="工作餐结算")
        include dinners/settles
    tab(heading="历史记录")
        include dinners/records
    tab(heading="变动信息")
        include dinners/changes