tabset(flex)
    tab(heading="社保全局设置")
        include settings/welfare_global
    tab(heading="社保个人设置")
        include settings/welfare_personal
    tab(heading="年金个人设置")
        include annuities/annuities_setting
    //-tab(heading="工作餐全局设置")
    //-    include settings/dinnerfee_global
    //-tab(heading="工作餐个人设置")
    //-    include settings/dinnerfee_personal