.dialog-content(layout)
    section.form-material-section(flex)
        fieldset(flex)
            div(style="display:none;")
                input(type="text" ng-model="current.employeeId")

            div(layout)
                md-input-container(flex)
                    label 姓名
                    input(type="text" ng-model="::current.employeeName" disabled)
                md-input-container(flex)
                    label 员工编号
                    input(type="text" ng-model="::current.employeeNo" disabled)

            div(layout)
                md-input-container(flex)
                    label 所在部门
                    input(type="text" ng-model="::current.departmentName" disabled)
                md-input-container(flex)
                    label 工作属地
                    input(type="text" ng-model="::current.location" disabled)

            div(layout)
                md-input-container.row-has-value(flex)
                    label 用工性质
                    input(type="text" ng-model="::current.laborRelationName" disabled)
                md-input-container.row-has-value(flex)
                    label 原身份证
                    input(type="text" ng-model="::current.identityNoWas" disabled)

            div(layout)
                md-input-container(flex)
                    label 现身份证
                    input(type="text" ng-model="::current.identityNo" disabled)