md-dialog()
  form(ng-init="current = dialog.current;" ng-submit="")
      md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 个人薪酬设置
                    input(ng-model="current['format_value']")